<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8"/>
	<title>
		Gest'it{% block title %}{% endblock %}
	</title>
	<meta http-equiv='cache-control' content='no-cache'>
	<meta http-equiv='expires' content='0'>
	<meta http-equiv='pragma' content='no-cache'>
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon_sudalys.ico') }}"/>
	{{ encore_entry_link_tags('app') }}
	{% block stylesheets %}{% endblock %}
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
	<a class="navbar-brand" href="/">Gest'it</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav mr-auto">				</ul>
		{% block nav %}{% endblock %}
		<ul id="topRight" class="navbar-nav ml-auto">
			<li class="nav-item my-auto mx-1">
				<a class="nav-link my-auto text-white" href="{{ path('sudalys_users_view', { id: app.user.id}) }}">
					<i class="fas fa-user-circle"></i>&nbsp;{{ app.user.prenom|capitalize }}
				</a>
			</li>
			<li class="nav-item my-auto mx-1">
				<button id="logOut" class="btn btn-default nav-link text-white" data-href="{{ path('logout') }}">
					<i class="fas fa-sign-out-alt fa-1x"></i>
				</button>
			</li>
		</ul>
	</div>
</nav>

<div class="row my-auto">
	<div class="col-1 col-lg-1 overflow-hidden p-0" style="z-index: 999;">
		<div class="sidebar bg-primary px-0 w-auto">
			<div class="accordion" id="accordionVerticalNav">
				<div class="list-group list-group-flush">
					<button class="list-group-item list-group-item-action bg-primary text-light collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
						<i class="fas fa-home"></i>&nbsp;Accueil
					</button>
					<div id="collapseOne" class="collapse bg-light" aria-labelledby="headingOne" data-parent="#accordionVerticalNav">
						<div class="list-group list-group-flush">
							<a href="{{ path('sudalys_gestion_home')}}">
								<button class="list-group-item list-group-item-action text-primary">
									Affaires
								</button>
							</a>
							<a href="{{ path('sudalys_gestion_home')}}#devis">
								<button class="list-group-item list-group-item-action text-primary">
									Devis
								</button>
							</a>
							{% if is_granted('ROLE_SUDALYS_ADMINISTRATIF') %}
								<a href="{{ path('sudalys_gestion_home')}}#commandeMateriel">
									<button class="list-group-item list-group-item-action text-primary">
										Cmd matériels
									</button>
								</a>
								<a href="{{ path('sudalys_gestion_home')}}#commandePrestation">
									<button class="list-group-item list-group-item-action text-primary">
										Cmd prestations
									</button>
								</a>
							{% endif %}
						</div>
					</div>
					<button class="list-group-item list-group-item-action bg-primary text-light collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						<i class="fas fa-building"></i>&nbsp;Organisme
					</button>
					<div id="collapseTwo" class="collapse bg-light" aria-labelledby="headingTwo" data-parent="#accordionVerticalNav">
						<div class="list-group list-group-flush">
							<a href="{{ path('sudalys_gestion_manage_orga')}}#clientActif">
								<button class="list-group-item list-group-item-action text-primary">
									Clients
								</button>
							</a>
							<a href="{{ path('sudalys_gestion_manage_orga')}}#fournisseurActif">
								<button class="list-group-item list-group-item-action text-primary">
									Fournisseurs
								</button>
							</a>
							<a href="{{ path('sudalys_gestion_manage_orga')}}#prestataireActif">
								<button class="list-group-item list-group-item-action text-primary">
									Prestataires
								</button>
							</a>
						</div>
					</div>
					<button class="list-group-item list-group-item-action bg-primary text-light collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
						<i class="fas fa-chart-line"></i>&nbsp;Dashboard
					</button>
					<div id="collapseThree" class="collapse bg-light" aria-labelledby="headingThree" data-parent="#accordionVerticalNav">
						<div class="list-group list-group-flush">
							{% if is_granted('ROLE_SUPER_SUDALYS') %}
								<a  href="{{ path('sudalys_gestion_dashboard_admin') }}" class="">
									<button class="list-group-item list-group-item-action text-primary">
										Mon dashboard
									</button>
								</a>
								<div class="accordion" id="accordionDashboard">
									<div class="list-group list-group-flush">
										<button class="list-group-item list-group-item-action bg-primary-light-less text-light collapsed" type="button" data-toggle="collapse" data-target="#collapseDashAdmin" aria-expanded="false" aria-controls="collapseDashAdmin">
											Administratif
										</button>
										<div id="collapseDashAdmin" class="collapse bg-light" aria-labelledby="headingDashAdmin" data-parent="#accordionDashboard">
											<div class="list-group list-group-flush">
												<a  href="{{ path('sudalys_gestion_dashboard_administratif_vente') }}" class="">
													<button class="list-group-item list-group-item-action text-primary">
														Vente
													</button>
												</a>
												<a  href="{{ path('sudalys_gestion_dashboard_administratif_achat') }}" class="">
													<button class="list-group-item list-group-item-action text-primary">
														Achat
													</button>
												</a>
												<a  href="{{ path('sudalys_gestion_dashboard_administratif_fournisseur') }}" class="">
													<button class="list-group-item list-group-item-action text-primary">
														Référencement
													</button>
												</a>
											</div>
										</div>
									</div>
									<button class="list-group-item list-group-item-action bg-info-light-less text-light collapsed" type="button" data-toggle="collapse" data-target="#collapseDashCP" aria-expanded="false" aria-controls="collapseDashCP">
										Chef de projet
									</button>
									<div id="collapseDashCP" class="collapse bg-light" aria-labelledby="headingDashCP" data-parent="#accordionDashboard">
										<div class="list-group list-group-flush">
											<a  href="{{ path('sudalys_gestion_dashboard_user') ~ '#devis' }}" class="">
												<button class="list-group-item list-group-item-action text-primary">
													Devis
												</button>
											</a>
											<a  href="{{ path('sudalys_gestion_dashboard_user') ~ '#commandeEmise' }}" class="">
												<button class="list-group-item list-group-item-action text-primary">
													Commandes
												</button>
											</a>
											<a  href="{{ path('sudalys_gestion_dashboard_user') ~ '#validationFacture' }}" class="">
												<button class="list-group-item list-group-item-action text-primary">
													Factures
												</button>
											</a>
											<a  href="{{ path('sudalys_gestion_dashboard_user') ~ '#gestion' }}" class="">
												<button class="list-group-item list-group-item-action text-primary">
													Gestion
												</button>
											</a>
										</div>
									</div>
								</div>
							{% elseif is_granted('ROLE_SUDALYS_ADMINISTRATIF') %}
								<a  href="{{ path('sudalys_gestion_dashboard_administratif_vente') }}" class="">
									<button class="list-group-item list-group-item-action text-primary">
										Vente
									</button>
								</a>
								<a  href="{{ path('sudalys_gestion_dashboard_administratif_achat') }}" class="">
									<button class="list-group-item list-group-item-action text-primary">
										Achat
									</button>
								</a>
								<a  href="{{ path('sudalys_gestion_dashboard_administratif_fournisseur') }}" class="">
									<button class="list-group-item list-group-item-action text-primary">
										Référencement
									</button>
								</a>
							{% elseif is_granted('ROLE_SUDALYS') %}
								<a  href="{{ path('sudalys_gestion_dashboard_user') ~ '#devis' }}" class="">
									<button class="list-group-item list-group-item-action text-primary">
										Devis
									</button>
								</a>
								<a  href="{{ path('sudalys_gestion_dashboard_user') ~ '#commandeEmise' }}" class="">
									<button class="list-group-item list-group-item-action text-primary">
										Commandes
									</button>
								</a>
								<a  href="{{ path('sudalys_gestion_dashboard_user') ~ '#validationFacture' }}" class="">
									<button class="list-group-item list-group-item-action text-primary">
										Factures
									</button>
								</a>
								<a  href="{{ path('sudalys_gestion_dashboard_user') ~ '#gestion' }}" class="">
									<button class="list-group-item list-group-item-action text-primary">
										Gestion
									</button>
								</a>
							{% endif %}
						</div>
					</div>
					{% block verticalNav %}
					{% endblock %}
				</div>
			</div>
			<div class="list-group list-group-flush">
				<a href="{{ path('sudalys_gestion_show_theme')}}">
					<button class="list-group-item list-group-item-action bg-primary text-light">
						<i class="fab fa-tumblr-square"></i>&nbsp;Thèmes
					</button>
				</a>
				{% if is_granted('ROLE_SUDALYS_ADMINISTRATIF') %}
					<a  href="{{ path('sudalys_users_home') }}" class="">
						<button class="list-group-item list-group-item-action bg-primary text-light">
							<i class="fas fa-users"></i>&nbsp;Collaborateurs
						</button>
					</a>
					<a  href="{{ path('sudalys_gestion_parameters') }}" class="">
						<button class="list-group-item list-group-item-action bg-primary text-light">
							<i class="fas fa-cogs"></i>&nbsp;Paramétres
						</button>
					</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="col-11 col-lg-11">
		{% for msg in app.session.flashBag.get('success') %}
			<div class="alert alert-success">
				{{ msg }}
			</div>
		{% endfor %}
		{% for msg in app.session.flashBag.get('warning') %}
			<div class="alert alert-warning">
				{{ msg }}
			</div>
		{% endfor %}
		{% block body %}{% endblock %}
	</div>
</div>
{# -------	Modal d'affichage des devis en local storage ------- #}
<div class="modal fade listArchiveDevis" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header bg-primary text-white font-weight-bold">
				Liste des documents en cours de saisie
				<button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="list-archiveDevis" hidden>
					<label for="list-archiveDevis">Liste des devis</label>
					<ul id="list-archiveDevis" class="list-group"></ul>
					<hr>
				</div>
				<div class="list-archiveCommande" hidden>
					<label for="list-archiveCommande">Liste des commandes fournisseur</label>
					<ul id="list-archiveCommande" class="list-group"></ul>
					<hr>
				</div>
				<div class="list-archiveCommandePresta" hidden>
					<label for="list-archiveCommandePresta">Liste des commandes prestataire</label>
					<ul id="list-archiveCommandePresta" class="list-group"></ul>
				</div>
			</div>
			<div class="modal-footer bg-primary p-1">
				<button type="button" class="btn btn-default text-white font-weight-bold" data-dismiss="modal">Fermer</button>
			</div>
		</div>
	</div>
</div>
</body>
{#<script src="{{ asset('js/jquery/jquery-3.4.1.js') }}"></script>#}
{#<script src="{{ asset('js/bootstrap/popper.min.js') }}"></script>#}
{#<script src="{{ asset('js/bootstrap/bootstrap.min.js') }}"></script>#}
{#<script src="{{ asset('js/bootstrap/select.js') }}"></script>#}
{#<script src="{{ asset('js/bootstrap/datepicker.js') }}"></script>#}
{#<script src="{{ asset('js/bootstrap/datepicker.fr.min.js') }}"></script>#}
{#<script src="{{asset('js/loader/jquery.preloaders.js')}}"></script>#}
{#<script src="{{ asset('js/changeLabel.js') }}"></script>#}
{#<script src="{{ asset('js/searchOnTable.js') }}"></script>#}
{#<script src="{{ asset('js/errorHandler.js') }}"></script>#}
{{ encore_entry_script_tags('app') }}
{#<script src="{{ asset('js/toast/flash.min.js') }}"></script>#}
{#<script src="{{ asset('js/flash.js') }}"></script>#}
{#<script src="{{ asset('js/periodsToComma.js') }}"></script>#}
<script src="{{ asset('intTelInput/js/intlTelInput.min.js') }}"></script>
<script>
	// Regex à utiliser pour les inputs de type email
	var re = /^[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}/;
	// Variables pour les codes pays
	var paysTelCode;
	var paysMobCode;
	// route du fichier js concerné, utile pour le formatage des inputs
	var utilsJs = '/intTelInput/js/utils.js';
	// Fonction pour afficher la liste des pays et les codes pays
	function formatTelType() {
		// Initialisation des variables nécessaires
		var index = 0;
		var iti;
		$('input').map(function() { // On récupère la liste des input
			if (this.id) { // Si l'input a une id
				if (this.id.includes('telephone') && !this.id.includes('Pays')) { // Et quelle comporte le terme "telephone"
					var msgs = `<span id="valid-msg${index}" class="hide text-success">✓ Valid</span><span id="error-msg${index}" class="hide text-danger"></span>`; // On créé des éléments affichant l'erreur ou la validation
					/**
					 * On vérifie si le length actuelle de la valeur et supèrieur à 14
					 * Car dans certains cas le code pays contients 3 caractères et dans d'autres seulement 2
					 */
					if ($(this).val().length > 14) {
						$(this).attr('maxlength', $(this).val().length + 1);
					} else {
						$(this).attr('maxlength', 14);
					}
					$(this).attr('data-index', index); // On fournit l'index de l'éléments afin de pouvoir le retrouver
					$(this).parent('div').append(msgs); // On ajoute les élément précédemment généré à la div parent de l'input
					iti = window.intlTelInput(this, { // On paramètre l'input
						nationalMode: false, // Affiche le 0 devant le numéro de téléphone
						utilsScript: utilsJs,  // pour le formatage de l'input
						initialCountry: "fr", // Set le pays pars défaut
						preferredCountries: ["fr"], // Set la liste des pays préféré
						formatOnDisplay: false, // Effectue le formatage de l'input à l'affichage
						placeholderNumberType: "FIXED_LINE" // Placeholder pour un numéro de téléphone fixe
					});
					index++ // Incrémentation de l'index
				} else if (this.id.includes('mobile') && !this.id.includes('Pays')) { // Et quelle comporte le terme "mobile" même process que précédemment, sauf que le placeholder est spécifique au téléphone mobile
					var msgs = `<span id="valid-msg${index}" class="hide text-success">✓ Valid</span><span id="error-msg${index}" class="hide text-danger"></span>`;
					if ($(this).val().length > 14) {
						$(this).attr('maxlength', $(this).val().length + 1);
					} else {
						$(this).attr('maxlength', 14);
					}
					$(this).attr('data-index', index);
					$(this).parent('div').append(msgs);
					iti = window.intlTelInput(this, {
						nationalMode: false,
						utilsScript: utilsJs,  // just for formatting/placeholders etc
						initialCountry: "fr",
						preferredCountries: ["fr"],
						formatOnDisplay: false,
						placeholderNumberType: "MOBILE" // Placeholder pour un numéro de téléphone mobile
					});
					index++
				}
			}
		});
		// $('input[tpe=email]').attr('pattern', re); //
	}
	// Fonction de validation du formulaire pour activé ou désactiver le bouton
	function checkFormValidity(form) { // On passe le form en argument
		return new Promise(resolve => { // Création d'une promesse
			var length = $(form).find('input:required').length; // Récupération de la length de la form
			var check = 0; // Initialise le compteur
			$(form).find('input:required').each(function(index, Element) { // Pour chaque input dans la form
				if ($(Element).val().trim() && !$(Element).is(':invalid')) { // On vérifie si il y a une valeur et que l'input est valide
					++check // Incrémentation du compteur
				}
				if ($(Element).is(':invalid')) {
					if (re.test($(Element).val())) { // Ici on fait une contre vérification, car dans certain cas avec l'email l'input est toujour invalid mais est valide
						++check
					} else {
						$(Element).parents('.modal').find('.modal-footer').find('.btn-light').attr('disabled', true); // Sinon je désactive le bouton
					}
				}
				if (check === length) { // Si check est égale à la length alors on active le bouton
					resolve(check) // Retour de la promesse
					$(Element).parents('.modal').find('.modal-footer').find('.btn-light').attr('disabled', false);
				}
			});
			$(form).find('textarea').each(function(index, Element) {
				if (!Element.value) {
					$(Element).parents('.modal').find('.modal-footer').find('.btn-light').attr('disabled', true);
				}
			})
		});
	}
	// Fonction de vérification des inputs de type tel
	function checkPhoneInputValidity(input, flag = 0) { // Argument input et flag par défaut à zéro
		var index = $(input).attr('data-index'); // Récupère l'index pour la gestion des messages d'erreurs
		// Initinialise les variables nécessaire
		var iti, otherInputId;
		// On récupère les élément d'alerte
		var errorMsg = document.querySelector("#error-msg" + index), validMsg = document.querySelector("#valid-msg" + index);
		// Ici, l'index des retours d'erreurs de intlTelInput
		var errorMap = ["Numéro invalide", "Code pays invalide", "Numéro trop court", "Numéro trop long", "Numéro invalide"];
		// Reset de tout les éléments d'erreur ou succés
		if (input) {
			input.classList.remove("error");
			errorMsg.innerHTML = "";
			errorMsg.classList.add("hide");
			validMsg.classList.add("hide");
			// Condition d'instanciation des objets intlTelInput
			if (input.id.includes('mobile')) {
				iti = window.intlTelInput(input, {
					nationalMode: true,
					utilsScript: utilsJs,  // just for formatting/placeholders etc
					initialCountry: "fr",
					preferredCountries: ["fr"],
					formatOnDisplay: false,
					placeholderNumberType: "MOBILE" // Placeholder pour un numéro de téléphone mobile
				});
				otherInputId = input.id.replace('mobile', 'telephone')
			} else if (input.id.includes('telephone')) {
				iti = window.intlTelInput(input, {
					nationalMode: true,
					utilsScript: utilsJs,  // just for formatting/placeholders etc
					initialCountry: "fr",
					preferredCountries: ["fr"],
					formatOnDisplay: false,
					placeholderNumberType: "FIXED_LINE" // Placeholder pour un numéro de téléphone mobile
				});
				otherInputId = input.id.replace('telephone', 'mobile')
			}
			if (input.value.trim() !== '') { // On supprime les espaces en fin ou debut de string pour s'assurer qu'il y est bien une valeur (pas d'espace vide créé par le CSS)
				if (iti.isValidNumber()) { // Si le numéro est valide
					validMsg.classList.remove("hide"); // Affichage du message de validation
					input.style.boxShadow = 'none'; // Ici pour firefox on enlève le box shadow de l'input
					if ($(input).val().charAt(0) != '+') { // On vérifie si le premier caratère n'est pas égale à +
						$(input).val('+' + $(input).parent('div').find('li[aria-selected=true]').attr('data-dial-code') + $(input).val().substring(1)); // On ajout l'index du pays au téléphone
						$(input).attr('maxlength', $(input).attr('maxlength') + $(input).parent('div').find('li[aria-selected=true]').attr('data-dial-code').length);
					}
					checkFormValidity(input.form); // On vérifie la validité
					if (flag === 0) { // Si le flag est a 0
						checkPhoneInputValidity(document.getElementById(otherInputId), 1); // Appel récursif pour vérifier si le prochain input est valide ou non
					} else {
						return false; // Sinon on coupe la récursivité
					}
				} else {
					input.classList.add("error"); // Ajout de la class error à l'input
					var errorCode = iti.getValidationError(); // On récupère le code de validation
					input.style.boxShadow = 'red'; // Pour firefox on affiche un box shadow rouge pour afficher l'input ou il y a une erreur
					errorMsg.innerHTML = errorMap[errorCode]; // On assigne le bon message d'erreur
					errorMsg.classList.remove("hide"); // On affiche le message d'erreur
					checkFormValidity(input.form) // On vérifie la validité des inputs
					$(input).parents('.modal').find('.modal-footer').find('.btn-light').attr('disabled', true);
					if (flag === 0) {
						checkPhoneInputValidity(document.getElementById(otherInputId), 1); // Appel récursif pour vérifier si le prochain input est valide ou non
					} else {
						return false; // Sinon on coupe la récursivité
					}
				}
			} else {
				checkFormValidity(input.form) // Sinon on coupe la récursivité
				if (flag === 0) {
					checkPhoneInputValidity(document.getElementById(otherInputId), 1); // Appel récursif pour vérifier si le prochain input est valide ou non
				} else {
					return false; // Sinon on coupe la récursivité
				}
			}
		}
	}
	// Fonction qui supprime tous les éléments du local storage
	function clearLocalStorage() {
		return new Promise( resolve => {
			resolve(localStorage.clear())
		})
	}
	// Fonction qui vérifie si la vairable est itérable
	function isIterable(obj) {
		// checks for null and undefined
		if (obj == null) {
			return false;
		}
		return typeof obj[Symbol.iterator] === 'function';
	}
	// Fonction qui récupère tous les devis stocké dans le local storage
	function getAllDevisFromLocalStorage() {
		var onStorage = Object.entries(localStorage);
		var devis = [];
		var commandes = []
		var numDevis;
		var numCmd;
		var url;
		for (var entry of onStorage) {
			if (entry[0].includes('DE')) {
				numDevis = entry[0]
				devis.push(JSON.parse(entry[1]));
			}
			if (entry[0].includes('DA')) {
				numCmd = entry[0]
				commandes.push(JSON.parse(entry[1]));
			}
		}
		if (devis[0]) {
			$('.list-archiveDevis').attr('hidden',  false);
			$('#inNav').remove();
			$('#list-archiveDevis').children().remove()
			var archive = `<li id="inNav" class="nav-item my-auto mx-1">
									<button id="showArchiveDevis" class="btn btn-default nav-link text-warning">
										Documents en cours de saisis
										<i id="archive" class="fas fa-archive"></i>
									</button>
								</li>`;
			$('#topRight').prepend(archive);
			for (var devi of devis) {
				if (devi[0].value === "") {
					url = '/affaire/devis/resume/' + devi[2].value;
				} else {
					url = '/affaire/' + devi[0].value + '/devis/resume/' + devi[2].value;
				}
				$('#list-archiveDevis').append(`
						<li id="${devi[2].value}" class='list-group-item'>
							<a class="float-left" href='${url}'>${devi[2].value}</a>
							<button class="btn btn-default float-right" onclick="removeDevisLocalStorage('${devi[2].value}', true)"><i class="text-danger fas fa-trash-alt"></i></button>
						</li>`)
			}
		}
		if (commandes[0]) {
			$('#list-archiveCommande').children().remove()
			$('#list-archiveCommandePresta').children().remove()
			var inNav = $('#inNav');
			if (inNav.length == 0) {
				var archive = `<li id="inNav" class="nav-item my-auto mx-1">
									<button id="showArchiveDevis" class="btn btn-default nav-link text-warning">
										Devis et commande en cours de saisis
										<i id="archive" class="fas fa-archive"></i>
									</button>
								</li>`;
				$('#topRight').prepend(archive);
			}
			for (var commande of commandes) {
				var url;
				if (commande[0].name.includes('fournisseur')) {
					if (commande[0].value == "") {
						$('.list-archiveCommande').attr('hidden',  false);
						url = '/gestion/continuer/' + commande[2].value + '/commandeFournisseur';
						$('#list-archiveCommande').append(`
						<li id="${commande[2].value}" class='list-group-item'>
							<a class="float-left" href='${url}'>${commande[2].value}</a>
							<button class="btn btn-default float-right" onclick="removeDevisLocalStorage('${commande[2].value}', true)"><i class="text-danger fas fa-trash-alt"></i></button>
						</li>`)
					} else {
						$('.list-archiveCommande').attr('hidden',  false);
						url = '/gestion/continuer/' + commande[3].value + '/commandeFournisseur/affaire/' + commande[0].value;
						$('#list-archiveCommande').append(`
						<li id="${commande[3].value}" class='list-group-item'>
							<a class="float-left" href='${url}'>${commande[3].value}</a>
							<button class="btn btn-default float-right" onclick="removeDevisLocalStorage('${commande[3].value}', true)"><i class="text-danger fas fa-trash-alt"></i></button>
						</li>`)
					}
				} else if (commande[0].name.includes('prestataire')) {
					if (commande[0].value == "") {
						$('.list-archiveCommandePresta').attr('hidden',  false);
						url = '/gestion/continuer/' + commande[2].value + '/commandePrestataire';
						$('#list-archiveCommandePresta').append(`
						<li id="${commande[2].value}" class='list-group-item'>
							<a class="float-left" href='${url}'>${commande[2].value}</a>
							<button class="btn btn-default float-right" onclick="removeDevisLocalStorage('${commande[2].value}', true)"><i class="text-danger fas fa-trash-alt"></i></button>
						</li>`)
					} else {
						$('.list-archiveCommandePresta').attr('hidden',  false);
						url = '/gestion/continuer/' + commande[2].value + '/commandePrestataire/affaire/' + commande[0].value;
						$('#list-archiveCommandePresta').append(`
						<li id="${commande[2].value}" class='list-group-item'>
							<a class="float-left" href='${url}'>${commande[2].value}</a>
							<button class="btn btn-default float-right" onclick="removeDevisLocalStorage('${commande[2].value}', true)"><i class="text-danger fas fa-trash-alt"></i></button>
						</li>`)
					}
				}
			}
		}
	}
	// Suppression du devis validé ou du devis sélectionné
	function removeDevisLocalStorage(numDevis=null, removeElem=false) {
		if (!numDevis) {
			localStorage.removeItem($('#create_devis_numeroDevis').val());
		} else {
			localStorage.removeItem(numDevis);
		}
		if (removeElem === true) {
			$('#' + numDevis).remove();
		}
		var listDevis = $('#list-archiveDevis').children();
		var listCmd = $('#list-archiveDevis').children();
		if (listDevis.length === 0 && listCmd.length === 0) {
			$('#inNav').remove();
		}
	}
	// Fonction récursive qui effectue la redirection automatique si l'on respect le modèle de tabs de bootstrap 4
	function automatedRedirection(href, buttons = [], i = 0) {
		buttons.push($(document).find('button[href="' + href + '"]'))
		var parentId = buttons[i].parents('li').parent('ul').parent('div.tab-pane').attr('id')
		if (typeof parentId != 'undefined') {
			var parent = $(document).find('button[href="#' + parentId + '"]');
			var testParent = parent.parents('li').parent('ul').parent('div.tab-pane').attr('id')
			if (testParent) {
				i++
				automatedRedirection(parent.attr('href'), buttons, i)
			}
			$(document).find('button[href="#' + parentId + '"]').trigger('click').promise().done(function () {
				if (buttons[1]) {
					recursiveClick(buttons, buttons.length - 1, buttons.length)
				} else {
					buttons[0].trigger('click')
				}
			})
		} else {
			buttons[0].trigger('click')
		}
	}
	// Fonction qui click sur le bouton pour la redirection de manière récursive
	function recursiveClick(buttons, i, length) {
		if (i >= 0) {
			$(document).ready(function () {
				buttons[i].trigger('click').promise().done(function () {
					recursiveClick(buttons, i-1, length)
				});
			});
		}
	}
	// Fonction pour récupèrer un flash qui a était stocké dans le localStorage pour l'afficher au chargement de la page
	getFlashFromLocalStorage()
	$(document).ready(function () {
		var hrefIndexForRedirection = location.href.split('#')
		if (hrefIndexForRedirection[1]) {
			automatedRedirection('#' + hrefIndexForRedirection[1])
		}
		$(document).on('change', '.comma',function () {
			addCommaThis(this);
		})
		// $('.nav-item').click(function() {
		// 	location.href = $(this).children('button').attr('href')
		// });
		$('button.nav-link').click(function() {
			location.href = $(this).attr('href');
		});
		$('.selectpicker').selectpicker({
			liveSearchNormalize: true,
			windowPadding: [1,1,1,1]
		})
		// Récupère les devis en local storage et affiche le bouton dans la barre de navigation et la liste dans une modale
		getAllDevisFromLocalStorage()
		// Ouvre la modal comportant la liste des devis en archive
		$(document).on('click', '#showArchiveDevis', function() {
			$('.modal.fade.listArchiveDevis').modal('show');
		});
		// Fonction pour adapter la taille des texteareas au texte qu'il contient contenu
		// Lors de la saisie
		$(document).on('input', '.auto-grow', function() {
			this.style.height = "5px";
			this.style.height = (this.scrollHeight)+"px";
		});
		// Au click
		$(document).on('click', '.auto-grow', function() {
			this.style.height = "5px";
			this.style.height = (this.scrollHeight)+"px";
		});
		// Fonction qui ajout la class w-25 à tous les input-group-append
		$('.input-group-append').addClass('w-25');
		// On appel la fonction pour formater les inputs tel après chargement complet de la page
		formatTelType();
		// Fonction pour fermer le popover en clickant dessus
		$(document).on('click', '.popover', function() {
			$('.popover').popover('hide');
		});
		// fonction jquery pour faire disparaitre les alertes flash automatiquement
		setTimeout(function () {
			$("div.success").remove();
		}, 6000);
		setTimeout(function () {
			$("div.alert").remove();
		}, 6000);
		$("div.alert.alert-success").css({"position": "fixed", "margin-left": "7px", "z-index": 50, "bottom": "3px", "right": "5px", "text-align": "right", "margin-top": "10px", "padding": "15px", "border": "1px solid rgb(220, 220, 220)", "border-radius": "5px", "float": "right", "clear": "right", "background-color": "rgb(98, 209, 98)", "color": "black", "font-family": "Arial, Helvetica, sans-serif"})
		$("div.alert.alert-warning").css({"position": "fixed", "margin-left": "7px", "z-index": 50, "bottom": "3px", "right": "5px", "text-align": "right", "margin-top": "10px", "padding": "15px", "border": "1px solid rgb(220, 220, 220)", "border-radius": "5px", "float": "right", "clear": "right", "background-color": "rgb(255, 127, 80)", "color": "white", "font-family": "Arial, Helvetica, sans-serif"})
		// CASSE des input de type text
		$(document).on('keyup', 'input[type=text]', function() {
			$("input").map(function() {
				if (this.id && this.value) { // Si l'élément à une id et une valeur
					// Conditions
					// Formatage de input avec l'id nom pour les agences et organismes
					if (this.id.includes('contact_agence_ajax_nom')) {
						this.value = this.value.toUpperCase(); // On met toutes les lettre en majuscule
					} else if (this.id.includes('_article_nom') || this.id.includes('client_nom') || this.id.includes('client_ajax_nom') || this.id.includes('orga_nom') || this.id.includes('orga_ajax_nom') || this.id.includes('theme_nom') || this.id.includes('fournisseur_nom') || this.id.includes('fournisseur_ajax_nom') || this.id.includes('prestataire_nom') || this.id.includes('prestataire_ajax_nom') || this.id.includes('sudalys_nom') ) {
						this.value = this.value.charAt(0).toUpperCase() + this.value.substring(1); // On met la première lettre en majuscule
					} else if (this.id.includes('_nom') || this.id.includes('_ville')) { // Formatage pour le reste des input avec l'id nom et l'id ville
						this.value = this.value.toUpperCase(); // On met toutes les lettre en majuscule
					} else if ( this.id.includes('_description') || this.id.includes('_mentions') || this.id.includes('libelle') || this.id.includes('designation') || this.id.includes('contact_type') ) { // Formatage pour les input textarea
						this.value = this.value.charAt(0).toUpperCase() + this.value.substring(1); // On met la première lettre en majuscule
					} else if (this.id.includes('_prenom')) { // Formatage pour le prénom
						if (this.value.includes('-')) { // Si le prénom est composé
							var strTab = this.value.split('-'); // On split le string en array avec comme séparateur le trait d'union
							for (var i = 0; i < strTab.length; i++) {
								strTab[i] = strTab[i].charAt(0).toUpperCase() + strTab[i].substring(1).toLowerCase(); // On met pour chaque index présent dans l'array la première lettre en majuscule et le reste en minuscule
							}
							this.value = strTab.join('-'); // Puis on fait une conversion de string to array en ajoutant le trait d'union
						} else { // Si le prénom n'est pas composer
							this.value = this.value.charAt(0).toUpperCase() + this.value.substring(1).toLowerCase(); // On met la première lettre en majuscule et le reste en minuscule
						}
					}
				}
			});
		});
		$(document).on('keyup', 'textarea', function() {
			if (this.id.includes('libelle')) {
				if (this.value.includes('. ')) { // Si le prénom est composé
					var strTab = this.value.split('. '); // On split le string en array avec comme séparateur le point puis un espace
					for (var i = 0; i < strTab.length; i++) {
						strTab[i] = strTab[i].charAt(0).toUpperCase() + strTab[i].substring(1); // On met pour chaque index présent dans l'array la première lettre en majuscule
					}
					this.value = strTab.join('. '); // Puis on fait une conversion de string to array en ajoutant le point puis un espace
				} else {
					this.value = this.value.charAt(0).toUpperCase() + this.value.substring(1);
				}
			} else {
				if (this.value.includes('. ')) { // Si le prénom est composé
					var strTab = this.value.split('. '); // On split le string en array avec comme séparateur le point puis un espace
					for (var i = 0; i < strTab.length; i++) {
						strTab[i] = strTab[i].charAt(0).toUpperCase() + strTab[i].substring(1).toLowerCase(); // On met pour chaque index présent dans l'array la première lettre en majuscule et le reste en minuscule
					}
					this.value = strTab.join('. '); // Puis on fait une conversion de string to array en ajoutant le point puis un espace
				} else { // Si le prénom n'est pas composer
					this.value = this.value.charAt(0).toUpperCase() + this.value.substring(1).toLowerCase(); // On met la première lettre en majuscule et le reste en minuscule
				}
			}
		})
		// CASSE des inputs de type email
		$(document).on('change', 'input[type=email]', function() {
			if (re.test($(this).val()) === false) {
				this.setCustomValidity('L\'email doit comporter des lettres sans espace avant et après "@" et un point suivi de 2 à 4 lettres');
				this.reportValidity();
				this.style.boxShadow = 'red'; // Pour firefox on affiche un box shadow rouge pour afficher l'input ou il y a une erreur
			} else {
				this.style.boxShadow = 'none'; // Ici pour firefox on enlève le box shadow de l'input
			}
		});
		// CASSE des inputs de type tel keyup
		$(document).on('keyup', 'input[type=tel]', function() {
			// var patTel = /[+-0-9]{2-6} [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}/;
			$(this).val($(this).val().replace(/[^\d0-9]/g, '').replace(/(.{2})/g, '$1 ').trim()); // On met un espace tous les 2 chiffres
		});
		// CASSE des inputs de type tel change
		$(document).on('change', 'input[type=tel]', function() {
			checkPhoneInputValidity(this);
		});
		$(document).on('change', 'input', function() {
			if ($(this).is(':required')) {
				checkFormValidity(this.form);
			}
		});
		$(document).on('change', 'textarea', function() {
			if ($(this).is(':required')) {
				checkFormValidity(this.form);
			}
		});
		$('#logOut').click(function() {
			clearLocalStorage()
					.then(() => {
						window.location.href = $(this).attr('data-href');
					})
		})
	});
</script>
{% block javascripts %}
{% endblock %}

</html>
