<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>
			{% block title %}Gest'it
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
		<link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css"/>
		<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body>
		{% for msg in app.session.flashBag.get('success') %}
			<div class="alert alert-success">
				{{ msg }}
			</div>
		{% endfor %}
		{% for msg in app.session.flashBag.get('warning') %}
			<div class="alert alert-warning">
				{{ msg }}
			</div>
		{% endfor %}

		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
		<script>
			// fonction jquery pour faire disparaitre les alertes flash au bout de 3.5s
			$("document").ready(function () {
				setTimeout(function () {
					$("div.success").remove();
				}, 3500);
				setTimeout(function () {
					$("div.alert").remove();
				}, 5000);
			});
		</script>
	</body>
</html>
