{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            {% if is_granted('ROLE_SUPER_SUDALYS') %}
                <a href="{{ path('sudalys_users_home') }}" class="btn btn-light border-primary mb-3">
                    <i class="fas fa-arrow-left text-primary"></i>
                    Retour à la liste
                </a>
            {% endif %}
            <h1 class="display-6">Ajouter un utilisateur</h1>
            <hr class="my-4">
            <div class="card bg-light mb-3">
                <div class="card-body" style="padding: 2em">
                    {{ include("UserBundle:User:form.html.twig") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}