{% extends "base.html.twig" %}
{% block title %}
    Supprimer un utilisateur - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            {% if is_granted('ROLE_SUPER_SUDALYS') %}
                <a href="{{ path('sudalys_users_home') }}" class="btn btn-light border-primary mb-3">
                    <i class="fas fa-arrow-left text-primary"></i>
                    Retour à la liste
                </a>
            {% endif %}
            <h1 class="display-6">Supprimer un utilisateur</h1>
            <hr class="my-4">
            <div class="card bg-light mb-3" style="margin-top: 5em">
                <div class="card-body" style="padding: 2em">
                    <p>
                        Etes-vous certain de vouloir Supprimer l'utilisateur "{{ user.nom|upper }} {{ user.prenom|capitalize }}" ?
                    </p>
                    {# On met l'id de l'utilisateur dans la route de l'action du formulaire #}
                    <form action="{{ path('sudalys_users_delete', {'id': user.id}) }}" method="post">
                        {# Ici j'ai écrit le bouton de soumission à la main #}
                        <input type="submit" value="Supprimer" class="btn btn-danger" />
                        {# Ceci va générer le champ CSRF #}
                        {{ form_rest(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}