{% extends "base.html.twig" %}

{#{% block title %}#}
{#    Modifier un utilisateur - {{ parent() }}#}
{#{% endblock %}#}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-6">Modifier un utilisateur</h1>
            <hr class="my-4">
            <div class="card bg-light mb-3" >
                <div class="card-body" style="padding: 2em">
                    {{ include("UserBundle:User:formEdit.html.twig") }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}