{#<div id="usersAjout"class="box box-info">#}
{#    <div class="box-header with-border">#}
{#        <h2 class="box-title">Ajout d'utilisateurs</h2>#}
{#    </div>#}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {{ form_widget(form) }}
{#        <div class="form-group">#}
{#            #}{# Génération du label. #}
{#            {{ form_label(form.nom, "Nom :") }}#}
{#            #}{# Affichage des erreurs pour ce champ précis. #}
{#            {{ form_errors(form.nom) }}#}
{#                #}{# Génération de l'input. #}
{#                {{ form_widget(form.nom, {'attr': {'class': 'form-control', 'style': 'text-transform:uppercase'}}) }}#}
{#        </div>#}

{#        #}{# Idem pour un autre champ. #}
{#        <div class="form-group">#}
{#            {{ form_label(form.prenom, "Prénom :") }}#}
{#            {{ form_errors(form.prenom) }}#}

{#                {{ form_widget(form.prenom, {'attr': {'class': 'form-control', 'style': 'text-transform:capitalize'}}) }}#}
{#        </div>#}

{#        <div class="form-group">#}
{#            {{ form_label(form.email, "e-mail :") }}#}
{#            {{ form_errors(form.email) }}#}

{#                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}#}
{#        </div>#}

{#        <div class="form-group">#}
{#            {{ form_label(form.roles, "Rôle :") }}#}
{#            {{ form_errors(form.roles) }}#}

{#            {{form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}#}
{#        </div>#}

{#        <div class="form-group">#}
{#            {{ form_label(form.isActive, "Activer :") }}#}
{#            {{ form_errors(form.isActive) }}#}

{#                {{form_widget(form.isActive, {'attr': {'class': 'form-control'}}) }}#}

{#        </div>#}

{#        #}{# Les erreurs générales du formulaire. #}
{#        {{ form_errors(form) }}#}


{#        <div style="text-align: center;">#}
{#            #}{# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
{#            {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}#}
{#        </div>#}

{#    #}{# Génération automatique des champs pas encore écrits.#}
{#       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)#}
{#       et tous les champs cachés (type « hidden »). #}
{#    <div style="display:none">#}
{#    #}{# Génération automatique des champs non encore écrits et tous les champs cachés (type: hidden) #}
{#    {{form_rest(form)}}#}
{#    </div>#}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}

{#</div>#}