{% extends "base.html.twig" %}

{% block user_stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/dataTables.bootstrap.min.css') }}">
{% endblock %}
{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            {% if is_granted('ROLE_SUDALYS') %}
                <a href="{{ path('sudalys_users_add') }}" class="btn btn-light border-success float-right" role="button"><i class="fas fa-plus-circle text-success"></i>&nbsp;Ajouter un utilisateur</a>
            {% endif %}
            <h1 class="display-6">Liste des utilisateurs</h1>
            <hr class="my-4">
            <table class="table table-hover bg-light">
                <thead>
                <tr class="bg-primary text-white">
                    <th scope="col" class="align-middle ">Nom</th>
                    <th scope="col" class="align-middle ">Prénom</th>
                    <th scope="col" class="align-middle ">Email</th>
                    <th scope="col" class="align-middle ">Rôles</th>
                    <th scope="col" class="align-middle ">Actif</th>
                    <th scope="col" class="text-center align-middle ">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for user in listUsers %}
                    <tr>
                        <td class="align-middle">{{ user.nom|upper }}</td>
                        <td class="align-middle">{{ user.prenom|capitalize }}</td>
                        <td class="align-middle">{{ user.email }}</td>
                        <td class="align-middle">
                            {% for value in user.roles %}
                                {% set tab = value|split('_') %}
                                {% set role = '' %}
                                {% if loop.first %}
                                {% else %}
                                    {% set role = role ~ ', ' %}
                                {% endif %}
                                {%for i in tab %}
                                    {% set role = role ~ ' ' ~ i %}
                                {% endfor %}
                                {{ role|title }}
                            {% endfor %}
                        </td>
                        {% if user.isActive == true %}
                            <td class="align-middle">Actif</td>
                        {% else %}
                            <td class="align-middle">Inactif</td>
                        {% endif %}
                        {% if is_granted('ROLE_SUPER_SUDALYS') %}
                            {% if user.email == app.user.email %}
                                <td class="align-middle text-center"><a href="{{ path('sudalys_users_view', {'id':user.id}) }}" style="color:#ffffff"><button class="btn btn-default" type="button"><i class="fas fa-eye text-primary"></i></button></a>
                                    <a href="{{ path('sudalys_users_edit', {'id':user.id}) }}" style="color:#ffffff"><button class="btn btn-default" type="button"><i class="fas fa-edit text-warning"></i></button></a></td>
                            {% else %}
                                <td class="align-middle text-center">
                                    {% if user.password is null %}
                                        <a href="{{ path('sudalys_users_relance', {'userId':user.id}) }}" style="color:#ffffff">
                                            <button class="btn btn-default" type="button">
                                                <i class="fas fa-redo text-success"></i>
                                            </button>
                                        </a>
                                    {% endif %}
                                    <a href="{{ path('sudalys_users_view', {'id':user.id}) }}" style="color:#ffffff">
                                        <button class="btn btn-default" type="button">
                                            <i class="fas fa-eye text-primary"></i>
                                        </button>
                                    </a>
                                    <a href="{{ path('sudalys_users_edit', {'id':user.id}) }}" style="color:#ffffff">
                                        <button class="btn btn-default" type="button">
                                            <i class="fas fa-edit text-warning"></i>
                                        </button>
                                    </a>
                                    <a href="{{ path('sudalys_users_delete', {'id':user.id}) }}" style="color:#ffffff">
                                        <button class="btn btn-default" type="button">
                                            <i class="fas fa-trash-alt text-danger"></i>
                                        </button>
                                    </a>
                                </td>
                            {% endif %}
                        {% endif %}
                        {% if is_granted('ROLE_SUDALYS') and not is_granted('ROLE_SUPER_SUDALYS') %}
                            {% if user.email == app.user.email or user.roles[0] matches '/SUPER/' %}
                                <td class="align-middle text-center">
                                    <a href="{{ path('sudalys_users_view', {'id':user.id}) }}" style="color:#ffffff">
                                        <button class="btn btn-default" type="button">
                                            <i class="fas fa-eye text-primary"></i>
                                        </button>
                                    </a>
                                </td>
                            {% else %}
                                <td class="align-middle text-center">
                                    <a href="{{ path('sudalys_users_view', {'id':user.id}) }}" style="color:#ffffff">
                                        <button class="btn btn-default" type="button">
                                            <i class="fas fa-eye text-primary"></i>
                                        </button>
                                    </a>
                                    <a href="{{ path('sudalys_users_edit', {'id':user.id}) }}" style="color:#ffffff">
                                        <button class="btn btn-default" type="button">
                                            <i class="fas fa-edit text-warning"></i>
                                        </button>
                                    </a>
                                </td>
                            {% endif %}
                        {% endif %}
                    </tr>
                {% else %}
                    <tr role="row" class="odd">
                        <td>Pas (encore !) d'utilisateurs</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}