<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Up'nview{% endblock %}</title>
    {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="hold-transition login-page" style="display:flex; height:100vh; background-color: white;">

<div class="login-box" style="margin:auto; width: 320px;">
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-error">Message : {{ message }}</div>
    {% endfor %}
    <div class="login-logo">
        <img src="{{ asset('/img/Logo_easy_exploit.jpg') }}" style="max-width: 320px;" >
    </div>
    <div class="login-box-body">
        <p class="login-box-msg" style="font-weight: bold">Modification de mot de passe</p>
        {{form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div class="form-group has-feedback">
                {{ form_errors(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control','placeholder': 'email'}}) }}
                    <span class="fa fa-envelope  form-control-feedback"></span>
            </div>
            <div class="row justify-content-center" style="text-align: center;">
                <div class="col-5">
                    {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary btn-block btn-flat'}}) }}
                </div>
            </div>
            <div style="display:none">
            {# Génération automatique des champs non encore écrits et tous les champs cachés (type: hidden) #}
                {{form_rest(form)}}
            </div>
        {{form_end(form)}}
        <br>
    </div>
</div>
{% block javascripts %}
    
{% endblock %}
</body>
</html>