<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Sudalys{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/AdminLTE.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/square/blue.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="hold-transition login-page">

<div class="login-box">
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-error">Message : {{ message }}</div>
    {% endfor %}
    <div class="login-logo">
        <img src="{{ asset('img/logo.png') }}" style="max-width: 360px;" >
    </div>
    <div class="login-box-body">
        <p class="login-box-msg" style="font-weight: bold">Initialisation de vos Identifiants de Connexion</p>
        {{form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div class="form-group has-feedback">
            {{ form_errors(form.password) }}
            {{ form_widget(form.password, {'attr': {'class': 'form-control','placeholder': 'Mot de passe'}}) }}
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row" style="text-align: center;">
            {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary btn-block btn-flat'}}) }}
        </div>
        <div style="display:none">
            {# Génération automatique des champs non encore écrits et tous les champs cachés (type: hidden) #}
            {{form_rest(form)}}
        </div>
        {{form_end(form)}}
        <br>
    </div>
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>