{% extends "base.html.twig" %}

{% block title %}
    Utilisateur - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            {% if is_granted('ROLE_SUPER_SUDALYS') %}
                <a href="{{ path('sudalys_users_home') }}" class="btn btn-light border-primary mb-3">
                    <i class="fas fa-arrow-left text-primary"></i>
                    Retour à la liste
                </a>
            {% endif %}
            <div class="float-right" style="text-align:center;">
                <a href="{{ path('sudalys_users_edit', {'id': user.id}) }}" class="btn btn-light border-warning">
                    <i class="fas fa-edit text-warning"></i>
                    Modifier l'utilisateur
                </a>
                {% if is_granted('ROLE_SUPER_SUDALYS') %}
                    {% if user.email != app.user.email %}
                        <a href="{{ path('sudalys_users_delete', {'id': user.id}) }}" class="btn btn-light border-danger">
                            <i class="fas fa-trash-alt text-danger"></i>
                            Supprimer l'utilisateur
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <h1 class="display-6">Profil utilisateur</h1>
            <div class="card bg-light">
                <div class="card-body" style="padding: 2em">
                    <div id="infos">
                        <dl class="row">
                            <dt class="col-2">Nom :</dt>
                            <dd class="col-10">{{ user.nom|upper }}</dd>
                            <dt class="col-2">Prénom :</dt>
                            <dd class="col-10">{{ user.prenom|capitalize }}</dd>
                            <dt class="col-2">Email :</dt>
                            <dd class="col-10">{{ user.email }}</dd>
                            <dt class="col-2">Rôles :</dt>
                            <dd class="col-10">{% for value in user.roles %}
                                    {% set tab = value|split('_') %}
                                    {% set role = '' %}
                                    {% if loop.first %}
                                    {% else %}
                                        {% set role = role ~ ', ' %}
                                    {% endif %}
                                    {%for i in tab %}
                                        {% set role = role ~ ' ' ~ i %}
                                    {% endfor %}
                                    {{ role|title }}
                                {% endfor %}</dd>
                            <dt class="col-2">Actif :</dt>
                            <dd class="col-10">
                                {% if user.isActive == true %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}
                            </dd>
                        </dl>
                        {#                    <div class="row">#}
                        {#                        <label>Nom :</label> {{ user.nom|upper }}#}
                        {#                    </div>#}
                        {#                    <div class="row">#}
                        {#                        <label>Prénom :</label>{{ user.prenom|capitalize }}#}
                        {#                    </div>#}
                        {#                    <div class="row">#}
                        {#                        <label>Email :</label>{{ user.email }}#}
                        {#                    </div>#}
                        {#                    <div class="row">#}
                        {#                        <label>Rôles :</label>#}
                        {#                        {% for value in user.roles %}#}
                        {#                            {% set tab = value|split('_') %}#}
                        {#                            {% set role = '' %}#}
                        {#                            {% if loop.first %}#}
                        {#                            {% else %}#}
                        {#                                {% set role = role ~ ', ' %}#}
                        {#                            {% endif %}#}
                        {#                            {%for i in tab %}#}
                        {#                                {% set role = role ~ ' ' ~ i %}#}
                        {#                            {% endfor %}#}
                        {#                            {{ role|title }}#}
                        {#                        {% endfor %}#}
                        {#                    </div>#}
                        {#                    <div class="row">#}
                        {#                        {% if user.isActive == true %}#}
                        {#                            <label>Activé :</label><span>Actif</span>#}
                        {#                        {% else %}#}
                        {#                            <label>Activé :</label><span>Inactif</span>#}
                        {#                        {% endif %}#}
                        {#                    </div>#}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}