{% extends "UserBundle::layout.html.twig" %}

{% block title %}
    Modifier l'entité - {{ parent() }}
{% endblock %}

{% block sudalysuser_body %}

    {{ include("SudalysUserBundle:Entity:formEdit.html.twig") }}

    <div style="text-align: center; padding-bottom:10px;">
        <a href="{{ path('sudalys_entity_view') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à l'entité
        </a>
    </div>

{% endblock %}