<div class="box box-info">
    <div class=""box-header with-border">
    <h2 class="box-title col-md-12">Modifier L'entité</h2>
</div>

{{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
<div class="box-body">

    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.nom, "Nom :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        {# Affichage des erreurs pour ce champ précis. #}
        {{ form_errors(form.nom) }}

        <div class="col-sm-10">
            {# Génération de l'input. #}
            {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {# Idem pour un autre champ. #}
    <div class="form-group">
        {{ form_label(form.adresse, "Adresse :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.adresse) }}
        <div class="col-sm-10">
            {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.adresse_2, "Complément d'adresse :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.adresse_2) }}
        <div class="col-sm-10">
            {{ form_widget(form.adresse_2, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.code_postal, "Codepostal :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.code_postal) }}
        <div class="col-sm-10">
            {{ form_widget(form.code_postal, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.ville, "Ville :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.ville) }}
        <div class="col-sm-10">
            {{ form_widget(form.ville, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.email, "e-mail :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.email) }}
        <div class="col-sm-10">
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.telephone, "Téléphone :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.telephone) }}
        <div class="col-sm-10">
            {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group">
        {{ form_label(form.mobile, "Mobile :", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.mobile) }}
        <div class="col-sm-10">
            {{ form_widget(form.mobile, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(form) }}

    <div class="box-footer">
        <div style="text-align: center;">
            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-primary'}}) }}
        </div>
    </div>
{# Génération automatique des champs pas encore écrits.
   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
   et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    {# Fermeture de la balise <form> du formulaire HTML #}
    {{ form_end(form) }}

</div>