{% extends "UserBundle::layout.html.twig" %}

{% block title %}
    Entité - {{ parent() }}
{% endblock %}

{% block sudalysuser_body %}
    <div class="box box-info">
        <div class="box-header with-border">
            <h2 class="box-title col-md-12">Entité :</h2>
        </div>
        <div class="box-body">
            <div class="box-default col-md-offset-1 col-md-11">
                <p>
                <div class="row">
                    <label class="col-md-2">Nom :</label> {{ entity.nom }}
                </div>
                <div class="row">
                    <label class="col-md-2">Adresse :</label>{{ entity.adresse }}
                </div>
                <div class="row">
                    <label class="col-md-2">Complément d'adresse :</label>{{ entity.adresse2 }}
                </div>
                <div class="row">
                    <label class="col-md-2">Code postal :</label>{{ entity.codePostal }}
                </div>
                <div class="row">
                    <label class="col-md-2">Ville :</label>{{ entity.ville }}
                </div>
                <div class="row">
                    <label class="col-md-2"><i class="fa fa-envelope-o"></i> Email :</label>{{ entity.email }}
                </div>
                <div class="row">
                    <label class="col-md-2"><i class="fa fa-phone"></i> Téléphone :</label>{{ entity.telephone }}
                </div>
                <div class="row">
                    <label class="col-md-2"><i class="fa fa-mobile "></i> Mobile :</label>{{ entity.mobile }}
                </div>
                </p>
            </div>
        </div>
        <div class="box-footer">
            <div style="text-align: center;">
                <a href="{{ path('sudalys_entity_edit') }}" class="btn btn-warning">
                    <i class="glyphicon glyphicon-edit"></i>
                    Modifier l'entité
                </a>
            </div>
        </div>
    </div>
{% endblock %}