{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% block user_stylesheets %}
    {% endblock %}
{% endblock %}

{% block body %}
{#    {{ wo_render_breadcrumbs() }}#}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-info">Message : {{ message }}</div>
    {% endfor %}
    {% block sudalysuser_body %}
    {% endblock %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% block user_javascripts %}
    {% endblock %}
{% endblock %}