/*@import "font-awesome";*/
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    background-color: #e9ecef;
}

input[type=text] {
    font-size: 0.95em;
    height: 2.5em;
}

.bootstrap-select.large-bootstrap-select .dropdown-menu li a {
    width: 100% !important;
    word-break-wrap: break-word !important;
    white-space: normal !important;
    text-align: justify !important;
    border-bottom: solid 1px lightgray;
}

#notification.red[data-count]:after{
    position:absolute;
    top: 23%;
    left: auto;
    content: attr(data-count);
    font-size:60%;
    padding:.2em;
    border-radius:100%;
    line-height:1em;
    color: white;
    background:rgba(255,0,0,.85);
    text-align:center;
    max-height: 1.2em;
    min-width: 1.2em;
}

.mt-15 {
    margin-top: 15%;
}

#notification.green[data-count]:after{
    position:absolute;
    top: 23%;
    left: auto;
    content: attr(data-count);
    font-size:60%;
    padding:.2em;
    border-radius:100%;
    line-height:1em;
    color: white;
    background:green;
    text-align:center;
    max-height: 1.2em;
    min-width: 1.2em;
}

.dash-button {
    height: 4em;
    border-radius: .25em;
}

.btn-light:not(:disabled):not(.disabled).active {
    background-color: #007bff !important;
    color: white;
    font-weight: bold;
}

.jumbotron {
    margin-top: -1.5em !important;
}

.sidebar {
    /*margin-top: 3.5em !important;*/
    min-height: 100%;
    position: fixed;
    left: 0;
    min-width: 150px;
}

.list-group-item {
     padding: 0.75rem 0.8rem !important;
 }

button.list-group-item:focus {
     outline: none !important;
}

.list-group-item-action[data-toggle].collapsed:after {
    content: " \02C2";
    /*font-weight: bolder;*/
    float: right;
}

.list-group-item-action[data-toggle]:not(.collapsed):after {
    content: " \02C5";
    /*font-weight: bolder;*/
    float: right;
}

.no-border {
    border: none !important;
}

.marge-top-container {
    max-width: 100% !important;
    /*padding: 0 !important;*/
    margin-top: 5em !important;
}

.warning {
    background-color: #ff726f !important;
    color: white;
    height: inherit !important;
    padding: 0.1em;
}

.custom-file-input ~ .custom-file-label:lang(fr)::after {
    font-weight: 400;
    font-family: "Font Awesome 5 Free";
    content: "\f1c1  Choisir";
}

.iti {
    display: block !important;
}

.hide {
    display: none;
}

.text-black {
    color: black !important;
}

.input-group-text {
    width: 2em !important;
    padding: 0 .5em;
}

.bg-warning-light {
    background-color: #ffc10740 !important;
}

.bg-warning-light-less {
    background-color: #ffc10770 !important;
}

.bg-success-light {
    background-color: #28a74540 !important;
}

.bg-danger-light {
    background-color: #dc354540 !important;
}

.bg-primary-light {
    background-color: #007bff40 !important;
}

.bg-primary-light-less {
    background-color: #007bff70 !important;
}

.bg-info-light {
    background-color: #17a2b840 !important;
}

.bg-info-light-less {
    background-color: #17a2b870 !important;
}

.dropdown-menu {
    max-width: 10em !important;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus{
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border:1px solid #92b0b3;
}

.files{
    position:relative;
    width: 75%;
}

.files:after {  pointer-events: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.color input{ background-color:#f1f1f1;}

.files:before {
    position: absolute;
    bottom: 0px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " ou déposez vos pdf ici. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-align: center;
}

.custom-file-input {
    display: none !important;
}

.custom-file-label {
    display: none;
}