{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Avancement en attente
{% endblock %}

{% block pageTitle %}
    L'avancement de l'affaire N°: {{ affaire.numeroAffaire }} - {{ affaire.designationAffaire }} n'est à ce jour pas encore réalisé.
{% endblock %}

{% block cardHeader %}
    Affaire N°: {{ affaire.numeroAffaire }} - {{ affaire.designationAffaire }} le {{ 'now'|date('d/m/Y') }}
{% endblock %}

{% block cardBody %}
    <p class="card-text">Vous n'avez pas encore enregistré les avancements de l'affaire  N°: {{ affaire.numeroAffaire }}.</p>
    <p class="card-text">Merci de vous rendre sur <a href="{{ url ~ path('sudalys_gestion_affaire', {affaireId: affaire.id}) }}">la page de gestion de l'affaire</a> pour réaliser la saisie des avancements pour le mois de {{date['fullMonthName'] ~ ' ' ~ date['dateObject']|date('Y') }}.</p>
{% endblock %}