<htmlpagefooter name="footer">
<hr>
    <p style="font-size: 12px; text-align: center;">SUDALYS - 265 avenue des entrepreneurs - 30420 CALVISSON</p>
    <p style="font-size: 12px; text-align: center;">SAS au capital de 15 000 € - Siret: 813 320 744 00010 - Code: APE 7112B - TVA Intracom: FR 91 813320744</p>
</htmlpagefooter>


<sethtmlpagefooter name="footer" value="on" />

<table width="100%">
    <tr>
        <td style="width: 50%; padding-bottom: 5%; padding-left: 10%; font-size: 12px;">
            <img src="{{ asset('img/logo.png') }}" style="width:200px;">
        </td>
        <td style="width: 50%; padding-bottom: 5%; padding-left: 25%; font-size: 12px;">
            <div style="text-align: center">
                <h4 style="background-color: lightgray;">ATTACHEMENT</h4>
                <h5>Votre référence: {{attachement.commande.numeroCommande}}</h5>
                <h5>Numéro d'affaire: {{attachement.commande.affaire.numeroAffaire}}</h5>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-bottom: 5%; padding-left: 70%; font-size: 12px;">
            <div>
                <h4>{{attachement.organisme.nom}}</h4>
                <h5>{{attachement.organisme.adresse}}</h5>
                <h5>{{attachement.organisme.stal}}  {{attachement.organisme.ville}}</h5>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 5%; padding-left: 10%; font-size: 12px;">
            <div>
                <h4><span style="background-color: LightGray;">Le {{attachement.dateAttachement|date('d/m/Y')}}</span></h4>
            </div>
        </td>
    </tr>
</table>

<br>

<table width="100%">
    <thead>
        {% if librattachement == false %}
            <tr>
                <th style="border-bottom:1px solid black; font-size: 10px; width: 150px;">Article</th>
                <th style="border-bottom:1px solid black; font-size: 10px;">Prix Unitaire</th>
                <th style="border-bottom:1px solid black; font-size: 10px; width: 30px;">Quantité Cmd</th>
                <th style="border-bottom:1px solid black; font-size: 10px;">Montant Cmd</th>
                <th style="border-bottom:1px solid black; font-size: 10px;">Avancement</th>
                <th style="border-bottom:1px solid black; font-size: 10px;">Montant HT attaché</th>
            </tr>

            {% else %}              
                <tr>
                    <th style="border-bottom:1px solid black; font-size: 10px; width: 80px;">Thème</th>
                    <th style="border-bottom:1px solid black; font-size: 10px;">Article</th>
                    <th style="border-bottom:1px solid black; font-size: 10px;">Unite</th>
                    <th style="border-bottom:1px solid black; font-size: 10px;">Prix Unitaire</th>
                    <th style="border-bottom:1px solid black; font-size: 10px;">Quantité</th>
                    <th style="border-bottom:1px solid black; font-size: 10px;">Montant</th>
                </tr>

        {% endif %}
    </thead>
    <tbody>
        <tr>
            <td colspan="6" style="text-align: left; padding: 2%; font-size: 10px;"><em>{{attachement.mentions}}</em></td>
        </tr>
        {% if librattachement == false %}
            {% for linkedArticle in linkedArticleAttachement %}
                <tr>
                    <td style="padding-bottom: 2%; font-size: 8px; width: 350px">{{linkedArticle.articleCommande.article.nom}}</td>
                    {% if linkedArticle.articleCommande.overrideMontantUnit %}
                        <td style="padding-bottom: 2%; font-size: 8px; text-align: center">{{(linkedArticle.articleCommande.overrideMontantUnit)|number_format(2, ',', ' ') ~ ' €'}}</td>
                        {% else %}
                            <td style="padding-bottom: 2%; font-size: 8px; text-align: center">{{(linkedArticle.articleCommande.article.montantUnitHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                    {% endif %}	
                    <td style="padding-bottom: 2%; font-size: 8px; text-align: center;">{{linkedArticle.articleCommande.quantite}}</td>
                    <td style="padding-bottom: 2%; font-size: 8px; text-align: center">{{(linkedArticle.articleCommande.montantTotalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                    {% if linkedArticle.typeAvancement == 0 %}
                        <td style="padding-bottom: 2%; font-size: 8px; text-align: center">{{linkedArticle.avancement}} unit</td>
                        {% else %}
                            <td style="padding-bottom: 2%; font-size: 8px; text-align: center">{{linkedArticle.avancement}} %</td>
                    {% endif %}
                    <td style="padding-bottom: 2%; font-size: 8px; text-align: center">{{(linkedArticle.montantHtAv)|number_format(2, ',', ' ') ~ ' €'}}</td>
                </tr>
            {% endfor %}

            {% else %}
                
                {% for linkedArticle in attachement.articleLibrattachements %}
                    <tr>
                        <td style="padding-bottom: 2%; font-size: 8px; text-align: center; width: 80px;">{{linkedArticle.article.theme}}</td>
                        <td style="padding-bottom: 2%; font-size: 8px;">{{linkedArticle.article.nom}}</td>
                        {% if linkedArticle.article.unite == 0 %}
                            <td style="padding-bottom: 2%; font-size: 8px; text-align: center">Unitaire</td>
                            {% else %}
                                <td style="padding-bottom: 2%; font-size: 8px; text-align: center">Forfaitaire</td>
                        {% endif %}
                        {% if linkedArticle.overrideMontantUnit %}
                            <td style="padding-bottom: 2%; font-size: 8px; text-align: center">{{(linkedArticle.overrideMontantUnit)|number_format(2, ',', ' ') ~ ' €'}}</td>
                            {% else %}
                                <td style="padding-bottom: 2%; font-size: 8px; text-align: center">{{(linkedArticle.article.montantUnitHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                        {% endif %}	
                        <td style="padding-bottom: 2%; font-size: 8px; text-align: center">{{linkedArticle.quantite}}</td>
                        <td style="padding-bottom: 2%; font-size: 8px; text-align: center">{{(linkedArticle.montantTotalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                    </tr>
                {% endfor %}

        {% endif %}
        <tr>
            <td colspan="6" style="height: 60px"></td>
        </tr>
        <tr>
            <td colspan="5" style="border-top:1px solid black; border-bottom:1px solid black; padding-bottom: 15px; padding-top: 15px; font-size: 10px; text-align: center"><b>Montant Total à Attacher pour l'avancement constaté</b></td>
            <td style="border-top:1px solid black; border-bottom:1px solid black; padding-bottom: 15px; padding-top: 15px; font-size: 10px; text-align: center">{{(attachement.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
        </tr>
        <tr>
            <td colspan="6" style="height: 60px"></td>
        </tr>
    </tbody>
</table>

<table width="100%">
    <thead>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td style="width: 50%; padding-left: 150px; font-size: 12px; padding-bottom: 25px">Pour : </td>
            <td style="width: 50%; padding-left: 150px; font-size: 12px; padding-bottom: 25px">Pour : SUDALYS</td>
        </tr>
        <tr>
            <td style="width: 50%; padding-left: 150px; font-size: 12px; padding-bottom: 25px">Date : </td>
            <td style="width: 50%; padding-left: 150px; font-size: 12px; padding-bottom: 25px">Date : {{attachement.dateAttachement|date('d/m/Y')}}</td>
        </tr>
        <tr>
            <td style="width: 50%; padding-left: 150px; font-size: 12px; padding-bottom: 25px">Nom : </td>
            <td style="width: 50%; padding-left: 150px; font-size: 12px; padding-bottom: 25px">Nom : {{attachement.user.prenom}} {{attachement.user.nom}}</td>
        </tr>
        <tr>
            <td style="width: 50%; padding-left: 150px; font-size: 12px; padding-bottom: 25px">Fonction : </td>
            <td style="width: 50%; padding-left: 150px; font-size: 12px; padding-bottom: 25px">Fonction : </td>
        </tr>
    </tbody>
</table>