{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Tous les avancements des affaire ont été réalisé
{% endblock %}

{% block pageTitle %}
    L'ensemble des chefs de projets ont renseigné les avancements.
{% endblock %}

{% block cardBody %}
    <p class="card-text">Rendez-vous sur la page de validation des avancements des affaires.</p>
{% endblock %}