<!DOCTYPE html>
<html lang="fr">
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta charset="UTF-8">
            <meta name="keywords" content="HTML,CSS,XML,JavaScript">
            <meta name="author" content="Cyril Ahetz-Etcheber">
            <link rel="stylesheet" href="{{ asset('css/bootstrap/origin/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/font-awesome/css/all.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/baseStyle.css') }}">
            <title>
                Email Gest'it
                {% block title %}
                {% endblock %}
            </title>
        </head>
        <body>
        <header>
            <h1 class="text-center">
                {% block pageTitle %}
                {% endblock %}
            </h1>
        </header>
        <main>
            <div class="card no-border">
                <div class="card-header bg-primary">
                    {% block cardHeader %}
                    {% endblock %}
                </div>
                <div class="card-body border">
                    {% block cardBody %}
                    {% endblock %}
                </div>
            </div>
        </main>
        <footer>

        </footer>
    </body>
</html>