{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Commande acceptée
{% endblock %}

{% block pageTitle %}
    La commande n°
    {% if commande.fournisseur is defined %}
        {{ commande.numeroCommandeFourn }}
    {% elseif commande.prestataire is defined %}
        {{ commande.numeroCommandePresta }}
    {% endif %}
     a été acceptée par Pierre-Gabriel BERARD.
{% endblock %}

{% block cardBody %}
    <p class="card-text">.
        {% if commande.fournisseur is defined %}
            La commande n° {{ commande.numeroCommandeFourn }}  à destination de {{ commande.fournisseur.nom }} - {{ commande.totalHT|number_format(2, ',', ' ') }}
            émise le {{ commande.dateCommandeFourn|date('d/m/Y') }} a étè acceptée.
        {% elseif commande.prestataire is defined %}
            La commande n° {{ commande.numeroCommandePresta }}  à destination de {{ commande.prestataire.nom }} - {{ commande.totalHT|number_format(2, ',', ' ') }}
            émise le {{ commande.dateCommandePresta|date('d/m/Y') }} a étè acceptée.
        {% endif %}
    </p>
    <p class="card-text">
        Rendez-vous sur la page de <a href="
            {% if commande.fournisseur is defined %}
                {{ url ~ path('sudalys_gestion_detail_affaire') ~ '#commandeMateriel' }}
            {% elseif commande.prestataire is defined %}
                {{ url ~ path('sudalys_gestion_detail_affaire') ~ '#commandePrestation' }}
            {% endif %}
        ">gestion des commandes</a> pour la transmettre à votre interlocuteur.
    </p>
{% endblock %}
