{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Commande de matériels refusé
{% endblock %}

{% block pageTitle %}
    Commande de matériels n°
    {% if commande.fournisseur is defined %}
        {{ commande.numeroCommandeFourn }}
    {% elseif commande.prestataire is defined %}
        {{ commande.numeroCommandePresta }}
    {% endif %} refusé
{% endblock %}

{% block cardBody %}
    <p class="card-text">
        La commande de matériels n°
        {% if commande.fournisseur is defined %}
            {{ commande.numeroCommandeFourn }} émis le {{ commande.dateCommandeFourn|date('d/m/Y') }}
        {% elseif commande.prestataire is defined %}
            {{ commande.numeroCommandePresta }} émis le {{ commande.dateCommandePresta|date('d/m/Y') }}
        {% endif %}
         a étè refusé par le service administratif.
    </p>
    {% if reason is not null %}
        <p class="card-text">
            {{ reason }}
        </p>
    {% endif %}
{% endblock %}
