<table width="100%">
    <tr>
        <td style="width: 50%; padding-bottom: 2%; height: 4cm">
            <img src="{{ asset('img/logo.png') }}" style="width:200px;">
        </td>
        <td style="width: 50%; padding-bottom: 2%; padding-left: 10%; font-size: 14px; height: 3.8cm">
            <div>
                <h3>DEVIS N° {{devis.numeroDevis}}</h3>
                <h5>Date du devis: {{devis.dateDevis|date('d/m/Y')}}</h5>
                {% if devis.affaire is not null %}
                    <h5>Numéro d'affaire: {{devis.affaire.numeroAffaire}}</h5>
                {% endif %}
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-bottom: 2%; padding-top: 3%; padding-left: 55%; font-size: 14px;">
            <div>
                <h4 style="text-transform: uppercase;">{{devis.organisme.nom}}</h4>
                <h5>{{devis.organisme.adresse}}</h5>
                <h5>{{devis.organisme.stal}}  {{devis.organisme.ville}}</h5>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 5%; font-size: 12px;">
            <div>
                <h4>Votre interlocuteur</h4>
                <p><strong>Prénom et nom : </strong>{{devis.user.prenom|capitalize}} {{devis.user.nom|upper}}</p>
                <p><strong>Mobile : </strong>{{ devis.user.mobile }}</p>
                <p><strong>Fixe : </strong>{{ devis.user.telephone }}</p>
                <p><strong>Email : </strong>{{devis.user.email}}</p>
            </div>
        </td>
    </tr>
</table>

<br>

<table width="100%">
    <thead>
        <tr>
            <th style="border-bottom:1px solid black; font-size: 12px; width: 80px;">Thème</th>
            <th style="border-bottom:1px solid black; font-size: 12px;">Article</th>
            <th style="border-bottom:1px solid black; font-size: 12px;">Unite</th>
            <th style="border-bottom:1px solid black; font-size: 12px;">Prix Unitaire</th>
            <th style="border-bottom:1px solid black; font-size: 12px;">Quantité</th>
            <th style="border-bottom:1px solid black; font-size: 12px;">Montant</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="6" style="text-align: left; padding: 2%; font-size: 12px;"><em>{{devis.libelle}}</em></td>
        </tr>
        {% for linkedArticle in linkedArticleDevis %}
            <tr>
                <td style="padding-bottom: 2%; font-size: 10px; text-align: center; width: 80px;">{{linkedArticle.article.theme}}</td>
                <td style="padding-bottom: 2%; font-size: 10px;">{{linkedArticle.article.nom}}</td>
                {% if linkedArticle.article.unite == 0 %}
                    <td style="padding-bottom: 2%; font-size: 10px; text-align: center">Unitaire</td>
                    {% else %}
                        <td style="padding-bottom: 2%; font-size: 10px; text-align: center">Forfaitaire</td>
                {% endif %}
                {% if linkedArticle.overrideMontantUnit %}
                    <td style="padding-bottom: 2%; font-size: 10px; text-align: center">{{(linkedArticle.overrideMontantUnit)|number_format(2, ',', ' ') ~ ' €'}}</td>
                    {% else %}
                        <td style="padding-bottom: 2%; font-size: 10px; text-align: center">{{(linkedArticle.article.montantUnitHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                {% endif %}	
                <td style="padding-bottom: 2%; font-size: 10px; text-align: center">{{linkedArticle.quantite}}</td>
                <td style="padding-bottom: 2%; font-size: 10px; text-align: center">{{(linkedArticle.montantTotalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% if devis.conditionsParticulieres %}
    <div style=" font-size: 12px; margin-left: 25%; margin-right: 25%; margin-top: 25px">
        <h4>Conditions particulières</h4>
        <p>{{ devis.conditionsParticulieres|nl2br}}</p>
    </div>
{% endif %}


<htmlpagefooter name="legal_footer">
    <table width="100%">
        <thead>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            <tr>
                <td style="width: 60%;"></td>
                <td style="width: 20%; border-top:1px solid black; padding-top: 1%; font-size: 12px; text-align: center"><b>Total HT</b></td>
                <td style="width: 20%; border-top:1px solid black; padding-top: 1%; font-size: 12px; text-align: center">{{(devis.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
            </tr>
            <tr>
                <td style="width: 60%;"></td>
                <td style="width: 20%; font-size: 12px; text-align: center">TVA</td>
                <td style="width: 20%; font-size: 10px; text-align: center">{{devis.TVA * 100 ~ '%'}}</td>
            </tr>
            {% if devis.remise %}
                <tr>
                    <td style="width: 60%;"></td>
                    <td style="width: 20%; border-bottom:1px solid black; padding-bottom: 1%; font-size: 10px; text-align: center">Remise</td>
                    <td style="width: 20%; border-bottom:1px solid black; padding-bottom: 1%; font-size: 10px; text-align: center">{{devis.remise * 100 ~ '%'}}</td>
                </tr>
            {% endif %}
            <tr>
                <td style="width: 60%;"></td>
                <td style="width: 20%; padding-top: 1%; font-size: 12px; text-align: center"><b>Total TTC</b></td>
                <td style="width: 20%; padding-top: 1%; font-size: 12px; text-align: center">{{(devis.totalTTC)|number_format(2, ',', ' ') ~ ' €'}}</td>
            </tr>
            <tr>
                <td colspan="3" style="font-size: 12px;"><b>Validité de l'offre: 2 mois</b></td>
            </tr>
            <tr>
                <td colspan="3" style="padding-bottom: 2%; font-size: 10px;">Conditions de règlement: 30 jour(s) Net(s).</td>
            </tr>
            <tr>
                <td style="font-size: 12px; height: 100px; text-align: center">Merci de nous retourner ce devis avec la mention "Bon pour Accord", revêtu de votre cachet et de votre signature</td>
                <td colspan="2" style="font-size: 12px; height: 100px; border: 1px solid black"></td>
            </tr>
        </tbody>
    </table>

    <hr>
    <p style="font-size: 12px; text-align: center;">SUDALYS - 7 Bis chemin des côtes - 30420 CALVISSON</p>
    <p style="font-size: 12px; text-align: center;">SAS au capital de 15 000 € - Siret: 813 320 744 00010 - Code: APE 7112B - TVA Intracom: FR 91 813320744</p>
</htmlpagefooter>

{# <sethtmlpagefooter name="total_footer" value="on" /> #}
<sethtmlpagefooter name="legal_footer" value="on" />


