{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Validation
{% endblock %}

{% block pageTitle %}
    Validation d'une facture de
    {% if facture.fournisseur is defined %}
        matériel.
    {% elseif facture.prestataire %}
        prestations.
    {% endif %}
{% endblock %}

{% block cardHeader %}
    La Facture n°
    {% if facture.fournisseur is defined %}
        {{ facture.numeroFactureFournisseur }}
    {% elseif facture.prestataire %}
        {{ facture.numeroFacturePrestataire }}
    {% endif %}
     attend votre validation
{% endblock %}

{% block cardBody %}
    <p class="card-text">
        La facture n°
        {% if facture.fournisseur is defined %}
            {{ facture.numeroFactureFournisseur }} du fournisseur {{ facture.fournisseur.nom }}
        {% elseif facture.prestataire %}
            {{ facture.numeroFacturePrestataire }} du prestataire {{ facture.prestataire.nom }}
        {% endif %}
         a était saisie le {{ facture.dateSaisie|date('d/m/Y') }}
        par le service administratif.
    </p>
    <p class="card-text">

        {% if facture.fournisseur is defined %}
            <a href="{{ url ~ path('sudalys_gestion_view_factureFournisseur', {factureId: facture.id}) }}">Visualisez la facture.</a></p>
        {% elseif facture.prestataire %}
            <a href="{{ url ~ path('sudalys_gestion_view_facturePrestataire', {factureId: facture.id}) }}">Visualisez la facture.</a></p>
        {% endif %}

{% endblock %}
