{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Facture en attente de traitement par le service administratif.
{% endblock %}

{% block cardHeader %}
    Facture n° {{ facture.numeroFacture }} ({{ facture.totalHT }} €) - Affaire n°: {{ facture.affaire.numeroAffaire }} : {{ facture.affaire.designationAffaire }}
{% endblock %}

{% block cardBody %}
    <p class="card-text">La facture n° {{ facture.numeroFacture }} a été présentée à la validation du service administratif le {{ facture.datePresaisie|date('d/m/Y') }} par {{ facture.user.prenom|capitalize ~ ' ' ~ facture.user.nom|upper }}.</p>
    <p class="card-text">
        Rendez-vous sur le <a href="{{ url ~ path('sudalys_gestion_dashboard_administratif_vente')~ '#preSaisieFacture' }}">dashboard administratif</a> pour valider la facture.
    </p>
{% endblock %}
