<htmlpagefooter name="footer">
<hr>
    <p style="font-size: 12px; text-align: center;">SUDALYS - 265 avenue des entrepreneurs - 30420 CALVISSON</p>
    <p style="font-size: 12px; text-align: center;">SAS au capital de 15 000 € - Siret: 813 320 744 00010 - Code: APE 7112B - TVA Intracom: FR 91 813320744</p>
</htmlpagefooter>


<sethtmlpagefooter name="footer" value="on" />

<table width="100%">
    <tr>
        <td style="width: 50%; padding-bottom: 5%; padding-left: 10%; font-size: 12px;">
            <img src="{{ asset('img/logo.png') }}" style="width:200px;">
        </td>
        <td style="width: 50%; padding-bottom: 5%; padding-left: 25%; font-size: 12px;">
            <div>
                <h4>FACTURE N° {{facture.numeroFacture}}</h4>
                <h5>Date de la facture: {{facture.dateFacture|date('d/m/Y')}}</h5>
                <h5>Bon de Commande: {{numero}}</h5>
                <h5>Numéro d'affaire: {{facture.affaire.numeroAffaire}}</h5>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="padding-bottom: 5%; padding-left: 70%; font-size: 12px;">
            <div>
                <h4>{{facture.organisme.nom}}</h4>
                <h5>{{facture.organisme.adresse}}</h5>
                <h5>{{facture.organisme.stal}}  {{facture.organisme.ville}}</h5>
            </div>
        </td>
    </tr>
    <tr>
        <td style="padding-bottom: 5%; padding-left: 10%; font-size: 12px;">
            <div>
                <h4>Votre interlocuteur</h4>
                <p>Pierre-Gabriel BERARD</p>
                <p>pg.berard@sudalys.fr</p>
                <p>Téléphone 07 89 54 60 64</p>
            </div>
        </td>
    </tr>
</table>

<br>

<table width="100%">
    <thead>
        <tr>
            <th style="border-bottom:1px solid black; font-size: 12px;">Désignation de la Prestation</th>
            <th style="border-bottom:1px solid black; font-size: 12px;">Prix Unitaire</th>
            <th style="border-bottom:1px solid black; font-size: 12px;">Quantité</th>
            <th style="border-bottom:1px solid black; font-size: 12px;">Montant</th>
        </tr>
    </thead>
    <tbody>
        {% if parentOperation == "attachement" %}
            <td colspan="6" style="text-align: left; padding: 2%; font-size: 12px;">
                <em>
                    Attachement du {{attachement.dateAttachement|date('d/m/Y')}}.
                    {% if facture.interetApplique == 1 %}
                        En raison du retard de paiement de la dû facture, une majoration de {{ facture.tauxInteret * 100 }} % a était appliqué.
                    {% endif %}
                </em>
            </td>
        {% endif %}
        <tr>
            <td colspan="6" style="text-align: left; padding: 2%; font-size: 12px;"><b>{{facture.mentions}}</b></td>
        </tr>
        {% for linkedArticle in linkedArticleFacture %}
            <tr>
                <td style="padding-bottom: 2%; font-size: 10px;">{{linkedArticle.articleDevis.article.nom}}</td>
                {% if linkedArticle.overrideMontantUnit %}
                    <td style="padding-bottom: 2%; font-size: 10px; text-align: center">{{(linkedArticle.overrideMontantUnit)|number_format(2, ',', ' ') ~ ' €'}}</td>
                    {% else %}
                        <td style="padding-bottom: 2%; font-size: 10px; text-align: center">{{(linkedArticle.article.montantUnitHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                {% endif %}	
                <td style="padding-bottom: 2%; font-size: 10px; text-align: center">{{linkedArticle.quantite}}</td>
                <td style="padding-bottom: 2%; font-size: 10px; text-align: center">{{(linkedArticle.montantTotalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="6" style="height: 80px"></td>
        </tr>
    </tbody>
</table>

<table width="100%">
    <thead>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>
        <tr>
            <td style="width: 60%;"></td>
            <td style="width: 20%; border-top:1px solid black; padding-top: 1%; font-size: 12px; text-align: center"><b>Sous-total</b></td>
            <td style="width: 20%; border-top:1px solid black; padding-top: 1%; font-size: 12px; text-align: center">{{(facture.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
        </tr>
        <tr>
            <td style="width: 60%;"></td>
            <td style="width: 20%; font-size: 12px; text-align: center">TVA</td>
            <td style="width: 20%; font-size: 10px; text-align: center">{{facture.TVA * 100 ~ '%'}}</td>
        </tr>
        <tr>
            <td style="width: 60%;"></td>
            <td style="width: 20%; font-size: 10px; text-align: center">Remise</td>
            <td style="width: 20%; font-size: 10px; text-align: center">{{facture.remise * 100 ~ '%'}}</td>
        </tr>
        <tr>
            <td style="width: 60%;"></td>
            <td style="width: 20%; font-size: 10px; text-align: center">Taux intérêt de retard</td>
            <td style="width: 20%; font-size: 10px; text-align: center">{{facture.tauxInteret * 100 ~ '%'}}</td>
        </tr>
        <tr>
            <td style="width: 60%;"></td>
            <td style="width: 20%; font-size: 10px; padding-bottom: 1%; text-align: center">Montant intérêt de retard</td>
            <td style="width: 20%; font-size: 10px; padding-bottom: 1%; text-align: center">
                {% if facture.interetApplique == 1 %}
                    {{(facture.totalHT * facture.tauxInteret)|number_format(2, ',', ' ') ~ ' €'}}
                {% else %}
                    0 €
                {% endif %}
            </td>
        </tr>
        <tr>
            <td style="width: 60%;"></td>
            <td style="width: 20%; border-bottom:1px solid black; border-top:1px solid black; padding-bottom: 1%; padding-top: 1%; font-size: 12px; text-align: center"><b>Total HT</b></td>
            <td style="width: 20%; border-bottom:1px solid black; border-top:1px solid black; padding-bottom: 1%; padding-top: 1%; font-size: 12px; text-align: center">
                {% if facture.interetApplique == 1 %}
                    {{(facture.totalHT * (1 + facture.tauxInteret))|number_format(2, ',', ' ') ~ ' €'}}
                {% else %}
                    {{(facture.totalHT)|number_format(2, ',', ' ') ~ ' €'}}
                {% endif %}

            </td>
        </tr>
        <tr>
            <td style="width: 60%;"></td>
            <td style="width: 20%; padding-top: 1%; font-size: 12px; text-align: center"><b>Total TTC</b></td>
            <td style="width: 20%; padding-top: 1%; font-size: 12px; text-align: center">{{(facture.totalTTC)|number_format(2, ',', ' ') ~ ' €'}}</td>
        </tr>
        <tr>
            <td colspan="3" style="padding-top: 8%; font-size: 12px;"><b>Validité de l'offre: 2 mois</b></td>
        </tr>
        <tr>
            <td colspan="3" style="padding-bottom: 8%; font-size: 10px;">Conditions de règlement: 30 jour(s).</td>
        </tr>
        <tr>
            <td style="font-size: 12px; height: 100px; text-align: center">Merci de nous retourner ce facture avec la mention "Bon pour Accord", revêtu de votre cachet et de votre signature</td>
            <td colspan="2" style="font-size: 12px; height: 100px; border: 1px solid black"></td>
        </tr>
    </tbody>
</table>