{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Facture de matériel validé
{% endblock %}

{% block pageTitle %}
    Facture de matériel n°
    {% if facture.fournisseur is defined %}
        {{ facture.numeroFactureFournisseur }}
    {% elseif facture.prestataire is defined %}
        {{ facture.numeroFacturePrestataire }}
    {% endif %}
     validé
{% endblock %}

{% block cardHeader %}
    La facture n°
    {% if facture.fournisseur is defined %}
        {{ facture.numeroFactureFournisseur }}
    {% elseif facture.prestataire is defined %}
        {{ facture.numeroFacturePrestataire }}
    {% endif %} saisie le {{ facture.dateSaisie|date('d/m/Y') }} a été validé par {{ facture.affaire.attributions[0].user.nom|capitalize ~ ' ' ~ facture.affaire.attributions[0].user.prenom|upper }}.
{% endblock %}

{% block cardBody %}
    <p class="card-text">
        Rendez-vous sur la page de <a href="
            {% if facture.fournisseur is defined %}
                {{ url ~ path('sudalys_gestion_dashboard_administratif_achat') ~ '#factureMateriel' }}
            {% elseif facture.prestataire is defined %}
                {{ url ~ path('sudalys_gestion_dashboard_administratif_achat') ~ '#factureMateriel' }}
            {% endif %}
        ">gestion des factures reçus</a>.
    </p>
{% endblock %}
