{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Facture reçus refusé
{% endblock %}

{% block pageTitle %}
    Facture n° {{ facture.numeroFactureFournisseur }} a été refusé par {{ facture.affaire.attributions[0].user.nom|capitalize ~ ' ' ~ facture.affaire.attributions[0].user.prenom|upper }}.
{% endblock %}

{% block cardBody %}
{% endblock %}
