{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Facture traitée par le service administratif.
{% endblock %}

{% block pageTitle %}
    Facture {{ facture.numeroFacture }} ({{ facture.totalHT }} €) - Affaire n°: {{ facture.affaire.numeroAffaire }} : {{ facture.affaire.designationAffaire }}
{% endblock %}

{% block cardBody %}
    <p class="card-text">
        La facture n° {{ facture.numeroFacture }} a été émise à destination de {{ facture.client.nom }} le {{ facture.dateFacture|date('d/m/Y') }} par le service administratif.
    </p>
{% endblock %}
