{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Demande de référencement
    {% if type == 'organismeFournisseur' %}
        fournisseur
    {% else %}
        prestataire
    {% endif %}
{% endblock %}

{% block pageTitle %}
    {{ user.prenom|capitalize ~ ' ' ~ user.nom|upper }} demande un référencement d'un
    {% if type == 'organismeFournisseur' %}
        fournisseur
    {% else %}
        prestataire
    {% endif %}
{% endblock %}

{% block cardBody %}
    <p class="card-text">
        Le {{"now"|date('d/m/Y')}}, Cyril AHETZ-ETCHEBER à effectué une demande de référencement du fournisseur {{ organisme.nom }}.
        Rendez-vous sur la page de <a href="{{ url ~ path('sudalys_gestion_dashboard_administratif_fournisseur') ~ '#' ~ index  }}"> référencement des fournisseur </a> pour accepter ou refuser le fournisseur.
    </p>
{% endblock %}
