{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Attribution
{% endblock %}

{% block pageTitle %}
    Affaire n° {{ attribution.affaire.numeroAffaire }} : {{ attribution.affaire.designationAffaire }}
{% endblock %}

{% block cardHeader %}
    Félicitation {{ attribution.user.prenom|capitalize ~ ' ' ~ attribution.user.nom|upper }}
{% endblock %}

{% block cardBody %}
    <p class="card-text">Le {{ 'now'|date('d/m/Y')}} Pierre-Gabriel BERARD vous a attribué le rôle de chef de projet sur l'affaire n° {{ attribution.affaire.numeroAffaire }} rendez-vous sur le <a href="{{ url ~ path('sudalys_gestion_detail_affaire', {affaireId: attribution.affaire.id }) }}">détail de l'affaire</a>.
{% endblock %}
