{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Devis refusé
{% endblock %}

{% block pageTitle %}
    Devis n° {{ devis.numeroDevis }} a été refusé par Pierre-Gabriel BERARD.
{% endblock %}

{% block cardBody %}
{% endblock %}
