{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Devis validé
{% endblock %}

{% block pageTitle %}
    Devis n° {{ devis.numeroDevis }} validé
{% endblock %}

{% block cardHeader %}
    Le devis n° {{ devis.numeroDevis }} émis le {{ devis.dateDevis|date('d/m/Y') }} a été validé par Pierre-Gabriel BERARD.
{% endblock %}

{% block cardBody %}
    <p class="card-text">
        Rendez-vous sur la page
        {% if affaire is not null %}de
            <a href="{{ url ~ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#devis' }}">votre affaire</a>
        {% else %}des
            <a href="{{ url ~ path('sudalys_gestion_home') ~ '#devis' }}">devis sans affaire</a>
        {% endif %}
         pour le télécharger et l'envoyer à votre client.
    </p>
{% endblock %}
