{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Validation
{% endblock %}

{% block pageTitle %}
    Validation d'un devis
    {% if affaire is null %} sans affaire{% endif %}
{% endblock %}

{% block cardHeader %}
    Le devis n° {{ devis.numeroDevis }}{% if affaire is null %} sans affaire{% endif %} attend votre validation
{% endblock %}

{% block cardBody %}
    <p class="card-text">
        Le devis n° {{ devis.numeroDevis }} a était émis le {{ devis.dateDevis|date('d/m/Y') }}
        par {{ devis.user.prenom|capitalize ~ ' ' ~ devis.user.nom|upper }}.
    </p>
    <p class="card-text">
        {% if affaire is not null %}
            <a href="{{ url ~ path('sudalys_gestion_edit_devis', {affaireId: affaire.id, devisId: devis.id}) }}">Visualisez le devis.</a></p>
        {% else %}
            <a href="{{ url ~ path('sudalys_gestion_edit_devis_orphan', {devisId: devis.id}) }}">Visualisez le devis.</a></p>
        {% endif %}
{% endblock %}
