{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Demande de validation exceptionnelle de commande.
{% endblock %}

{% block pageTitle %}
    Le plafond de l'affaire N°: {{ commande.affaire.numeroAffaire }} a été dépassé.
{% endblock %}

{% block cardBody %}
    <p class="card-text">Lors de l'établissement de la commande N°:
        {% if commande.fournisseur is defined %}
            {{ commande.numeroCommandeFourn }} à destination de {{ commande.fournisseur.nom }}
        {% elseif commande.prestataire is defined %}
            {{ commande.numeroCommandePresta }} à destination de {{ commande.prestataire.nom }}
        {% endif %} - {{ commande.totalHT|number_format(2, ',', ' ') }},
        émise par {{ user.prenom|capitalize ~ ' ' ~ user.nom|upper }}, le plafond fixé dans le budget de l'affaire {{ commande.affaire.numeroAffaire }} a été dépassé.</p>
    <p class="card-text">
        Rendez-vous sur la page de <a href="
            {% if commande.fournisseur is defined %}
                {{ url ~ path('sudalys_gestion_detail_affaire', {'affaireId': commande.affaire.id}) ~ '#commandeMateriel' }}
            {% elseif commande.prestataire is defined %}
                {{ url ~ path('sudalys_gestion_detail_affaire', {'affaireId': commande.affaire.id}) ~ '#commandePrestation' }}
            {% endif %}
        ">gestion des commandes</a>.
    </p>
{% endblock %}
