{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Demande de dérogation exceptionnelle d'engagement.
{% endblock %}

{% block cardHeader %}
    Le montant maximum autorisé pour l'engagement de la société est dépassé
{% endblock %}

{% block cardBody %}
    <p class="card-text">{{ user.prenom|capitalize ~ ' ' ~ user.nom|upper }} a dépassé le montant maximum autorisé de {{ commande.affaire.attributions[0].plafondOperation }} €
        lors de l'établissement de la commande N°:
        {% if commande.fournisseur is defined %}
            {{ commande.numeroCommandeFourn }} à destination de {{ commande.fournisseur.nom }}
        {% elseif commande.prestataire is defined %}
            {{ commande.numeroCommandePresta }} à destination de {{ commande.prestataire.nom }}
        {% endif %}
         - {{ commande.totalHT|number_format(2, ',', ' ') }} €.
    </p>
    <p class="card-text">
        Rendez-vous sur la page de <a href="
            {% if commande.fournisseur is defined %}
                {{ url ~ path('sudalys_gestion_detail_affaire', {'affaireId': commande.affaire.id}) ~ '#commandeMateriel' }}
            {% elseif commande.prestataire is defined %}
                {{ url ~ path('sudalys_gestion_detail_affaire', {'affaireId': commande.affaire.id}) ~ '#commandePrestation' }}
            {% endif %}
        ">gestion des commandes</a>.
    </p>
{% endblock %}
