{% extends 'GestionBundle:Export:baseEmail.html.twig' %}

{% block title %}
    Référencement
    {% if fournisseur is defined %}
        fournisseur
    {% elseif prestataire is defined %}
        prestataire
    {% endif %}
{% endblock %}

{% block pageTitle %}
    {% if fournisseur is defined %}
        Le fournisseur {{ fournisseur.nom }} n'est pas référencé.
    {% elseif prestataire is defined %}
        Le prestataire {{ prestataire.nom }} n'est pas référencé.
    {% endif %}
{% endblock %}

{% block cardBody %}
    <p class="card-text">
        {% if fournisseur is defined %}
            Le référencement du fournisseur {{ fournisseur.nom }} a été refusé.
        {% elseif prestataire is defined %}
            Le référencement du prestataire {{ prestataire.nom }} a été refusé.
        {% endif %}
    </p>
{% endblock %}
