{% form_theme form 'bootstrap_4_layout.html.twig' %}

<div class="card bg-light mb-3" >
    <div class="card-header">Choisir un Article</div>
    <div class="card-body" style="padding: 2em">
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
</div>