{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'attr':{'id': 'formProductFournisseur'}}) }}
	{{ form_errors(form) }}
	{{ form_widget(form) }}
{{ form_end(form) }}

<script>
	$(document).ready(function() {
		// Appel la function pour afficher les input tel avec les codes pays
		formatTelType();
		checkFormValidity($('#formProductFournisseur'));
	});
</script>