{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <div class="card w-50 mx-auto">
            <div class="card-header bg-primary text-white font-weight-bold">Finalisation de la facture</div>
            <div class="card-body">
                {{ include('GestionBundle:Default:createSaisieFacturePrestataireChaine.html.twig') }}
                <button type="button" class="btn btn-success" onclick="$('#formSaisieFacture').trigger('submit')">Enregistrer</button>
            </div>
        </div>
    </div>

    <div class="modal fade show-pdf bg-transparent pdf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg bg-transparent no-border">
            <div class="modal-content bg-transparent no-border">
                <div class="modal-header p-0 bg-transparent no-border">
                    <button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <iframe id="embed" class="w-100" height="600px" src=""></iframe>
            </div>
        </div>
    </div
{% endblock %}

{% block javascripts %}
    <script>

        // Fonction pour ouvrir la modal de visionnement d'un document avant upload
        function openModal(elem) {
            var url = $(elem).data('path');
            $('.modal.fade.show-pdf.bg-transparent.pdf').modal();
            $('#embed').attr('src', url);
            $('.modal.fade.show-pdf.bg-transparent.pdf').modal('show');
        }
        $(document).ready(function () {
            $('.selectpicker').selectpicker('refresh');
            checkFormValidity($('#formSaisieFacture'));
            changeLabels();
            // Affichage des de l'input du KBIS file
            $('#gestionbundle_facturefournisseur_documentAttache').change(function(e) {
                $('#showFilesAttache').find('p').each(function() {
                    $(this).remove();
                });
                var input = e.target;
                var i = 0;
                var listOfNames = [];
                for (var file of input.files) {
                    listOfNames[file.size] = [file.name, i];
                    var reader = new FileReader();
                    reader.readAsDataURL(input.files[i]);
                    reader.file = listOfNames;
                    reader.onload = function(e) {
                        $('#showFilesAttache').append(`
								<p>
									<button type="button" class="btn btn-default deletePdf" data-index="${reader.file[e.total][1]}">
										<i class="fas fa-times text-danger" title="Suppression du document dans la liste"></i>
									</button>
									<a role="button" class="btn btn-light border-primary" onclick="openModal(this)" data-path="${e.target.result}">
										<i class="fas fa-eye text-primary"></i></a>&nbsp;<span class="names"></span>${reader.file[e.total][0]}
								<p>`)
                    };
                    i++
                }
            });
            // Suppression du pdf dans l'input file
            $(document).on('click', '.deletePdf', function() {
                var files;
                var index = $(this).attr('data-index');
                files = document.getElementById('documentAttache').files
                var newFiles = [];
                for (file in files) {
                    if (file != index && Number.isInteger(parseInt(file))) {
                        newFiles.push(new File([files[file]], files[file].name));
                    }
                }
                document.getElementById('documentAttache').files = FileListItem(newFiles);
                $('#gestionbundle_facturefournisseur_documentAttache').trigger('change');
            });
            // au chargement de la page on initialise le datepicker avec ses options
            $('.js-datepicker').datepicker({
                format: 'dd/mm/yyyy',
                language: 'fr'
            });
        })
    </script>
{% endblock %}