{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'attr':{'id': 'formSaisieFacture'}}) }}
	{{ form_errors(form) }}
	{% if facture.dateSaisie and facture.validation == 1 %}
		{{ form_row(form) }}
	{% else %}
		{{ form_row(form.affaire) }}
		{{ form_row(form.numeroFacturePrestataire) }}
		{{ form_row(form.mentions) }}
		{{ form_row(form.adresseFacturation) }}
	{#	{{ form_row(form.modePaiement) }}#}
		{{ form_row(form.dateFacture, {'attr':{'class': 'js-datepicker'}}) }}
		{{ form_row(form.dateEcheance, {'attr':{'class': 'js-datepicker'}}) }}
		<div class="row mt-3">
			<div class="col-5 my-auto">{{ form_label(form.documentAttache) }}</div>
			<div class="col-7 my-auto">
				<button type="button" class="btn btn-outline-secondary" onclick="$('#documentAttache').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir une facture</button>
				<div class="custom-file" hidden>
					<input type="file" class="custom-file-input" id="documentAttache" name="gestionbundle_factureprestataire[document]" lang="fr"  accept=".pdf">
				</div>
				{{ form_widget(form.documentAttache) }}
			</div>
			<div class="col-7 my-auto">
				<div id="showFilesAttache">
				</div>
			</div>
		</div>
		{{ form_row(form.detailFacture) }}
		{{ form_row(form.totalHT, {'attr': {'class': 'comma'}}) }}
		{{ form_row(form.TVA) }}
	{% endif %}
{{ form_end(form) }}

<script>
	// Fonction pour ouvrir la modal de visionnement d'un document avant upload
	function openModal(elem) {
		var url = $(elem).data('path');
		$('.modal.fade.show-pdf.bg-transparent.pdf').modal();
		$('#embed').attr('src', url);
		$('.modal.fade.show-pdf.bg-transparent.pdf').modal('show');
	}
	$(document).ready(function () {
		$('.selectpicker').selectpicker('refresh');
		checkFormValidity($('#formSaisieFacture'));
		changeLabels();
		// Affichage des de l'input du KBIS file
		$('#documentAttache').change(function(e) {
			$('#showFilesAttache').find('p').each(function() {
				$(this).remove();
			});
			var input = e.target;
			var i = 0;
			var listOfNames = [];
			for (var file of input.files) {
				listOfNames[file.size] = [file.name, i];
				var reader = new FileReader();
				reader.readAsDataURL(input.files[i]);
				reader.file = listOfNames;
				reader.onload = function(e) {
					$('#showFilesAttache').append(`
								<p>
									<button type="button" class="btn btn-default deletePdf" data-index="${reader.file[e.total][1]}">
										<i class="fas fa-times text-danger" title="Suppression du document dans la liste"></i>
									</button>
									<a role="button" class="btn btn-light border-primary" onclick="openModal(this)" data-path="${e.target.result}">
										<i class="fas fa-eye text-primary"></i></a>&nbsp;<span class="names"></span>${reader.file[e.total][0]}
								<p>`)
				};
				i++
			}
		});
		// Suppression du pdf dans l'input file
		$(document).on('click', '.deletePdf', function() {
			var files;
			var index = $(this).attr('data-index');
			files = document.getElementById('documentAttache').files
			var newFiles = [];
			for (file in files) {
				if (file != index && Number.isInteger(parseInt(file))) {
					newFiles.push(new File([files[file]], files[file].name));
				}
			}
			document.getElementById('documentAttache').files = FileListItem(newFiles);
			$('#documentAttache').trigger('change');
		});
		// au chargement de la page on initialise le datepicker avec ses options
		$('.js-datepicker').datepicker({
			format: 'dd/mm/yyyy',
			language: 'fr'
		});
	})
</script>