{% form_theme form 'bootstrap_4_layout.html.twig' %}

	{{ form_start(form, {'action': path('sudalys_gestion_auto_attribution', {affaireId: affaireId}), 'attr' : {'id' : 'formAttributionAuto'}}) }}
	<div class="modal-header bg-primary">
		<h4 class="modal-title text-white font-weight-bold" id="myModalLabel">Enregistrer une nouvelle attribution</h4>
	</div>
	<div class="modal-body">
		{{ form_errors(form) }}
		{{ form_widget(form.affaire) }}
		{{ form_row(form.user) }}
		{{ form_row(form.plafondOperation) }}
	</div>
	<div class="modal-footer bg-primary">
		<button type="button" class="btn btn-default text-white font-weight-bold" data-dismiss="modal">Annuler</button>
		{{ form_row(form.enregistrer, {'attr' : {'class':'btn btn-light'}}) }}
	</div>
	{{ form_end(form) }}

	<script>
		$(document).ready(function() {
			checkFormValidity($('#formAttribution'));
			$('.selectpicker').selectpicker('refresh');
		})
	</script>