{#{% extends "base.html.twig" %}#}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{{ form_start(form, {'attr':{'id': 'formAffaire'}}) }}
	{{ form_errors(form) }}
	{{ form_widget(form) }}
{{ form_end(form) }}
<script>
	$(document).ready(function() {
		changeLabels();
		// lancement de la vérification du formulaire
		checkFormValidity('form');
		// au chargement de la page on initialise le datepicker avec ses options
		$('.js-datepicker').datepicker({
			format: 'dd/mm/yyyy',
			language: 'fr'
		});
		/**
		 * Setup des selectpicker
		 */
		$('.organisme').selectpicker({
			noneSelectedText: 'Aucun organisme',
			noneResultsText: 'Aucun organisme trouvé'
		});
		$('.livraison').selectpicker({
			noneSelectedText: 'Aucune adresse de livraison',
			noneResultsText: 'Aucune adresse de livraison trouvée'
		});
		$('.facturation').selectpicker({
			noneSelectedText: 'Aucune adresse de facturation',
			noneResultsText: 'Aucune adresse de facturation trouvée'
		});
		// Lors de la sélection d'un organisme on charge la liste des adresses
		$('#create_affaire_organisme').change(function () {
			// suppression de toutes les options avec une valeur (pour conserver l'option vide)
			$('#create_affaire_adresseFacturation').find('option').each(function () {
				if ($(this).val() !== '') {
					$(this).remove();
				}
			})
			$('#create_affaire_adresseLivraison').find('option').each(function () {
				if ($(this).val() !== '') {
					$(this).remove();
				}
			})
			var orgaId = $(this).val(); // Récupération de l'id de l'organisme
			var url = '/organisme/adresse/' + orgaId // Set url avec l'id
			if (orgaId) { // Si il y a une id
				$.get(url, function (data) { // Récupération du formulaire
					for (var adresse of data) {
						var comp = ""; // Initialise une variable de type string
						if (adresse.adresseComplementaire1 != null) { // Si il y a une adresse complémentaire 1
							comp = ', ' + adresse.adresseComplementaire1; // On concaténe
						}
						if (adresse.adresseComplementaire2 != null) { // Idem ici
							comp += ', ' + adresse.adresseComplementaire2;
						}
						// Création de l'option avec les valeurs reçus
						var option = `<option value="${adresse.id}">${adresse.nom} : ${adresse.adresse}${comp}, ${adresse.stal} ${adresse.ville}</option>`;
						// Append les options reçus aux 2 selectpicker
						$('#create_affaire_adresseFacturation').append(option);
						$('#create_affaire_adresseLivraison').append(option);
					}
					$('.selectpicker').selectpicker('refresh'); // Rafraichissement des sélectpicker pour afficher les informations reçus
				})
			}
		})
	})
</script>
