{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'attr':{'id': 'formEstimationAjax'}}) }}
	{{ form_errors(form) }}
	{{ form_widget(form) }}
{{ form_end(form) }}

<script>
	addCommaAll();
	changeLabels();
	checkFormValidity('#formEstimationAjax');
	$('.prestataire').selectpicker({
		noneSelectedText: 'Aucun prestataire',
		noneResultsText: 'Aucun prestataire trouvé'
	});$('.fournisseur').selectpicker({
		noneSelectedText: 'Aucun fournisseur',
		noneResultsText: 'Aucun fournisseur trouvé'
	});
</script>