{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'attr':{'id': 'formSaisieFacture'}}) }}
	{{ form_errors(form) }}
	{{ form_row(form.affaire) }}
	{{ form_row(form.numeroFacturePrestataire) }}
	{{ form_row(form.mentions) }}
	{{ form_row(form.adresseFacturation) }}
	{{ form_row(form.dateFacture, {'attr':{'class': 'js-datepicker'}}) }}
	<div class="row mt-3">
		<div class="col-5 my-auto">{{ form_label(form.documentAttache) }}</div>
		<div class="col-7 my-auto">
			<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_factureprestataire_documentAttache').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir une facture</button>
			{{ form_widget(form.documentAttache) }}
		</div>
		<div class="col-7 my-auto">
			<div id="showFilesAttache">
			</div>
		</div>
	</div>
	{{ form_row(form.detailFacture) }}
	{{ form_row(form.totalHT, {'attr': {'class': 'comma'}}) }}
	{{ form_row(form.TVA) }}
{{ form_end(form) }}