{% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form_start(form, {'attr':{'id': 'formArticle'}}) }}
        {{ form_errors(form) }}
        <div id="theme">
            {{ form_row(form.theme) }}
        </div>
        <div class="mt-1">
            {{ form_label(form.nom) }}&nbsp;
            {% if editArticleDevis is defined %}
                <a role="button" data-container="body" data-toggle="popover" data-placement="bottom"
                   data-placement="right" title="Information désignation" data-content="Pour changer la désignation il faut modifier l'article d'origin. Attention, changer la désignation de l'article d'origin, changera ça désignation dans tous les devis. Il est conseillé de créer un nouvel article.">
                    <i class="fas fa-info-circle" style="color: #008cba"></i>
                </a>
            {% else %}
                <a role="button" class="btn btn default" data-container="body" data-toggle="popover" data-placement="bottom"
                   data-placement="right" title="Information désignation" data-content="Nom de l'article">
                    <i class="fas fa-info-circle" style="color: #008cba"></i>
                </a>
            {% endif %}
            {{ form_widget(form.nom) }}
        </div>
        <div class="mt-1">
            {{ form_label(form.description) }}&nbsp;<a role="button" class="btn btn default" data-container="body" data-toggle="popover" data-placement="right" title="Information description" data-content="Détails de l'article"><i class="fas fa-info-circle" style="color: #008cba"></i></a>
            {{ form_widget(form.description) }}
        </div>
        <div class="mt-1">
            {{ form_row(form.unite) }}
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        });
        /**
         * Crée un lien permettant de créer un input text pour ajouter un thème
         */
        var themeDiv = document.getElementById('theme');
        var addTheme = document.createElement('button');
        addTheme.innerHTML = '<i class="fas fa-plus-circle text-success"></i> Ajouter un thème';
        addTheme.setAttribute('onclick', 'showInputCreate()');
        addTheme.classList.add('btn', 'btn-light', 'border-success', 'm-2', 'inline');
        addTheme.href = "#";
        themeDiv.firstElementChild.appendChild(addTheme);
        /**
         * Crée un lien permettant de créer un input text pour modifier le thème sélectionné
         */
        var modifyTheme = document.createElement('button');
        modifyTheme.innerHTML = '<i class="fas fa-edit text-primary"></i> Modifier le thème';
        modifyTheme.setAttribute('onclick', 'showInputModify()');
        modifyTheme.classList.add('btn', 'btn-light', 'border-primary', 'm-2', 'inline');
        modifyTheme.href = "#";
        themeDiv.firstElementChild.appendChild(modifyTheme);
        /**
         * Fonction qui génére un input text pour l'ajout d'un thème
         */
        function showInputCreate() {
            var inputGroup = createInputgroup();
            var inputTheme = document.createElement('input'); // Crée l'élément
            // Ajjoute les attributs
            inputTheme.setAttribute('id', 'send_theme');
            inputTheme.setAttribute('type', 'text');
            inputTheme.setAttribute('onchange', 'insertTheme()'); // Ajoute la fonction d'envoi
            // Ajoute le placeholder
            inputTheme.placeholder = 'Appuyer sur la touche Entrée pour valider';
            // Ajoute la classe pour le style
            inputTheme.classList.add('form-control');
            // Supprime le lien
            themeDiv.firstElementChild.removeChild(addTheme);
            themeDiv.firstElementChild.removeChild(modifyTheme);
            // Ajoute l'input
            inputGroup.prepend(inputTheme);
            themeDiv.firstElementChild.appendChild(inputGroup);
            inputTheme.select(); // Met l'input en selection automatique sur l'écran
        }
        /**
         * Fonction qui génére un input text pour la modification d'un thème
         */
        function showInputModify() {
            var select = document.getElementById('create_article_theme');
            var themeId = select[select.selectedIndex].value;
            var inputGroup = createInputgroup();
            var inputTheme = document.createElement('input'); // Crée l'élément
            // Ajjoute les attributs
            inputTheme.setAttribute('id', 'modify_theme');
            inputTheme.setAttribute('type', 'text');
            inputTheme.value = select[select.selectedIndex].innerHTML;
            inputTheme.setAttribute('onchange', 'sendModifyTheme()'); // Ajoute la fonction d'envoi
            // Ajoute le placeholder
            inputTheme.placeholder = 'Appuyer sur la touche Entrée pour valider';
            // Ajoute la classe pour le style
            inputTheme.classList.add('form-control');
            // Supprime le lien
            themeDiv.firstElementChild.removeChild(addTheme);
            themeDiv.firstElementChild.removeChild(modifyTheme);
            // Ajoute l'input
            inputGroup.prepend(inputTheme);
            themeDiv.firstElementChild.appendChild(inputGroup);
            inputTheme.select(); // Met l'input en selection automatique sur l'écran
        }
        /**
         * Fonction qui permet l'envoi du thème saisie en requête AJAX
         */
        function insertTheme() {
            var inputGroup = document.getElementById('group');
            var sendTheme = document.getElementById('send_theme');
            var data = sendTheme.value;
            inputGroup.remove();
            $.ajax( {
                method: 'POST',
                url: '/theme/create',
                data: data,
                success: function(response) {
                    if(response.status === 'success') {
                        themeDiv.firstElementChild.appendChild(addTheme);
                        themeDiv.firstElementChild.appendChild(modifyTheme);
                        var select = document.getElementById('create_article_theme');
                        var option = document.createElement('option');
                        option.text = data;
                        option.value = response.data.id;
                        select.add(option);
                        select.selectedIndex = select.options.length - 1;
                    } else {
                        console.log(response)
                        showAlertFlash(exceptionHandler(response.message, 'thème'));
                        themeDiv.firstElementChild.appendChild(addTheme);
                        themeDiv.firstElementChild.appendChild(modifyTheme);
                    }
                }
            });
        }
        /**
         * Fonction qui permet l'envoi du thème saisie en requête AJAX
         */
        function sendModifyTheme() {
            var inputGroup = document.getElementById('group');
            var select = document.getElementById('create_article_theme');
            var themeId = select[select.selectedIndex].value;
            var data = {data : document.getElementById('modify_theme').value};
            inputGroup.remove();
            $.ajax( {
                method: 'PUT',
                url: '/theme/editer/' + themeId,
                data: data,
                success: function(response) {
                    if(response.status === 'success') {
                        themeDiv.firstElementChild.appendChild(addTheme);
                        themeDiv.firstElementChild.appendChild(modifyTheme);
                        select[select.selectedIndex].innerText = data.data;
                        showSuccessFlash(response.message)
                    } else {
                        showAlertFlash(exceptionHandler(response.message, 'thème'));
                        themeDiv.firstElementChild.appendChild(addTheme);
                        themeDiv.firstElementChild.appendChild(modifyTheme);
                    }
                }
            });
        }
        /**
         * Fonction pour créer un input group
         */
        function createInputgroup() {
            var inputGroup = document.createElement('div');
            inputGroup.classList.add('input-group', 'm-1');
            inputGroup.setAttribute('id', 'group');
            var groupAppend = document.createElement('div');
            groupAppend.classList.add('input-group-append');
            groupAppend.id = 'close';
            var button = document.createElement('span');
            button.classList.add('input-group-text', 'btn', 'btn-default');
            var icon = document.createElement('i');
            icon.classList.add('fas', 'fa-times', 'text-info');
            button.appendChild(icon);
            groupAppend.appendChild(button);
            inputGroup.appendChild(groupAppend);
            return inputGroup;
        }
        /**
         * Suppression de l'input et affichage des buttons sur le button #close
         */
        $(document).on('click', '#close', function() {
            $('#group').remove();
            themeDiv.firstElementChild.appendChild(addTheme);
            themeDiv.firstElementChild.appendChild(modifyTheme);
        });
        $(document).ready(function() {
            checkFormValidity($('#formArticle'));
        })
    </script>