{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'attr':{'id': 'formModePaiement'}}) }}
	{{ form_errors(form) }}
	{{ form_widget(form) }}
	<button type="submit" class="btn btn-outline-success"><i class="fas fa-plus-circle"></i>&nbsp;Ajouter</button>
{{ form_end(form) }}