{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-6">Gestion ventes</h1>
        <hr class="my-4">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs row no-border">
            <li class="nav-item col-auto col-lg">
                <button id="showFacture" class="btn-outline-primary border-primary font-weight-bold nav-link w-100" data-toggle="tab" href="#facture"><h4>Factures</h4></button>
            </li>
            <li class="nav-item col-auto col-lg">
                <button id="showAvoir" class="btn-outline-info border-info font-weight-bold nav-link w-100" data-toggle="tab" href="#avoir"><h4>Avoirs</h4></button>
            </li>
        </ul>
        <!-- end Nav tabs -->
        <hr class="my-4">
        <div class="tab-content" style="height: 200px">
            <div class="tab-pane" id="facture">
                <!-- Nav tabs facture -->
                <ul class="nav nav-tabs row no-border">
                    <li class="nav-item col-auto col-lg p-0 pr-1">
                        <button id="showPreSaisieFacture" class="btn-outline-warning border-warning font-weight-bold nav-link w-100" data-toggle="tab" href="#preSaisieFacture">
                            <span class="p-1 float-right badge badge-pill bg-transparent">{{ facturePreSaisie|length }}</span>
                            Pré-saisie
                        </button>
                    </li>
                    <li class="nav-item col-auto col-lg p-0 pr-1">
                        <button id="showToValidFacture" class="btn-outline-info border-info font-weight-bold nav-link w-100" data-toggle="tab" href="#envoiFacture">
                            <span class="p-1 float-right badge badge-pill bg-transparent">{{ factureEnAttente|length }}</span>
                            En attente d'envoi
                        </button>
                    </li>
                    <li class="nav-item col-auto col-lg p-0 pr-1">
                        <button id="showPendingPaymentFacture" class="btn-outline-primary border-primary font-weight-bold nav-link w-100" data-toggle="tab" href="#paiementFacture">
                            En attente de paiement
                            <span class="p-1 float-right badge badge-pill bg-transparent">{{ factureEnAttentePaiement|length }}</span>
                        </button>
                    </li>
                    <li class="nav-item col-auto col-lg p-0 pr-1">
                        <button id="showInLateFacture" class="btn-outline-danger border-danger font-weight-bold nav-link w-100" data-toggle="tab" href="#impayeeFacture">
                            <span class="p-1 float-right badge badge-pill bg-transparent">{{ inLateFacture|length }}</span>
                            Retard de paiement
                        </button>
                    </li>
                    <li class="nav-item col-auto col-lg p-0 pr-1">
                        <button id="showPaiedFacture" class="btn-outline-success border-success font-weight-bold nav-link w-100" data-toggle="tab" href="#payeeFacture">
                            Payée
                            <span class="p-1 float-right badge badge-pill bg-transparent">{{ facturePaye|length }}</span>
                        </button>
                    </li>
                </ul>
                <!-- end Nav tabs facture -->
                <div class="tab-content">
                    <!-- Facture pré-saisie -->
                    <div class="tab-pane" id="preSaisieFacture">
                        <dl class="float-right mb-2 row">
                            <dt class="col-4 my-auto">
                                <label for="searchPreSaisie">Rechercher</label>
                            </dt>
                            <dd class="col">
                                <input class="form-control" type="search" id="searchPreSaisie">
                            </dd>
                        </dl>
                        <h3 class="display-6 m-4">Liste des factures pré-saisies</h3>
                        {% if facturePreSaisie is not empty %}
                            <table class="table table-hover bg-light" style="text-align: center">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th scope="col">Numéro</th>
                                        <th scope="col">Client</th>
                                        <th scope="col">Mentions</th>
                                        <th scope="col">Date de pré-saisie</th>
                                        <th scope="col">Total HT</th>
                                        <th scope="col">Documents associés</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for affaire in affaireListPreSaisie %}
                                    <tr class="bg-transparent my-auto searchTablePreSaisie">
                                        <td class="text-left font-weight-bold" colspan="5">{{ affaire.numeroAffaire }} : {{ affaire.designationAffaire }} - {{ affaire.attributions[0].user.prenom|capitalize ~ ' ' ~ affaire.attributions[0].user.nom|upper  }}</td>
                                    </tr>
                                    {% for facture in facturePreSaisie %}
                                        {% if facture.affaire.id == affaire.id %}
                                            <tr class="border-bottom searchTablePreSaisie">
                                                <td class="align-middle">{{facture.numeroFacture}}<span hidden>{{ facture.affaire.numeroAffaire }}</span></td>
                                                <td class="align-middle">
                                                    {{ facture.client.nom }}
                                                </td>
                                                <td class="align-middle" style="max-width: 22rem">{{facture.mentions}}</td>
                                                <td class="align-middle">{{facture.datePresaisie|date('d/m/Y')}}</td>
                                                <td class="align-middle" style="min-width:6rem">{{(facture.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
                                                <td class="align-middle">
                                                    {% if facture.attachementDoc|length > 0 %}
                                                        {% for doc in facture.attachementDoc %}
                                                            <p><a target="_blank" href="/uploads/FactureDocs/{{ doc }}">
                                                                {%  set splitted = doc|split('-')  %}
                                                                {{ splitted[0] }}
                                                                </a></p>
                                                        {% endfor %}
                                                    {% else %}
                                                        <p>Aucun document associé uploadé</p>
                                                    {% endif %}
                                                </td>
                                                <td class="align-middle">
                                                    {% if facture.attachementDoc|length == 0 %}
                                                        <button class="addPdfSituation btn btn-link" data-id="{{ facture.id }}" data-href="preSaisieFacture" title="Associé des documents">
                                                            <i class="fas fa-cloud-upload-alt"></i>
                                                        </button>
                                                    {% endif %}
                                                    <button class="editFacture btn btn-link" data-href="{{ path('sudalys_gestion_edit_facture', {'factureId': facture.id, 'affaireId': facture.affaire.id}) }}" data-toggle="tooltip" title="modifier">
                                                        <i class="fas fa-edit"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h4 class="text-center">Aucune facture pré-saisie</h4>
                        {% endif %}
                    </div>
                    <!-- Fin Facture pré-saisie -->
                    <!-- Facture en attente d'envoi -->
                    <div class="tab-pane" id="envoiFacture">
                        <dl class="float-right mb-2 row">
                            <dt class="col-4 my-auto">
                                <label for="searchEnAttente">Rechercher</label>
                            </dt>
                            <dd class="col">
                                <input class="form-control" type="search" id="searchEnAttente">
                            </dd>
                        </dl>
                        <h3 class="display-6 m-4">Liste des factures en attente d'envoi</h3>
                        {% if factureEnAttente is not empty %}
                            <table class="table table-hover bg-light" style="text-align: center">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th scope="col">Numéro</th>
                                        <th scope="col">Client</th>
                                        <th scope="col">Mentions</th>
                                        <th scope="col">Date d'émission</th>
                                        <th scope="col">Total HT</th>
                                        <th scope="col">Date d'échéance</th>
                                        <th scope="col">Documents associés</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for affaire in affaireListEnAttente %}
                                    <tr class="bg-transparent my-auto searchTableEnAttente">
                                        <td class="text-left font-weight-bold" colspan="5">{{ affaire.numeroAffaire }} : {{ affaire.designationAffaire }} - {{ affaire.attributions[0].user.prenom|capitalize ~ ' ' ~ affaire.attributions[0].user.nom|upper  }}</td>
                                    </tr>
                                    {% for facture in factureEnAttente %}
                                        {% if facture.affaire.id == affaire.id %}
                                            <tr class="searchTableEnAttente">
                                                <td class="align-middle">{{facture.numeroFacture}}<span hidden>{{ facture.affaire.numeroAffaire }}</span></td>
                                                <td class="align-middle">
                                                    {{ facture.client.nom }}
                                                </td>
                                                <td class="align-middle" style="max-width: 22rem">{{facture.mentions}}</td>
                                                <td class="align-middle">{{facture.dateFacture|date('d/m/Y')}}</td>
                                                <td class="align-middle" style="min-width:6rem">{{(facture.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
                                                {% if facture.dateEcheance != null %}
                                                    <td class="align-middle">{{facture.dateEcheance|date('d/m/Y')}}</td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                                <td class="align-middle">
                                                    {% if facture.attachementDoc|length > 0 %}
                                                        {% for doc in facture.attachementDoc %}
                                                            <p><a target="_blank" href="/uploads/FactureDocs/{{ doc }}">
                                                                {%  set splitted = doc|split('-')  %}
                                                                {{ splitted[0] }}
                                                            </a></p>
                                                        {% endfor %}
                                                    {% else %}
                                                        <p>Aucun document à associé uploadé</p>
                                                    {% endif %}
                                                </td>
                                                <td class="align-middle">
                                                    {% if facture.attachementDoc|length == 0 %}
                                                        <button class="addPdfSituation btn btn-link" data-id="{{ facture.id }}" data-href="envoiFacture" title="Associé des documents">
                                                            <i class="fas fa-cloud-upload-alt"></i>
                                                        </button>
                                                    {% endif %}
                                                    <button class="pdfFacture btn btn-link" data-href="{{ path('sudalys_gestion_pdfexport_facture', { 'affaireId': facture.affaire.id, 'factureId': facture.id } ) }}" data-toggle="tooltip" title="Télécharger un PDF">
                                                        <i class="fas fa-file-pdf"></i>
                                                    </button>
                                                    <button data-href="{{ path('sudalys_gestion_facture_sent', {factureId: facture.id}) }}" class="sentFacture btn btn-link">
                                                        <i class="fas fa-share"></i>
                                                    </button>
                                                    <a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_facture', {display: 'true', factureId: facture.id, affaireId: facture.affaire.id}) }}" title="Visionner">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h4 class="text-center">Aucune facture en attente d'envoi</h4>
                        {% endif %}
                    </div>
                    <!-- Fin Facture en attente d'envoi -->
                    <!-- Facture en attente de paiement -->
                    <div class="tab-pane" id="paiementFacture">
                        <dl class="float-right mb-2 row">
                            <dt class="col-4 my-auto">
                                <label for="searchEnAttentePaiement">Rechercher</label>
                            </dt>
                            <dd class="col">
                                <input class="form-control" type="search" id="searchEnAttentePaiement">
                            </dd>
                        </dl>
                        <h3 class="display-6 m-4">Liste des factures en attente de paiement</h3>
                        {% if factureEnAttentePaiement is not empty %}
                            <table class="table table-hover bg-light" style="text-align: center">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th scope="col">Numéro</th>
                                        <th scope="col">Client</th>
                                        <th scope="col">Mentions</th>
                                        <th scope="col">Date d'émission</th>
                                        <th scope="col">Total HT</th>
                                        <th scope="col">Date du paiement</th>
                                        <th scope="col">Documents associés</th>
                                        <th scope="col">Avoir</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for affaire in affaireListEnAttentePaiement %}
                                    <tr class="bg-transparent my-auto searchTableEnAttentePaiement">
                                        <td class="text-left font-weight-bold" colspan="5">{{ affaire.numeroAffaire }} : {{ affaire.designationAffaire }} - {{ affaire.attributions[0].user.prenom|capitalize ~ ' ' ~ affaire.attributions[0].user.nom|upper  }}</td>
                                    </tr>
                                    {% for facture in factureEnAttentePaiement %}
                                        {% if facture.affaire.id == affaire.id %}
                                            <tr class="searchTableEnAttentePaiement">
                                                <td class="align-middle">{{facture.numeroFacture}}<span hidden>{{ facture.affaire.numeroAffaire }}</span></td>
                                                <td class="align-middle">
                                                    {{ facture.client.nom }}
                                                </td>
                                                <td class="align-middle" style="max-width: 22rem">{{facture.mentions}}</td>
                                                <td class="align-middle">{{facture.dateFacture|date('d/m/Y')}}</td>
                                                <td class="align-middle" style="min-width:6rem">
                                                    {% if facture.avoir is null %}
                                                        {{(facture.totalHT)|number_format(2, ',', ' ') ~ '€'}}
                                                    {% else %}
                                                        {{(facture.totalHT - facture.avoir.montant)|number_format(2, ',', ' ') ~ '€'}}
                                                    {% endif %}
                                                </td>
                                                {% if facture.dateEcheance != null %}
                                                    <td class="align-middle">{{facture.dateEcheance|date('d/m/Y')}}</td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                                <td class="align-middle">
                                                    {% if facture.attachementDoc|length > 0 %}
                                                        {% for doc in facture.attachementDoc %}
                                                            <p><a target="_blank" href="/uploads/FactureDocs/{{ doc }}">
                                                                {%  set splitted = doc|split('-')  %}
                                                                {{ splitted[0] }}
                                                            </a></p>
                                                        {% endfor %}
                                                    {% else %}
                                                        <p>Aucun document associé uploadé</p>
                                                    {% endif %}
                                                </td>
                                                <td class="align-middle">
                                                    {% if facture.avoir is null %}
                                                        Aucun avoir
                                                    {% else %}
                                                        <button class="showEditCreditModal btn btn-link" data-href="{{ path('sudalys_gestion_edit_avoir', {'avoirId': facture.avoir.id}) }}" data-toggle="tooltip" title="modifier">
                                                            <i class="fas fa-eye"></i>
                                                        </button>
                                                    {% endif %}
                                                </td>
                                                <td class="align-middle">
                                                    <button class="showPaymentModal btn btn-link" data-href="{{ path('sudalys_gestion_paied_facture', { 'factureId': facture.id } ) }}" data-toggle="tooltip" title="Paiement de la facture">
                                                        <i class="fas fa-euro-sign"></i>
                                                    </button>
                                                    {% if facture.avoir is null %}
                                                        <button class="showCreditModal btn btn-link" data-href="{{ path('sudalys_gestion_create_avoir', { 'factureId': facture.id } ) }}" data-toggle="tooltip" title="Création d'un avoir">
                                                            <i class="fas fa-tag"></i>
                                                        </button>
                                                    {% endif %}
                                                    <button class="pdfFacture btn btn-link" data-href="{{ path('sudalys_gestion_pdfexport_facture', { 'affaireId': facture.affaire.id, 'factureId': facture.id } ) }}" data-toggle="tooltip" title="Télécharger un PDF">
                                                        <i class="fas fa-file-pdf"></i>
                                                    </button>
                                                    <a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_facture', {display: 'true', factureId: facture.id, affaireId: facture.affaire.id}) }}" title="Visionner">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h4 class="text-center">Aucune facture en attente de paiement</h4>
                        {% endif %}
                    </div>
                    <!-- Fin Facture en attente de paiement -->
                    <!-- Facture en retard de paiement -->
                    <div class="tab-pane" id="impayeeFacture">
                        <dl class="float-right mb-2 row">
                            <dt class="col-4 my-auto">
                                <label for="searchInLate">Rechercher</label>
                            </dt>
                            <dd class="col">
                                <input class="form-control" type="search" id="searchInLate">
                            </dd>
                        </dl>
                        <h3 class="display-6 m-4">Liste des factures en retard de paiement</h3>
                        {% if inLateFacture is not empty %}
                            <table class="table table-hover bg-light" style="text-align: center">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th scope="col">Numéro</th>
                                        <th scope="col">Client</th>
                                        <th scope="col">Mentions</th>
                                        <th scope="col">Date d'émission</th>
                                        <th scope="col">Total HT</th>
                                        <th scope="col">Indemnité de retard</th>
                                        <th scope="col">Date d'échéance</th>
                                        <th scope="col">{{ 'retard'|capitalize }}</th>
                                        <th scope="col">Documents associés</th>
                                        <th scope="col">Avoir</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for affaire in affaireListInLateFacture %}
                                    <tr class="bg-transparent my-auto searchTableInLate">
                                        <td class="text-left font-weight-bold" colspan="5">{{ affaire.numeroAffaire }} : {{ affaire.designationAffaire }} - {{ affaire.attributions[0].user.prenom|capitalize ~ ' ' ~ affaire.attributions[0].user.nom|upper  }}</td>
                                    </tr>
                                    {% for facture in inLateFacture %}
                                        {% if facture.affaire.id == affaire.id %}
                                            <tr class="searchTableInLate">
                                                <td class="align-middle">{{facture.numeroFacture}}<span hidden>{{ facture.affaire.numeroAffaire }}</span></td>
                                                <td class="align-middle">
                                                    {{ facture.client.nom }}
                                                </td>
                                                <td class="align-middle" style="max-width: 22rem">{{facture.mentions}}</td>
                                                <td class="align-middle">{{facture.dateFacture|date('d/m/Y')}}</td>
                                                {% if facture.interetApplique == true %}
                                                    {% if facture.avoir is null %}
                                                        {{(facture.totalHT * (1 + facture.tauxInteret))|number_format(2, ',', ' ') ~ '€'}}
                                                    {% else %}
                                                        {{((facture.totalHT - facture.avoir.montant) * (1 + facture.tauxInteret))|number_format(2, ',', ' ') ~ '€'}}
                                                    {% endif %}
                                                    <td class="align-middle" style="min-width:6rem">
                                                        {% if facture.avoir is null %}
                                                            {{(facture.totalHT)|number_format(2, ',', ' ') ~ '€'}}
                                                        {% else %}
                                                            {{(facture.totalHT - facture.avoir.montant)|number_format(2, ',', ' ') ~ '€'}}
                                                        {% endif %}
                                                    </td>
                                                {% else %}
                                                    <td class="align-middle" style="min-width:6rem">{{(facture.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
                                                {% endif %}
                                                {% if facture.interetApplique == true %}
                                                    <td class="align-middle">Oui</td>
                                                {% else %}
                                                    <td class="align-middle">Non</td>
                                                {% endif %}
                                                {% if facture.dateEcheance != null %}
                                                    <td class="align-middle">{{facture.dateEcheance|date('d/m/Y')}}</td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                                <td class="align-middle"><span class="badge badge-pill badge-danger">{{facture.ecart ~ ' jours'}}</span></td>
                                                <td class="align-middle">
                                                    {% if facture.attachementDoc|length > 0 %}
                                                        {% for doc in facture.attachementDoc %}
                                                            <p><a target="_blank" href="/uploads/FactureDocs/{{ doc }}">
                                                                {%  set splitted = doc|split('-')  %}
                                                                {{ splitted[0] }}
                                                            </a></p>
                                                        {% endfor %}
                                                    {% else %}
                                                        <p>Aucun document associé uploadé</p>
                                                    {% endif %}
                                                </td>
                                                <td class="align-middle">
                                                    {% if facture.avoir is null %}
                                                        Aucun avoir
                                                    {% else %}
                                                        <button class="showEditCreditModal btn btn-link" data-href="{{ path('sudalys_gestion_edit_avoir', {'avoirId': facture.avoir.id}) }}" data-toggle="tooltip" title="modifier">
                                                            <i class="fas fa-eye"></i>
                                                        </button>
                                                    {% endif %}
                                                </td>
                                                <td class="align-middle">
                                                    <button class="showPaymentModal btn btn-link" data-href="{{ path('sudalys_gestion_paied_facture', { 'factureId': facture.id } ) }}" data-toggle="tooltip" title="Paiement de la facture">
                                                        <i class="fas fa-euro-sign"></i>
                                                    </button>
                                                    <button class="showIndemniteModal btn btn-link" data-href="{{ path('sudalys_gestion_indemnite_facture', { 'factureId': facture.id} ) }}" data-toggle="tooltip" title="Indémnité de retard">
                                                        <i class="fas fa-clock"></i>
                                                    </button>
                                                    {% if facture.avoir is null %}
                                                        <button class="showCreditModal btn btn-link" data-href="{{ path('sudalys_gestion_create_avoir', { 'factureId': facture.id } ) }}" data-toggle="tooltip" title="Création d'un avoir">
                                                            <i class="fas fa-tag"></i>
                                                        </button>
                                                    {% endif %}
                                                    <button class="pdfFacture btn btn-link" data-href="{{ path('sudalys_gestion_pdfexport_facture', { 'affaireId': facture.affaire.id, 'factureId': facture.id } ) }}" data-toggle="tooltip" title="Télécharger un PDF">
                                                        <i class="fas fa-file-pdf"></i>
                                                    </button>
                                                    <a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_facture', {display: 'true', factureId: facture.id, affaireId: facture.affaire.id}) }}" title="Visionner">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h4 class="text-center">Aucune facture en retard de paiement</h4>
                        {% endif %}
                    </div>
                    <!-- Fin Facture en retard de paiement -->
                    <!-- Facture payée -->
                    <div class="tab-pane" id="payeeFacture">
                        <dl class="float-right mb-2 row">
                            <dt class="col-4 my-auto">
                                <label for="searchPaye">Rechercher</label>
                            </dt>
                            <dd class="col">
                                <input class="form-control" type="search" id="searchPaye">
                            </dd>
                        </dl>
                        <h3 class="display-6 m-4">Liste des factures payée</h3>
                        {% if facturePaye is not empty %}
                            <table class="table table-hover bg-light" style="text-align: center">
                                <thead>
                                <tr class="bg-primary text-white">
                                    <th scope="col">Numéro</th>
                                    <th scope="col">Client</th>
                                    <th scope="col">Mentions</th>
                                    <th scope="col">Date d'émission</th>
                                    <th scope="col">Total HT</th>
                                    <th scope="col">Date du paiement</th>
                                    <th scope="col">{{ 'écart'|capitalize }}</th>
                                    <th scope="col">Documents associés</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for affaire in affaireListPayeFacture %}
                                    <tr class="bg-transparent my-auto searchTablePaye">
                                        <td class="text-left font-weight-bold" colspan="5">{{ affaire.numeroAffaire }} : {{ affaire.designationAffaire }} - {{ affaire.attributions[0].user.prenom|capitalize ~ ' ' ~ affaire.attributions[0].user.nom|upper  }}</td>
                                    </tr>
                                    {% for facture in facturePaye %}
                                        {% if facture.affaire.id == affaire.id %}
                                            <tr class="searchTablePaye">
                                                <td class="align-middle">{{facture.numeroFacture}}<span hidden>{{ facture.affaire.numeroAffaire }}</span></td>
                                                <td class="align-middle">
                                                    {{ facture.client.nom }}
                                                </td>
                                                <td class="align-middle" style="max-width: 22rem">{{facture.mentions}}</td>
                                                <td class="align-middle">{{facture.dateFacture|date('d/m/Y')}}</td>
                                                <td class="align-middle" style="min-width:6rem">
                                                    {% if facture.avoir is null %}
                                                        {{(facture.totalHT)|number_format(2, ',', ' ') ~ '€'}}
                                                    {% else %}
                                                        {{(facture.totalHT - facture.avoir.montant)|number_format(2, ',', ' ') ~ '€'}}
                                                    {% endif %}
                                                </td>
                                                {% if facture.dateEcheance != null %}
                                                    <td class="align-middle">{{facture.datePaiement|date('d/m/Y')}}</td>
                                                {% else %}
                                                    <td></td>
                                                {% endif %}
                                                {% if facture.ecart != null %}
                                                    {% if facture.ecart > 0 %}
                                                        <td class="align-middle"><span class="badge badge-pill badge-danger">{{facture.ecart ~ ' jours'}}</span></td>
                                                    {% endif %}
                                                {% else %}
                                                    <td class="align-middle"><span class="badge badge-pill badge-success">{{0 ~ ' jours'}}</span></td>
                                                {% endif %}
                                                <td class="align-middle">
                                                    {% if facture.attachementDoc|length > 0 %}
                                                        {% for doc in facture.attachementDoc %}
                                                            <p><a target="_blank" href="/uploads/FactureDocs/{{ doc }}">
                                                                {%  set splitted = doc|split('-')  %}
                                                                {{ splitted[0] }}
                                                                </a></p>
                                                        {% endfor %}
                                                    {% else %}
                                                        <p>Aucun document associé uploadé</p>
                                                    {% endif %}
                                                </td>
                                                <td class="align-middle">
                                                    <button class="pdfFacture btn btn-link" data-href="{{ path('sudalys_gestion_pdfexport_facture', { 'affaireId': facture.affaire.id, 'factureId': facture.id } ) }}" data-toggle="tooltip" title="Télécharger un PDF">
                                                        <i class="fas fa-file-pdf"></i>
                                                    </button>
                                                    <a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_facture', {display: 'true', factureId: facture.id, affaireId: facture.affaire.id}) }}" title="Visionner">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <h4 class="text-center">Aucune facture payée</h4>
                        {% endif %}
                    </div>
                    <!-- Fin Facture payé -->
                </div>
            </div>
            <div class="tab-pane" id="avoir">
                <dl class="float-right mb-2 row">
                    <dt class="col-4 my-auto">
                        <label for="searchAvoir">Rechercher</label>
                    </dt>
                    <dd class="col">
                        <input class="form-control" type="search" id="searchAvoir">
                    </dd>
                </dl>
                <h3 class="display-6 m-4">Liste des avoirs</h3>
                {% if avoirs is not empty %}
                    <table class="table table-hover bg-light" style="text-align: center">
                        <thead>
                        <tr class="bg-primary text-white">
                            <th scope="col">Numéro</th>
                            <th scope="col">Facture</th>
                            <th scope="col">Client</th>
                            <th scope="col">Motif</th>
                            <th scope="col">Date d'émission</th>
                            <th scope="col">Montant</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for affaire in affaireListAvoir %}
                            <tr class="bg-transparent my-auto searchTableAvoir">
                                <td class="text-left font-weight-bold" colspan="5">{{ affaire.numeroAffaire }} : {{ affaire.designationAffaire }} - {{ affaire.attributions[0].user.prenom|capitalize ~ ' ' ~ affaire.attributions[0].user.nom|upper  }}</td>
                            </tr>
                            {% for avoir in avoirs %}
                                {% if avoir.facture.affaire.id == affaire.id %}
                                    <tr class="searchTableAvoir">
                                        <td class="align-middle">{{ avoir.numeroAvoir }}</td>
                                        <td class="align-middle">{{ avoir.facture.numeroFacture }}</td>
                                        <td class="align-middle">
                                            {{ avoir.facture.client.nom }}
                                        </td>
                                        <td class="align-middle">{{ avoir.motif }}</td>
                                        <td class="align-middle">{{ avoir.date|date('d/m/Y') }}</td>
                                        <td class="align-middle">{{ avoir.montant|number_format(2, ',', '') }} €</td>
                                        <td class="align-middle">
                                            <button class="pdfCMDE btn btn-link col-6 my-auto" data-href="#" data-toggle="tooltip" title="Télécharger un PDF(pas actif)">
                                                <i class="fas fa-file-pdf"></i>
                                            </button>
                                            <button class="showEditCreditModal btn btn-link" data-href="{{ path('sudalys_gestion_edit_avoir', {'avoirId': avoir.id}) }}" data-toggle="tooltip" title="modifier">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h4 class="text-center">Aucun avoir</h4>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Modal d'upload d'un document associé -->
    <div class="modal fade uploadAttachementPdf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white font-weight-bold">
                    Upload de documents associés à la facture
                    <button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="uploadSituation" class="input-group mb-3">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputFile" lang="fr"  accept=".pdf" multiple>
                            <label class="custom-file-label" for="inputFile">Choisi un ou plusieur fichiers (pdf uniquement)</label>
                        </div>
                    </div>
                    <div id="showUpload"></div>
                    <p class="text-secondary">Vérifiez toujours si le document téléchargé est le bon !</p>
                </div>
                <div class="modal-footer bg-primary p-1">
                    <button id="uploaderSituation" class="btn btn-light border-success" type="button"><i class="fas fa-cloud-upload-alt text-success"></i>&nbsp;Télécharger</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal d'upload d'un document associé -->
    <!-- Modal affichage des PDF -->
    <div class="modal fade show-pdf bg-transparent pdf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg bg-transparent no-border">
            <div class="modal-content bg-transparent no-border">
                <div class="modal-header p-0 bg-transparent no-border">
                    <button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <iframe id="embed" class="w-100" height="600px" src=""></iframe>
            </div>
        </div>
    </div>
    <!-- Fin Modal affichage des pdf -->
    <!-- Modal de saisie de la date de paiement -->
    <div class="modal fade paymentDateModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white font-weight-bold">
                    Saisie de la date de paiement
                    <button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formDatePayment" class="m-3">
                        <div class="form-group">
                            <label for="inputDatePayment">Date de paiement</label>
                            <input class="form-control" id="inputDatePayment" type="date" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer bg-primary p-1">
                    <button type="button" class="btn btn-default text-white font-weight-bold" data-dismiss="modal">Annuler</button>
                    <button id="paymentFacture" class="btn btn-light border-success" type="button">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal de saisie de la date de paiement -->
    <!-- Modal de saisie de la date de paiement et choisir d'appliquer  -->
    <div class="modal fade latePaymentDateModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white font-weight-bold">
                    Saisie de la date de paiement pour une facture en retard
                    <button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="formLatePayment" class="m-3">
                        <legend class="col-form-label required">
                            Indemnité de retard
                            <span class="text-danger star">*</span>
                        </legend>
                        <div class="custom-control custom-radio">
                            <input id="indemnite_0" class="custom-control-input" type="radio" value="1" name="indemnite" checked required>
                            <label class="custom-control-label not-required" for="indemnite_0">Appliquer</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input id="indemnite_1" class="custom-control-input" type="radio" value="2" name="indemnite" required>
                            <label class="custom-control-label not-required" for="indemnite_1">Ne pas appliquer</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer bg-primary p-1">
                    <button type="button" class="btn btn-default text-white font-weight-bold" data-dismiss="modal">Annuler</button>
                    <button id="indemniteFacture" class="btn btn-light border-success" type="button">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal de création d'un avoir  -->
    <div class="modal fade creditModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white font-weight-bold">
                    Saisie d'un avoir
                    <button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body-credit">
                </div>
                <div class="modal-footer bg-primary p-1">
                    <button type="button" class="btn btn-default text-white font-weight-bold" data-dismiss="modal">Annuler</button>
                    <button id="createCredit" class="btn btn-light border-success" type="button">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal de création d'un avoir -->
    <!-- Modal d'édition d'un avoir  -->
    <div class="modal fade editCreditModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white font-weight-bold">
                    Modification d'un avoir
                    <button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body-edit-credit">
                </div>
                <div class="modal-footer bg-primary p-1">
                    <button type="button" class="btn btn-default text-white font-weight-bold" data-dismiss="modal">Annuler</button>
                    <button id="editCredit" class="btn btn-light border-success" type="button">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal d'édition d'un avoir -->
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/periodsToComma.js') }}"></script>
    <script src="{{ asset('js/errorHandler.js') }}"></script>
    <script>
        function openModal(elem) {
            var url = $(elem).data('path');
            $('.modal.fade.show-pdf.bg-transparent.pdf').modal();
            $('#embed').attr('src', url);
            $('.modal.fade.show-pdf.bg-transparent.pdf').modal('show');
        }
        $(document).ready(function() {
            checkFormValidity($('#formLatePayment'));
            checkFormValidity($('#formDatePayment'));
            // ------- facture pré-saisie ------- \\
            // Edition de la facture
            $(".editFacture").click(function() {
                location.href = $(this).data("href");
            });
            //Génération du pdf de la facture
            $(".pdfFacture").click(function() {
                location.href = $(this).data("href");
            });
            // Ouverture de la modal d'unpload de documents associés à la facture
            $('.addPdfSituation').click(function() {
                $('.modal.fade.uploadAttachementPdf').modal('show');
                $('#uploaderSituation').attr('data-factureId', $(this).attr('data-id'))
                $('#uploaderSituation').attr('data-href', $(this).attr('data-href'))
            });
            // Affichage des de l'input file
            $('#inputFile').change(function(e) {
                $('#showUpload').find('p').each(function() {
                    $(this).remove();
                });
                var input = e.target;
                var i = 0;
                var listOfNames = [];
                for (var file of input.files) {
                    listOfNames[file.size] = [file.name, i];
                    var reader = new FileReader();
                    reader.readAsDataURL(input.files[i]);
                    reader.file = listOfNames;
                    reader.onload = function(e) {
                        $('#showUpload').append(`
							<p>
								<button class="btn btn-default deletePdf" data-index="${reader.file[e.total][1]}">
									<i class="fas fa-times text-danger" title="Suppression du document dans la liste"></i>
								</button>
								<a role="button" class="btn btn-light border-primary" onclick="openModal(this)" data-path="${e.target.result}">
									<i class="fas fa-eye text-primary"></i></a>&nbsp;<span class="names"></span>${reader.file[e.total][0]}
							<p>`)
                    };
                    i++
                }

            });
            // Suppression du pdf dans l'input file
            $(document).on('click', '.deletePdf', function() {
                var index = $(this).attr('data-index');
                var files = document.getElementById('inputFile').files;
                var newFiles = [];
                for (file in files) {
                    if (file != index && Number.isInteger(parseInt(file))) {
                        newFiles.push(new File([files[file]], files[file].name));
                    }
                }
                document.getElementById('inputFile').files = FileListItem(newFiles);
                $('#inputFile').trigger('change');
            });
            // Fonction pour créer une FileList
            function FileListItem(a) {
                a = [].slice.call(Array.isArray(a) ? a : arguments);
                for (var c, b = c = a.length, d = !0; b-- && d;) d = a[b] instanceof File;
                if (!d) throw new TypeError("L\'argument doit être un objet File ou un array d'objets File");
                for (b = (new ClipboardEvent("")).clipboardData || new DataTransfer; c--;) b.items.add(a[c]);
                return b.files
            }
            // Fonction pour uploader les fichiers
            $('#uploaderSituation').click(function() {
                $.preloader.start();
                const files = document.getElementById('inputFile').files
                var factureId = $(this).attr('data-factureId');
                const href = $(this).attr('data-href')
                const promises = [];
                for (const file of files) {
                    promises.push(upload(file, factureId));
                }
                Promise.all(promises)
                    .then(file => {
                        $.preloader.stop();
                        successToLocalStorage('Les documents associé a bien été uploadé. La facture est en attente de validation par le service administratif.');
                        location.href = '#' + href;
                        setTimeout(() => {
                            location.reload()
                        }, 500)
                    })
                    .catch(() => {
                        showWarningFlash('Une erreur s\'est produite, aucun fichier n\'a était enregistré. Veuillez réessayer...')
                        $.preloader.stop();
                    })
            });
            // Fonction pour générer une formData et uploader
            function upload(file, factureId) {
                return new Promise((resolve, reject) => {
                    var reader = new FileReader();
                    var url = `/facture/${factureId}/pdf/upload`;
                    reader.onload= () => {
                        const formData = new FormData();
                        const pdfBlob = new Blob([reader.result], {
                            type: file.type
                        });
                        formData.append('file', pdfBlob, file.name);
                        $.ajax({
                            method: 'POST',
                            url: url,
                            data: formData,
                            contentType: false,
                            processData: false,
                            success: function(data) {
                                console.log(data);
                                resolve(data);
                            },
                            error: function (xhr, textStatus, thrownError) {
                                reject(thrownError)
                            }
                        })
                    };
                    reader.readAsArrayBuffer(file);
                });
            }
        });
        $('.showPaymentModal').click(function() {
            var url = $(this).attr('data-href');
            $('#paymentFacture').attr('data-href', url);
            $('.modal.fade.paymentDateModal').modal('show');
        });
        $('.showCreditModal').click(function() {
            var url = $(this).attr('data-href');
            $('#modal-body-credit').children().remove()
            $.get(url, function(data) {
                $('#modal-body-credit').append(data)
            })
            $('#createCredit').attr('data-href', url);
            $('.modal.fade.creditModal').modal('show');
        });
        $('#createCredit').click(function() {
            var url = $(this).attr('data-href');
            var formData = $('#formAvoir').serializeArray();
            $.ajax({
                method: 'POST',
                processData: true,
                url: url,
                data: formData,
                success: function(data) {
                    console.log('data', data);
                    if (data.status === 'success') {
                        successToLocalStorage(data.message);
                        location.href = '#avoir';
                        location.reload()
                    } else {
                        showAlertFlash(exceptionHandler(data.message, 'avoir'));
                    }
                },
                error: function(data) {
                    showWarningFlash(exceptionHandler(data.message), 'avoir');
                }
            })
        });
        $('.showEditCreditModal').click(function() {
            var url = $(this).attr('data-href');
            $('#modal-body-edit-credit').children().remove()
            $.get(url, function(data) {
                $('#modal-body-edit-credit').append(data)
            })
            $('#editCredit').attr('data-href', url);
            $('.modal.fade.editCreditModal').modal('show');
        });
        $('#editCredit').click(function() {
            var url = $(this).attr('data-href');
            var formData = $('#formEditAvoir').serializeArray();
            $.ajax({
                method: 'POST',
                processData: true,
                url: url,
                data: formData,
                success: function(data) {
                    console.log('data', data);
                    if (data.status === 'success') {
                        successToLocalStorage(data.message);
                        location.href = '#avoir';
                        location.reload()
                    } else {
                        showAlertFlash(exceptionHandler(data.message, 'avoir'));
                    }
                },
                error: function(data) {
                    showWarningFlash(exceptionHandler(data.message), 'avoir');
                }
            })
        });
        $('#paymentFacture').click(function() {
            var url = $(this).attr('data-href');
            var formData = { date: $('#inputDatePayment').val()};
            $.ajax({
                url: url,
                processData: true,
                method: 'POST',
                data: formData,
                success: function(data) {
                    if (data.status === 'success') {
                        successToLocalStorage(data.message)
                        location.href = '#payeeFacture'
                        location.reload();
                    } else {
                        showAlertFlash(data.message)
                    }
                },
                error: function () {
                    showWarningFlash('Une erreur s\'est protuite lors de l\'enregistrement du paiement de la facture')
                }
            })
        });
        $('.showIndemniteModal').click(function() {
            var url = $(this).attr('data-href');
            $('#indemniteFacture').attr('data-href', url);
            $('.modal.fade.latePaymentDateModal').modal('show');
        });
        $('#indemniteFacture').click(function() {
            var url = $(this).attr('data-href');
            var formData = $('#formLatePayment').serializeArray();
            console.log(formData);
            $.ajax({
                url: url,
                processData: true,
                method: 'POST',
                data: formData,
                success: function(data) {
                    if (data.status === 'success') {
                        showSuccessFlash(data.message)
                        location.href = '#impayeeFacture';
                        location.reload();
                    } else {
                        showAlertFlash(data.message)
                    }
                },
                error: function () {
                    showWarningFlash('Une erreur s\'est protuite lors de l\'enregistrement du paiement de la facture')
                }
            })
        });
        // Fonction pour passer de l'état prete a envoyer à en attente de paiement
        $('.sentFacture').click(function() {
            var test = confirm('Vous êtes sur le point de passer la facture en attente de paiement. Assurez-vous de bien avoir envoyer l\'email puis cliquez sur "OK"');

            if (test === true) {
                location.href = $(this).attr('data-href');
            }
        });
    </script>
{% endblock %}