{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-6">Dashboard Administratif : Founisseurs</h1>
        <hr class="my-4">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs row no-border">
            <li class="nav-item col-auto col-lg">
                <button id="showToValidate" class="btn-outline-warning border-warning font-weight-bold nav-link w-100" data-toggle="tab" href="#aValider">
                    <h4>{{ 'à valider'|capitalize }}</h4>
                </button>
            </li>
            <li class="nav-item col-auto col-lg">
                <button id="showList" class="btn-outline-primary border-primary font-weight-bold nav-link w-100" data-toggle="tab" href="#valider">
                    <h4>Valider</h4>
                </button>
            </li>
        </ul>
        <!-- end Nav tabs -->
    <hr class="my-4">
    <div class="tab-content">
        <div class="tab-pane" id="aValider">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs row no-border">
                <li class="nav-item col-auto col-lg">
                    <button id="showOrgaFourn" class="btn-outline-info border-info font-weight-bold nav-link w-100" data-toggle="tab" href="#organismeFournisseur">
                        Fournisseur à valider
                    </button>
                </li>
                <li class="nav-item col-auto col-lg">
                    <button id="showOrgaPresta" class="btn-outline-secondary border-secondary font-weight-bold nav-link w-100" data-toggle="tab" href="#organismePrestataire">
                        Prestataire à valider
                    </button>
                </li>
            </ul>
            <!-- end Nav tabs -->
            <hr class="my-4">
            <div class="tab-content">
                <div class="tab-pane" id="organismeFournisseur">
                    <dl class="float-right mb-2 row">
                        <dt class="col-4 my-auto">
                            <label for="searchFournisseurToValid">Rechercher</label>
                        </dt>
                        <dd class="col">
                            <input class="form-control" type="search" id="searchFournisseurToValid">
                        </dd>
                    </dl>
                    <table class="table table-striped bg-light">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th scope="col">Nom</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Téléphone</th>
                                <th scope="col">Email</th>
                                <th scope="col" class="text-center">Contact</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for fournisseur in notValidFournisseur %}
                                <tr  class="bg-transparent my-auto searchTableFournisseurToValid">
                                    <td class="align-middle">{{ fournisseur.nom }}</td>
                                    <td class="align-middle">
                                        <p>{{ fournisseur.adresse }}</p>
                                        <p>{{ fournisseur.adresseComplementaire1 }}</p>
                                        <p>{{ fournisseur.adresseComplementaire2 }}</p>
                                        <p>{{ fournisseur.stal ~ ' ' ~ fournisseur.ville }}</p>
                                    </td>
                                    <td class="align-middle">{{ fournisseur.telephone }}</td>
                                    <td class="align-middle">{{ fournisseur.email }}</td>
                                    <td class="align-middle text-center">
                                        {% for contact in fournisseur.contacts %}
                                            {% for type in contact.type %}
                                                {% if type == 'Référencement' %}
                                                    {{ contact.prenom|capitalize ~ ' ' ~ contact.nom|upper }}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}
                                    </td>
                                    <td class="align-middle text-center">
                                        <button class="btn btn-default showFournisseur" data-path="{{ path('sudalys_gestion_show_orga', {orgaId: fournisseur.id}) }}" title="Visualiser les détails du fournisseur">
                                        <i class="fas fa-eye"></i>
                                        </button>
                                        <button class="btn btn-default editInfoFournisseur" data-path="{{ path('sudalys_gestion_dashboard_administratif_manage_infoFournisseur', {orgaId: fournisseur.id}) }}" title="Editer les informations du fournisseur">
                                            <i class="fas fa-edit text-primary"></i>
                                        </button>
                                        <button class="btn btn-default valideFournisseur" data-path="{{ path('sudalys_gestion_fournisseur_orga_validate', {orgaId: fournisseur.id}) }}" title="Valider le fournisseur">
                                            <i class="fas fa-thumbs-up text-success"></i>
                                        </button>
{#                                        <button class="btn btn-default valideFournisseur" data-path="{{ path('sudalys_gestion_fournisseur_orga_validate', {orgaId: fournisseur.id}) }}" title="Valider le fournisseur"><i class="fas fa-thumbs-up text-success"></i></button>#}
                                        <button class="btn btn-default refuseFournisseur" data-path="{{ path('sudalys_gestion_fournisseur_orga_refuse', {orgaId: fournisseur.id}) }}" title="Refuser le fournisseur"><i class="fas fa-thumbs-down text-danger"></i></button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="organismePrestataire">
                    <div class="text-center mt-5">
                        <dl class="float-right mb-2 row">
                            <dt class="col-4 my-auto">
                                <label for="searchPrestataireToValid">Rechercher</label>
                            </dt>
                            <dd class="col">
                                <input class="form-control" type="search" id="searchPrestataireToValid">
                            </dd>
                        </dl>
                        <table class="table table-striped bg-light">
                            <thead>
                                <tr class="bg-primary text-white">
                                    <th scope="col">Nom</th>
                                    <th scope="col">Adresse</th>
                                    <th scope="col">Téléphone</th>
                                    <th scope="col">Email</th>
                                    <th scope="col" class="text-center">Contact</th>
                                    <th scope="col" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for prestataire in notValidPrestataire %}
                                    <tr  class="bg-transparent my-auto searchTablePrestataireToValid">
                                        <td class="align-middle">{{ prestataire.nom }}</td>
                                        <td class="align-middle">
                                            <p>{{ prestataire.adresse }}</p>
                                            <p>{{ prestataire.adresseComplementaire1 }}</p>
                                            <p>{{ prestataire.adresseComplementaire2 }}</p>
                                            <p>{{ prestataire.stal ~ ' ' ~ prestataire.ville }}</p>
                                        </td>
                                        <td class="align-middle">{{ prestataire.telephone }}</td>
                                        <td class="align-middle">{{ prestataire.email }}</td>
                                        <td class="align-middle text-center">
                                            {% for contact in prestataire.contacts %}
                                                {% for type in contact.type %}
                                                    {% if type == 'Référencement' %}
                                                        {{ contact.prenom|capitalize ~ ' ' ~ contact.nom|upper }}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        </td>
                                        <td class="align-middle text-center">
                                            <button class="btn btn-default showPrestataire" data-path="{{ path('sudalys_gestion_show_orga', {orgaId: prestataire.id}) }}" title="Visualiser les détails du prestataire">
                                            <i class="fas fa-eye"></i>
                                            </button>
                                            <button class="btn btn-default editInfoPrestataire" data-path="{{ path('sudalys_gestion_dashboard_administratif_manage_infoPrestataire', {orgaId: prestataire.id}) }}" title="Editer les informations du prestataire">
                                                <i class="fas fa-edit text-primary"></i>
                                            </button>
                                            <button class="btn btn-default validePrestataire" data-path="{{ path('sudalys_gestion_prestataire_orga_validate', {orgaId: prestataire.id}) }}" title="Valider le prestataire">
                                                <i class="fas fa-thumbs-up text-success"></i>
                                            </button>
    {#                                        <button class="btn btn-default valideFournisseur" data-path="{{ path('sudalys_gestion_fournisseur_orga_validate', {orgaId: fournisseur.id}) }}" title="Valider le fournisseur"><i class="fas fa-thumbs-up text-success"></i></button>#}
                                            <button class="btn btn-default refusePrestataire" data-path="{{ path('sudalys_gestion_prestataire_orga_refuse', {orgaId: prestataire.id}) }}" title="Refuser le prestataire"><i class="fas fa-thumbs-down text-danger"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
{#                        <img src="{{ asset('/img/enConstruction.jpg') }}">#}
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="valider">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs row no-border">
                <li class="nav-item col-auto col-lg">
                    <button id="showOrgaFournValid" class="btn-outline-info border-info font-weight-bold nav-link w-100" data-toggle="tab" href="#organismeValidFournisseur">
                        Fournisseur validé
                    </button>
                </li>
                <li class="nav-item col-auto col-lg">
                    <button id="showOrgaPrestaValid" class="btn-outline-secondary border-secondary font-weight-bold nav-link w-100" data-toggle="tab" href="#organismeValidPrestataire">
                        Prestataire validé
                    </button>
                </li>
            </ul>
            <!-- end Nav tabs -->
            <hr class="my-4">
            <div class="tab-content">
                <div class="tab-pane" id="organismeValidFournisseur">
                    <dl class="float-right mb-2 row">
                        <dt class="col-4 my-auto">
                            <label for="searchOrgaValid">Rechercher</label>
                        </dt>
                        <dd class="col">
                            <input class="form-control" type="search" id="searchOrgaValid">
                        </dd>
                    </dl>
                    <table class="table table-striped bg-light">
                        <thead>
                            <tr class="bg-primary text-white">
                                <th scope="col">Nom</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Téléphone</th>
                                <th scope="col">Email</th>
                                <th scope="col" class="text-center">Actif</th>
                                <th scope="col" class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for fournisseur in fournisseurs %}
                            <tr  class="bg-transparent my-auto searchTableOrgaValid">
                                <td class="align-middle">{{ fournisseur.nom }}</td>
                                <td class="align-middle">
                                    <p>{{ fournisseur.adresse }}</p>
                                    <p>{{ fournisseur.adresseComplementaire1 }}</p>
                                    <p>{{ fournisseur.adresseComplementaire2 }}</p>
                                    <p>{{ fournisseur.stal ~ ' ' ~ fournisseur.ville }}</p>
                                </td>
                                <td class="align-middle">{{ fournisseur.telephone }}</td>
                                <td class="align-middle">{{ fournisseur.email }}</td>
                                <td class="align-middle text-center">
                                    {% if fournisseur.actif == 1 %}
                                        Oui
                                    {% else %}
                                        Non
                                    {% endif %}
                                </td>
                                <td class="align-middle text-center">
                                    <a href="{{ path('sudalys_gestion_show_orga', {orgaId: fournisseur.id}) }}" class="btn btn-default"><i class="fas fa-eye text-primary"></i></a>
                                    <button class="btn btn-default editInfoFournisseur" data-path="{{ path('sudalys_gestion_dashboard_administratif_manage_infoFournisseur', {orgaId: fournisseur.id}) }}" title="Editer les informations du fournisseur">
                                        <i class="fas fa-edit text-primary"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="organismeValidPrestataire">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs row no-border">
                        <li class="nav-item col-auto col-lg">
                            <button id="showPrestaAJour" class="btn-outline-success border-success font-weight-bold nav-link w-100" data-toggle="tab" href="#organismeValidPrestataireAJour">
                                Prestataire à jour
                            </button>
                        </li>
                        <li class="nav-item col-auto col-lg">
                            <button id="showPrestaToUpdate" class="btn-outline-warning border-warning font-weight-bold nav-link w-100" data-toggle="tab" href="#organismeValidPrestataireMettreAJour">
                                Prestataire à mettre à jour
                                <span class="p-1 float-right badge badge-pill bg-transparent" id="indexToUpdate"></span>
                            </button>
                        </li>
                    </ul>
                    <hr>
                    <!-- end Nav tabs -->
                    <div class="tab-content">
                        <div class="tab-pane" id="organismeValidPrestataireAJour">
                            <dl class="float-right mb-2 row">
                                <dt class="col-4 my-auto">
                                    <label for="searchPrestaValidAJour">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchPrestaValidAjour">
                                </dd>
                            </dl>
                            <table class="table table-striped bg-light">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th scope="col">Nom</th>
                                        <th scope="col">Adresse</th>
                                        <th scope="col">Téléphone</th>
                                        <th scope="col">Email</th>
                                        <th scope="col" class="text-center">Actif</th>
                                        <th scope="col" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for prestataire in prestataires %}
                                    {% if prestataire.infoPrestataire.isValid %}
                                        <tr  class="bg-transparent my-auto searchTablePrestaValidAJour">
                                            <td class="align-middle">{{ prestataire.nom }}</td>
                                            <td class="align-middle">
                                                <p>{{ prestataire.adresse }}</p>
                                                <p>{{ prestataire.adresseComplementaire1 }}</p>
                                                <p>{{ prestataire.adresseComplementaire2 }}</p>
                                                <p>{{ prestataire.stal ~ ' ' ~ prestataire.ville }}</p>
                                            </td>
                                            <td class="align-middle">{{ prestataire.telephone }}</td>
                                            <td class="align-middle">{{ prestataire.email }}</td>
                                            <td class="align-middle text-center">
                                                {% if prestataire.actif == 1 %}
                                                    Oui
                                                {% else %}
                                                    Non
                                                {% endif %}
                                            </td>
                                            <td class="align-middle text-center">
                                                <a href="{{ path('sudalys_gestion_show_orga', {orgaId: prestataire.id}) }}" class="btn btn-default"><i class="fas fa-eye text-primary"></i></a>
                                                <button class="btn btn-default editInfoFournisseur" data-path="{{ path('sudalys_gestion_dashboard_administratif_manage_infoPrestataire', {orgaId: prestataire.id}) }}" title="Editer les informations du prestataire">
                                                    <i class="fas fa-edit text-primary"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="organismeValidPrestataireMettreAJour">
                            <dl class="float-right mb-2 row">
                                <dt class="col-4 my-auto">
                                    <label for="searchPrestaValidMettreAJour">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchPrestaValidMettreAjour">
                                </dd>
                            </dl>
                            <table class="table table-striped bg-light">
                                <thead>
                                    <tr class="bg-primary text-white">
                                        <th scope="col">Nom</th>
                                        <th scope="col">Adresse</th>
                                        <th scope="col">Téléphone</th>
                                        <th scope="col">Email</th>
                                        <th scope="col" class="text-center">Actif</th>
                                        <th scope="col" class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for prestataire in prestataires %}
                                    {% if prestataire.infoPrestataire.isValid == false %}
                                        <tr  class="bg-transparent my-auto searchTablePrestaValidValidMettreAjour">
                                            <td class="align-middle">{{ prestataire.nom }}</td>
                                            <td class="align-middle">
                                                <p>{{ prestataire.adresse }}</p>
                                                <p>{{ prestataire.adresseComplementaire1 }}</p>
                                                <p>{{ prestataire.adresseComplementaire2 }}</p>
                                                <p>{{ prestataire.stal ~ ' ' ~ prestataire.ville }}</p>
                                            </td>
                                            <td class="align-middle">{{ prestataire.telephone }}</td>
                                            <td class="align-middle">{{ prestataire.email }}</td>
                                            <td class="align-middle text-center">
                                                {% if prestataire.actif == 1 %}
                                                    Oui
                                                {% else %}
                                                    Non
                                                {% endif %}
                                            </td>
                                            <td class="align-middle text-center">
                                                <a href="{{ path('sudalys_gestion_show_orga', {orgaId: prestataire.id}) }}" class="btn btn-default"><i class="fas fa-eye text-primary"></i></a>
                                                <button class="btn btn-default editInfoFournisseur" data-path="{{ path('sudalys_gestion_dashboard_administratif_manage_infoPrestataire', {orgaId: prestataire.id}) }}" title="Editer les informations du prestataire">
                                                    <i class="fas fa-edit text-primary"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal pour la validation ou le refus d'un forunisseur -->
    <div class="modal fade fournisseurStatus" tabindex="-1" role="dialog" aria-labelledby="statusLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white font-weight-bold">
                <span id="modal-header-fournisseur"></span>
                    <button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="modal-body-fournisseur" class="modal-body">
                </div>
                <div id="modal-footer-fournisseur" class="modal-footer bg-primary p-1">
                    <button type="button" class="btn btn-default text-white font-weight-bold" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal de saisie de la date de paiement -->
{% endblock %}
{% block javascripts %}
    <script>
        // Fonction de" remplissage et d'affichage de la modal pour valider un fournisseur
        $('.valideFournisseur').click(function() {
          $('#modal-header-fournisseur').html('');
          $('#modal-body-fournisseur').children().remove();
          $('#validFournisseur').remove();
          $('.modal.fade.fournisseurStatus').modal();
          var url = $(this).attr('data-path');
          var modalHeader = 'Validation d\'un fournisseur';
          var modalBody =`<p id="alert">Etes-vous sur de vouloir valider se fournisseur ?</p>`;
          var button = `<button id="validFournisseur" class="btn btn-light border-success" data-path="${url}" type="button">Valider</button>`;
          $('#modal-header-fournisseur').html(modalHeader);
          $('#modal-body-fournisseur').append(modalBody);
          $('#modal-footer-fournisseur').append(button);
          $('.modal.fade.fournisseurStatus').modal('show');
        });
        // Fonction de" remplissage et d'affichage de la modal pour valider un fournisseur
        $('.validePrestataire').click(function() {
          $('#modal-header-fournisseur').html('');
          $('#modal-body-fournisseur').children().remove();
          $('#validFournisseur').remove();
          $('.modal.fade.fournisseurStatus').modal();
          var url = $(this).attr('data-path');
          var modalHeader = 'Validation d\'un prestataire';
          var modalBody =`<p id="alert">Etes-vous sur de vouloir valider se prestataire ?</p>`;
          var button = `<button id="validPrestataire" class="btn btn-light border-success" data-path="${url}" type="button">Valider</button>`;
          $('#modal-header-fournisseur').html(modalHeader);
          $('#modal-body-fournisseur').append(modalBody);
          $('#modal-footer-fournisseur').append(button);
          $('.modal.fade.fournisseurStatus').modal('show');
        });
        // Fonction d'envoi de la validation d'un fournisseur sur le click du bouton validFournisseur
        $(document).on('click', '#validFournisseur', function() {
            $.preloader.start();
          var url = $(this).attr('data-path');
          $.ajax({
            url: url,
            method: 'POST',
            processData: true,
            success: function(data) {
              if (data.status === 'success') {
                  successToLocalStorage(data.message);
                  location.href = "#organismeFournisseur"
                  location.reload();
              } else {
                  $('#modal-header-fournisseur').html('');
                  $('#modal-body-fournisseur').children().remove();
                  $('#validFournisseur').remove();
                  $('.modal').modal('hide');
                  $.preloader.stop();
                  showAlertFlash(data.message)
              }
            }
          })
        });
        // Fonction d'envoi de la validation d'un fournisseur sur le click du bouton validFournisseur
        $(document).on('click', '#validPrestataire', function() {
            $.preloader.start();
          var url = $(this).attr('data-path');
          $.ajax({
            url: url,
            method: 'POST',
            processData: true,
            success: function(data) {
              if (data.status === 'success') {
                  successToLocalStorage(data.message);
                  location.href = "#organismePrestataire"
                  location.reload();
              } else {
                  $('#modal-header-fournisseur').html('');
                  $('#modal-body-fournisseur').children().remove();
                  $('#validFournisseur').remove();
                  $('.modal').modal('hide');
                  $.preloader.stop();
                  showAlertFlash(data.message)
              }
            }
          })
        });
        // Fonction de remplissage et d'affichage de la modal pour refuser un fournisseur
        $('.refuseFournisseur').click(function() {
          $('#modal-header-fournisseur').html('');
          $('#modal-body-fournisseur').children().remove();
          $('#validFournisseur').remove();
          $('.modal.fade.fournisseurStatus').modal();
            var url = $(this).attr('data-path');
            var modalHeader = 'Refus d\'un fournisseur';
            var modalBody =`<p id="alert">Etes-vous sur de vouloir refuser se fournisseur ?</p>`;
            var button = `<button id="refuseFournisseur" class="btn btn-light border-success" data-path="${url}" type="button">Refuser</button>`;
            $('#modal-header-fournisseur').html(modalHeader);
            $('#modal-body-fournisseur').append(modalBody);
            $('#modal-footer-fournisseur').append(button);
          $('.modal.fade.fournisseurStatus').modal('show');
        });
        // Fonction de remplissage et d'affichage de la modal pour refuser un fournisseur
        $('.refusePrestataire').click(function() {
          $('#modal-header-fournisseur').html('');
          $('#modal-body-fournisseur').children().remove();
          $('#validFournisseur').remove();
          $('.modal.fade.fournisseurStatus').modal();
            var url = $(this).attr('data-path');
            var modalHeader = 'Refus d\'un prestataire';
            var modalBody =`<p id="alert">Etes-vous sur de vouloir refuser se fournisseur ?</p>`;
            var button = `<button id="refusePrestataire" class="btn btn-light border-success" data-path="${url}" type="button">Refuser</button>`;
            $('#modal-header-fournisseur').html(modalHeader);
            $('#modal-body-fournisseur').append(modalBody);
            $('#modal-footer-fournisseur').append(button);
          $('.modal.fade.fournisseurStatus').modal('show');
        });
        $('.editInfoFournisseur').click(function() {
            location.href = $(this).data('path');
        });
        $('.showFournisseur').click(function() {
            location.href = $(this).data('path');
        });
        $('.editInfoPrestataire').click(function() {
            location.href = $(this).data('path');
        });
        $('.showPrestataire').click(function() {
            location.href = $(this).data('path');
        });
        // Fonction d'envoi du refus d'un fournisseur sur le click du bouton refuseFournisseur
        $(document).on('click', '#refuseFournisseur', function() {
            $.preloader.start();
          var url = $(this).attr('data-path');
          $.ajax({
            url: url,
            method: 'POST',
            processData: true,
            success: function(data) {
              if (data.status === 'success') {
                  successToLocalStorage(data.message);
                  location.href = "#organismeFournisseur"
                  location.reload();
              } else {
                  $('#modal-header-fournisseur').html('');
                  $('#modal-body-fournisseur').children().remove();
                  $('#validFournisseur').remove();
                  $('.modal').modal('hide');
                  $.preloader.stop();
                  showAlertFlash(data.message)
              }
            }
          })
        });
        // Fonction d'envoi du refus d'un fournisseur sur le click du bouton refuseFournisseur
        $(document).on('click', '#refusePrestataire', function() {
            $.preloader.start();
          var url = $(this).attr('data-path');
          $.ajax({
            url: url,
            method: 'POST',
            processData: true,
            success: function(data) {
              if (data.status === 'success') {
                  successToLocalStorage(data.message);
                  location.href = "#organismePrestataire"
                  location.reload();
              } else {
                  $('#modal-header-fournisseur').html('');
                  $('#modal-body-fournisseur').children().remove();
                  $('#validFournisseur').remove();
                  $('.modal').modal('hide');
                  $.preloader.stop();
                  showAlertFlash(data.message)
              }
            }
          })
        });
        $(document).ready(function() {
            var countPrestaToUpdate = $('.searchTablePrestaValidValidMettreAjour').length;
            $('#indexToUpdate').html(countPrestaToUpdate);
        })
    </script>
{% endblock %}