{% extends 'base.html.twig' %}

{% block verticalNav %}
    <a href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) }}" class="list-group-item list-group-item-action bg-primary text-light">
        <i class="fas fa-briefcase"></i>&nbsp;{{ affaire.numeroAffaire }}
    </a>
    <div class="bg-light">
        <a role="button" href="{{ path('sudalys_gestion_affaire', {affaireId: affaire.id}) }}" class="list-group-item list-group-item-action bg-light text-primary">Gestion affaire</a>
        <a role="button" href="{{ path('sudalys_gestion_article_affaire', {affaireId: affaire.id}) }}" class="list-group-item list-group-item-action bg-light text-primary">Gestion articles</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#devis' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste devis</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#CMDR' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste CMD Reçus</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#attachements' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste attachements</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#factures' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste factures</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#avoirs' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste avoirs</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#CMDE' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste CMD émises</a>
    </div>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <a role="button" class="btn btn-light text-primary" href="{{ path('sudalys_gestion_article_affaire', {affaireId: affaire.id}) }}">
                <i class="fas fa-arrow-left"></i>&nbsp;Retour à la liste
            </a>
            <h1 class="display-6">Article : <span class="text-primary">{{ articleAffaire.article.nom|capitalize }}</span></h1>
            <hr class="my-4">
            <div class="card no-border bg-transparent">
                <div class="card-header bg-primary text-white font-weight-bold">
                    Détail de l'article
                    <button type="button" class="btn btn-light float-right border-success" onclick="showEditArticleModal('articleAffaire', {{ articleAffaire.id }})">
                        <i class="fas fa-edit text-success"></i>&nbsp;Modifier l'article
                    </button>
                </div>
                <div id="articleAffaire" class="card-body border" data-path="{{ path('sudalys_gestion_edit_article', {articleId: articleAffaire.article.id}) }}">
                    <dl class="row list-group-horizontal">
                        <dt class="col-1 my-auto">Thème :</dt>
                        <dd class="col-11 my-auto list-group-item no-border bg-transparent theme">
                            {{ articleAffaire.article.theme.nom }}
                        </dd>
                        <dt class="col-1 my-auto">Désignation :</dt>
                        <dd class="col-11 my-auto list-group-item no-border bg-transparent nom">{{ articleAffaire.article.nom|capitalize }}</dd>
                        <dt class="col-1 my-auto">Déscription :</dt>
                        <dd class="col-11 my-auto list-group-item no-border bg-transparent description">
                            {{ articleAffaire.article.description }}
                        </dd>
                        <dt class="col-1 my-auto">Unité :</dt>
                        <dd class="col-11 my-auto list-group-item no-border bg-transparent unite">
                            {% if articleAffaire.article.unite == 0 %}
                                Forfaitaire
                            {% else %}
                                Unitaire
                            {% endif %}
                        </dd>
                    </dl>
                </div>
            </div>
            <hr>
            {# ------- Liste des Devis avec cette article ------- #}
            <div class="card no-border bg-transparent">
                <div class="card-header bg-primary text-white font-weight-bold">
                    Liste des devis
                </div>
                <div class="card-body no-border">
                    {% if devisList is not empty %}
                        {% for devis in devisList %}
                            <div class="card-title">Devis n° {{ devis.numeroDevis }} : <span class="text-primary">{{ devis.libelle|capitalize }}</span></div>
                            <div class="card-body">
                                <div class="row bg-primary p-2 text-white font-weight-bold">
                                    <div class="col-4 text-center my-auto">Désignation</div>
                                    <div class="col-6 text-center my-auto">Déscription</div>
                                    <div class="col-1 text-center my-auto">Unité</div>
                                    <div class="col-1 text-center my-auto">Actions</div>
                                </div>
                                {% for articleDevis in articlesDevis %}
                                    {% if articleDevis.devis.id == devis.id %}
                                        <div id="articleDevis{{ articleDevis.id }}" class="row p-2 border-bottom" data-path="{{ path('sudalys_gestion_edit_article_devis', {articleDevisId: articleDevis.id}) }}">
                                            <div class="col-4 text-center nom my-auto">{{ articleDevis.article.nom|capitalize }}</div>
                                            <div class="col-6 text-center description my-auto">{{ articleDevis.description }}</div>
                                            <div class="col-1 text-center unite my-auto">
                                                {% if articleDevis.article.unite == 0 %}
                                                    Forfaitaire
                                                {% else%}
                                                    Unitaire
                                                {% endif %}
                                            </div>
                                            <div class="col-1 text-center">
                                                <button type="button" class="btn btn-default" onclick="showEditArticleModal('articleDevis{{ articleDevis.id }}', {{ articleDevis.id }})">
                                                    <i class="fas fa-edit text-success"></i>
                                                </button>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    {% else %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# Modal edition d'un article' #}
    <div class="modal fade edit-article" style="display: none" id="editArt" tabindex="-1" role="dialog" aria-labelledby="myModalEditArticle">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white font-weight-bold" id="myModalEditArticle">Edition de l'article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
                <div class="modal-footer bg-primary" id="modal-footer">
                    <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
                    <button id="sendEditArticle" class="btn btn-light">Modifier</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        // Fonction pour afficher la modal d'édition du contact
        function showEditArticleModal(id, argId) {
            var url = $('#' + id).attr('data-path');
            var modalBody = $('#modal-body');
            $.get(url, function(data){
                // on charge le formulaire dans le body de la modale
                modalBody.html(data);
                modalBody.attr('data-path', url);
                modalBody.attr('data-idElement', argId);
                modalBody.attr('data-element', id);
                $('.modal.fade.edit-article').modal();
                changeLabels();
            });
        }
        $(document).ready(function() {
            // Fonction pour éditer un contact
            $(document).on('click', '#sendEditArticle', function(e) {
                e.preventDefault();
                $.preloader.start();
                var url = $('#modal-body').attr('data-path');
                var elemId = $('#modal-body').attr('data-idElement');
                var element = $('#modal-body').attr('data-element');
                var formData = $('#formArticle').serialize();
                $.ajax({
                    method: 'POST',
                    url: url,
                    processData: true,
                    data: formData,
                    success: function(data) {
                        if (data.status === 'success') {
                            for (var value in data.data) {
                                $('#' + element).find('.' + value).html(data.data[value])
                            }
                            $.preloader.stop();
                            $('.modal').modal('hide');
                            showSuccessFlash(data.message);
                        } else if (data.error) {
                            $.preloader.stop();
                            $('.modal').modal('hide');
                            showAlertFlash(data.message)
                        }
                    },
                    error: function() {
                        $.preloader.stop();
                        showAlertFlash('Une erreur s\'est produite, veuillez réessayer...')
                    }
                })
            });
        });
    </script>
{% endblock %}