{% extends 'base.html.twig' %}
{% form_theme form_orga 'bootstrap_4_layout.html.twig' %}
{% form_theme form_create_contact 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-6">Organisme : <span class="text-primary">{{ organisme.nom }}</span></h1>
            <hr class="my-4">
            <div class="row">
                <div class="card col-6 no-border bg-transparent">
                    <div class="card-header bg-primary text-white font-weight-bold">
                        Détail de l'organisme
                        <button id="modify-orga" type="button" class="btn btn-light float-right border-success " data-toggle="modal" data-target="#orga">
                            <i class="fas fa-edit text-success"></i>&nbsp;Modifier l'organisme
                        </button>
                    </div>
                    <div class="card-body border" id="organismeDetail">
                        <dl class="row list-group-horizontal">
                            <dt class="col-3 my-auto">Type :</dt>
                            <dd class="col-9 my-auto list-group-item no-border bg-transparent type">
                                {% if organisme.type is not null %}
                                    {% if organisme.type == 0 %}
                                        Fournisseur
                                    {% elseif organisme.type == 1 %}
                                        Client
                                    {% elseif organisme.type == 2 %}
                                        CLient et Fournisseur
                                    {% else %}
                                        Type non renseigné
                                    {% endif %}
                                {% endif %}
                            </dd>
                            <dt class="col-3 my-auto">Nom :</dt>
                            <dd class="col-9 my-auto list-group-item no-border bg-transparent nom">{{ organisme.nom }}</dd>
                            <dt class="col-3 my-auto">Adresse :</dt>
                            <dd class="col-9 my-auto list-group-item no-border bg-transparent">
                                {% if organisme.adresse is not empty %}
                                    <p class="my-auto adresse">{{ organisme.adresse }}</p>
                                {% else %}
                                    <p class="my-auto adresse" style="display: none"></p>
                                {% endif %}
                                {% if organisme.adresseComplementaire1 is not empty %}
                                    <p class="my-auto ">{{ organisme.adresseComplementaire1 }}</p>
                                {% else %}
                                    <p class="my-auto adresseComplementaire1" style="display: none"></p>
                                {% endif %}
                                {% if organisme.adresseComplementaire2 is not empty %}
                                    <p class="my-auto adresseComplementaire2">{{ organisme.adresseComplementaire2 }}</p>
                                {% else %}
                                    <p class="my-auto adresseComplementaire2" style="display: none"></p>
                                {% endif %}
                                {% if organisme.stal is not empty and organisme.ville is not empty %}
                                    <p class="my-auto"><span class="stal">{{ organisme.stal }}</span><span>, </span><span class="ville">{{  organisme.ville }}</span></p>
                                {% else %}
                                    <p class="my-auto" style="display: none"><span class="stal"></span><span>, </span><span class="ville"></span></p>
                                {% endif %}
                            </dd>
                            <dt class="col-3 my-auto">Téléphone :</dt>
                            <dd class="col-9 my-auto list-group-item no-border bg-transparent telephone">
                                {% if organisme.telephone is not empty %}
                                    {{ organisme.telephone }}
                                {% else %}
                                    Aucun numéro téléphone enregistré
                                {% endif %}
                            </dd>
                            <dt class="col-3 my-auto">Email service comptable:</dt>
                            <dd class="col-9 my-auto list-group-item no-border bg-transparent email">{{ organisme.email }}</dd>
                        </dl>
                    </div>
                </div>
                {# ------- Liste de contacts du siège ------- #}
                <div class="card col-6 no-border bg-transparent">
                    <div class="card-header bg-primary text-white font-weight-bold">
                        Liste des contacts du siège
                        <button id="add-contact" type="button" class="btn btn-light float-right border-success " data-toggle="modal" data-target="#myModalContact">
                            <i class="fas fa-plus-circle text-success"></i>&nbsp;Ajouter un contact
                        </button>
                    </div>
                    <div id="contact" class="card-body border">
                        {% if contacts is not empty %}
                            {% for type in typeContact %}
                                <div class="card-header contactTypeTitle" id="heading{{ type.type }}">
                                    <button class="btn btn-default w-75 font-weight-bold text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ type.type }}" aria-expanded="true" aria-controls="collapse{{ type.type }}">
                                        Contacts {{ type.type }}
                                    </button>
                                    <span class="p-2 align-self-center float-right badge badge-pill bg-transparent indexContact" style="font-size: 1em"></span>
                                </div>
                                <div class="collapse" id="collapse{{ type.type }}" aria-labelledby="heading{{ type.type }}" data-parent="#contact">
                                    <div id="accordionContactHQ">
                                        {% for contact in contacts %}
                                            {% if type.type in contact.type %}
                                                <div class="card" id="contactList{{ contact.id }}">
                                                    <div class="card-header" id="heading{{ contact.id }}">
                                                        <h5 class="mb-0">
                                                            <button class="btn btn-default w-75 font-weight-bold text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ contact.id }}" aria-expanded="true" aria-controls="collapse{{ contact.id }}">
                                                                <span class="contactNom">{{ contact.nom|upper }}</span>&nbsp;<span class="contactPrenom">{{ contact.prenom|capitalize }}</span>
                                                            </button>
                                                            <button id="delete-contact{{ contact.id }}" type="button" onclick="showDeleteContactModal('delete-contact{{ contact.id }}', {{ contact.id }})" data-path="{{ path('sudalys_gestion_delete_contact', {contactId: contact.id}) }}" class="btn btn-light float-right" data-toggle="modal" data-target="#myModaleDeleteContact" title="Suppression contact">
                                                                <i class="fas fa-times text-danger"></i>
                                                            </button>
                                                            <button id="edit-contact{{ contact.id }}" type="button" onclick="showEditContactModal('edit-contact{{ contact.id }}', {{ contact.id }})" data-path="{{ path('sudalys_gestion_edit_contact', {contactId: contact.id}) }}" class="btn btn-light float-right" title="Edition contact">
                                                                <i class="fas fa-edit text-primary"></i>
                                                            </button>
                                                        </h5>
                                                    </div>
                                                    <div id="collapse{{ contact.id }}" class="collapse" aria-labelledby="heading{{ contact.id }}" data-parent="#accordionContactHQ">
                                                        <div class="card-body border">
                                                            <dl class="row list-group-horizontal">
                                                                <dt class="col-3 my-auto"><i class="fas fa-at"></i>&nbsp;Email :</dt>
                                                                <dd class="col-9 my-auto list-group-item no-border bg-transparent contactEmail" id="">{{ contact.email }}</dd>
                                                                <dt class="col-3 my-auto"><i class="fas fa-phone-square"></i>&nbsp;Téléphone :</dt>
                                                                <dd class="col-9 my-auto list-group-item no-border bg-transparent contactTelephone">{{ contact.telephone }}</dd>
                                                                <dt class="col-3 my-auto"><i class="fas fa-mobile-alt"></i>&nbsp;Mobile :</dt>
                                                                <dd class="col-9 my-auto list-group-item no-border bg-transparent contactMobile">{{ contact.mobile }}</dd>
                                                            </dl>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
{#                            <div class="card-header" id="headingFacturation">#}
{#                                <h5 class="mb-0">#}
{#                                    <button class="btn btn-default w-75 font-weight-bold text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFacturation" aria-expanded="true" aria-controls="collapseFaturation">#}
{#                                        Contacts facturation#}
{#                                    </button>#}
{#                                </h5>#}
{#                            </div>#}
{#                            <div class="collapse" id="collapseFacturation" aria-labelledby="headingFacturation" data-parent="#contact">#}
{#                                <div id="accordionContactHQFacturation">#}
{#                                    {% if contacts is not empty %}#}
{#                                        {% for contact in contacts %}#}
{#                                            {% if 'Facturation' in contact.type %}#}
{#                                                <div class="card" id="contactList{{ contact.id }}Facturation">#}
{#                                                    <div class="card-header" id="heading{{ contact.id }}Facturation">#}
{#                                                        <h5 class="mb-0">#}
{#                                                            <button class="btn btn-default w-75 font-weight-bold text-left collapsed" type="button" data-toggle="collapse" data-target="#collapse{{ contact.id }}Facturation" aria-expanded="true" aria-controls="collapse{{ contact.id }}Facturation">#}
{#                                                                <span class="contactNom">{{ contact.nom|upper }}</span>&nbsp;<span class="contactPrenom">{{ contact.prenom|capitalize }}</span>#}
{#                                                            </button>#}
{#                                                            <button id="delete-contact{{ contact.id }}" type="button" onclick="showDeleteContactModal('delete-contact{{ contact.id }}', {{ contact.id }})" data-path="{{ path('sudalys_gestion_delete_contact', {contactId: contact.id}) }}" class="btn btn-light float-right" data-toggle="modal" data-target="#myModaleDeleteContact" title="Suppression contact">#}
{#                                                                <i class="fas fa-times text-danger"></i>#}
{#                                                            </button>#}
{#                                                            <button id="edit-contact{{ contact.id }}" type="button" onclick="showEditContactModal('edit-contact{{ contact.id }}', {{ contact.id }})" data-path="{{ path('sudalys_gestion_edit_contact', {contactId: contact.id}) }}" class="btn btn-light float-right" title="Edition contact">#}
{#                                                                <i class="fas fa-edit text-primary"></i>#}
{#                                                            </button>#}
{#                                                        </h5>#}
{#                                                    </div>#}
{#                                                    <div id="collapse{{ contact.id }}Facturation" class="collapse" aria-labelledby="heading{{ contact.id }}Facturation" data-parent="#accordionContactHQFacturation">#}
{#                                                        <div class="card-body border">#}
{#                                                            <dl class="row list-group-horizontal">#}
{#                                                                <dt class="col-3 my-auto"><i class="fas fa-at"></i>&nbsp;Email :</dt>#}
{#                                                                <dd class="col-9 my-auto list-group-item no-border bg-transparent contactEmail" id="">{{ contact.email }}</dd>#}
{#                                                                <dt class="col-3 my-auto"><i class="fas fa-phone-square"></i>&nbsp;Téléphone :</dt>#}
{#                                                                <dd class="col-9 my-auto list-group-item no-border bg-transparent contactTelephone">{{ contact.telephone }}</dd>#}
{#                                                                <dt class="col-3 my-auto"><i class="fas fa-mobile-alt"></i>&nbsp;Mobile :</dt>#}
{#                                                                <dd class="col-9 my-auto list-group-item no-border bg-transparent contactMobile">{{ contact.mobile }}</dd>#}
{#                                                            </dl>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            {% endif %}#}
{#                                        {% endfor %}#}
{#                                    {% endif %}#}
{#                                </div>#}
{#                            </div>#}
                        {% else %}
                            <h4 class="text-center no-contact">Aucun contact enregistré</h4>
                            <p class="text-center no-contact">Ajoutez un contact</p>
                            <!-- Button trigger modal -->
                            <p class="text-center no-contact">
                                <button type="button" class="btn btn-default text-success text-center" data-toggle="modal" data-target="#myModalContact">
                                    <i class="fas fa-times-circle fa-2x"></i>
                                </button>
                            </p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <hr>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="nav-item w-50">
                    <button id="showAffaire" class="btn-light nav-link active w-100" data-toggle="tab" href="#affaires">Affaires</button>
                </li>
            </ul>
            <div class="tab-content w-100">
				<div class="tab-pane active" id="affaires">
                    {% if linkedAffaires is not empty %}
                        <h3 class="display-6 m-4">Liste des affaires</h3>
                        {% for affaire in linkedAffaires %}
                            <div>
                                <ul class="list-group-horizontal">
                                    <li class="list-group-item"><strong>{{ affaire.designation }}</strong>
                                        <ul class="list-group-horizontal no-border">
                                            <li class="list-group-item no-border">
                                                Numéro : {{ affaire.numero }}
                                                {% for attri in affaire.attributions %}
                                                    {% if attri.user.id == app.user.id %}
                                                        <a role="button" class="btn btn-default float-right" title="Voir l'affaire" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) }}">
                                                            <i class="fas fa-eye"></i>
                                                        </a>
                                                    {% endif %}
                                                {% endfor %}
                                                {% if is_granted('ROLE_SUPER_SUDALYS') %}
                                                    <a role="button" class="btn btn-default float-right" title="Voir l'affaire" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) }}">
                                                        <i class="fas fa-eye"></i>
                                                    </a>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h3 class="display-6 m-4 text-center">Cette organisme est présent dans aucune affaire</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {# Modal ajout d'un contact au siège #}
    <div class="modal fade" id="myModalContact" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white font-weight-bold" id="contactModalLabel">Ajouter un contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        {{ form_start(form_create_contact, {'attr': {'id': 'join_contact'}}) }}
                            {{ form_errors(form_create_contact) }}
                            {{ form_widget(form_create_contact.organisme) }}
                            {{ form_row(form_create_contact.type) }}
                            {{ form_row(form_create_contact.nom) }}
                            {{ form_row(form_create_contact.prenom) }}
                            {{ form_row(form_create_contact.email) }}
                            {{ form_row(form_create_contact.telephone) }}
                            {{ form_row(form_create_contact.mobile) }}
                        </div>
                        <div class="modal-footer bg-primary">
                            <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
                            {{ form_row(form_create_contact.ajouter, {'attr' : {'disabled': true}}) }}
                        </div>
                    {{ form_end(form_create_contact) }}
            </div>
        </div>
    </div>
        {# Modal modification de l'organisme #}
    <div class="modal fade orga" style="display: none" id="orga" tabindex="-1" role="dialog" aria-labelledby="orgaModalLabel">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white font-weight-bold" id="orgaModalLabel">Modifier l'organisme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body ">
                    {{ form_start(form_orga, {'attr': {'id': 'modify_orga'}}) }}
                    {{ form_errors(form_orga) }}
                    {{ form_row(form_orga.parent) }}
                    {{ form_row(form_orga.nom) }}
                    {{ form_row(form_orga.type) }}
                    {{ form_row(form_orga.adresse) }}
                    {{ form_row(form_orga.adresseComplementaire1) }}
                    {{ form_row(form_orga.adresseComplementaire2) }}
                    {{ form_row(form_orga.stal) }}
                    {{ form_row(form_orga.ville) }}
                    {{ form_row(form_orga.telephone) }}
                    {{ form_row(form_orga.email, {'attr':{'pattern':'^[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,4}$'}}) }}
                </div>
                <div class="modal-footer bg-primary">
                    <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
                    {{ form_row(form_orga.modifier) }}
                </div>
                {{ form_end(form_create_contact, {'attr' : {'disabled': true}}) }}
            </div>
        </div>
    </div>
    {# Modal edition du contact #}
    <div class="modal fade edit-contact" style="display: none" id="editCont" tabindex="-1" role="dialog" aria-labelledby="myModalEditContact">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white font-weight-bold" id="myModalEditContact">Edition du contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
                <div class="modal-footer bg-primary" id="modal-footer-edit">
                    <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>

                </div>
            </div>
        </div>
    </div>
    {# Modal suppression du contact #}
    <div class="modal fade delete-contact" style="display: none" id="deleteCont" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteContact">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white font-weight-bold deleteTitle" id="myModalDeleteContact">Suppression du contact</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-danger" id="modal-body-delete">

                </div>
                <div class="modal-footer bg-warning" id="modal-footer-delete">
                    <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        // Fonction pour afficher la modal d'édition du contact
        function showEditContactModal(id, argId) {
            $('#sendEditContact').remove();
            var url = $('#' + id).attr('data-path');
            $.get(url, function(data){
                // on charge le formulaire dans le body de la modale
                $('#modal-body').html(data);
                $('#modal-body').attr('data-path', url);
                $('#modal-body').attr('data-idElement', argId);
                $('#modal-footer-edit').append(`<button id="sendEditContact" class="btn btn-light" disabled>Enregistrer</button>`);
                $('.modal.fade.edit-contact').modal();
                changeLabels();
            });
        }
        // Fonction pour afficher la modal de suppression du contact
        function showDeleteContactModal(id, argId) {
            $('#modal-footer-delete').find('#sendDeleteContact').remove();
            url = $('#' + id).attr('data-path');
            var elem = '<button id="sendDeleteContact" class="btn btn-danger">Supprimer</button>';
            $.get(url, function(data){
                console.log(data);
                if (data.status === 'success') {
                    $('.deleteTitle').html('Suppression du contact');
                    $('#modal-footer-delete').append(elem)
                }
                var para = `<p class="text-center">${data.message}</p>`;
                // on charge le formulaire dans le body de la modale
                $('#modal-body-delete').html(para);
                $('#modal-body-delete').attr('data-path', url);
                $('#modal-body-delete').attr('data-idElement', argId);
                $('.modal.fade.delete-contact').modal();
            });
        }
        $(document).ready(function() {
            // Fonction pour supprimer un contact
            $(document).on('click', '#sendDeleteContact', function(e) {
                e.preventDefault();
                $.preloader.start();
                var url = $('#modal-body-delete').attr('data-path');
                var elemId = $('#modal-body-delete').attr('data-idElement');
                $.ajax({
                    method: 'DELETE',
                    url: url,
                    success: function (data) {
                        if (data.status === 'success') {
                            successToLocalStorage(data.message);
                            location.reload();
                        } else {
                            $.preloader.stop();
                            showAlertFlash(data.message)
                        }
                    },
                    error: function() {
                        $.preloader.stop();
                        showAlertFlash('Une erreur c\'est produits, veuillez réessayer...')
                    }
                });
                $('.modal').modal('hide');
            });
            // Fonction pour éditer un contact
            $(document).on('click', '#sendEditContact', function(e) {
                e.preventDefault();
                $.preloader.start();
                var url = $('#modal-body').attr('data-path');
                var elemId = $('#modal-body').attr('data-idElement');
                $formData = $('#form-edit-contact').serialize();
                $.ajax({
                    method: 'PUT',
                    url: url,
                    processData: true,
                    data: $formData,
                    success: function(data) {
                        if (data.status === 'success') {
                            // for (var value in data.data) {
                            //     temp = value.charAt(0).toUpperCase() + value.substr(1).toLowerCase();
                            //     $('#contactList' + elemId).find('.contact' + temp).html(data.data[value]);
                            // }
                            // $('.modal').modal('hide');
                            successToLocalStorage(data.message);
                            location.reload();
                        } else {
                            showAlertFlash(exceptionHandler(data.message, 'contact'))
                        }
                        $.preloader.stop();
                    },
                    error: function() {
                        $.preloader.stop();
                        showAlertFlash('Une erreur c\'est produits, veuillez réessayer...')
                    }
                })
            });
            $('#create_orga_modifier').click(function(e) {
                e.preventDefault();
                $.preloader.start();
                var formData = $('#modify_orga').serialize();
                $.ajax({
                    url: '{{ path('sudalys_gestion_show_orga', {orgaId: organisme.id}) }}',
                    method: 'PUT',
                    processData: true,
                    data: formData,
                    success: function (response) {
                        if(response.status === 'success') {
                            for (var data in response.data) {
                                if (data == 'type') {
                                    if (response.data[data] == 0) {
                                        response.data[data] = 'Fournisseur';
                                    } else if (response.data[data] == 1) {
                                        response.data[data] = 'Client';
                                    } else {
                                        response.data[data] = 'Client et fournisseur'
                                    }
                                }
                                $('#organismeDetail').find('.' + data).html(response.data[data]);
                                $('#organismeDetail').find('.' + data).show();
                            }
                            $.preloader.stop();
                            showSuccessFlash(response.message)
                        } else {
                            $.preloader.stop();
                            showAlertFlash(exceptionHandler(response.message, 'orgaMAJ'));
                        }
                    },
                    error: function(xhr, textStatus, thrownError) {
                        $.preloader.stop();
                        showWarningFlash('Une erreur c\'est produite, veuillez réessayer...');
                    }
                });
                $('.modal').modal('hide');
            });
            $('#join_contact_ajouter').click(function(e) {
                e.preventDefault();
                if ($('#join_contact').find('input[type=checkbox]').length > 0) {
                    var checkboxChecked = false
                    $('#join_contact').find('input[type=checkbox]:checked').each(function () {
                        checkboxChecked = true;
                    })
                    if (!checkboxChecked) {
                        showAlertFlash('Veuillez sélectionner un type de contact.')
                        return false;
                    }
                }
                $.preloader.start();
                var formData = $('#join_contact').serialize();
                $.ajax({
                    url: '{{ path('sudalys_gestion_show_orga', {orgaId: organisme.id}) }}',
                    method: 'POST',
                    processData: true,
                    data: formData,
                    success: function (response) {
                        if (response.status === 'success') {
                            // var urlDelete = '/contact/supprimer/' + response.data.id;
                            // var urlEdit = '/contact/editer/' + response.data.id;
                            // $('#accordionContactHQ').find('.no-contact').remove();
                            // $('#accordionContactHQ').append(`<div class="card" id="contactList${response.data.id}">
                            //                     <div class="card-header" role="tab" id="heading${response.data.id}">
                            //                     <h5 class="mb-0">
                            //                     <button class="btn btn-default w-75 font-weight-bold text-left" data-toggle="collapse" data-parent="#accordionContactHQ" href="#collapse${response.data.id}" aria-expanded="true" aria-controls="collapse${response.data.id}">
                            //                         ${response.data.nom} ${response.data.prenom}</button>
                            //                     <button id="delete-contact${response.data.id}" type="button" class="btn btn-light float-right" data-contactId="${response.data.id}" data-target="#myModaleDeleteContact" data-path="${urlDelete}" onclick="showDeleteContactModal('delete-contact${response.data.id}', ${response.data.id})">
                            //                         <i class="fas fa-times text-danger"></i>
                            //                     </button>
                            //                     <button id="edit-contact${response.data.id}" type="button" class="btn btn-light float-right" data-contactId="${response.data.id}" data-target="#myModalEditContact" data-path="${urlEdit}" onclick="showEditContactModal('edit-contact${response.data.id}', ${response.data.id})">
                            //                         <i class="fas fa-edit text-primary"></i>
                            //                     </button>
                            //                     </h5>
                            //                 </div>
                            //                 <div id="collapse${response.data.id}" class="collapse" aria-labelledby="heading${response.data.id}" data-parent="#accordionContactHQ">
                            //                     <div class="card-body border">
                            //                         <dl class="row list-group-horizontal">
                            //                             <dt class="col-3 my-auto">
                            //                                 <i class="fas fa-at"></i>&nbsp;Email :
                            //                             </dt>
                            //                             <dd class="col-9 my-auto list-group-item no-border bg-transparent">${response.data.email}</dd>
                            //                             <dt class="col-3 my-auto"><i class="fas fa-phone-square"></i>&nbsp;Téléphone :</dt>
                            //                             <dd class="col-9 my-auto list-group-item no-border bg-transparent">${response.data.telephone}</dd>
                            //                             <dt class="col-3 my-auto"><i class="fas fa-mobile-alt"></i>&nbsp;Mobile :</dt>
                            //                             <dd class="col-9 my-auto list-group-item no-border bg-transparent">${response.data.mobile}</dd>
                            //                        </dl>
                            //                         <div class="card-header bg-primary text-white font-weight-bold">Attaché à :</div>
                            //                             <div class="card-body">
                            //                                <h4 class="text-center">Contact nouvellement créé, rien n'est attaché pour le moment</h4>
                            //                             </div>
                            //                         </div>
                            //                     </div>
                            //                 </div>
                            //             </div>`
                            // );
                            // $('.modal').modal('hide');
                            // showSuccessFlash(response.message);
                            successToLocalStorage(response.message);
                            location.reload();
                        } else {
                            showAlertFlash(exceptionHandler(response.message, 'contact'))
                        }
                        $.preloader.stop();
                    }
                });
            });

            var contactTitles = $('.contactTypeTitle');
            for (var contactTitle of contactTitles) {
                var elem = $(contactTitle);
                var length = elem.next('.collapse').children('div#accordionContactHQ').find('div.card').length;
                var child = elem.children('span.indexContact');
                child.html(length);
                if (length === 0) {
                    child.addClass('text-warning')
                } else {
                    child.addClass('text-success')
                }
            }
        });
    </script>
{% endblock %}