{% extends 'base.html.twig' %}
{% form_theme form_theme 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <a role="button" class="btn btn-light text-primary" href="{{ path('sudalys_gestion_show_theme') }}">
                <i class="fas fa-arrow-left"></i>&nbsp;Retour à la liste
            </a>
            <h1 class="display-6">
                Thème: <span class="text-primary">{{ theme.nom|capitalize }}</span>
                <button id="modify-theme" type="button" class="btn btn-light float-right border-success " data-toggle="modal" data-target="#theme">
                    <i class="fas fa-edit text-success"></i>&nbsp;Modifier le theme
                </button>
            </h1>
            <hr class="my-4">
            <div class="row">
                <div class="card col-6 no-border bg-transparent">
                    <div class="card-header bg-primary text-white font-weight-bold">
                        Liste des articles utilisés
                    </div>
                    <div class="card-body border">
                        {% if articlesUsed is not empty %}
                            <ul class="list-group">
                                {% for article in articlesUsed %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ article.nom }}
                                        <span class="badge badge-primary badge-pill">
                                            {{ article.articleAffaires|length
                                                    +
                                                article.articleDevis|length
                                            }}
                                        </span>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h2 class="text-center">Aucun article dans cette liste</h2>
                        {% endif %}
                    </div>
                </div>
                <div class="card col-6 no-border bg-transparent">
                    <div class="card-header bg-primary text-white font-weight-bold">
                        Liste des articles orphelins
                    </div>
                    <div class="card-body border">
                        {% if articlesOrphan is not empty %}
                            <ul class="list-group">
                                {% for article in articlesOrphan %}
                                    <li class="list-group-item d-flex justify-content-between align-items-center">
                                        {{ article.nom }}
                                        <button class="btn btn-default deleteArticle" data-path="{{ path('sudalys_gestion_delete_article', {articleId: article.id}) }}"><i class="fas fa-trash-alt text-danger"></i></button>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h2 class="text-center">Aucun article dans cette liste</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
        {# Modal modification du theme #}
    <div class="modal fade theme" style="display: none" id="theme" tabindex="-1" role="dialog" aria-labelledby="themeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white font-weight-bold" id="themeModalLabel">Modifier l'theme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {{ form_start(form_theme, {'attr': {'id': 'modify_theme'}}) }}
                <div class="modal-body">
                    {{ form_row(form_theme.nom) }}
                </div>
                <div class="modal-footer bg-primary">
                    <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
                    {{ form_row(form_theme.ajouter, {'attr' : {'class': 'btn btn-light'}}) }}
                </div>
                {{ form_end(form_theme) }}
            </div>
        </div>
    </div>
    {# Modal edition de l'article #}
    <div class="modal fade edit-article" style="display: none" id="editArt" tabindex="-1" role="dialog" aria-labelledby="myModalEditArticle">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white font-weight-bold" id="myModalEditArticle">Edition de l'article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
                <div class="modal-footer bg-primary">
                    <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
                    <button id="sendEditarticle" class="btn btn-light" disabled>Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    {# Modal suppression du article #}
    <div class="modal fade delete-article" style="display: none" id="deleteArt" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteArticle">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white font-weight-bold" id="myModalDeleteArticle">Suppression de l'article</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-danger" id="modal-body-delete">

                </div>
                <div class="modal-footer bg-warning" id="modal-footer">
                    <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    {#  Modal pour actions article #}
    <div class="modal fade article" id="createDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h4 class="modal-title" id="modal-title"></h4>
                </div>
                <div class="modal-body text-center text-danger" id="modal-body-deleteArticle">
                </div>
                <div class="modal-footer bg-warning" id="modal-footer-deleteArticle">
                    <button type="button" class="btn btn-default font-weight-bold" onclick="$('.article').modal('hide')"><i class="fas fa-times-circle"></i>&nbsp;Annuler</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script>
        // Fonction pour afficher la modal d'édition du article
        function showEditArticleModal(id, argId) {
            url = $('#' + id).attr('data-path');
            $.get(url, function(data){
                // on charge le formulaire dans le body de la modale
                $('#modal-body').html(data);
                $('#modal-body').attr('data-path', url);
                $('#modal-body').attr('data-idElement', argId);
                $('.modal.fade.edit-article').modal();
                changeLabels();
            });
        }
        $(document).ready(function() {
            // Ouvrir la modal pour le suppression d'un article
            $(document).on('click', '.deleteArticle', function() {
                // Unset le valeur précédemment set
                $('#modal-footer-deleteArticle').attr('data-path', '');
                $('#sendDeleteArticle').remove();
                $('#modal-body-deleteArticle').children().remove();
                $('#modal-title').html('');
                // Récupère l'url cible
                var url = $(this).attr('data-path');
                // Créé le bouton de suppression à ajouter si succès
                var elem = '<button type="button" class="btn btn-danger" id="sendDeleteArticle">Supprimer</button>';
                $('#createDialog').modal(); // Prépare la modale
                $.get(url, function(data) { // Récupère le contenu à mettre dans la modal
                    $('#modal-footer-deleteArticle').attr('data-path', url);
                    $('#modal-body-deleteArticle').append(data.message);
                    $('#modal-title').html('Suppression d\'un article');
                    if (data.status === 'success') {
                        $('#modal-footer-deleteArticle').append(elem);
                    }
                    $('#createDialog').modal('show'); // Affiche la modale
                })
            });
            // Fonction pour envoyer la suppression de l'article
            $(document).on('click', '#sendDeleteArticle', function() {
                $.preloader.start(); // Lance le loader
                var url = $('#modal-footer-deleteArticle').attr('data-path'); // Récupère l'adresse cible
                $.ajax({ // Requête ajax
                    method: 'DELETE', // Methode DELETE
                    url: url, // Set l'url
                    success: function(data) { // En cas de succès de la requête
                        console.log(data);
                        if (data.status === 'success') { // Succès du script PHP
                            $('#article' + data.id).remove();  // Supprime la ligne de l'article
                            $.preloader.stop(); // Stop le loader
                            $('.modal').modal('hide'); // Ferme la modal
                            successToLocalStorage(data.message); // Affiche le message de succès
                            location.reload();
                        } else {
                            $.preloader.stop();
                            $('.modal').modal('hide');
                            showAlertFlash(exceptionHandler(data.message)) // Affiche le message d'erreur
                        }
                        $('#modal-footer-deleteArticle').attr('data-path', ''); // Reset l'url
                    },
                    error: function () {
                        $.preloader.stop();
                        $('.modal').modal('hide');
                        showAlertFlash('Une erreur s\'est produite, veuillez réessayer...');
                        $('#modal-footer').attr('data-path', '');
                    }
                })
            });
            // Fonction pour éditer un article
            $('#sendEditarticle').click(function(e) {
                e.preventDefault();
                $.preloader.start();
                var url = $('#modal-body').attr('data-path');
                var elemId = $('#modal-body').attr('data-idElement');
                $formData = $('#form-edit-article').serialize();
                $.ajax({
                    method: 'PUT',
                    url: url,
                    processData: true,
                    data: $formData,
                    success: function(data) {
                        if (data.status === 'success') {
                            for (var value in data.data) {
                                temp = value.charAt(0).toUpperCase() + value.substr(1).toLowerCase();
                                $('#articleList' + elemId).find('.article' + temp).html(data.data[value]);
                            }
                            $.preloader.stop();
                            $('.modal').modal('hide');
                            showSuccessFlash(data.message);
                        } else if (data.error) {
                            $.preloader.stop();
                            $('.modal').modal('hide');
                            showAlertFlash(data.message)
                        }
                    },
                    error: function() {
                        $.preloader.stop();
                        showAlertFlash('Uune erreur c\'est produits, veuillez réessayer...')
                    }
                })
            });
            $('#create_theme_modifier').click(function(e) {
                e.preventDefault();
                $.preloader.start();
                var formData = $('#modify_theme').serialize();
                $.ajax({
                    url: '{{ path('sudalys_gestion_show_theme', {themeId: theme.id}) }}',
                    method: 'PUT',
                    processData: true,
                    data: formData,
                    success: function (response) {
                        if(response.status) {
                            for (var data in response.data) {
                                if (data == 'type') {
                                    if (response.data[data] == 0) {
                                        response.data[data] = 'Fournisseur';
                                    } else if (response.data[data] == 1) {
                                        response.data[data] = 'Client';
                                    } else {
                                        response.data[data] = 'Client et fournisseur'
                                    }
                                }
                                $('#' + data).html(response.data[data]);
                                $('#' + data).show();
                            }
                            $.preloader.stop();
                            showSuccessFlash(response.message)
                        } else {
                            $.preloader.stop();
                            showWarningFlash(response.message)
                        }
                    },
                    error: function(xhr, textStatus, thrownError) {
                        $.preloader.stop();
                        showWarningFlash('Une erreur c\'est produite, veuillez réessayer...');
                    }
                });
                $('.modal').modal('hide');
            });
            $('#join_article_ajouter').click(function(e) {
                e.preventDefault();
                $.preloader.start();
                var formData = $('#join_article').serialize();
                $.ajax({
                    url: '{{ path('sudalys_gestion_detail_theme', {themeId: theme.id}) }}',
                    method: 'POST',
                    processData: true,
                    data: formData,
                    success: function (data) {
                        $('#article').find('.no-article').remove();
                        $('#article').append(`<div id="accordion" role="tablist" aria-multiselectable="true">
                                                <div class="card">
                                                    <div class="card-header" role="tab" id="heading${data.data.id}">
                                                    <h5 class="mb-0">
                                                    <button class="btn btn-default w-75 font-weight-bold text-left" data-toggle="collapse" data-parent="#accordion" href="#collapse${data.data.id}" aria-expanded="true"aria-controls="collapse${data.data.id}">
                                                        ${data.data.nom} ${data.data.prenom}</button>
                                                    <button id="delete-article" type="button" class="btn btn-light float-right" data-toggle="modal" data-articleId="${data.data.id}" data-target="#myModaleEditarticle">
                                                        <i class="fas fa-times text-danger"></i>
                                                    </button>
                                                    <button id="edit-article" type="button" class="btn btn-light float-right" data-toggle="modal" data-articleId="${data.data.id}" data-target="#myModalDeletearticle">
                                                        <i class="fas fa-edit text-primary"></i>
                                                    </button>
                                                    </h5>
                                                </div>
                                                <div id="collapse${data.data.id}" class="collapse" role="tabpanel" aria-labelledby="heading${data.data.id}">
                                                    <div class="card-body border">
                                                        <dl class="row list-group-horizontal">
                                                            <dt class="col-3 my-auto">
                                                                <i class="fas fa-at"></i>&nbsp;Email :
                                                            </dt>
                                                            <dd class="col-9 my-auto list-group-item no-border bg-transparent">${data.data.email}</dd>
                                                            <dt class="col-3 my-auto"><i class="fas fa-phone-square"></i>&nbsp;Téléphone :</dt>
                                                            <dd class="col-9 my-auto list-group-item no-border bg-transparent">${data.data.telephone}</dd>
                                                            <dt class="col-3 my-auto"><i class="fas fa-mobile-alt"></i>&nbsp;Mobile :</dt>
                                                            <dd class="col-9 my-auto list-group-item no-border bg-transparent">${data.data.mobile}</dd>
                                                       </dl>
                                                        <div class="card-header bg-primary text-white font-weight-bold">Attaché à :</div>
                                                            <div class="card-body">
                                                               <h4 class="text-center">article nouvellement créé, rien n'est attaché pour le moment</h4>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>`);
                        $.preloader.stop();
                        $('.modal').modal('hide');
                        showSuccessFlash(data.message);
                    }
                });
            });
        });
    </script>
{% endblock %}