{% form_theme form 'bootstrap_4_layout.html.twig' %}

    {{ form_start(form, {'attr' : {'id' : 'form-edit-contact'}}) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}

<script>
    $(document).ready(function() {
        formatTelType();
        checkFormValidity($('#form-edit-contact'));
    });
</script>
