{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}

	{{ form_start(form, {'action': path('sudalys_gestion_edit_devis', {'devisId': devis.id, 'affaireId': affaire.id})}) }}
	<div class="modal-header">
		<h4 class="modal-title" id="myModalLabel">Modification du Devis n°{{ devis.numeroDevis }}</h4>
	</div>
	<div class="modal-body">
		{{ form_errors(form) }}
		{{ form_row(form.affaire) }}
		{{ form_row(form.numeroDevis) }}
		{{ form_row(form.dateDebutPrestation) }}
		{{ form_row(form.dateFinPrestation) }}
		{{ form_row(form.detailPrestation) }}
		{{ form_row(form.totalHT) }}
		{{ form_row(form.remise) }}
		{{ form_row(form.TVA) }}
		{{ form_row(form.organisme) }}

		{% if devis.validation == 0 %}
			{{ form_row(form.etat, {'attr':{'class': 'd-none', 'aria-describedby':'helpText'}}) }}
			<small id="helpText" class="form-text text-muted">Votre devis étant en attente de validation par un admin, vous ne pouvez modifier l'état de ce devis</small>
			{% else %}
				{{ form_row(form.etat) }}
		{% endif %}

		{% if is_granted('ROLE_SUPER_SUDALYS') %}
			{{ form_row(form.validation) }}
		{% endif %}
		
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
		{# <button type="button" class="btn btn-primary">Sauvegarder les modifications</button> #}
	</div>
	{{ form_end(form) }}

{% endblock %}
