{% form_theme form 'bootstrap_4_layout.html.twig' %}

{{ form_start(form, {'attr':{'id': 'formEditAvoir'}}) }}
	{{ form_errors(form) }}
	{{ form_widget(form) }}
{{ form_end(form) }}

<script>
	$(document).ready(function() {
		checkFormValidity($('#formAvoir'));
		changeLabels();
		$('input[type=text]').change(function() {
			addCommaThis(this);
		});
	});
</script>