{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-6">Paramétres</h1>
        <hr class="my-4">
        <!-- Nav tabs -->
        <ul class="nav row no-border">
            <li class="col-auto col-lg">
                <a role="button" class="btn btn-light btn-outline-secondary border-secondary font-weight-bold w-100" href="{{ path('sudalys_gestion_parameters_typeContact') }}"><h4>Type de contacts</h4></a>
            </li>
            <li class="col-auto col-lg">
                <a role="button" class="btn btn-light btn-outline-success border-success font-weight-bold w-100" href="{{ path('sudalys_gestion_parameters_adresse') }}"><h4>Carnet adresse Sudalys</h4></a>
            </li>
            <li class="col-auto col-lg">
                <a role="button" class="btn btn-light btn-outline-primary border-primary font-weight-bold w-100" href="{{ path('sudalys_gestion_parameters_modePaiement') }}"><h4>Modes de paiements</h4></a>
            </li>
        </ul>
        <!-- end Nav tabs -->
    </div>
{% endblock %}