{% extends "base.html.twig" %}

{% block body %}
	<div class="container-fluid">
		<div class="jumbotron">
		<!-- Nav tabs -->
		<ul class="nav nav-tabs row no-border">
			<li class="nav-item col-auto col-lg p-0 pr-1">
				<button id="showAffaire" class="btn btn-outline-primary border-primary font-weight-bold w-100 nav-link active" data-toggle="tab" href="#affaire">Affaires</button>
			</li>
			<li class="nav-item col-auto col-lg p-0 pr-1">
				<button id="showDevis" class="btn btn-outline-info border-info font-weight-bold nav-link w-100" data-toggle="tab" href="#devis">
					Devis sans affaire
					{% if is_granted('ROLE_SUPER_SUDALYS') %}
						<span class="p-1 float-right badge badge-pill bg-transparent">{{ devisToValidate }}</span>
					{% endif %}
				</button>
			</li>
			{% if commandeFournisseur is not null %}
				<li class="nav-item col-auto col-lg p-0 pr-1">
					<button id="showCMDF" class="btn btn-outline-secondary border-secondary font-weight-bold nav-link w-100" data-toggle="tab" href="#commandeMateriel">
						Commandes matériels sans affaire
						<span class="p-1 float-right badge badge-pill bg-transparent"></span>
					</button>
				</li>
				<li class="nav-item col-auto col-lg p-0 pr-1">
					<button id="showCMDP" class="btn btn-outline-success border-success font-weight-bold nav-link w-100" data-toggle="tab" href="#commandePrestation">
						Commandes prestations sans affaire
						<span class="p-1 float-right badge badge-pill bg-transparent"></span>
					</button>
				</li>
			{% endif %}
		</ul>
		{# ----------------------------------------------------- lISTE DES AFFAIRES --------------------------------------------------- #}
			<div class="tab-content w-100">
				<div class="tab-pane active" id="affaire">
					{# Si l'utilisateur est un admin, on lui propose de pouvoir créer une nouvelle attribution ainsi qu'une nouvelle affaire #}
					<div class="row float-right">
						{% if is_granted('ROLE_SUPER_SUDALYS') and listeAffaire is not empty %}
							<button type="button" data-target="{{ path('sudalys_gestion_create_attribution') }}" class="col modal-trigger btn btn-light border-success m-2" href="#createAttribution">
								<i class="fas fa-link text-success my-auto"></i>
								Nouvelle Attribution
							</button>
							<button type="button" class="btn btn-light border-success m-2" data-path="{{ path('sudalys_gestion_create_affaire') }}" id="createAffaire"><i class="fas fa-plus-circle text-success my-auto"></i>&nbsp;Créer une affaire</button>
						{% elseif is_granted('ROLE_SUPER_SUDALYS') %}
							<button style="display: none" type="button" data-target="{{ path('sudalys_gestion_create_attribution') }}" class="col modal-trigger btn btn-light float-right border-success m-2" href="#createAttribution">
								<i class="fas fa-link text-success my-auto"></i>
								Nouvelle Attribution
							</button>
							<button style="display: none" type="button" class="btn btn-light float-right border-success m-2" data-target="{{ path('sudalys_gestion_create_attribution') }}" data-path="{{ path('sudalys_gestion_create_affaire') }}" id="createAffaire"><i class="fas fa-plus-circle text-success my-auto"></i>&nbsp;Créer une affaire</button>
						{% endif %}
					</div>
					<dl class="float-right m-2 row">
						<dt class="col-4 my-auto">
							<label for="searchAffaire">Rechercher</label>
						</dt>
						<dd class="col">
							<input class="form-control" type="search" id="searchAffaire">
						</dd>
					</dl>
					<h3 class="display-6 m-4">Liste des affaires</h3>
					{% if listeAffaire is not empty %}
						{% if userAttribution is not empty or is_granted('ROLE_SUPER_SUDALYS') %}
							<table class="table table-hover bg-light" style="text-align: center" id="affaireTable">
								<thead>
									<tr class="bg-primary text-white">
										<th scope="col">Désignation</th>
										<th scope="col">Numéro d'affaire</th>
										<th scope="col">Devis</th>
										<th scope="col">Commandes</th>
										<th scope="col">Factures</th>
										<th scope="col">Attributions</th>
										<th scope="col">Actions</th>
									</tr>
								</thead>
								{# Un admin voit toutes les affaires #}
								{% if is_granted('ROLE_SUPER_SUDALYS') %}
									<tbody id="toScan">
										{% for affaire in listeAffaire %}
											{% if affaire.respectPlafond == true %}
												<tr class="affaireRow searchTableAffaire">
											{% else %}
												<tr class="affaireRow searchTableAffaire bg-danger-light">
											{% endif %}
												<td>{{ affaire.designationAffaire }}</td>
												<td>{{affaire.numeroAffaire}}</td>
												{% if affaire.devis|length != 0 %}
													<td class="toScan" data-compare="{{affaire.id}}">{{affaire.devis|length}}</td>
													{% else %}
														<td class="toScan" data-compare="{{affaire.id}}"></td>
												{% endif %}
												{% if affaire.commandes|length != 0 %}
													<td>{{affaire.commandes|length}}</td>
												{% else %}
													<td></td>
												{% endif %}
												{% if affaire.factures|length != 0 %}
													<td>{{affaire.factures|length}}</td>
												{% else %}
													<td></td>
												{% endif %}
												<td>
													{% for affaireAttribue in affaire.attributions %}
														{{affaireAttribue.user.nom ~ ' ' ~ affaireAttribue.user.prenom}}
													{% endfor %}
												</td>
												<td class="align-middle">
													<a role="button" class="viewAff btn btn-link" title="Details de l'affaire" href="{{ path('sudalys_gestion_detail_affaire', { 'affaireId': affaire.id } ) }}"><i class="fas fa-eye"></i></a>
													<a role="button" class="modifyAff btn btn-link" href="{{ path('sudalys_modify_affaire', { affaireId: affaire.id }) }}" title="Editer"><i class="fas fa-edit"></i></a>
													<button class="deleteAff btn btn-link" title="Supprimer l'affaire" data-key="{{ affaire.id }}" data-toggle="modal"><i class="fas fa-trash-alt"></i></button>
												</td>
											</tr>
											<!-- Normal delete Modal -->
											<div class="modal fade" id="deleteModal{{ affaire.id }}" tabindex="-1" role="dialog" style="display: none;">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header bg-primary">
															<h5 class="modal-title" id="exampleModalLabel">Suppresssion de l'affaire: {{ affaire.designationAffaire }}</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span class="text-black-50" aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															Etes-vous sur de vouloir supprimer cette affaire?
														</div>
														<div class="modal-footer bg-primary p-0">
															<a role="button" class="btn  btn-default text-white font-weight-bold" data-dismiss="modal">Annuler</a>
															<a role="button" class="btn btn-warning deletion" href="{{ path('sudalys_delete_affaire', {affaireId: affaire.id}) }}">Supprimer</a>
														</div>
													</div>
												</div>
											</div>
											<!-- Danger delete Modal -->
											<div class="modal fade" id="dangerDeleteModal{{ affaire.id }}" tabindex="-1" role="dialog" style="display: none;">
												<div class="modal-dialog modal-dialog-centered" role="document">
													<div class="modal-content">
														<div class="modal-header bg-primary">
															<h5 class="modal-title" id="exampleModalLabel">Suppression de l'affaire: {{ affaire.designationAffaire }}</h5>
															<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																<span class="text-black-50" aria-hidden="true">&times;</span>
															</button>
														</div>
														<div class="modal-body">
															<i class="fas fa-exclamation-triangle"></i> Attention cette affaire possède des éléments. La suppréssion entrainera la suppression de toutes les opérations liées à cette affaire!
														</div>
														<div class="modal-footer bg-primary p-0">
															<a role="button" class="btn btn-default text-white font-weight-bold" data-dismiss="modal">Annuler</a>
															<a role="button" type="button" class="btn btn-warning deletion" href="{{ path('sudalys_delete_affaire', {affaireId: affaire.id}) }}">Supprimer</a>
														</div>
													</div>
												</div>
											</div>
										{% endfor %}
									</tbody>
									{# Un utilisateur lambda ne voit que les affaires qui lui ont été attribuées #}
									{% else %}
										<tbody>
											{% for attribution in userAttribution %}
												<tr class="affaireRow" data-href="{{ path('sudalys_gestion_detail_affaire', { 'affaireId': attribution.affaire.id } ) }}">
													<td>{{attribution.affaire.designationAffaire}}</td>
													<td>{{attribution.affaire.numeroAffaire}}</td>
													<td>{{attribution.affaire.devis|length}}</td>
													<td>{{attribution.affaire.commandes|length}}</td>
													<td>{{attribution.affaire.factures|length}}</td>
													<td>
														{% for affaireAttribue in attribution.affaire.attributions %}
															{{affaireAttribue.user.nom ~ ' ' ~ affaireAttribue.user.prenom}}
														{% endfor %}
													</td>
													<td class="align-middle">
														<a role="button" class="viewAff btn btn-link" title="Details de l'affaire" href="{{ path('sudalys_gestion_detail_affaire', { 'affaireId': attribution.affaire.id } ) }}"><i class="fas fa-eye"></i></a>
													</td>
												</tr>
											{% endfor %}
										</tbody>
								{% endif %}
							</table>
						{% endif %}
					{% elseif is_granted('ROLE_SUPER_SUDALYS') %}
						<table class="table table-hover bg-light text-center" style="display: none" id="affaireTable">
							<thead>
							<tr>
								<th scope="col">Désignation</th>
								<th scope="col">Numéro d'affaire</th>
								<th scope="col">Devis</th>
								<th scope="col">Commandes</th>
								<th scope="col">Factures</th>
								<th scope="col">Attributions</th>
								<th scope="col">Actions</th>
							</tr>
							</thead>
							<tbody id="toScan">
							</tbody>
						</table>
						<div id="noAffaire" class="text-center bg-light p-3">
							<h4>Aucune affaire</h4>
							<h6>Créer une Affaire</h6>
							<button type="button" class="btn btn-default m-0 p-0" onclick="$('#createAffaire').trigger('click');">
								<i class="fas fa-plus-circle text-success my-auto fa-2x"></i>
							</button>
						</div>

					{% elseif is_granted('ROLE_SUDALYS') %}
						<table class="table table-hover bg-light text-center" style="display: none" id="affaireTable">
							<thead>
							<tr>
								<th scope="col">Désignation</th>
								<th scope="col">Numéro d'affaire</th>
								<th scope="col">Devis</th>
								<th scope="col">Commandes</th>
								<th scope="col">Factures</th>
								<th scope="col">Attributions</th>
								<th scope="col">Actions</th>
							</tr>
							</thead>
							<tbody id="toScan">
							</tbody>
						</table>
						<div id="noAffaire" class="text-center bg-light p-3">
							<h4>Vous n'avez aucune affaire à laquelle vous êtes rattaché</h4>
						</div>
					{% endif %}
					<div style="display: none;" class="modal fade" id="editDevis" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content" id="modal-content"></div>
						</div>
					</div>
				</div>

				{# ----------------------------------------------------- lISTE DES DEVIS SANS RATTACHEMENT A UNE AFFAIRE --------------------------------------------------- #}
				<div id="devis" class="tab-pane">
					<div class="row float-right">
						{% if orphanDevisAll is not empty %}
							<button type="button" class="btn btn-light border-success m-2" id="createDevis"><i class="fas fa-pen-nib text-success my-auto"></i>&nbsp;Créer un Devis</button>
						{% else %}
							<button style="display: none" type="button" class="btn btn-light fborder-success m-2" id="createDevis"><i class="fas fa-pen-nib text-success my-auto"></i>&nbsp;Créer un Devis</button>
						{% endif %}
					</div>
					<dl class="float-right m-2 row">
						<dt class="col-4 my-auto">
							<label for="searchDevis">Rechercher</label>
						</dt>
						<dd class="col">
							<input class="form-control" type="search" id="searchDevis">
						</dd>
					</dl>
					<h3 class="display-6 m-4">Liste devis sans affaire</h3>
					{% if orphanDevisAll is not empty %}
						<table class="table table-hover bg-light" style="text-align: center">
							<thead>
								<tr class="bg-primary text-white">
									<th scope="col">Numéro</th>
									<th scope="col">Libellé</th>
									<th scope="col">Client concerné</th>
									<th scope="col">Date d'émission</th>
									<th scope="col">Total HT</th>
									<th scope="col">{{ 'émis par'|capitalize }}</th>
									<th scope="col">Statut</th>
									<th scope="col">Statut interne</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for devi in orphanDevisAll %}
									{% if devi.validation == 1 and devi.etat == 4 %}
										<tr class="searchTableDevis">
											<td  class="align-middle">{{devi.numeroDevis}}</td>
											<td  class="align-middle text-left">{{devi.libelle}}</td>
											<td  class="align-middle">{{devi.client.nom}}</td>
											<td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
											<td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
											<td  class="align-middle"><span class="badge badge-pill badge-primary">Prêt pour envoi au client</span></td>
											<td class="align-middle"><span class="badge badge-pill badge-success">Valider</span></td>
											<td class="align-middle row">
												{% if is_granted('ROLE_SUPER_SUDALYS') %}
													<button class="modifyDevis btn btn-link p-0 col-6 my-auto" data-key="{{devi.id}}" data-toggle="tooltip" title="Editer">
														<i class="fas fa-edit"></i>
													</button>
												{% endif %}
												<button class="pdfDevis btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_pdfexport_devis_noaffaire', { 'devisId': devi.id, 'type': 'pdf_only' } ) }}" data-toggle="tooltip" title="Télecharger un PDF">
													<i class="fas fa-file-pdf"></i>
												</button>
												<button data-href="{{ path('sudalys_gestion_devis_sent', {devisId: devi.id}) }}" class="sentDevis btn btn-link p-0 col-6 my-auto" title="Transmis au client">
													<i class="fas fa-share"></i>
												</button>
												{% if is_granted('ROLE_SUDALYS') and not is_granted('ROLE_SUPER_SUDALYS') %}
													{% if app.user.nom == devi.user.nom %}
														<a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
															<i class="fas fa-eye"></i>
														</a>
													{% endif %}
												{% endif %}
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% for devi in orphanDevisAll %}
									{% if devi.validation == 0 and devi.etat == 1 %}
										<tr>
											<td  class="align-middle">{{devi.numeroDevis}}</td>
											<td  class="align-middle text-left">{{devi.libelle}}</td>
											<td  class="align-middle">{{devi.client.nom}}</td>
											<td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
											<td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
											<td  class="align-middle"></td>
											<td class="align-middle"><span class="badge badge-pill badge-warning">En attente de validation</span></td>
											<td class="align-middle row">
												{% if is_granted('ROLE_SUPER_SUDALYS') %}
													<button class="modifyDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Editer">
														<i class="fas fa-edit"></i>
													</button>
												{% elseif is_granted('ROLE_SUDALYS') %}
													{% if app.user.nom == devi.user.nom %}
														<button class="modifyDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Editer">
															<i class="fas fa-edit"></i>
														</button>
													{% endif %}
												{% endif %}
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% for devi in orphanDevisAll %}
									{% if devi.validation == 1 and devi.etat == 1 %}
										<tr>
											<td  class="align-middle">{{devi.numeroDevis}}</td>
											<td  class="align-middle text-left">{{devi.libelle}}</td>
											<td  class="align-middle">{{devi.client.nom}}</td>
											<td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
											<td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
											<td  class="align-middle"><span class="badge badge-pill badge-info">En attente d'accord client</span></td>
											<td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
											<td class="align-middle row">
												{% if is_granted('ROLE_SUPER_SUDALYS') %}
													{% if devi.validation == 1 and devi.etat < 2 %}
														<button class="editDevis btn btn-link p-0 col-6 my-auto" data-path="{{ path('sudalys_gestion_etat_orphan', {devisId: devi.id})}}" data-toggle="tooltip" title="Accepter">
															<i class="fas fa-thumbs-up text-success"></i>
														</button>
														<button class="abandonDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Sans suite">
															<i class="fas fa-thumbs-down text-danger"></i>
														</button>
													{% endif %}
													<button class="duplicateDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Dupliquer">
														<i class="fas fa-copy"></i>
													</button>
													<a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
														<i class="fas fa-eye"></i>
													</a>
												{% elseif is_granted('ROLE_SUDALYS') %}
													{% if app.user.nom == devi.user.nom %}
														<button class="editDevis btn btn-link p-0 col-6 my-auto" data-path="{{ path('sudalys_gestion_etat_orphan', {devisId: devi.id})}}" data-toggle="tooltip" title="Accepter">
															<i class="fas fa-thumbs-up text-success"></i>
														</button>
														<button class="abandonDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Sans suite">
															<i class="fas fa-thumbs-down text-danger"></i>
														</button>
													{% endif %}
													<button class="duplicateDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Dupliquer">
														<i class="fas fa-copy"></i>
													</button>
													<a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
														<i class="fas fa-eye"></i>
													</a>
												{% endif %}
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% for devi in orphanDevisAll %}
									{% if devi.validation == 1 and devi.etat == 2 %}
										<tr>
											<td  class="align-middle">{{devi.numeroDevis}}</td>
											<td  class="align-middle text-left">{{devi.libelle}}</td>
											<td  class="align-middle">{{devi.client.nom}}</td>
											<td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
											<td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
											<td  class="align-middle"><span class="badge badge-pill badge-success">Accepté</span></td>
											<td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
											<td class="align-middle row">
												{% if is_granted('ROLE_SUPER_SUDALYS') %}
													{% if devi.etat != 3 %}
														<button class="createAffaireFromDevis btn btn-link p-0 col-6" data-target="{{ path('sudalys_gestion_create_attribution') }}" data-path="{{ path('sudalys_gestion_create_affaire_from_devis', {devisId: devi.id}) }}" data-key="{{devi.id}}" data-toggle="tooltip" title="nouvelle Affaire">
															<i class="fas fa-folder-plus"></i>
														</button>
														<button class="linkDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Rattacher">
															<i class="fas fa-link"></i>
														</button>
													{% endif %}
													<a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
														<i class="fas fa-eye"></i>
													</a>
												{% elseif is_granted('ROLE_SUDALYS') %}
													<a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
														<i class="fas fa-eye"></i>
													</a>
												{% endif %}
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% for devi in orphanDevisAll %}
									{% if devi.validation == 1 and devi.etat == 3 %}
										<tr>
											<td  class="align-middle">{{devi.numeroDevis}}</td>
											<td  class="align-middle text-left">{{devi.libelle}}</td>
											<td  class="align-middle">{{devi.client.nom}}</td>
											<td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
											<td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
											<td  class="align-middle"><span class="badge badge-pill badge-danger">Sans suite</span></td>
											<td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
											<td class="align-middle row">
												<button class="duplicateDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Dupliquer">
													<i class="fas fa-copy"></i>
												</button>
												<a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
													<i class="fas fa-eye"></i>
												</a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% for devi in orphanDevisAll %}
									{% if devi.validation == 2 %}
										<tr>
											<td  class="align-middle">{{devi.numeroDevis}}</td>
											<td  class="align-middle text-left">{{devi.libelle}}</td>
											<td  class="align-middle">{{devi.client.nom}}</td>
											<td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
											<td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
											<td  class="align-middle"></td>
											<td class="align-middle"><span class="badge badge-pill badge-danger">Refusé</span></td>
											<td class="align-middle row">
												<button class="duplicateDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Dupliquer">
													<i class="fas fa-copy"></i>
												</button>
												<a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
													<i class="fas fa-eye"></i>
												</a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<div class="text-center bg-light p-3">
							<h4>Aucun devis sans affaire</h4>
							<h6>Créer un Devis</h6>
							<button type="button" class="btn btn-default m-0 p-0" onclick="$('#createDevis').trigger('click');">
								<i class="fas fa-pen-nib text-success fa-2x"></i>
							</button>
						</div>
					{% endif %}
				</div>
				<div id="commandeMateriel" class="tab-pane">
					<div class="row float-right">
						{% if commandeFournisseur is not empty %}
							<button type="button" class="btn btn-light border-success m-2" id="createCommandeMateriel"><i class="fas fa-pen-nib text-success my-auto"></i>&nbsp;Créer une commande de matériel</button>
						{% else %}
							<button style="display: none" type="button" class="btn btn-light border-success m-2" id="createCommandeMateriel"><i class="fas fa-pen-nib text-success my-auto"></i>&nbsp;Créer une commande de matériel</button>
						{% endif %}
					</div>
					<dl class="float-right row m-2">
						<dt class="col-4 my-auto">
							<label for="searchFournisseur">Rechercher</label>
						</dt>
						<dd class="col">
							<input class="form-control" type="search" id="searchFournisseur">
						</dd>
					</dl>
					<h3 class="display-6 m-4">Liste des commandes de matériels</h3>
					{% if commandeFournisseur is not empty %}
						<table class="table table-hover bg-light" style="text-align: center">
							<thead>
							<tr class="bg-primary text-white">
								<th class="align-middle" scope="col">Numéro</th>
								<th class="align-middle" scope="col">Libellé</th>
								<th class="align-middle" scope="col">Fournisseur</th>
								<th class="align-middle" scope="col">Date d'émission</th>
								<th class="align-middle" scope="col">Date envoi</th>
								<th class="align-middle" scope="col">Total HT</th>
								<th class="align-middle" scope="col">{{'émetteur'|capitalize}}</th>
								<th class="align-middle" scope="col">Statut</th>
								<th class="align-middle" scope="col">Statut interne</th>
								<th class="align-middle" scope="col">Actions</th>
							</tr>
							</thead>
							<tbody>
								{% for commande in commandeFournisseur %}
									{% if commande.validation == 0 and commande.etat == 0 %}
										<tr class="devisRow searchTableCommandeMateriel">
											<td class="align-middle">{{commande.numeroCommandeFourn}}</td>
											<td class="align-middle text-left">{{commande.mentions}}</td>
											<td class="align-middle">
												{{commande.fournisseur.nom}}
											</td>
											<td class="align-middle">{{commande.dateCommandeFourn|date('d/m/Y')}}</td>
											<td class="align-middle"></td>
											<td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
											<td class="align-middle devisEtat"></td>
											<td class="align-middle"><span class="badge badge-pill badge-warning">En attente de validation</span></td>
											<td class="align-middle p-0 row">
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_modify_CMDE', {commandeId: commande.id }) }}" title="Editer">
													<i class="fas fa-edit"></i>
												</a>
												<button class="abandonCMDE btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_abandon_CMDE', {commandeId: commande.id}) }}" title="Abandonner la commande">
													<i class="fas fa-thumbs-down text-danger"></i>
												</button>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% for commande in commandeFournisseur %}
									{% if commande.validation == 1 and commande.etat == 0 %}
										<tr class="devisRow searchTableDevis">
											<td class="align-middle">{{commande.numeroCommandeFourn}}</td>
											<td class="align-middle text-left">{{commande.mentions}}</td>
											<td class="align-middle">
												{{commande.fournisseur.nom}}
											</td>
											<td class="align-middle">{{commande.dateCommandeFourn|date('d/m/Y')}}</td>
											<td class="align-middle"></td>
											<td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
											<td class="align-middle devisEtat">
												<span class="badge badge-pill badge-warning">En attente d'envoi</span>
											</td>
											<td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
											<td class="align-middle p-0 row">
												<button class="pdfCMDE btn btn-link col-6 my-auto" data-href="#" data-toggle="tooltip" title="Télécharger un PDF(pas actif)">
													<i class="fas fa-file-pdf"></i>
												</button>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_sent_CMDE', {commandeId: commande.id}) }}" title="Editer">
													<i class="fas fa-share"></i>
												</a>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_modify_CMDE', {commandeId: commande.id }) }}" title="Editer">
													<i class="fas fa-edit"></i>
												</a>
												<button class="abandonCMDE btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_abandon_CMDE', {commandeId: commande.id}) }}" title="Abandonner la commande">
													<i class="fas fa-thumbs-down text-danger"></i>
												</button>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_view_CMDE', {commandeId: commande.id}) }}" title="Visionner">
													<i class="fas fa-eye"></i>
												</a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% for commande in commandeFournisseur %}
									{% if commande.validation == 1 and commande.etat == 1 %}
										<tr class="devisRow searchTableDevis">
											<td class="align-middle">{{commande.numeroCommandeFourn}}</td>
											<td class="align-middle text-left">{{commande.mentions}}</td>
											<td class="align-middle">
												{{commande.fournisseur.nom}}
											</td>
											<td class="align-middle">{{commande.dateCommandeFourn|date('d/m/Y')}}</td>
											<td class="align-middle">{{commande.dateEnvoi|date('d/m/Y')}}</td>
											<td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
											<td class="align-middle devisEtat">
												<span class="badge badge-pill badge-primary">Ouverte</span>
											</td>
											<td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
											<td class="align-middle p-0 row">
												<button class="pdfCMDE btn btn-link col-6 my-auto" data-href="#" data-toggle="tooltip" title="Télécharger un PDF(pas actif)">
													<i class="fas fa-file-pdf"></i>
												</button>
												<button class="abandonCMDE btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_abandon_CMDE', {commandeId: commande.id}) }}" title="Abandonner la commande">
													<i class="fas fa-thumbs-down text-danger"></i>
												</button>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_view_CMDE', {commandeId: commande.id}) }}" title="Visionner">
													<i class="fas fa-eye"></i>
												</a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% for commande in commandeFournisseur %}
									{% if commande.validation == 1 and commande.etat == 2 %}
										<tr class="devisRow searchTableDevis">
											<td class="align-middle">{{commande.numeroCommandeFourn}}</td>
											<td class="align-middle text-left">{{commande.mentions}}</td>
											<td class="align-middle">
												{{commande.fournisseur.nom}}
											</td>
											<td class="align-middle">{{commande.dateCommandeFourn|date('d/m/Y')}}</td>
											<td class="align-middle">
												{% if commande.dateEnvoi %}
													{{ commande.dateEnvoi|date('d/m/Y') }}
												{% else %}
												{% endif %}
											</td>
											<td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
											<td class="align-middle devisEtat">
												{% if commande.raisonAbandon %}
													<span class="badge badge-pill badge-danger" title="{{ commande.raisonAbandon|escape('html') }}">Abondonné</span>
												{% else %}
													<span class="badge badge-pill badge-success">Clôturé</span>
												{% endif %}
											</td>
											<td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
											<td class="align-middle p-0 row">
												<button class="pdfCMDE btn btn-link col-6 my-auto" data-href="#" data-toggle="tooltip" title="Télécharger un PDF(pas actif)">
													<i class="fas fa-file-pdf"></i>
												</button>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_view_CMDE', {commandeId: commande.id}) }}" title="Visionner">
													<i class="fas fa-eye"></i>
												</a>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_duplicate_CMDE', {commandeId: commande.id}) }}" title="Visionner">
													<i class="fas fa-copy"></i>
												</a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<div class="text-center bg-light p-3">
							<h4>Aucune commande de matériels sans affaire</h4>
							<h6>Créer une Commande de matériels</h6>
							<button type="button" class="btn btn-default m-0 p-0" onclick="$('#createCommandeMateriel').trigger('click');">
								<i class="fas fa-pen-nib text-success fa-2x"></i>
							</button>
						</div>
					{% endif %}
				</div>
				<div id="commandePrestation" class="tab-pane">
					<div class="row float-right">
						{% if commandeFournisseur is not empty %}
							<button type="button" class="btn btn-light border-success m-2" id="createCommandePrestation"><i class="fas fa-pen-nib text-success my-auto"></i>&nbsp;Créer une commande de prestation</button>
						{% else %}
							<button style="display: none" type="button" class="btn btn-light border-success m-2" id="createCommandePrestation"><i class="fas fa-pen-nib text-success my-auto"></i>&nbsp;Créer une commande de prestation</button>
						{% endif %}
					</div>
					<dl class="float-right row m-2">
						<dt class="col-4 my-auto">
							<label for="searchPrestation">Rechercher</label>
						</dt>
						<dd class="col">
							<input class="form-control" type="search" id="searchPrestation">
						</dd>
					</dl>
					<h3 class="display-6 m-4">Liste des commandes de prestations</h3>
					{% if commandePrestataire is not empty %}
						<table class="table table-hover bg-light" style="text-align: center">
							<thead>
							<tr class="bg-primary text-white">
								<th class="align-middle" scope="col">Numéro</th>
								<th class="align-middle" scope="col">Libellé</th>
								<th class="align-middle" scope="col">Prestataire</th>
								<th class="align-middle" scope="col">Date d'émission</th>
								<th class="align-middle" scope="col">Date envoi</th>
								<th class="align-middle" scope="col">Total HT</th>
								<th class="align-middle" scope="col">{{'émetteur'|capitalize}}</th>
								<th class="align-middle" scope="col">Statut</th>
								<th class="align-middle" scope="col">Statut interne</th>
								<th class="align-middle" scope="col">Actions</th>
							</tr>
							</thead>
							<tbody>
								{% for commande in commandePrestataire %}
									{% if commande.validation == 0 and commande.etat == 0 %}
										<tr class="devisRow searchTablePrestation">
											<td class="align-middle">{{commande.numeroCommandePresta}}</td>
											<td class="align-middle text-left">{{commande.mentions}}</td>
											<td class="align-middle">
												{{commande.prestataire.nom}}
											</td>
											<td class="align-middle">{{commande.dateCommandePresta|date('d/m/Y')}}</td>
											<td class="align-middle"></td>
											<td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
											<td class="align-middle devisEtat"></td>
											<td class="align-middle"><span class="badge badge-pill badge-warning">En attente de validation</span></td>
											<td class="align-middle p-0 row">
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_modify_CMDP', {commandeId: commande.id }) }}" title="Editer">
													<i class="fas fa-edit"></i>
												</a>
												<button class="abandonCMDE btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_abandon_CMDP', {commandeId: commande.id}) }}" title="Abandonner la commande">
													<i class="fas fa-thumbs-down text-danger"></i>
												</button>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% for commande in commandePrestataire %}
									{% if commande.validation == 1 and commande.etat == 0 %}
										<tr class="devisRow searchTablePrestation">
											<td class="align-middle">{{commande.numeroCommandePresta}}</td>
											<td class="align-middle text-left">{{commande.mentions}}</td>
											<td class="align-middle">
												{{commande.prestataire.nom}}
											</td>
											<td class="align-middle">{{commande.dateCommandePresta|date('d/m/Y')}}</td>
											<td class="align-middle"></td>
											<td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
											<td class="align-middle devisEtat">
												<span class="badge badge-pill badge-warning">En attente d'envoi</span>
											</td>
											<td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
											<td class="align-middle p-0 row">
												<button class="pdfCMDP btn btn-link col-6 my-auto" data-href="#" data-toggle="tooltip" title="Télécharger un PDF(pas actif)">
													<i class="fas fa-file-pdf"></i>
												</button>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_sent_CMDP', {commandeId: commande.id}) }}" title="Editer">
													<i class="fas fa-share"></i>
												</a>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_modify_CMDP', {commandeId: commande.id }) }}" title="Editer">
													<i class="fas fa-edit"></i>
												</a>
												<button class="abandonCMDE btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_abandon_CMDP', {commandeId: commande.id}) }}" title="Abandonner la commande">
													<i class="fas fa-thumbs-down text-danger"></i>
												</button>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_view_CMDP', {commandeId: commande.id}) }}" title="Visionner">
													<i class="fas fa-eye"></i>
												</a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% for commande in commandePrestataire %}
									{% if commande.validation == 1 and commande.etat == 1 %}
										<tr class="devisRow searchTablePrestation">
											<td class="align-middle">{{commande.numeroCommandePresta}}</td>
											<td class="align-middle text-left">{{commande.mentions}}</td>
											<td class="align-middle">
												{{commande.prestataire.nom}}
											</td>
											<td class="align-middle">{{commande.dateCommandePresta|date('d/m/Y')}}</td>
											<td class="align-middle">{{commande.dateEnvoi|date('d/m/Y')}}</td>
											<td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
											<td class="align-middle devisEtat">
												<span class="badge badge-pill badge-primary">Ouverte</span>
											</td>
											<td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
											<td class="align-middle p-0 row">
												<button class="pdfCMDP btn btn-link col-6 my-auto" data-href="#" data-toggle="tooltip" title="Télécharger un PDF(pas actif)">
													<i class="fas fa-file-pdf"></i>
												</button>
												<button class="abandonCMDE btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_abandon_CMDP', {commandeId: commande.id}) }}" title="Abandonner la commande">
													<i class="fas fa-thumbs-down text-danger"></i>
												</button>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_view_CMDP', {commandeId: commande.id}) }}" title="Visionner">
													<i class="fas fa-eye"></i>
												</a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
								{% for commande in commandePrestataire %}
									{% if commande.validation == 1 and commande.etat == 2 %}
										<tr class="devisRow searchTablePrestation">
											<td class="align-middle">{{commande.numeroCommandePresta}}</td>
											<td class="align-middle text-left">{{commande.mentions}}</td>
											<td class="align-middle">
												{{commande.prestataire.nom}}
											</td>
											<td class="align-middle">{{commande.dateCommandePresta|date('d/m/Y')}}</td>
											<td class="align-middle">
												{% if commande.dateEnvoi %}
													{{ commande.dateEnvoi|date('d/m/Y') }}
												{% else %}
												{% endif %}
											</td>
											<td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ '€'}}</td>
											<td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
											<td class="align-middle devisEtat">
												{% if commande.raisonAbandon %}
													<span class="badge badge-pill badge-danger" title="{{ commande.raisonAbandon|escape('html') }}">Abondonné</span>
												{% else %}
													<span class="badge badge-pill badge-success">Clôturé</span>
												{% endif %}
											</td>
											<td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
											<td class="align-middle p-0 row">
												<button class="pdfCMDP btn btn-link col-6 my-auto" data-href="#" data-toggle="tooltip" title="Télécharger un PDF(pas actif)">
													<i class="fas fa-file-pdf"></i>
												</button>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_view_CMDP', {commandeId: commande.id}) }}" title="Visionner">
													<i class="fas fa-eye"></i>
												</a>
												<a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_duplicate_CMDP', {commandeId: commande.id}) }}" title="Dupliquer">
													<i class="fas fa-copy"></i>
												</a>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
					{% else %}
						<div class="text-center bg-light p-3">
							<h4>Aucune commande de prestations sans affaire</h4>
							<h6>Créer une Commande de prestation</h6>
							<button type="button" class="btn btn-default m-0 p-0" onclick="$('#createCommandePrestation').trigger('click');">
								<i class="fas fa-pen-nib text-success fa-2x"></i>
							</button>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{# --------------------------------------------- Modale de création d'affaire à partir d'un devis orphelin --------------------------------------------- #}
	<div style="display: none;" class="modal fade" id="createAffaireOnNewDevis" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h4 class="modal-title text-white font-weight-bold">Création d’une nouvelle affaire</h4>
				</div>
				<div class="modal-body" id="modal-body-affaire">
{#					<fieldset>#}
{#						<form action="" id="createAffaireFromDevis">#}
{#							<div class="form-group">#}
{#								<label for="designationAffaire" class="required">Veuillez indiquer la désignation de la nouvelle affaire.</label>#}
{#								<input type="text" id="designationAffaire" name="designationAffaire" required="required" class="form-control">#}
{#							</div>#}
{#							<div class="form-group">#}
{#								<label for="plafond">Souhaitez vous fixer un plafond d’engagement de commande ?</label>#}
{#								<input type="text" id="plafond" name="plafond" placeholder="Laissez vide si vous ne souhaitez pas fixer un plafond" class="form-control">#}
{#							</div>#}
{#						</form>#}

{#					</fieldset>#}
				</div>
				<div class="modal-footer bg-primary">
					<button type="button" class="btn  btn-default text-white font-weight-bold" data-dismiss="modal" onclick="$('.modal-backdrop').remove();">Annuler</button>
					<button type="button" class="btn btn-light" id="sendNewAffaire" disabled>Créer la nouvelle Affaire</button>
				</div>
			</div>
		</div>
	</div>

	{# --------------------------------------------- Modale de création d'une attribution --------------------------------------------- #}
	<div style="display: none;" class="modal fade" id="autoAttrib" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h4 class="modal-title">Plafond par opération pour cet utilisateur et cette Affaire</h4>
				</div>
				<div class="modal-body">
					<p>Avant de clore la création de l'affaire pour ce devis, souhaitez-vous indiquer un seuil limite de fonds engagés par opération pour cet utilisateur et pour cette affaire ?</p>
					<div id="attribNewUser"></div>
					<fieldset>
						<form action="" id="plafonForNewAttribution">
							<div class="form-group">
								<label for="plafond">Veuillez indiquer la valeur du plafond</label>
								<input type="number" id="userPlafond" name="plafond" class="form-control">
							</div>
						</form>		
					</fieldset>
				</div>
				<div class="modal-footer bg-primary">
					<button type="button" class="btn btn-light" id="sendNewAttrib">Enregistrer</button>
				</div>
			</div>
		</div>
	</div>

	{# --------------------------------------------- Modale de laison d'un devis orphelin à une affaire existante --------------------------------------------- #}
	<div style="display: none;" class="modal fade" id="linkDevisToAffaire" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h4 class="modal-title text-white font-weight-bold">Rattachement à une Affaire</h4>
				</div>
				<div class="modal-body">
					<p>Si, après réponse d'un client, il apparaît qu'un devis rentre dans le cadre d'une affaire, on peut effectuer un rattachement</p>

					<fieldset>
						<form action="" id="selectAffaireToLink">
							<div class="form-group">
								<label for="selectAffaire">Veuillez sléectionner l'affaire à laquelle vous voulez rattacher ce devis</label>
								<select id="selectAffaire" name="selectAffaire" class="form-control">
								{% if is_granted('ROLE_SUPER_SUDALYS') %}
									{% for affaire in listeAffaire %}
										<option value="{{affaire.id}}">{{affaire.designationAffaire}}</option>
									{% endfor %}
									{% else %}
										{% for attribution in userAttribution %}
											<option value="{{attribution.affaire.id}}">{{attribution.affaire.designationAffaire}}</option>
										{% endfor %}
								{% endif %}
								</select>
							</div>
						</form>		
					</fieldset>
				</div>
				<div class="modal-footer bg-primary">
					<button type="button" class="btn btn-default text-white font-weight-bold" data-dismiss="modal">Annuler</button>
					{% if is_granted('ROLE_SUPER_SUDALYS') %}
						<button type="button" class="btn btn-light" id="sendNewLink">Enregistrer ce rattachement</button>
						{% else %}
							<button type="button" class="btn btn-light" id="sendUserNewLink">Enregistrer ce rattachement</button>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	{#	------- Modal d'abandon d'une commande de matériel ------- #}
	<div class="modal fade abandonCommandeMateriel" tabindex="-1" role="dialog" aria-labelledby="myAbandonCommandeMateriel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-primary text-white font-weight-bold">
					Abandon d'une commande
					<button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="formAbandonCommandeMateriel" method="post" class="m-3">
						<label for="raisonAbandonCommandeMateriel">
							Raison de l'abandon de la commande
							<span class="text-danger">*</span>
						</label>
						<textarea class="form-control" id="raisonAbandonCommandeMateriel" name="raisonAbandonCommandeMateriel" required></textarea>
					</form>
				</div>
				<div class="modal-footer bg-primary p-1">
					<button type="button" class="btn  btn-default text-white font-weight-bold" data-dismiss="modal" onclick="$('.modal-backdrop').remove();">Annuler</button>
					<button id="saveAbandonCommandeMateriel" class="btn btn-danger" type="button">Abandonner</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/errorHandler.js') }}"></script>
	<script>
	// on indique à javascript d'attacher des evenements aux éléments qui seront ajoutés dynamiquement plus tard sur la page
		$(document).on('click', '.createAffaireFromDevis', function() {
			$('#modal-body-affaire').children().remove()
			$('#createAffaireFromDevis input').val('');
			$('#sendNewAffaire').attr('data-key', $(this).data('key'));
			var url = $(this).data('path');
			$.get(url, function (data) {
				$('#modal-body-affaire').html(data);
				$('#createAffaireOnNewDevis').modal('show');
			})
			$('#createAffaireOnNewDevis').modal('show');
		});
		$(document).on('click', '.linkDevis', function(e) {
			$(this).closest('tr').addClass('toRemove');
			$('#sendNewLink').attr('data-key', $(this).data('key'));
			$('#linkDevisToAffaire').modal('show');
		});
		$(document).on('click', '.userLinkDevis', function(e) {
			$(this).closest('tr').addClass('toRemove');
			$('#sendUserNewLink').attr('data-key', $(this).data('key'));
			$('#linkDevisToAffaire').modal('show');
		});
		/*
		* Fonction qui permet de modifier un devis déja saisie
		*/
		$(".modifyDevis").click(function() {
			var thisCell = $(this);
			var devis = thisCell.data('key');
			url = `/affaire/devis/gestion/${devis}`;
			location.href = url;
		});
		/**
		 * Fonction qui ouvre la modal de délétion d'une affaire
		 */
		$(document).on('click', '.deleteAff', function(e) {
			const id =$(this).data('key');
			$.ajax({
				url: '/affaire/check/' + id,
				success: function(response) {
					if (response.st === true) { // Si l'affaire contient des items modal spécifique
						$('#dangerDeleteModal' + id).modal('show');
					} else if (response.st === false) { // Si l'affaire ne contient pas d'item
						$('#deleteModal' + id).modal('show');
					}
				}
			})
		});

		$(document).on('click', '.duplicateDevis', function() {
			var thisCell = $(this);
			var devis = thisCell.data('key');
			url = `/affaire/devis/${devis}/1`;
			location.href = url;
		});

		$(document).on('click', '#createCommandeMateriel', function () {
			location.href = '{{ path('sudalys_gestion_create_CMDE_noaffaire') }}';
		});

		$(document).on('click', '#createCommandePrestation', function () {
			location.href = '{{ path('sudalys_gestion_create_CMDP_noaffaire') }}';
		});

		$(document).ready(function() {
			$("#createAffaire").click(function () {
				$('#createAffaireFromDevis input').val('');
				var url = $(this).data('path');
				$('#sendNewAffaire').attr('data-path', url);
				$('#sendNewAffaire').attr('data-target', $(this).data('target'));

				$.get(url, function (data) {
					$('#modal-body-affaire').html(data);
					$('#createAffaireOnNewDevis').modal('show');
				})
			});

			$("#createDevis").click(function () {
				location.href = "{{ path('sudalys_gestion_orphan_devis') }}";
			});
			/*
			* OUVERTURE DE MODALE ET CHARGEMENT DE CONTENU
			*/
			// Ouverture de la modal d'attribution
			$('.modal-trigger').click(function(){
				$('#editDevis').modal();
				url = $(this).attr('data-target');
				$.get(url, function(data){
					$('.modal-content').html(data);
					$('#editDevis').modal('show');
				});
			});
			// Ouverture de la modal de liaison d'un devis à une affaire existante
			$('.linkDevis').click(function() {
				$(this).closest('tr').addClass('toRemove');
				$('#sendNewLink').attr('data-key', $(this).data('key'));
				$('#linkDevisToAffaire').modal('show');
			});

			/*
			* LOGIQUE
			*/
			//fonction pour validation d'un devis orphelin
			$(".validDevis").click(function() {
				$.preloader.start();
				var thisCell = $(this);
				var devis = thisCell.data('key');
				url = `/affaire/devis/validation/${devis}`;

				$.ajax({
					type: 'POST',
					url: url,
					processData: true,
					data: {statut: "valid"},
					success: function (data) {
						if (data.status === 'success') {
							successToLocalStorage(data.message);
							location.href = '#devis';
							location.reload();
						} else {
							showAlertFlash(exceptionHandler(data.message));
							$.preloader.stop();
						}
					},
					error: function(xhr, textStatus, thrownError) {
						$.preloader.stop();
						showWarningFlash('Quelque chose c\'est mal passé, merci de réessayer...');
					}
				});
			});

			// fonction pour création d'une nouvelle affaire
			$('#sendNewAffaire').click(function() {
				$.preloader.start();
				var thisCell = $(this);
				var devis = thisCell.data('key');
				var path = thisCell.attr('data-path');
				var urlAffaire;
				// Vérifiation pour switch entre création d'une affaire depuis un devis ou simple création d'une affaire
				if (typeof devis != 'undefined') {
					urlAffaire = `/affaire/creation/depuis_devis/${devis}`;
				} else if (typeof path != "undefined") {
					urlAffaire = path;
				}
				console.log(urlAffaire);
				// on récupère toutes les valeurs saisies dans le form de la modale
				var form = $('#formAffaire').serialize();
				var url, id;
				//on créé notre requete ajax de type post vers le controller
				$.ajax({
					type: 'POST',
					url: urlAffaire,
					processData: true,
					data: form,
					// si réponse positive du controller, on ferme la modale
					success: function (data) {
						id = data.id;
						if (data.status == 'error') {
							showAlertFlash(data.message);
							$('.modal').modal('hide');
							$('#createAffaireOnNewDevis').modal('hide');
							$('.modal-backdrop').remove();
							$.preloader.stop();
						} else {
							$.preloader.stop();
							$('#createAffaireOnNewDevis').modal('hide');
							$('#editDevis').modal();
							url = '/attribution/auto/' + id;
							$.get(url, function(data){
								$('#modal-content').html(data);
								$('#editDevis').modal('show');
							});
						}
					},
					error: function(xhr, textStatus, thrownError) {
						$.preloader.stop();
						$('.modal').modal('hide');
						$('.modal-backdrop').remove();
						showWarningFlash('Quelque chose c\'est mal passé, merci de réessayer...');
					}
				});
			});
			// Envoi des données pour créer une nouvelle attribution
			$('#sendNewAttrib').click(function() {
				$.preloader.start();
				var affaireId = $(this).attr('data-affaireId');
				var urlAttribution = '/attribution/auto/' + affaireId;
				$.ajax({
					type: 'POST',
					url: urlAttribution,
					processData: true,
					data: {user: userToAttribute, plafond: $('#userPlafond').val()},
					success: function(data) {
						$('.modal').modal('hide');
						$.preloader.stop();
						showWarningFlash(data.message);
					},
					error: function(xhr, textStatus, thrownError) {
						$.preloader.stop();
						$('.modal').modal('hide');
						$('.modal-backdrop').remove();
						showAlertFlash('Quelque chose c\'est mal passé, merci de réessayer...');
					}
				});
			});

			// fonction pour lier un devis orphelin à une affaire déjà existante mais pour un admin
			$('#sendNewLink').click(function() {
				$.preloader.start();
				var devis = $(this).data('key');
				var url = `/affaire/rattachement/devis/${devis}`;
				console.log(url);
				var affaire = $('#selectAffaire').val();
				$.ajax({
					type: 'POST',
					url: url,
					processData: true,
					data: {affaire: affaire},
					success: function (data) {
						console.log(data)
						$.preloader.stop();
						successToLocalStorage("Liaison du devis effectué.");
						location.href = 'affaire/' + affaire + '#CMDR'
					},
					error: function(xhr, textStatus, thrownError) {
						$.preloader.stop();
						showWarningFlash('Quelque chose c\'est mal passé, merci de réessayer...');
					}
				});
			});
			// fonction de changement d'etat du devis pour le passer en accepté
			$(".editDevis").click(function() {
				$.preloader.start();
				var thisCell = $(this);
				var urlDevis = thisCell.attr('data-path');

				$.ajax({
					type: 'POST',
					url: urlDevis,
					processData: true,
					data: {statut: "accept"},
					success: function (data) {
						if (data.status === 'success') {
							showSuccessFlash("Etat du devis modifié avec succès");
							location.reload();
						} else {
							showAlertFlash(data.message)
						}
						$.preloader.stop();
					},
					error: function(xhr, textStatus, thrownError) {
						$.preloader.stop();
						showWarningFlash('Quelque chose c\'est mal passé lors du changement de statut du Devis');
					}
				});
			});

			// fonction pour passer le devis en sans-suite
			$(".abandonDevis").click(function() {
				$.preloader.start();
				var thisCell = $(this);
				var devis = thisCell.data('key');
				url = `/affaire/devis/statut/${devis}`;

				$.ajax({
					type: 'POST',
					url: url,
					processData: true,
					data: {statut: "abandon"},

					success: function (data) {
						if (data.status === 'success') {
							showSuccessFlash("Le devis a bien était abandonné.");
							location.reload();
						} else {
							showAlertFlash(data.message);
						}
						$.preloader.stop();
					},
					error: function(xhr, textStatus, thrownError) {
						$.preloader.stop();
						showWarningFlash('Quelque chose c\'est mal passé, merci de réessayer...');
					}
				});
			});
			// Fonction pour passer de l'état prete a envoyer à en attente de paiement
			$('.sentDevis').click(function() {
				var test = confirm('Vous êtes sur le point de passer le devis en attente d\'accord client. Assurez-vous de bien avoir envoyer le devis puis cliquez sur "OK"');

				if (test === true) {
					location.href = $(this).attr('data-href');
				}
			});
			// Fonction pour télécharger le devis en PDF
			$(".pdfDevis").click(function() {
				location.href = $(this).data("href");
			});
			// Event pour ouvrir la modal d'abandon d'une commande de matériel
			$('.abandonCMDE').click(function () {
				var url = $(this).attr('data-href');
				$('#saveAbandonCommandeMateriel').attr('data-href', url);
				$('.modal.fade.abandonCommandeMateriel').modal('show');
			});
			// Fonction pour envoyer le formulaire d'abandon d'une commande de matériel
			$('#saveAbandonCommandeMateriel').click(function() {
				const formData = $('#formAbandonCommandeMateriel').serializeArray();
				var url = $(this).attr('data-href');
				console.log(url)
				$.ajax({
					url: url,
					method: 'POST',
					processData: true,
					data: formData,
					success: function(data) {
						if (data.status === 'success') {
							successToLocalStorage(data.message)
							location.href = '#commandeMateriel';
							location.reload();
						} else {
							showAlertFlash(data.message)
						}
					},
					error: function() {
						showAlertFlash('Une erreur s\'est produite lors de l\'abandon de la commande fournisseur.')
					}
				});
			});
		});
	</script>
{% endblock %}
