{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-6">Dashboard Administratif</h1>
        <hr class="my-4">
        <!-- Nav tabs -->
        <ul class="nav row no-border">
            <li class="col-auto col-lg">
                <a role="button" class="btn btn-light btn-outline-primary border-primary font-weight-bold w-100" href="{{ path('sudalys_gestion_dashboard_administratif_vente') }}"><h4>Ventes</h4></a>
            </li>
            <li class="col-auto col-lg">
                <a role="button" class="btn btn-light btn-outline-warning border-warning font-weight-bold w-100" href="{{ path('sudalys_gestion_dashboard_administratif_achat') }}"><h4>Achats</h4></a>
            </li>
            <li class="col-auto col-lg">
                <a role="button" class="btn btn-light btn-outline-info border-info font-weight-bold w-100" href="{{ path('sudalys_gestion_dashboard_administratif_fournisseur') }}"><h4>Référencements</h4></a>
            </li>
        </ul>
        <!-- end Nav tabs -->
    </div>
{% endblock %}