{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs row no-border">
                <li class="nav-item col-auto col-lg p-0 pr-1">
                    <button id="showDevis" class="btn btn-outline-info border-info font-weight-bold nav-link w-100" data-toggle="tab" href="#devis">
                        Devis
                        <span class="p-1 float-right badge badge-pill bg-transparent" id="indexDevisValid">{{ devisAffaire|length + devis|length }}</span>
                    </button>
                </li>
                <li class="nav-item col-auto col-lg p-0 pr-1">
                    <button id="showCMDE" class="btn btn-outline-secondary border-secondary font-weight-bold nav-link w-100" data-toggle="tab" href="#commandeEmise">
                        Commandes à émettre
                        <span class="p-1 float-right badge badge-pill bg-transparent">{{ commandePrestataire|length + commandeFournisseur|length }}</span>
                    </button>
                </li>
                <li class="nav-item col-auto col-lg p-0 pr-1">
                    <button id="showFacture" class="btn btn-outline-success border-success font-weight-bold nav-link w-100" data-toggle="tab" href="#validationFacture">
                        Validation factures
                        <span class="p-1 float-right badge badge-pill bg-transparent">{{ facturePrestataire|length + factureFournisseur|length }}</span>
                    </button>
                </li>
                <li class="nav-item col-auto col-lg p-0 pr-1">
                    <button id="showAffaire" class="btn btn-outline-primary border-primary font-weight-bold w-100 nav-link" data-toggle="tab" href="#gestion">
                        Gestion
                        <span class="p-1 float-right badge badge-pill bg-transparent">{{ affaires|length }}</span>
                    </button>
                </li>
            </ul>
            <hr>
            <div class="tab-content w-100">
                <div id="devis" class="tab-pane">
                    <div class="float-right mx-2">
                        <div class="dropdown">
                            <button class="btn bg-light border-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-pen-nib text-success"></i>&nbsp;Sélection saisie
                            </button>
                            <div class="dropdown-menu" style="max-width: none !important;" aria-labelledby="dropdownMenuButton">
                                <div class="list-group list-group-flush text-center">
                                    <label class="custom-control bg-info text-white p-2 m-0">Devis</label>
                                    <button type="button" class="dropdown-item list-group-item list-group-item-action createDevis">Sans affaire</button>
                                    <button type="button" data-type="devis" data-href="/affaire/affaireId/devis/gestion" class="dropdown-item list-group-item list-group-item-action createDevisAffaire">Avec affaire</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <dl class="float-right row">
                        <dt class="col-4 my-auto">
                            <label for="searchDevis">Rechercher</label>
                        </dt>
                        <dd class="col">
                            <input class="form-control" type="search" id="searchDevis">
                        </dd>
                    </dl>
                    <h3 class="display-6 m-4">Liste des devis</h3>
                    {% if devis is not empty or devisAffaire is not empty %}
                        <table class="table table-hover bg-light" style="text-align: center">
                            <thead>
                            <tr class="bg-primary text-white">
                                <th scope="col">Numéro</th>
                                <th scope="col">Libellé</th>
                                <th scope="col">Client concerné</th>
                                <th scope="col">Date d'émission</th>
                                <th scope="col">Total HT</th>
                                <th scope="col">{{ 'émis par'|capitalize }}</th>
                                <th scope="col">Statut</th>
                                <th scope="col">Statut interne</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for affaire in listeAffaireDevis %}
                                <tr class="searchTableDevis">
                                    <td class="text-left font-weight-bold" colspan="9">{{ affaire.numeroAffaire }} : {{ affaire.designationAffaire }}</td>
                                </tr>
                                {% for devi in devisAffaire %}
                                    {% if devi.affaire.id == affaire.id %}
                                        <tr class="searchTableDevis">
                                            <td  class="align-middle">{{devi.numeroDevis}}</td>
                                            <td  class="align-middle text-left">{{devi.libelle}}</td>
                                            <td  class="align-middle">{{devi.client.nom}}</td>
                                            <td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
                                            <td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                                            <td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
                                            {% if devi.etat == 1 %}
                                                <td  class="align-middle"><span class="badge badge-pill badge-warning">En attente d'accord client</span></td>
                                            {% elseif devi.etat == 4 %}
                                                <td  class="align-middle"><span class="badge badge-pill badge-primary">Prêt pour envoi au client</span></td>
                                            {% endif %}
                                            <td class="align-middle"><span class="badge badge-pill badge-success">Valider</span></td>
                                            <td class="align-middle row">
                                                {% if devi.etat == 1 %}
                                                    <button class="editDevisAffaire btn btn-link p-0 col-6 my-auto" data-affaire="{{ devi.affaire.id }}" data-key="{{devi.id}}" data-toggle="tooltip" title="Accepté">
                                                        <i class="fas fa-thumbs-up text-success"></i>
                                                    </button>
                                                    <button class="abandonDevis btn btn-link p-0 col-6 my-auto" data-key="{{devi.id}}" data-toggle="tooltip" title="Sans suite">
                                                        <i class="fas fa-thumbs-down text-danger"></i>
                                                    </button>
                                                {% endif %}
                                                <button class="pdfDevis btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_pdfexport_devis_noaffaire', { 'devisId': devi.id, 'type': 'pdf_only' } ) }}" data-toggle="tooltip" title="Télecharger un PDF">
                                                    <i class="fas fa-file-pdf"></i>
                                                </button>
                                                {% if devi.etat == 4 %}
                                                    <button data-href="{{ path('sudalys_gestion_devis_sent_chefProjet', {devisId: devi.id, chefProjet: 'yes'}) }}" class="sentDevis btn btn-link p-0 col-6 my-auto" title="Transmis au client">
                                                        <i class="fas fa-share"></i>
                                                    </button>
                                                {% endif %}
                                                {% if devi.etat == 1 %}
                                                    <button class="duplicateDevis btn btn-link p-0 col-6 my-auto" data-key="{{devi.id}}" data-toggle="tooltip" title="Dupliquer">
                                                        <i class="fas fa-copy"></i>
                                                    </button>
                                                {% endif %}
                                                <a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                            <tr class="searchTableDevis">
                                <td class="text-left font-weight-bold" colspan="9">Sans affaire</td>
                            </tr>
                            {% for devi in devis %}
                                {% if devi.validation == 1 and devi.etat == 4 %}
                                    <tr class="searchTableDevis">
                                        <td  class="align-middle">{{devi.numeroDevis}}</td>
                                        <td  class="align-middle text-left">{{devi.libelle}}</td>
                                        <td  class="align-middle">{{devi.client.nom}}</td>
                                        <td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
                                        <td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                                        <td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
                                        <td  class="align-middle"><span class="badge badge-pill badge-primary">Prêt pour envoi au client</span></td>
                                        <td class="align-middle"><span class="badge badge-pill badge-success">Valider</span></td>
                                        <td class="align-middle row">
                                            <button class="pdfDevis btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_pdfexport_devis_noaffaire', { 'devisId': devi.id, 'type': 'pdf_only' } ) }}" data-toggle="tooltip" title="Télecharger un PDF">
                                                <i class="fas fa-file-pdf"></i>
                                            </button>
                                            <button data-href="{{ path('sudalys_gestion_devis_sent_chefProjet', {devisId: devi.id, chefProjet: 'yes'}) }}" class="sentDevis btn btn-link p-0 col-6 my-auto" title="Transmis au client">
                                                <i class="fas fa-share"></i>
                                            </button>
                                            <a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for devi in devis %}
                                {% if devi.validation == 0 and devi.etat == 1 %}
                                    <tr>
                                        <td  class="align-middle">{{devi.numeroDevis}}</td>
                                        <td  class="align-middle text-left">{{devi.libelle}}</td>
                                        <td  class="align-middle">{{devi.client.nom}}</td>
                                        <td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
                                        <td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                                        <td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
                                        <td  class="align-middle"></td>
                                        <td class="align-middle"><span class="badge badge-pill badge-warning">En attente de validation</span></td>
                                        <td class="align-middle row">
                                            <button class="modifyDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Editer">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for devi in devis %}
                                {% if devi.validation == 1 and devi.etat == 1 %}
                                    <tr>
                                        <td  class="align-middle">{{devi.numeroDevis}}</td>
                                        <td  class="align-middle text-left">{{devi.libelle}}</td>
                                        <td  class="align-middle">{{devi.client.nom}}</td>
                                        <td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
                                        <td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                                        <td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
                                        <td  class="align-middle"><span class="badge badge-pill badge-info">En attente d'accord client</span></td>
                                        <td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
                                        <td class="align-middle row">
                                            <button class="editDevis btn btn-link p-0 col-6 my-auto" data-path="{{ path('sudalys_gestion_etat_orphan', {devisId: devi.id})}}" data-toggle="tooltip" title="Accepter">
                                                <i class="fas fa-thumbs-up text-success"></i>
                                            </button>
                                            <button class="abandonDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Sans suite">
                                                <i class="fas fa-thumbs-down text-danger"></i>
                                            </button>
                                            <button class="duplicateDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Dupliquer">
                                                <i class="fas fa-copy"></i>
                                            </button>
                                            <a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for devi in devis %}
                                {% if devi.validation == 1 and devi.etat == 2 %}
                                    <tr>
                                        <td  class="align-middle">{{devi.numeroDevis}}</td>
                                        <td  class="align-middle text-left">{{devi.libelle}}</td>
                                        <td  class="align-middle">{{devi.client.nom}}</td>
                                        <td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
                                        <td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                                        <td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
                                        <td  class="align-middle"><span class="badge badge-pill badge-success">Accepté</span></td>
                                        <td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
                                        <td class="align-middle row">
                                            <a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for devi in devis %}
                                {% if devi.validation == 1 and devi.etat == 3 %}
                                    <tr>
                                        <td  class="align-middle">{{devi.numeroDevis}}</td>
                                        <td  class="align-middle text-left">{{devi.libelle}}</td>
                                        <td  class="align-middle">{{devi.client.nom}}</td>
                                        <td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
                                        <td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                                        <td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
                                        <td  class="align-middle"><span class="badge badge-pill badge-danger">Sans suite</span></td>
                                        <td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
                                        <td class="align-middle row">
                                            <button class="duplicateDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Dupliquer">
                                                <i class="fas fa-copy"></i>
                                            </button>
                                            <a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            {% for devi in devis %}
                                {% if devi.validation == 2 %}
                                    <tr>
                                        <td  class="align-middle">{{devi.numeroDevis}}</td>
                                        <td  class="align-middle text-left">{{devi.libelle}}</td>
                                        <td  class="align-middle">{{devi.client.nom}}</td>
                                        <td  class="align-middle">{{devi.dateDevis|date('d/m/Y')}}</td>
                                        <td  class="align-middle" style="min-width:6rem">{{(devi.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                                        <td  class="align-middle">{{ devi.user.prenom|capitalize ~ ' ' ~ devi.user.nom|upper }}</td>
                                        <td  class="align-middle"></td>
                                        <td class="align-middle"><span class="badge badge-pill badge-danger">Refusé</span></td>
                                        <td class="align-middle row">
                                            <button class="duplicateDevis btn btn-link p-0 col-6" data-key="{{devi.id}}" data-toggle="tooltip" title="Dupliquer">
                                                <i class="fas fa-copy"></i>
                                            </button>
                                            <a role="button" class="btn btn-link p-0 col-6" href="{{ path('sudalys_gestion_view_devis', {display: 'true', devisId: devi.id}) }}" title="Visionner">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="text-center bg-light p-3">
                            <h4>Aucun devis sans affaire</h4>
                            <h6>Créer un Devis</h6>
                            <button type="button" class="btn btn-default m-0 p-0" onclick="$('.createDevis').trigger('click');">
                                <i class="fas fa-pen-nib text-success fa-2x"></i>
                            </button>
                        </div>
                    {% endif %}
                </div>
                <div id="commandeEmise" class="tab-pane">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs row no-border">
                        <li class="nav-item col-auto col-lg p-0 pr-1">
                            <button id="showCommandeMeteriel" class="btn btn-outline-info border-info font-weight-bold nav-link w-100" data-toggle="tab" href="#commandeMateriel">
                                Commandes de matériels
                                <span class="p-1 float-right badge badge-pill bg-transparent" id="indexDevisValid">{{ commandeFournisseur|length }}</span>
                            </button>
                        </li>
                        <li class="nav-item col-auto col-lg p-0 pr-1">
                            <button id="showCommandePrestataion" class="btn btn-outline-info border-info font-weight-bold nav-link w-100" data-toggle="tab" href="#commandePrestation">
                                Commandes de prestations
                                <span class="p-1 float-right badge badge-pill bg-transparent" id="indexDevisValid">{{ commandePrestataire|length }}</span>
                            </button>
                        </li>
                    </ul>
                    <hr>
                    <div class="tab-content">
                        <div class="float-right mx-2">
                            <div class="dropdown">
                                <button class="btn bg-light border-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-pen-nib text-success"></i>&nbsp;Sélection saisie
                                </button>
                                <div class="dropdown-menu" style="max-width: none !important;" aria-labelledby="dropdownMenuButton">
                                    <div class="list-group list-group-flush text-center">
                                        <label class="custom-control bg-secondary text-white p-2 m-0">Commandes à émettre</label>
                                        <button type="button" data-type="materiel" data-href="/gestion/creer/commandeFournisseur/affaire/affaireId" class="dropdown-item list-group-item list-group-item-action createCommande">Matériels</button>
                                        <button type="button" data-type="prestation" data-href="/gestion/creer/commandePrestataire/affaire/affaireId" class="dropdown-item list-group-item list-group-item-action createCommande">Prestations</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="commandeMateriel">
                            <dl class="float-right row">
                                <dt class="col-4 my-auto">
                                    <label for="searchCommandeMateriel">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchCommandeMateriel">
                                </dd>
                            </dl>
                            <h3 class="display-6 m-4">Liste des bons de commandes de matériels</h3>
                            {% if commandeFournisseur is not empty %}
                                <table class="table table-hover bg-light text-center">
                                    <thead>
                                    <tr class="bg-primary text-white">
                                        <th class="align-middle" scope="col">Numéro</th>
                                        <th class="align-middle" scope="col">Libellé</th>
                                        <th class="align-middle" scope="col">Fournisseur</th>
                                        <th class="align-middle" scope="col">Date d'émission</th>
                                        <th class="align-middle" scope="col">Date envoi</th>
                                        <th class="align-middle" scope="col">Total HT</th>
                                        <th class="align-middle" scope="col">{{'émetteur'|capitalize}}</th>
                                        <th class="align-middle" scope="col">Statut</th>
                                        <th class="align-middle" scope="col">Statut interne</th>
                                        <th class="align-middle" scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for affaire in listeAffaireCommandeFournisseur %}
                                        <tr class="searchTableCommandeMateriel">
                                            <td class="font-weight-bold text-left" colspan="10">{{ affaire.numeroAffaire }} : {{ affaire.designationAffaire }}</td>
                                        </tr>
                                        {% for commande in commandeFournisseur %}
                                            {% if commande.affaire.id == affaire.id %}
                                                {% if commande.validation == 0 and commande.etat == 0 %}
                                                    <tr class="searchTableCommandeMateriel">
                                                        <td class="align-middle">{{commande.numeroCommandeFourn}}</td>
                                                        <td class="align-middle text-left">{{commande.mentions}}</td>
                                                        <td class="align-middle">
                                                            {{commande.fournisseur.nom}}
                                                        </td>
                                                        <td class="align-middle">{{commande.dateCommandeFourn|date('d/m/Y')}}</td>
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                                                        <td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle"><span class="badge badge-pill badge-warning">En attente de validation</span></td>
                                                        <td class="align-middle p-0 row">
                                                            <a role="button" class="btn btn-link p-0 col-6 my-auto" href="{{ path('sudalys_gestion_modify_CMDE', {commandeId: commande.id }) }}" title="Editer">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <button class="abandonCMDE btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_abandon_CMDE', {commandeId: commande.id}) }}" title="Abandonner la commande">
                                                                <i class="fas fa-thumbs-down text-danger"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% for commande in commandeFournisseur %}
                                            {% if commande.affaire.id == affaire.id %}
                                                {% if commande.validation == 1 and commande.etat == 0 %}
                                                    <tr class="devisRow searchTableCommandeMateriel">
                                                        <td class="align-middle">{{commande.numeroCommandeFourn}}</td>
                                                        <td class="align-middle text-left">{{commande.mentions}}</td>
                                                        <td class="align-middle">
                                                            {{commande.fournisseur.nom}}
                                                        </td>
                                                        <td class="align-middle">{{commande.dateCommandeFourn|date('d/m/Y')}}</td>
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                                                        <td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
                                                        <td class="align-middle">
                                                            <span class="badge badge-pill badge-warning">En attente d'envoi</span>
                                                        </td>
                                                        <td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
                                                        <td class="align-middle p-0 row">
                                                            <button class="pdfCMDE btn btn-link col-6 my-auto" data-href="#" data-toggle="tooltip" title="Télécharger un PDF(pas actif)">
                                                                <i class="fas fa-file-pdf text-secondary"></i>
                                                            </button>
                                                            <a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_sent_CMDE', {commandeId: commande.id}) }}" title="Envoyer">
                                                                <i class="fas fa-share text-info"></i>
                                                            </a>
                                                            <button class="abandonCMDE btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_abandon_CMDE', {commandeId: commande.id}) }}" title="Abandonner la commande">
                                                                <i class="fas fa-thumbs-down text-danger"></i>
                                                            </button>
                                                            <a role="button" class="btn btn-link p-0 col-6 my-auto" href="{{ path('sudalys_gestion_view_CMDE', {commandeId: commande.id}) }}" title="Visionner">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center bg-light p-3">
                                    <h4>Aucune commande de matériels sans affaire</h4>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="commandePrestation">
                            <dl class="float-right row">
                                <dt class="col-4 my-auto">
                                    <label for="searchCommandePrestation">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchCommandePrestation">
                                </dd>
                            </dl>
                            <h3 class="display-6 m-4">Liste des bons de commandes de prestations</h3>
                            {% if commandePrestataire is not empty %}
                                <table class="table table-hover bg-light text-center">
                                    <thead>
                                    <tr class="bg-primary text-white">
                                        <th class="align-middle" scope="col">Numéro</th>
                                        <th class="align-middle" scope="col">Libellé</th>
                                        <th class="align-middle" scope="col">Prestataire</th>
                                        <th class="align-middle" scope="col">Date d'émission</th>
                                        <th class="align-middle" scope="col">Date envoi</th>
                                        <th class="align-middle" scope="col">Total HT</th>
                                        <th class="align-middle" scope="col">{{'émetteur'|capitalize}}</th>
                                        <th class="align-middle" scope="col">Statut</th>
                                        <th class="align-middle" scope="col">Statut interne</th>
                                        <th class="align-middle" scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for affaire in listeAffaireCommandePrestataire %}
                                        <tr class="searchTableCommandePrestation">
                                            <td class="font-weight-bold text-left" colspan="10">{{ affaire.numeroAffaire }} : {{ affaire.designationAffaire }}</td>
                                        </tr>
                                        {% for commande in commandePrestataire %}
                                            {% if commande.affaire.id == affaire.id %}
                                                {% if commande.validation == 0 and commande.etat == 0 %}
                                                    <tr class="devisRow searchTableCommandePrestation">
                                                        <td class="align-middle">{{commande.numeroCommandePresta}}</td>
                                                        <td class="align-middle text-left">{{commande.mentions}}</td>
                                                        <td class="align-middle">
                                                            {{commande.prestataire.nom}}
                                                        </td>
                                                        <td class="align-middle">{{commande.dateCommandePresta|date('d/m/Y')}}</td>
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                                                        <td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle"><span class="badge badge-pill badge-warning">En attente de validation</span></td>
                                                        <td class="align-middle p-0 row">
                                                            <a role="button" class="btn btn-link p-0 col-6 my-auto" href="{{ path('sudalys_gestion_modify_CMDP', {commandeId: commande.id }) }}" title="Editer">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                            <button class="abandonCMDE btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_abandon_CMDP', {commandeId: commande.id}) }}" title="Abandonner la commande">
                                                                <i class="fas fa-thumbs-down text-danger"></i>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                        {% for commande in commandePrestataire %}
                                            {% if commande.affaire.id == affaire.id %}
                                                {% if commande.validation == 1 and commande.etat == 0 %}
                                                    <tr class="devisRow searchTableCommandePrestation">
                                                        <td class="align-middle">{{commande.numeroCommandePresta}}</td>
                                                        <td class="align-middle text-left">{{commande.mentions}}</td>
                                                        <td class="align-middle">
                                                            {{commande.prestataire.nom}}
                                                        </td>
                                                        <td class="align-middle">{{commande.dateCommandePresta|date('d/m/Y')}}</td>
                                                        <td class="align-middle"></td>
                                                        <td class="align-middle">{{(commande.totalHT)|number_format(2, ',', ' ') ~ ' €'}}</td>
                                                        <td class="align-middle">{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</td>
                                                        <td class="align-middle">
                                                            <span class="badge badge-pill badge-warning">En attente d'envoi</span>
                                                        </td>
                                                        <td class="align-middle"><span class="badge badge-pill badge-success">Validé</span></td>
                                                        <td class="align-middle p-0 row">
                                                            <button class="pdfCMDP btn btn-link col-6 my-auto" data-href="#" data-toggle="tooltip" title="Télécharger un PDF(pas actif)">
                                                                <i class="fas fa-file-pdf text-secondary"></i>
                                                            </button>
                                                            <a role="button" class="btn btn-link col-6 my-auto" href="{{ path('sudalys_gestion_sent_CMDP', {commandeId: commande.id}) }}" title="Envoyer">
                                                                <i class="fas fa-share text-info"></i>
                                                            </a>
                                                            <button class="abandonCMDE btn btn-link p-0 col-6 my-auto" data-href="{{ path('sudalys_gestion_abandon_CMDP', {commandeId: commande.id}) }}" title="Abandonner la commande">
                                                                <i class="fas fa-thumbs-down text-danger"></i>
                                                            </button>
                                                            <a role="button" class="btn btn-link p-0 col-6 my-auto" href="{{ path('sudalys_gestion_view_CMDP', {commandeId: commande.id}) }}" title="Visionner">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center bg-light p-3">
                                    <h4>Aucune commande de prestations</h4>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div id="validationFacture" class="tab-pane">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs row no-border">
                        <li class="nav-item col-auto col-lg p-0 pr-1">
                            <button id="showCommandeMeteriel" class="btn btn-outline-info border-info font-weight-bold nav-link w-100" data-toggle="tab" href="#factureMateriel">
                                Factures de matériels
                                <span class="p-1 float-right badge badge-pill bg-transparent" id="indexDevisValid">{{ factureFournisseur|length }}</span>
                            </button>
                        </li>
                        <li class="nav-item col-auto col-lg p-0 pr-1">
                            <button id="showFacturePrestataion" class="btn btn-outline-info border-info font-weight-bold nav-link w-100" data-toggle="tab" href="#facturePrestation">
                                Factures de prestations
                                <span class="p-1 float-right badge badge-pill bg-transparent" id="indexDevisValid">{{ facturePrestataire|length }}</span>
                            </button>
                        </li>
                    </ul>
                    <hr>
                    <div class="tab-content">
                        <div class="tab-pane" id="factureMateriel">
                            <dl class="float-right m-2 row">
                                <dt class="col-4 my-auto">
                                    <label for="searchFactureMateriel">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchFactureMateriel">
                                </dd>
                            </dl>
                            <h3 class="display-6 m-4">Liste des factures de matériels</h3>
                            {% if factureFournisseur is not empty %}
                                <table class="table table-hover bg-light text-center">
                                    <thead>
                                    <tr class="bg-primary text-white">
                                        <th class="align-middle" scope="col">Numéro</th>
                                        <th class="align-middle" scope="col">Mentions</th>
                                        <th class="align-middle" scope="col">Fournisseur</th>
                                        <th class="align-middle" scope="col">Date facturation</th>
                                        <th class="align-middle" scope="col">Date saisie</th>
                                        <th class="align-middle" scope="col">Date réglement</th>
                                        <th class="align-middle" scope="col">Date validation</th>
                                        <th class="align-middle" scope="col">Total HT</th>
                                        <th class="align-middle" scope="col">Statut</th>
                                        <th class="align-middle" scope="col">Statut interne</th>
                                        <th class="align-middle" scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for affaire in listeAffaireFactureFournisseur %}
                                        <tr class="searchTableFactureMateriel">
                                            <td class="font-weight-bold text-left">{{ affaire.numeroAffaire }} : {{ affaire.designationAffaire }}</td>
                                        </tr>
                                        {% for facture in factureFournisseur %}
                                            {% if facture.affaire.id == affaire.id %}
                                                {% if facture.validation == 0 %}
                                                    <tr class="searchTableFactureMateriel">
                                                        <td class="align-middle">{{ facture.numeroFactureFournisseur }}</td>
                                                        <td class="align-middle">{{ facture.mentions }}</td>
                                                        <td class="align-middle">{{ facture.fournisseur.nom }}</td>
                                                        <td class="align-middle">{{ facture.dateFacture|date('d/m/Y') }}</td>
                                                        <td class="align-middle">{{ facture.dateSaisie|date('d/m/Y') }}</td>
                                                        <td class="align-middle">
                                                            {% if facture.dateReglement %}
                                                                {{ facture.dateReglement|date('d/m/Y') }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="align-middle">
                                                            {% if facture.dateValidation %}
                                                                {{ facture.dateValidation|date('d/m/Y') }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="align-middle">{{ facture.totalHT|number_format(2, ',', ' ') }} €</td>
                                                        <td class="align-middle">
                                                        </td>
                                                        <td class="align-middle">
                                                            <span class="badge badge-pill badge-warning">A valider</span>
                                                        </td>
                                                        <td class="align-middle">
                                                            <a role="button" class="btn btn-link p-0 col-6 my-auto" href="{{ path('sudalys_gestion_view_factureFournisseur', {factureId: facture.id}) }}" title="Visionner pour valider">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center bg-light p-3">
                                    <h4>Aucune Facture de matériels</h4>
                                </div>
                            {% endif %}
                        </div>
                        <div class="tab-pane" id="facturePrestation">
                            <dl class="float-right m-2 row">
                                <dt class="col-4 my-auto">
                                    <label for="searchFacturePrestation">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchFacturePrestation">
                                </dd>
                            </dl>
                            <h3 class="display-6 m-4">Liste des factures de prestations</h3>
                            {% if facturePrestataire is not empty %}
                                <table class="table table-hover bg-light text-center">
                                    <thead>
                                    <tr class="bg-primary text-white">
                                        <th class="align-middle" scope="col">Numéro</th>
                                        <th class="align-middle" scope="col">Mentions</th>
                                        <th class="align-middle" scope="col">Prestataire</th>
                                        <th class="align-middle" scope="col">Date facturation</th>
                                        <th class="align-middle" scope="col">Date saisie</th>
                                        <th class="align-middle" scope="col">Date réglement</th>
                                        <th class="align-middle" scope="col">Date validation</th>
                                        <th class="align-middle" scope="col">Total HT</th>
                                        <th class="align-middle" scope="col">Statut</th>
                                        <th class="align-middle" scope="col">Statut interne</th>
                                        <th class="align-middle" scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for affaire in listeAffaireFacturePrestataire %}
                                        <tr class="searchTableFacturePrestation">
                                            <td class="font-weight-bold text-left" colspan="11">{{ affaire.numeroAffaire }} : {{ affaire.designationAffaire }}</td>
                                        </tr>
                                        {% for facture in facturePrestataire %}
                                            {% if facture.affaire.id == affaire.id %}
                                                {% if facture.validation == 0 %}
                                                    <tr class="searchTableFacturePrestation">
                                                        <td class="align-middle">{{ facture.numeroFacturePrestataire }}</td>
                                                        <td class="align-middle">{{ facture.mentions }}</td>
                                                        <td class="align-middle">{{ facture.prestataire.nom }}</td>
                                                        <td class="align-middle">{{ facture.dateFacture|date('d/m/Y') }}</td>
                                                        <td class="align-middle">{{ facture.dateSaisie|date('d/m/Y') }}</td>
                                                        <td class="align-middle">
                                                            {% if facture.dateReglement %}
                                                                {{ facture.dateReglement|date('d/m/Y') }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="align-middle">
                                                            {% if facture.dateValidation %}
                                                                {{ facture.dateValidation|date('d/m/Y') }}
                                                            {% endif %}
                                                        </td>
                                                        <td class="align-middle">{{ facture.totalHT|number_format(2, ',', ' ') }} €</td>
                                                        <td class="align-middle">
                                                        </td>
                                                        <td class="align-middle">
                                                            <span class="badge badge-pill badge-warning">A valider</span>
                                                        </td>
                                                        <td class="align-middle">
                                                            <a role="button" class="btn btn-link p-0 col-6 my-auto" href="{{ path('sudalys_gestion_view_facturePrestataire', {factureId: facture.id}) }}" title="Visionner pour valider">
                                                                <i class="fas fa-eye"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <div class="text-center bg-light p-3">
                                    <h4>Aucune facture de prestations</h4>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="gestion">
                    <dl class="float-right row">
                        <dt class="col-4 my-auto">
                            <label for="searchGestion">Rechercher</label>
                        </dt>
                        <dd class="col">
                            <input class="form-control" type="search" id="searchGestion">
                        </dd>
                    </dl>
                    <h3 class="display-6 m-4">Liste des affaires</h3>
                    {% if affaires is not empty %}
                        <table class="table table-hover bg-light" style="text-align: center" id="gestionTable">
                            <thead>
                            <tr class="bg-primary text-white">
                                <th scope="col">Désignation</th>
                                <th scope="col">Numéro d'affaire</th>
                                <th scope="col">Devis</th>
                                <th scope="col">Commandes</th>
                                <th scope="col">Factures</th>
                                <th scope="col">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for affaire in affaires %}
                                    {% if affaire.respectPlafond == true %}
                                        <tr class="affaireRow searchTableGestion">
                                    {% else %}
                                        <tr class="affaireRow searchTableGestion bg-danger-light">
                                    {% endif %}
                                        <td>{{ affaire.designationAffaire }}</td>
                                        <td>{{affaire.numeroAffaire }}</td>
                                        {% if affaire.devis|length != 0 %}
                                            <td class="toScan" data-compare="{{affaire.id}}">{{affaire.devis|length}}</td>
                                        {% else %}
                                            <td class="toScan" data-compare="{{affaire.id}}"></td>
                                        {% endif %}
                                        {% if affaire.commandes|length != 0 %}
                                            <td>{{affaire.commandes|length}}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        {% if affaire.factures|length != 0 %}
                                            <td>{{affaire.factures|length}}</td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                        <td class="align-middle">
                                            <a role="button" class="viewAff btn btn-link" title="Gestion de l'affaire" href="{{ path('sudalys_gestion_affaire', { 'affaireId': affaire.id } ) }}"><i class="fas fa-chart-line"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div id="noAffaire" class="text-center bg-light p-3">
                            <h4>Vous n'avez aucune affaire à laquelle vous êtes rattaché</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {#  Modal de saisie divers  #}
    <div class="modal fade create" id="createDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" id="modal-body-create">
                </div>
                <div class="modal-footer bg-primary">
                    <button type="button" class="btn btn-default text-white font-weight-bold" onclick="$('.create').modal('hide')"><i class="fas fa-times-circle text-white"></i>&nbsp;Annuler</button>
                    <button type="button" class="btn btn-light" id="sendObject" disabled>Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    {#  Modal de selection d'une affaire #}
    <div class="modal fade affaireList" id="selectAffaireModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title" id="slectAffaireModalTital"></h4>
                </div>
                <div class="modal-body" id="modal-body-select-affaire">
                    <dl>
                        <dt>
                            <label for="listAffaireSelect">Sélectionner une affaire</label>
                        </dt>
                        <dd>
                            <select id="listAffaireSelect" class="selectpicker custom-control" data-live-search="true">
                                {% for affaire in affaires %}
                                    <option value="{{ affaire.id }}">{{ affaire.designationAffaire }}</option>
                                {% endfor %}
                            </select>
                        </dd>
                    </dl>
                </div>
                <div class="modal-footer bg-primary">
                    <button type="button" class="btn btn-default text-white font-weight-bold" onclick="$('.modal').modal('hide')"><i class="fas fa-times-circle text-white"></i>&nbsp;Annuler</button>
                    <button type="button" class="btn btn-light" id="selectAffaire">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function cancelEditDevis(devisId, affaire) {
            urlDevis = `/affaire/${affaire}/devis/statut/${devisId}`;

            $.ajax({
                type: 'POST',
                url: urlDevis,
                processData: true,
                data: {statut: "revert"},
                success: function (data) {
                    if (data.status === 'success') {
                        // au succès de la première requete, on viens modifier les cellules à côté du bouton cliqué
                        successToLocalStorage("La validation du devis a été annulé.");
                        location.href = '#devis';
                        setTimeout(() => {
                            location.reload()
                        }, 500)
                    } else {
                        showWarningFlash(data.message);
                        $.preloader.stop();
                        return false;
                    }
                },
                error: function() {
                    showWarningFlash('Erreur de connection avec le serveur.')
                }
            });
        }
        $(document).ready(function () {
            $('.selectpicker').selectpicker('refresh');
            // Redirige vers la page de création d'un devis au clisk sur le bouton createDevis
            $(".createDevis").click(function () {
                location.href = "{{ path('sudalys_gestion_orphan_devis') }}";
            });

            $('.createCommande').click(function () {
                let button = $('#selectAffaire');
                const type = $(this).data('type');
                button.attr('href', $(this).data('href'));
                button.attr('type', type);if (type === 'materiel') {
                    $('#slectAffaireModalTital').html("Création d'une commande de matériels");
                } else if (type === 'prestation') {
                    $('#slectAffaireModalTital').html("Création d'une commande de prestations");
                }
                $('#selectAffaireModal').modal('show')
            })

            $('.createDevisAffaire').click(function () {
                let button = $('#selectAffaire');
                const type = $(this).data('type');
                button.attr('href', $(this).data('href'));
                button.attr('type', type);
                $('#slectAffaireModalTital').html("Création d'un devis");$('#slectAffaireModalTital').html("Création d'une commande de prestations");
                $('#selectAffaireModal').modal('show')
            })

            $('#selectAffaire').click(function () {
                const id = $('#listAffaireSelect').val();
                let url = $(this).attr('href');
                url = url.replace('affaireId', id);
                location.href = url;
            })
            // Fonction pour passer de l'état prete a envoyer à en attente de paiement
            $('.sentDevis').click(function() {
                var test = confirm('Vous êtes sur le point de passer le devis en attente d\'accord client. Assurez-vous de bien avoir envoyer le devis puis cliquez sur "OK"');

                if (test === true) {
                    location.href = "";
                    location.href = $(this).attr('data-href');
                }
            });

            /*
            * fonction qui au clic d'un bouton, permet de passer un devis en accepté
            * et de créer, en pré-saisie, un BdC
            */
            $(document).on('click', ".editDevisAffaire", function() {
                $.preloader.start();
                var thisCell = $(this);
                var devis = thisCell.data('key');
                var affaire = thisCell.data('affaire');
                urlDevis = `/affaire/${affaire}/devis/statut/${devis}`;

                $.ajax({
                    type: 'POST',
                    url: urlDevis,
                    processData: true,
                    data: {statut: "accept"},
                    success: function (data) {
                        console.log(data);
                        if (data.status === 'success') {
                            // au succès de la première requete, on viens modifier les cellules à côté du bouton cliqué
                            successToLocalStorage("Etat du devis modifié avec succès");
                            urlCommande = `/affaire/${affaire}/commande/gestion`;
                            // une fois la fonction success finie, on viens relancer une requete Ajax vers le controller des commandes
                            $.ajax({
                                type: 'POST',
                                url: urlCommande,
                                processData: true,
                                data: {key: devis},
                                success: function(data) {
                                    if (data.status === 'success') {
                                        successToLocalStorage(data.message);
                                        location.href = '/affaire/' + affaire;
                                        location.reload();
                                    } else {
                                        cancelEditDevis(devis)
                                        warningToLocalStorage("Une erreur s'est produite lors de la génération de la commande");
                                    }
                                },
                                error: function(xhr, textStatus, thrownError) {
                                    $.preloader.stop();
                                    warningToLocalStorage('Quelque chose c\'est mal passé lors de la pré-saisie');
                                    cancelEditDevis(devis, affaire);
                                }
                            });
                        } else {
                            cancelEditDevis(devis, affaire)
                            showWarningFlash(data.message);
                            $.preloader.stop();
                            return false;
                        }
                    },
                    error: function(xhr, textStatus, thrownError) {
                        $.preloader.stop();
                        cancelEditDevis(devis);
                        showWarningFlash('Quelque chose c\'est mal passé lors du changement de statut du Devis');
                    }
                });
            });
            $(document).on('click', ".editDevis", function() {
                const url = $(this).data('path');

                $.ajax({
                    url,
                    method: 'POST',
                    processData: true,
                    data: {statut: 'accept'},
                    success: function (data) {
                        if (data.status === 'success') {
                            successToLocalStorage(data.message)
                            location.reload();
                        } else {
                            showAlertFlash(data.message);
                        }
                    }
                })
            });
            /*
			* Fonction qui permet d'indiquer un devis comme "sans-suite" sur le simple clic d'un bouton
			*/
            $(".abandonDevis").click(function() {
                $.preloader.start();
                var thisCell = $(this);
                var devis = thisCell.data('key');
                url = `/affaire/${affaire}/devis/statut/${devis}`;

                $.ajax({
                    type: 'POST',
                    url: url,
                    processData: true,
                    data: {statut: "abandon"},

                    success: function (data) {
                        if (data.status === 'success') {
                            location.href = '#devis';
                            setTimeout(() => {
                                location.reload()
                            }, 500)
                            // sur le success de la requete, on vient modifier les cases voisines
                            showSuccessFlash("Etat du devis modifié avec succès");
                        } else {
                            showAlertFlash(data.message);
                        }
                    },
                    error: function(xhr, textStatus, thrownError) {
                        $.preloader.stop();
                        showWarningFlash('Quelque chose c\'est mal passé, merci de réessayer...');
                    }
                });
            });
        })
    </script>
{% endblock %}