{% extends "base.html.twig" %}
{% form_theme form_commande 'bootstrap_4_layout.html.twig' %}

{% if linkedArticleCommande is null %}
	{% set isHere = 'no' %}
	{% else %}
		{% set isHere = 'yes' %}
{% endif %}

{% block verticalNav %}
	{% if affaire is not null %}
		{{ include('GestionBundle:Default:veticaleAffaireNav.html.twig') }}
	{% endif %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="display-6">Gestion d'un Bon de Commande reçu</h1>
			<hr class="my-4">
			{% if display == 'yes' %}
				<div class="row">
					<div class="col-6">
						<dl>
							<dt>Document à associer à la prise de commande<span class="text-danger">*</span></dt>
							<dd id="radio" class="offset-1">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="radios" id="radioCMD" value="1" checked>
									<label class="form-check-label" for="radioCMD">
										Commande client
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="radios" id="radioDevis" value="2">
									<label class="form-check-label" for="radioDevis">
										Devis signé
									</label>
								</div>
							</dd>
						</dl>
						<div id="uploadMore" class="input-group">
	{#						<div class="input-group-prepend">#}
	{#							<button class="btn btn-light border-secondary" type="button" onclick="$('#inputMoreFile').trigger('click')"><i class="fas fa-file-pdf text-secondary"></i>&nbsp;Choisir un pdf</button>#}
	{#						</div>#}
	{#						<div class="custom-file" hidden>#}
	{#							<input type="file" class="custom-file-input" id="inputMoreFile" lang="fr"  accept=".pdf" multiple>#}
	{#							<label class="custom-file-label" for="inputMoreFile">Choisi un ou plusieurs fichiers (pdf uniquement)</label>#}
	{#						</div>#}
							<div class="form-group files">
								<input type="file" class="form-control" id="inputMoreFile" lang="fr"  accept=".pdf" multiple>
							</div>


							{#						<div class="input-group-append">#}
	{#							<button id="uploaderMore" class="btn btn-light border-success" type="button"><i class="fas fa-cloud-upload-alt text-success"></i>&nbsp;Télécharger</button>#}
	{#						</div>#}
						</div>
					</div>
					<div class="col-6 my-auto">
						<div id="showFiles" data-commandeId="{{ commande.id }}">
							{% for doc in commande.documents %}
							<p data-ref="{{ doc }}">
								<button class="btn btn-default showDelModal" data-name="{{ doc }}">
									<i class="fas fa-times text-danger" title="Suppression du document dans la liste"></i>
								</button>
								<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/CMDDocs/{{ doc }}">
									<i class="fas fa-eye text-primary"></i>
								</a>&nbsp;
								<span class="names">{{ doc|capitalize }}</span>
							<p>
								{% endfor %}
						</div>
						<button id="uploaderMore" class="btn btn-light border-success mt-1" type="button"><i class="fas fa-cloud-upload-alt text-success"></i>&nbsp;Télécharger</button>
					</div>
				</div>
				<hr class="my-4">
			{% endif %}
			<div class="row my-auto">
				<div class="col-3 my-auto">
					<div class="col-12">
						<p><i class="fas fa-user-circle offset-1"></i>&nbsp;{{ commande.user.prenom|capitalize ~ ' ' ~ commande.user.nom|upper }}</p>
						<p><i class="fas fa-phone-square offset-1"></i>&nbsp;{{ commande.user.telephone }}</p>
						<p><i class="fas fa-mobile-alt offset-1"></i>&nbsp;{{ commande.user.mobile }}</p>
						<p><i class="fas fa-at offset-1"></i>&nbsp;{{ commande.user.email }}</p>
						<p class="offset-1">Commande créé le {{ commande.dateCommande|date('d/m/Y') }}</p>
					</div>
				</div>
				<div class="col-6 offset-3 my-auto">
					{# formulaire de la commande #}
					{{ form_start(form_commande, {'attr':{'id': 'formCommande'}}) }}
					{{ form_errors(form_commande) }}
					<dl class="row my-auto">
						<dt class="col-3 offset-1 my-auto">
							{{ form_label(form_commande.affaire) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_commande.affaire, {'attr':{'class': 'no-border', 'readonly': true}}) }}
						</dd>
						<dt class="col-3 offset-1 my-auto">
							{{ form_label(form_commande.numeroCommande) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_commande.numeroCommande, {'attr':{'class': 'no-border', 'readonly': true}}) }}
						</dd>
						<dt class="col-3 offset-1 my-auto">
							{{ form_label(form_commande.numeroCommandeClient) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_commande.numeroCommandeClient, {'attr':{'class': 'no-border'}}) }}
						</dd>
						<dt class="col-3 offset-1 my-auto">
							{{ form_label(form_commande.mentions) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_commande.mentions, {'attr':{'class': 'no-border auto-grow'}}) }}
						</dd>
					</dl>
				</div>
				<div class="col-6 my-auto">
					<dl class="row my-auto">
						<dt class="col-3 offset-1 my-auto">
							{{ form_label(form_commande.activeTVA) }}
						</dt>
						<dd class="col-2">
							{{ form_widget(form_commande.activeTVA, {'attr':{'class': 'no-border', 'readonly': true}}) }}
						</dd>
					</dl>
					<dl class="row my-auto">
						<dt class="col-3 offset-1">
							{{ form_label(form_commande.forfaitaire) }}
						</dt>
						<dd class="col-2">
							{{ form_widget(form_commande.forfaitaire, {'attr':{'class': 'no-border', 'readonly': true}}) }}
						</dd>
					</dl>

				</div>
				<div class="col-6">
					<dl class="row my-auto">
						<dt class="col-3 offset-1 my-auto">
							{{ form_label(form_commande.client) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_commande.client, {'attr':{'class': 'no-border', 'readonly': true}}) }}
						</dd>
						<dt class="col-3 offset-1 my-auto">
							{{ form_label(form_commande.contact) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_commande.contact, {'attr':{'class': 'no-border', 'readonly': true}}) }}
						</dd>
						<dd class="col-12">
							<button class="float-right btn btn-default bg-light" type="button" data-toggle="collapse" data-target="#collapseAdresse" aria-expanded="false" aria-controls="collapseAdresse">
								Sélectionner adresses
								<i class="fas fa-chevron-down text-success"></i>
							</button>
						</dd>
						<div class="collapse row" id="collapseAdresse">
							<dt class="col-3 offset-1 my-auto">
								{{ form_label(form_commande.adresseFacturation) }}
							</dt>
							<dd class="col-8">
								{{ form_widget(form_commande.adresseFacturation, {'attr':{'class': 'no-border selectpicker'}}) }}
							</dd>
							<dt class="col-3 offset-1 my-auto">
								{{ form_label(form_commande.adresseLivraison) }}
							</dt>
							<dd class="col-8">
								{{ form_widget(form_commande.adresseLivraison, {'attr':{'class': 'no-border selectpicker'}}) }}
							</dd>
						</div>
					</dl>
				</div>
				<div class="col-6">
					<dl class="offset-1" id="toHide">
						<dt>Document à associer à la prise de commande<span class="text-danger">*</span></dt>
						<dd id="radios" class="offset-1">
							<div class="form-check">
								<input class="form-check-input" type="radio" name="[radios]" id="radioCMD" value="1" checked>
								<label class="form-check-label" for="radioCMD">
									Commande client
								</label>
							</div>
							<div class="form-check">
								<input class="form-check-input" type="radio" name="[radios]" id="radioDevis" value="2">
								<label class="form-check-label" for="radioDevis">
									Devis signé
								</label>
							</div>
						</dd>
					</dl>
					<div id="upload" class="mb-3 offset-1">
						{#						<div class="input-group-prepend">#}
						{#							<button class="btn btn-light border-secondary" type="button" onclick="$('#inputFile').trigger('click')"><i class="fas fa-file-pdf text-secondary"></i>&nbsp;Choisir un pdf</button>#}
						{#						</div>#}
						<div class="form-group files">
							{#							<label>Choisi un ou plusieurs fichiers (pdf uniquement)</label>#}
							<input type="file" class="form-control" id="inputFile" lang="fr"  accept=".pdf" multiple>

							{#							<div class="input-group-append">#}

							{#							</div>#}
						</div>
						{#						<div class="custom-file files">#}
						{#							<input type="file" class="custom-file-input" id="inputFile" lang="fr"  accept=".pdf" multiple>#}
						{#							<label class="custom-file-label" for="inputFile">Choisi un ou plusieurs fichiers (pdf uniquement)</label>#}
						{#						</div>#}
					</div>
				</div>
				<div class="col-6 my-auto">
					<div id="showUpload" class="my-auto"></div>
					<button id="uploader" class="btn btn-light border-success align-bottom" type="button" hidden><i class="fas fa-cloud-upload-alt text-success"></i>&nbsp;Télécharger</button>
				</div>
			</div>
			<br>
				<table class="table table-hover" style="text-align: center" id="articleTable">
					<thead>
						<tr class="row my-auto bg-primary text-white">
							<th scope="col" class="col-2 my-auto">Désignation</th>
							<th scope="col" class="col-5 my-auto">Description</th>
							<th scope="col" class="col-1 my-auto">Unité</th>
							<th scope="col" class="col-1 my-auto">Prix unitaire</th>
							<th scope="col" class="col-1 my-auto">Quantité</th>
							<th scope="col" class="col-2 my-auto">Total HT</th>
						</tr>
					</thead>
					{# dans le cas d'une modification, on recupère les articles de la commande #}
					{% if linkedArticleCommande %}
						<tbody>
						{# on boucle dedans afin de les afficher dans le tableau #}
							{% for linkedArticle in linkedArticleCommande %}
								<tr id="ligne{{ loop.index }}" class="toscan row border-top" onchange="calculTotalLigne('ligne{{ loop.index }}')" data-articleid = "{{ linkedArticle.articleDevis.id }}"
									data-overridemontantunit = "{{ linkedArticle.overrideMontantUnit|round(2, 'ceil') }}"
									data-quantite = "{{ linkedArticle.quantite }}" data-montantht = "{{ linkedArticle.montantTotalHT|round(2, 'ceil') }}">
									<td class="col-2 my-auto no-border"><span style="position: absolute; left: 0em"><input type="checkbox" name="record" class="custom-checkbox"></span>{{ linkedArticle.articleDevis.article.nom }}</td>
									<td class="col-5 my-auto no-border text-justify">{{ linkedArticle.articleDevis.description }}</td>
									<td class="col-1 my-auto no-border hiddeOnForfaitaire">
										{% if linkedArticle.articleDevis.article.unite == 0 %}
											Unitaire
										{% else %}
											Forfaitaire
										{% endif %}
									</td>
									{# si il y a un prix overridé on l'affiche sinon on affichera le montant unitaire de l'article #}
									<td class="col-1 my-auto no-border hiddeOnForfaitaire">
										<div class="input-group">
											<input class="calculLigne form-control p-0 pr-1 text-right comma bg-light" type="text" placeholder='0,00' value="{{ linkedArticle.overrideMontantUnit|round(2, 'ceil') }}" readonly>
											<div class="input-group-append">
												<span class="input-group-text">€</span>
											</div>
										</div>
{#										{{ linkedArticle.overrideMontantUnit|number_format(2, ',', ' ') }} €#}
									</td>
									<td class="col-1 my-auto no-border hiddeOnForfaitaire">
										<div class="input-group">
											<input class="calculLigne form-control text-right comma" min="0" type="text" step="0.01" value="{{ linkedArticle.quantite }}">
											<div class="input-group-append">
												<span class="input-group-text">&#8474;</span>
											</div>
										</div>
									</td>
									<td class="col-2 my-auto no-border hiddeOnForfaitaire">
										<div class="input-group">
											<input class="calculLigne form-control p-0 pr-1 text-right comma bg-light ml-3" type="text" placeholder='0,00' value="{{ linkedArticle.montantTotalHT|round(2, 'ceil') }}" readonly>
											<div class="input-group-append">
												<span class="input-group-text">€</span>
											</div>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
						{% else %}
							<tbody></tbody>
					{% endif %}
				</table>
				<br>
				<button type="button" class="delete-row btn btn-light border-danger notToView"><i class="fas fa-trash-alt text-danger"></i>&nbsp;Supprimer les articles séléctionnés</button>
				<hr>
				<fieldset>
					<div class="form-group d-none" id="enveloppeWrapper">
						<label for="enveloppe">Dans le cas d'un Bon de Commande sans articles, veuillez renseigner ici le montant total HT commandé par l'organisme :</label>
						<input class="form-control col-sm-2" type="number" name="enveloppe" id="enveloppe" min="0">
					</div>
				</fieldset>
				<div class="offset-9">
					<dl class="row">
						<dt class="col-6 my-auto"><label for="targetST">Sous-total :</label></dt>
						<dd class="col-6">
							<div class="input-group">
								<input id="targetST" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
								<div class="input-group-append">
									<span class="input-group-text">€</span>
								</div>
							</div>
						</dd>
						<dt class="col-6 my-auto">{{ form_label(form_commande.remise) }}</dt>
						<dd class="col-6">{{ form_widget(form_commande.remise, {'attr' : {'class' : 'text-right' }}) }}</dd>
						<dt class="col-6 my-auto"><label for="targetRM">Total remise :</label></dt>
						<dd class="col-6">
							<div class="input-group">
								<input id="targetRM" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
								<div class="input-group-append">
									<span class="input-group-text">€</span>
								</div>
							</div>
						</dd>
						<dt class="col-6 my-auto"><label for="targetHT">Total HT :</label></dt>
						<dd class="col-6">
							<div class="input-group">
								<input id="targetHT" type="text" name="create_commande[totalHT]" class="form-control text-right comma" placeholder="0,00" readonly>
								<div class="input-group-append">
									<span class="input-group-text">€</span>
								</div>
							</div>
						</dd>
						<dt class="col-6 display-tva my-auto">{{ form_label(form_commande.TVA) }}</dt>
						<dd class="col-6 display-tva">{{ form_widget(form_commande.TVA, {'attr' : {'class': 'text-right', 'readonly': true }}) }}</dd>
						<dt class="col-6 display-tva my-auto"><label for="targetTTC">Total TTC</label></dt>
						<dd class="col-6 display-tva">
							<div class="input-group">
								<input id="targetTTC" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
								<div class="input-group-append">
									<span class="input-group-text">€</span>
								</div>
							</div>
						</dd>
					</dl>
				</div>
				{{ form_widget(form_commande.typeDocument) }}
				{% if display == 'no' %}
					{{ form_widget(form_commande.documents) }}
				{% endif %}
				<hr>
				<button type="submit" id="submit" class="btn btn-primary">Valider</button>
            {{ form_end(form_commande) }}
		</div>
	</div>
	<div class="modal fade show-pdf bg-transparent pdf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg bg-transparent no-border">
			<div class="modal-content bg-transparent no-border">
				<div class="modal-header p-0 bg-transparent no-border">
					<button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<iframe id="embed" class="w-100" height="600px" src=""></iframe>
			</div>
		</div>
	</div>
	{# Modal suppression de l'organise #}
	<div class="modal fade delete-doc" style="display: none" id="deleteDoc" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteDoc">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title text-white font-weight-bold" id="myModalDeleteDoc">Suppression du document</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-danger" id="modal-body-delete">
					<p>Vous êtes sur le point de supprimer le document <span id="whichDoc"></span>.</p>
					<p>Etes-vous sure de vouloir le supprimer ?</p>
				</div>
				<div class="modal-footer bg-warning" id="modal-footer">
					<button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
					<button id="delPdf" class="btn btn-danger">Supprimer</button>
				</div>
			</div>
		</div>
	</div>
	{# Modal d'ajout du numéro de commande client #}
	<div class="modal fade numCMD" style="display: none" id="numCMDModal" tabindex="-1" role="dialog" aria-labelledby="myModalNumCMD">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title text-white font-weight-bold" id="myModalNumCMD">Saisir le numéro de commande du client</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modal-body-numCMD">
					<form id="numCMD" method="post">
						<dl class="text-center">
							<dt>
								<label for="numCMDInput">N° commande client</label>
							</dt>
							<dd>
								<input id="numCMDInput" class="form-control" type="text" placeholder="Entrez le numéro de la commande envoyé par la client">
							</dd>
							<input id="docTypeInput" type="number" hidden>
						</dl>
					</form>
				</div>
				<div class="modal-footer bg-primary" id="modal-footer-numCMD">
					<button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
					<button id="sendNumCMD" class="btn btn-light border-success">Ajouter</button>
				</div>
			</div>
		</div>
	</div>
	{# Modal d'ajout du numéro de commande client #}
	<div class="modal fade noNumCMD" style="display: none" id="noNumCMDModal" tabindex="-1" role="dialog" aria-labelledby="myModalNoNumCMD">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title text-white font-weight-bold" id="myModalNoNumCMD">Attention numéro de commande client à saisir</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modal-body-numCMD">
					<p>Vous avez téléchagé une commande client mais vous n’avez  pas saisi le numéro dans le champs prévus à cette effet. Ce numéro est nécessaire au suivi de la commande.</p>
					<p>Si vous avez téléchargé un devis signé, clicker sur "Devis signé" sinon "Numéro de commande client".</p>
				</div>
				<div class="modal-footer bg-primary" id="modal-footer-numCMD">
					<button id="addNumCMDC" class="btn btn-light border-success" data-dismiss="modal"><i class="fas fa-plus-circle text-success my-auto"></i>&nbsp;Numéro de commande client</button>
					<button id="signeDevis" class="btn btn-light border-primary" data-dismiss="modal"><i class="fas fa-check-circle text-primary"></i>&nbsp;Devis signé</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{#	<script src="{{ asset('js/periodsToComma.js') }}"></script>#}
	<script>
		var flagNoPrice = false;
		var forfaitaire = false;
		var listeArticleCommande;
		addCommaAll();
		setAdresses();
		// fonction qui va permettre de créer le tableau d'articles à envoyer au controller
		function initListeArticleCommande() {
			listeArticleCommande = [];
			$('#articleTable').find('.toscan').each(function() {
				listeArticleCommande.push({"articleId": $(this).attr('data-articleid'), "overrideMontantUnit": $(this).attr('data-overridemontantunit'), "quantite": $(this).attr('data-quantite'), "montantTotalHT": $(this).attr('data-montantht')})
			});
		}
		// fonction qui va nous permettre d'afficher les prix HT et TTC sur notre page en fonction de valeurs saisies dans le formulaire du devis
		function printMontant() {
			totalHT = 0;
			var tva = ($("#create_commande_TVA").val()) / 100;
			if (!forfaitaire) {
				// pour chaque entrée dans le tableau des articles ajoutés au devis on vient incrémenter la variable totalHT de cette valeur
				$("#articleTable").find(".toscan").each(function () {
					totalHT += parseFloat($(this).attr("data-montantht").replace(' ', ''));
				});
				//même procédure, on scan les champs du formulaire pour récupérer les valeurs de remise et de tva...
				var remise = ($("#create_commande_remise").val()) / 100;
				// ...afin de les intégrer au calcul du total TTC
				var prixRemise = totalHT - (totalHT * remise);
				// on vient ensuite intégrer la valeur finale sur notre page
				$('#targetST').val(totalHT.toFixed(2));
				totalTTC = prixRemise + (prixRemise * tva);
				$('#targetRM').val((totalHT * remise).toFixed(2));
				$('#targetHT').val(prixRemise.toFixed(2));
			} else {
				var totalHt = parseFloat({{ commande.totalHT }});
				$('#targetHT').val(totalHt.toFixed(2))
				var remise = '{{ commande.remise }}';
				if (isNaN(parseFloat(remise))) {
					remise = 0;
					$("#create_commande_remise").val(0);
				} else {
					remise = parseFloat(remise);
					$("#create_commande_remise").val(remise * 100);
				}
				var remiseMontant = (totalHT * (1 - remise)).toFixed(2);
				$('#targetRM').val(remiseMontant);
				var totalTTC = totalHt * (1 + tva);
				var subTotal = totalHt - remiseMontant;
				$('#targetST').val(subTotal.toFixed(2))
			}
			// que l'on vient intégrer à la page
			$('#targetTTC').val(parseFloat(totalTTC).toFixed(2))
			addCommaAll();
		}
		// Fonction pour calculer le montant total d'un article
		async function calculTotalLigne(ligne) {
			if (forfaitaire) {
				return true;
			}
			var row = $('#' + ligne);
			var listeInput = [];
			await row.find('.calculLigne').each(function() {
				listeInput.push($(this));
			});
			listeInput[0] = listeInput[0].val().replace(' ', '').split(',').join('.');
			listeInput[1] = listeInput[1].val().replace(' ', '').split(',').join('.');
			var tot = (parseFloat(listeInput[0]) * parseFloat(listeInput[1])).toFixed(2);
			if (isNaN(tot)) {
				tot = 0;
			}
			if (!listeInput[1]) {
				quantity = "0"
			} else {
				quantity = listeInput[1]
			}
			$(listeInput[2]).val(tot);
			row.attr('data-overridemontantunit', parseFloat(listeInput[0].replace(' ', '')));
			row.attr('data-quantite', parseFloat(quantity.replace(' ', '')));
			row.attr('data-montantht', parseFloat(listeInput[2].val().replace(' ', '')));
			printMontant();
			initListeArticleCommande();
		}
		function setAdresses() {
			// suppression de toutes les options avec une valeur (pour conserver l'option vide)
			$('#create_commande_adresseFacturation').find('option').each(function () {
				if ($(this).val() !== '') {
					$(this).remove();
				}
			});
			$('#create_commande_adresseLivraison').find('option').each(function () {
				if ($(this).val() !== '') {
					$(this).remove();
				}
			});
			var orgaId = $('#create_commande_client').val(); // Récupération de l'id de l'organisme
			var url = '/organisme/adresse/' + orgaId // Set url avec l'id
			if (orgaId) { // Si il y a une id
				$.get(url, function (data) { // Récupération du formulaire
					for (var adresse of data) {
						var comp = ""; // Initialise une variable de type string
						if (adresse.adresseComplementaire1 != null) { // Si il y a une adresse complémentaire 1
							comp = ', ' + adresse.adresseComplementaire1; // On concaténe
						}
						if (adresse.adresseComplementaire2 != null) { // Idem ici
							comp += ', ' + adresse.adresseComplementaire2;
						}
						// Création de l'option avec les valeurs reçus
						var option = `<option value="${adresse.id}">${adresse.nom} : ${adresse.adresse}${comp}, ${adresse.stal} ${adresse.ville}</option>`;
						// Append les options reçus aux 2 selectpicker
						$('#create_commande_adresseFacturation').append(option);
						$('#create_commande_adresseLivraison').append(option);
					}
					{% if commande.adresseLivraison %}
						var value = '{{ commande.adresseLivraison.id }}';
						$('#create_commande_adresseLivraison').find('option').each(function() {
							if ($(this).val() == value) {
								$(this).attr('selected', 'selected')
							}
						});
					{% endif %}
					{% if commande.adresseFacturation %}
						var value = '{{ commande.adresseFacturation.id }}';
						$('#create_commande_adresseFacturation').find('option').each(function() {
							if ($(this).val() == value) {
								$(this).attr('selected', 'selected')
							}
						});
					{% endif %}
					$('.selectpicker').selectpicker('refresh'); // Rafraichissement des sélectpicker pour afficher les informations reçus
				})
			}
		}
		const filenameList = [];
		function openModal(elem) {
			var url = $(elem).data('path');
			$('.modal.fade.show-pdf.bg-transparent.pdf').modal();
			$('#embed').attr('src', url);
			$('.modal.fade.show-pdf.bg-transparent.pdf').modal('show');
		}
		// document.ready nous permet d'être sûr que notre Javascript ne s'éxécutera qu'à partir du moment où la vue sera complètement chargée
		$(document).ready(function () {
			$('.calculLigne').change(function () {
				initListeArticleCommande();
			})
			function toggleForfaitaire() {
				var value = $('#create_commande_forfaitaire').val();
				if (value == 1) {
					$('.hiddeOnForfaitaire').attr('hidden', true);
					forfaitaire = true
				} else {
					$('.hiddeOnForfaitaire').attr('hidden', false);
					forfaitaire = false
					$('#targetST').attr('readonly', true);
				}
				initListeArticleCommande();
			}
			// au clic du bouton supprimer un article
			$(".delete-row").click(function(){
				// on vient scanner toutes les lignes du tableau afin de déterminer celles qui ont été cochées
				$("table tbody").find('input[name="record"]').each(function(){
					if($(this).is(":checked")){
						// les lignes cochées sont supprimées
						$(this).parents("tr").remove();
						// on réactualise les prix affichés en fonction de la liste d'articles mise à jour
						printMontant();
						initListeArticleCommande();
					}
				});
			});
			toggleForfaitaire();
			$('.auto-grow').trigger('click');
			/**
			 * Fonction pour supprimer les boutons pour valider la commande, la div d'upload d'origin
			 * ainsi que disable tous les inputs et select qui doivent l'être
			 * et enable les nouveaux input pour modifier les documents présent dans la commande
			 */
			if ('{{ display }}' == 'yes') {
				$('input').attr('disabled', true).addClass('bg-light', 'text-black');
				$('#inputMoreFile').attr('disabled', false);
				$('#numCMDInput').attr('disabled', false);
				$('#radio').find('input').attr('disabled', false);
				$('textarea').attr('disabled', true).addClass('bg-light', 'text-black');
				$('select').attr('disabled', true).addClass('bg-light', 'text-black');
				$('#upload').remove();
				$('#submit').remove();
				$('#toHide').remove();
				$('.display-6').html('Visionnement de la commande')
			}
			// Fonction pour afficher la modal de suppression d'un document
			$('.showDelModal').click(function () {
				var name = $(this).attr('data-name')
				$('#delPdf').attr('data-name', name)
				$('#whichDoc').html(name);
				$('.modal.fade.delete-doc').modal();
			});
			// Fonction pour supprimer un PDF de la commande en mode de visionnage
			$(document).on('click', '#delPdf', function() {
				$('.modal').modal('hide');
				var nameList = [];
				var toRemove = $(this).attr('data-name')
				var clone = $('#showFiles').find(`p[data-ref='${toRemove}']`).clone()
				$('#showFiles').find(`p[data-ref='${toRemove}']`).remove();
				$.preloader.start();
				$('.names').each(function() {
					nameList.push($(this).html())
				});
				var formData = {nameList: nameList, toRemove: toRemove}
				$.ajax({
					url: '{{ path('sudalys_gestion_remove_pdf_commande', {commandeId: commande.id}) }}',
					processData: true,
					data: formData,
					method: 'POST',
					success: function (data) {
						if (data.status === 'success') {
							showSuccessFlash(data.message)
						} else {
							$('#showFiles').append(clone);
							showAlertFlash(data.message)
						}
						$.preloader.stop();
					},
					error: function(data) {
						var message = data.responseJSON.message;
						$.preloader.stop();
						showAlertFlash(message);
					},
					complete: function () {
						$('#whichDoc').html('');
						$('#delPdf').attr('data-name', '')
					}
				})
			});
			// Affichage des fichiers de l'input file en mode visionnage
			$('#inputMoreFile').change(function(e) {
				var input = e.target;
				var i = 0;
				var listOfNames = [];
				for (var file of input.files) {
					listOfNames[file.size] = [file.name, i];
					var reader = new FileReader();
					reader.readAsDataURL(input.files[i]);
					reader.file = listOfNames;
					reader.onload = function(e) {
						$('#showFiles').append(`
							<p data-ref="${reader.file[e.total][0]}">
								<button class="btn btn-default showDelModal" data-name="name of the file" disabled>
									<i class="fas fa-times text-danger" title="Suppression du document dans la liste"></i>
								</button>
								<a role="button" class="btn btn-light border-primary" onclick="openModal(this)" data-path="${e.target.result}">
									<i class="fas fa-eye text-primary"></i></a>&nbsp;<span class="names">${reader.file[e.total][0]}</span>
							<p>`)
					};
					i++
				}
			});
			// Fonction pour uploader les fichiers
			$('#uploaderMore').click(function() {
				$.preloader.start();
				let fileNameList;
				let errorList;
				const promises = [];
				for (const file of document.getElementById('inputMoreFile').files) {
					promises.push(upload(file, true));
				}
				Promise.all(promises)
						.then(files => {
							for(let file of files) {
								if (file.status === 'success') {
									filenameList.push(file.fileName)
								} else {
									errorList.push(file.fileName)
								}
							}
							if (typeof errorList === 'undefined') {
								$('#create_commande_documents').val(filenameList);
								showSuccessFlash('Tous les fichiers ont bien été uploadé.')
								$('.showDelModal').attr('disabled', false)
								changeDocType();
							} else if (typeof filenameList === 'undefined') {
								showWarningFlash('Une erreur s\'est produite, aucun fichier n\'a était enregistré. Veuillez réessayer...')
							} else {
								console.log(fileNameList);
								console.log(errorList);
							}
							$.preloader.stop();
						})
						.catch(error => {
							showWarningFlash('Une erreur s\'est produite, aucun fichier n\'a était enregistré. Veuillez réessayer...')
							$.preloader.stop();
						})
			});
			// Fonction pour changer le type de document uploadé
			function changeDocType() {
				var docType = $('#radio').find('input:checked').val()
				$('#docTypeInput').val(docType);
				if (docType == 1) {
					$('.modal.fade.numCMD').modal('show')
				}
			}
			// Fonction pour envoyer le numéro de commande client et le nouveau doctype
			$('#sendNumCMD').click(function(e) {
				e.preventDefault();
				var numCMD = $('#numCMDInput').val();
				var formData = {numCMD: numCMD, docType: $('#docTypeInput').val()}
				$.ajax({
					url: '{{ path('sudalys_gestion_doctype_numcmd', {commandeId: commande.id}) }}',
					processData: true,
					data: formData,
					method: 'POST',
					success: function (data) {
						if (data.status === 'success') {
							showSuccessFlash(data.message);
							$('#create_commande_numeroCommandeClient').val(numCMD);
						} else {
							showAlertFlash(data.message);
						}
					},
					error: function () {
						showAlertFlash('Une erreur s\'est produite, veuillez réessayer...');
					},
					complete: function () {
						$.preloader.stop();
						$('.modal').modal('hide');
					}
				})
			});
			// récupère la valeur de l'input active TVA
			var activeTVA = $('#create_commande_activeTVA').val();
			//Si la valeur et de 1 alors on affiche les élements d'affichage de la TVA
			toggleTVAElements(activeTVA);
			// Lors du changement de la valeur de l'input activeTVA on toggle l'affichage
			$('#create_commande_activeTVA').change(function() {
				var value = $(this).val();
				toggleTVAElements(value);
			});
			// Fonction pour toggle l'affichage des élement liés à la TVA
			function toggleTVAElements(value) {
				if (value == 1) {
					$('.display-tva').show();
				} else {
					$('.display-tva').hide();
				}
			}
			// Lors du changement de valeur d'un input dans .input-group on calcul la valeur du montant total
			$('.input-group').change(function () {printMontant()});
			// Affichage des de l'input file
			$('#inputFile').change(function(e) {
				$('#showUpload').find('p').each(function() {
					$(this).remove();
				});
				var input = e.target;
				var i = 0;
				var listOfNames = [];
				for (var file of input.files) {
					listOfNames[file.size] = [file.name, i];
					var reader = new FileReader();
					reader.readAsDataURL(input.files[i]);
					reader.file = listOfNames;
					reader.onload = function(e) {
						$('#showUpload').append(`
							<p>
								<button class="btn btn-default deletePdf" data-index="${reader.file[e.total][1]}">
									<i class="fas fa-times text-danger" title="Suppression du document dans la liste"></i>
								</button>
								<a role="button" class="btn btn-light border-primary" onclick="openModal(this)" data-path="${e.target.result}">
									<i class="fas fa-eye text-primary"></i></a>&nbsp;<span class="names"></span>${reader.file[e.total][0]}
							<p>`)
					};
					i++
				}
				i > 0 ? $('#uploader').attr('hidden', false) : $('#uploader').attr('hidden', true);
			});
			// Suppression du pdf dans l'input file
			$(document).on('click', '.deletePdf', function() {
				var index = $(this).attr('data-index');
				var files = document.getElementById('inputFile').files;
				var newFiles = [];
				for (file in files) {
					if (file != index && Number.isInteger(parseInt(file))) {
						newFiles.push(new File([files[file]], files[file].name));
					}
				}
				document.getElementById('inputFile').files = FileListItem(newFiles);
				$('#inputFile').trigger('change');
			});
			// Fonction pour créer une FileList
			function FileListItem(a) {
				a = [].slice.call(Array.isArray(a) ? a : arguments);
				for (var c, b = c = a.length, d = !0; b-- && d;) d = a[b] instanceof File;
				if (!d) throw new TypeError("L\'argument doit être un objet File ou un array d'objets File");
				for (b = (new ClipboardEvent("")).clipboardData || new DataTransfer; c--;) b.items.add(a[c]);
				return b.files
			}
			// Fonction pour uploader les fichiers
			$('#uploader').click(function() {
				$.preloader.start();
				let fileNameList;
				let errorList;
				const promises = [];
				for (const file of document.getElementById('inputFile').files) {
					promises.push(upload(file));
				}
				Promise.all(promises)
				.then(files => {
					for(let file of files) {
						if (file.status === 'success') {
							filenameList.push(file.fileName)
						} else {
							errorList.push(file.fileName)
						}
					}
					if (typeof errorList === 'undefined') {
						$('#create_commande_documents').val(filenameList);
						showSuccessFlash('Tous les fichiers ont bien été uploadé.')
						$('.deletePdf').each(function() {
							$(this).remove();
						});
					} else if (typeof filenameList === 'undefined') {
						showWarningFlash('Une erreur s\'est produite, aucun fichier n\'a était enregistré. Veuillez réessayer...')
					} else {

					}
					$.preloader.stop();
				})
				.catch(error => {
					showWarningFlash('Une erreur s\'est produite, aucun fichier n\'a était enregistré. Veuillez réessayer...')
					$.preloader.stop();
				})
			});
			// Fonction pour générer une formData et uploader
			function upload(file, more=false) {
				return new Promise((resolve, reject) => {
					var reader = new FileReader();
					var url = '{{ path('sudalys_gestion_uploads') }}';
					if (more) {
						var cmdId = $('#showFiles').attr('data-commandeId')
						url = `/commande/${cmdId}/pdf/upload`;
					}
					reader.onload= () => {
						const formData = new FormData();
						const pdfBlob = new Blob([reader.result], {
							type: file.type
						});
						formData.append('file', pdfBlob, file.name);
						$.ajax({
							method: 'POST',
							url: url,
							data: formData,
							contentType: false,
							processData: false,
							success: function(data) {
								resolve(data);
							},
							error: function (xhr, textStatus, thrownError) {
								reject(thrownError)
							}
						})
					};
					reader.readAsArrayBuffer(file);
				});
			}
			// on initialise certaines variables qui nous seront utiles dans plusieurs fonctions
			var hasAttachements = '{{ hasAttachements }}';
			var nomAffaire = '{{ nomAffaire }}';
			// isHere est le flag qui nous permet de savoir si on a des articles ou pas lors de la modif d'une commande
			var isHere = '{{ isHere }}';
			if(isHere == 'yes') {
				initListeArticleCommande();
			}
			changeButton();
			freeze();
			printMontant();

			// si la commande passe en etat acceptée on modifie le texte du bouton submit
			function changeButton() {
				if($('#create_commande_etat').val() == 2) {
					if(!hasAttachements) {
						$('#submit').html('Clôturer la Commande et Facturer');
					} else {
						$('#submit').html('Clôturer la Commande');
					}
				} else {
					$('#submit').html('Enregistrer le Bon de Commande');
				}
			}

			// fonction qui permet de gérer l'affichage et la valeur de l'input "enveloppe", soit le total HT commandé par l'organisme dans une commande ouverte
			function checkForTotalHT() {
				if(listeArticleCommande.length == 0) {
					$('#enveloppe').val("");
					$('#enveloppeWrapper').removeClass('d-none');
				} else {
					if(!$('#enveloppeWrapper').hasClass('d-none')) {
						$('#enveloppe').val("");
						$('#enveloppeWrapper').addClass('d-none');
					}
				}
			}

			// fonction qui permet de geler tous les inputs lors de la modif du BdC
			function freeze() {
				$('.toFreeze option:not(:selected)').remove();
			}

			// si la commande contient une affaire on s'assure que c'est bien celle là qui est sélectionnée par défault
			$(`#create_commande_affaire option:contains(${nomAffaire})`).prop('selected', true);

			$('#create_commande_etat').change(function() {
				changeButton();
			});

			$('#enveloppe').change(function() {
				printMontant();
			});

			// au clic du bouton supprimer un article
        	$(".delete-row").click(function(){
				// on vient scanner toutes les lignes du tableau afin de déterminer celles qui ont été cochées
            	$("table tbody").find('input[name="record"]').each(function(){
                	if($(this).is(":checked")){
						// les lignes cochées sont supprimées
						$(this).parents("tr").remove();
						// on réactualise les prix affichés en fonction de la liste d'articles mise à jour
						initListeArticleCommande();
						checkForTotalHT();
						printMontant();
					}
				});
			});
			// Fonction qui vérifie si un numéro de commande client à était entré
			function checkTypeDoc() {
				if ($('#radios').find('input:checked').val() == 1) {
					if (!$('#create_commande_numeroCommandeClient').val()) {
						$('.modal.fade.noNumCMD').modal('show');
						return false;
					}
				}
				return true;
			}
			// Fonction pour focus le champs numéro de commande client
			$('#addNumCMDC').click(function () {
				$('#create_commande_numeroCommandeClient').focus()
			});
			// Fonction pour focus le le radio devis signé
			$('#signeDevis').click(function () {
				$('#radioDevis').prop("checked", true)
				$('#submit').trigger('click');
			});
			$('#formCommande').on('keypress', function(e) {
				if(e.which === 13) {
					e.preventDefault();
					return false;
				}
			});
			// au submit du formulaire de création de la commande
			$('#formCommande').submit(function(e) {
				// on empêche le button de s'éxécuter normalement, cad de submit la data puis de recharger la page
				e.preventDefault();
				if(listeArticleCommande.length == 0 && $('#enveloppe').val() == "") {
					showAlertFlash('Attention, vous ne pouvez pas saisir un bon de commande vide, veuillez sélectionner des articles à ajouter ou un montant total.');
					return false;
				} else if (document.getElementById('inputFile').files.length == 0) {
					showAlertFlash('Merci d\'ajouter un devis signé ou une commande client.');
				} else if (document.getElementById('inputFile').files.length > 0 && !$('#create_commande_documents').val()) {
					showAlertFlash('Vous n\'avez pas uploadé vos documents.');
					return false;
				} else {
					var check = checkTypeDoc();
					if (!check) {
						return false;
					}
					$.preloader.start();
					var etat = $("#create_commande_etat").val();
					// on récupère le numéro de l'affaire injecter dans la page par le controller à la création de celle-ci
					var affaire = '{{ affaireId }}';
					var commande = '{{ commandeId }}';
					if(commande && affaire) {
						href = '/affaire/affaireId/commande/gestion/commandeId';
						href = href.replace('affaireId', affaire);
						href = href.replace('commandeId', commande);
					} else {
						// on créé une variable href qui va sera l'adresse à laquelle on envoie la requete AJAX
						var href = '/affaire/affaireId/commande/gestion';
						href = href.replace('affaireId', affaire);
					}

					// on récupère toutes les valeurs des input du formulaire et on les serialize en tant que tableau
					var form = $(this).serializeArray();
					form.push({name: 'create_commande_[adresseFacturation]', value: $('#create_commande_adresseFacturation').val()});
					form.push({name: 'create_commande_[adresseLivraison]', value: $('#create_commande_adresseLivraison').val()});
					var enveloppe = $('#enveloppe').val();
					// on créé une requete ajax
					$.ajax({
						// de type post
						type: 'POST',
						// envoyée sur l'adresse que nous créée dans notre variable
						url: href,
						processData: true,
						// la data à envoyer est notre tableau serializé
						data: {commande: form, articles: listeArticleCommande, enveloppe: enveloppe},
						// si la requete est réussie,  on redirige l'utilisateur sur la page de detail de l'affaire
						success: function (data) {
							if (data.status === 'success') {
								successToLocalStorage("Commande enregistrée avec succès");
								if (etat != 2 || hasAttachements) {
									if (affaire) {
										url = '/affaire/affaireId#CMDR';
										url = url.replace('affaireId', affaire);
									} else {
										url = '/'
									}
									$.preloader.stop();
									location.href = url;
								}
							} else {
								$.preloader.stop();
								showAlertFlash('Une erreur s\'est produite, veuillez réessayer...')
							}
						},
						error: function(xhr, textStatus, thrownError) {
							$.preloader.stop();
							showWarningFlash('Quelque chose c\'est mal passé, merci de réessayer...');
						}
					});
				}
			});
			// Récupère la valeur de l'input typeDocument du formulaire et sélectionne le bon radio
			var typeDoc = $('#create_commande_typeDocument').val();
			console.log(typeDoc);
			// On vérifie si l'input a une valeur supérieur ou égale à 1
			if (typeDoc >= 1) { // Si oui
				// On cherche la radio qui a la même valeur et on le sélectionne
				$('#radios').find('input[type=radio]').each(function() {
					if ($(this).val() == typeDoc) {
						$(this).attr('checked', true)
					} else {
						$(this).attr('checked', false)
					}
				})
				$('#radio').find('input[type=radio]').each(function() {
					if ($(this).val() == typeDoc) {
						$(this).attr('checked', true)
					} else {
						$(this).attr('checked', false)
					}
				})
			} else { // Sinon on assigne la valeur du radion sélectionné à l'input
				$('#create_commande_typeDocument').val($('#radios').find('input:checked').val())
			}
			// Function pour assigné la valeur de l'input sélectionné à l'input du formulaire
			$('#radios').change(function() {
				var value = $(this).find('input:checked').val();
				$('#create_commande_typeDocument').val(value);
			})
		});
	</script>
{% endblock %}
