{% extends "base.html.twig" %}
{% form_theme form_devis 'bootstrap_4_layout.html.twig' %}
{# Block de vérification et d'assigantion des variiables deans twig pour le block Javascript
 # Ici j'assigne des valeurs à de nouvelle variables pour eviter les erreurs en JS
 # car lorsque que la valeur 0, null ou false passe dans twig elle ne peut être assigné à une variable
#}
{# Indique si le devis a déjà des articles ou non #}
{% if linkedArticleDevis is null %}
	{% set isHere = 0 %}
	{% else %}
		{% set isHere = 1 %}
{% endif %}
{# Indique si le devis a une ID ou non #}
{% if devisId is not null %}
	{% set devi = 1 %}
{% else %}
	{% set devi = 0 %}
	{% set devisId = 0 %}
{% endif %}
{# Indique si le devis et un devis dupliqué ou non #}
{% if duplicateDevis == true %}
	{% set duplication = 1 %}
	{% set devisId = 0 %}
	{% set isHere = 2 %}
{% else %}
	{% set duplication = 0 %}
{% endif %}
{# Indique si il une a une ID d'affaire ou non #}
{% if affaireId is null %}
	{% set aff = 0 %}
{% else %}
	{% set aff = affaireId %}
{% endif %}

{% block verticalNav %}
	{% if affaire is not null %}
		{{ include('GestionBundle:Default:veticaleAffaireNav.html.twig') }}
	{% endif %}
{% endblock %}


{% block body %}
	{#
	 # Tous le code ci-dessous permet d'afficher en une page, le formulaire pour la création d'un nouveau devis ainsi que le formulaire permettant de créer des objets articlesDevis qui seront liés au Devis en cours
	 # En plus de ces deux formulaires et dans le but d'offir à l'utlisateur une interface la plus fluide possible sans avoir besoin de changer de page, on intègre à cette page une modale dynamique qui va charger soit
	 # le formulaire de création d'organisme ou celui de création d'articles, ces derniers créés venant se rajouter directement dans les select concernés.
	#}

	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="display-6">Gestion des Devis</h1>
			<hr class="my-4">
			<div class="row my-auto">
				<div class="col-3 my-auto">
					<div class="col-12">
						{% if devis.user is null %}
							<p><i class="fas fa-user-circle offset-1"></i>&nbsp;{{ user.prenom|capitalize ~ ' ' ~ user.nom|upper }}</p>
							<p><i class="fas fa-phone-square offset-1"></i>&nbsp;{{ user.telephone }}</p>
							<p><i class="fas fa-mobile-alt offset-1"></i>&nbsp;{{ user.mobile }}</p>
							<p><i class="fas fa-at offset-1"></i>&nbsp;{{ user.email }}</p>
							<p><i class="fas fa-calendar-alt offset-1"></i>&nbsp;{{"now"|date('d/m/Y')}}</p>
						{% else %}
							<p><i class="fas fa-user-circle offset-1"></i>&nbsp;{{ user.prenom|capitalize ~ ' ' ~ user.nom|upper }}</p>
							<p><i class="fas fa-phone-square offset-1"></i>&nbsp;{{ user.telephone }}</p>
							<p><i class="fas fa-mobile-alt offset-1"></i>&nbsp;{{ user.mobile }}</p>
							<p><i class="fas fa-at offset-1"></i>&nbsp;{{ user.email }}</p>
							<br>
							<p><strong>{{ 'émis le : '|capitalize }}</strong>{{devis.dateDevis|date('d/m/Y')}}</p>
							{% if devis.dateEdit is not null or display == 'yes' %}
								{% if devis.dateEdit is not null %}
									<p><strong>{{ 'édité le : '|capitalize }}</strong>{{ devis.dateEdit|date('d/m/Y') }}</p>
								{% else %}
									<p><strong>{{ 'édité le : '|capitalize }}</strong>Ce devis n'a pas été édité</p>
								{% endif %}
							{% endif %}
						{% endif %}
					</div>
				</div>
				<div class="col-6 offset-3 my-auto">
					{{ form_start(form_devis, {'attr':{'id': 'formDevis'}}) }}
						{{ form_errors(form_devis) }}
					<dl class="row my-auto">
							<dt class="col-2 offset-2 my-auto">
								{{ form_label(form_devis.affaire) }}
							</dt>
							<dd class="col-8">
								{{ form_widget(form_devis.affaire, {'attr':{'class': 'no-border selectpicker affaire'}}) }}
							</dd>
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form_devis.libelle) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_devis.libelle, {'attr':{'class': 'auto-grow no-border'}}) }}
						</dd>
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form_devis.numeroDevis) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_devis.numeroDevis)}}
						</dd>
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form_devis.numeroDevisBis) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_devis.numeroDevisBis) }}
						</dd>
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form_devis.client) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_devis.client, {'attr':{'class': 'no-border selectpicker'}}) }}
						</dd>
						<dd class="col-8 offset-4">
							<a id="openClientDialog" data-target="{{ path('sudalys_gestion_create_client_ajax') }}" href="#createOrga" onclick="$('#createOrga').modal({'backdrop': 'static'});">
								Vous n'avez pas trouvé un Client ? Ajoutez-le !
							</a>
						</dd>
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form_devis.contact) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_devis.contact, {'attr':{'class': 'no-border selectpicker contact'}}) }}
						</dd>
						<dd class="col-8 offset-4">
							<a id="openContactDialog" href="#createContact" onclick="$('#createContact').modal({'backdrop': 'static'});">
								Vous n'avez pas trouvé votre contact ? Ajoutez-le !
							</a>
						</dd>
						<dd class="col-12">
							<button class="float-right btn btn-default bg-light" type="button" data-toggle="collapse" data-target="#collapseAdresse" aria-expanded="false" aria-controls="collapseAdresse">
								Sélectionner adresses
								<i class="fas fa-chevron-down text-success"></i>
							</button>
						</dd>
						<div class="collapse row" id="collapseAdresse">
							<dt class="col-2 offset-2 my-auto">
								{{ form_label(form_devis.adresseFacturation) }}
							</dt>
							<dd class="col-8">
								{{ form_widget(form_devis.adresseFacturation, {'attr':{'class': 'no-border selectpicker'}}) }}
							</dd>
							<dt class="col-2 offset-2 my-auto">
								{{ form_label(form_devis.adresseLivraison) }}
							</dt>
							<dd class="col-8">
								{{ form_widget(form_devis.adresseLivraison, {'attr':{'class': 'no-border selectpicker'}}) }}
							</dd>
						</div>
					</dl>
				</div>
				<div class="col-6 my-auto">
					<dl class="row my-auto">
						<dt class="col-3 offset-1">
							{{ form_label(form_devis.activeTVA) }}
						</dt>
						<dd class="col-2">
							{{ form_widget(form_devis.activeTVA, {'attr':{'class': 'no-border'}}) }}
						</dd>
					</dl>
					<dl class="row my-auto">
						<dt class="col-3 offset-1">
							{{ form_label(form_devis.forfaitaire) }}
						</dt>
						<dd class="col-2">
							{{ form_widget(form_devis.forfaitaire, {'attr':{'class': 'no-border'}}) }}
						</dd>
					</dl>
				</div>
			</div>
				<div class="card-body">
					<table class="table table-hover" style="text-align: center" id="articleTable">
						<thead>
							<tr class="row bg-primary text-white">
								<th scope="col" class="col-2 my-auto">Désignation</th>
								<th scope="col" class="col-5 my-auto">Description</th>
								<th scope="col" class="col-1 my-auto">Unité</th>
								<th scope="col" class="col-1 my-auto">Prix unitaire</th>
								<th scope="col" class="col-1 my-auto">Quantité</th>
								<th scope="col" class="col-2 my-auto">Total HT</th>
							</tr>
						</thead>
						{% if linkedArticleDevis %}
							{% for theme in linkedArticleDevisTheme %}
								{% set themeId = theme|replace({' ': ''})  %}
								<tbody id="theme{{ themeId|replace({'%\'%': ''}) }}">
									<tr class="row bg-transparent">
										<td class="col-6 my-auto no-border text-left font-weight-bold">{{ theme }}</td>
										<td class="col-1 my-auto no-border"></td>
										<td class="col-1 my-auto no-border hiddeOnForfaitaire"></td>
										<td class="col-1 my-auto no-border hiddeOnForfaitaire"></td>
										<td class="col-1 my-auto no-border hiddeOnForfaitaire"></td>
										<td class="col-2 my-auto no-border hiddeOnForfaitaire"></td>
									</tr>
									{% for linkedArticle in linkedArticleDevis %}
										{% if linkedArticle.article.theme.nom == theme %}
											{% if linkedArticle.description %}
												{% set description = linkedArticle.description  %}
											{% else %}
												{% set description = linkedArticle.article.description %}
											{% endif %}
											<tr class="toscan row border-top" id="ligne{{ loop.index }}" onchange="calculTotalLigne('ligne{{ loop.index }}')" data-description="{{ description }}" data-articleid = "{{linkedArticle.article.id}}" data-overridemontantunit = "{{linkedArticle.overrideMontantUnit|round(2, 'ceil')}}" data-quantite = "{{linkedArticle.quantite}}" data-montantht = "{{linkedArticle.montantTotalHT|round(2, 'ceil')}}" data-theme="{{ linkedArticle.article.theme }}" data-designation="{{ linkedArticle.article.nom }}" data-unite="{{ linkedArticle.article.unite }}">
												<td class="col-2 my-auto no-border text-left pl-5"><span style="position: absolute; left: 1em"><input type="checkbox" name="record" class="custom-checkbox"></span>{{linkedArticle.article.nom|capitalize}}</td>
												<td class="col-5 my-auto no-border">
												<textarea class="form-control auto-grow pt-0 pb-0 no-border w-100" rows="3" oninput="insertDescription('ligne{{ loop.index }}')">{% if linkedArticle.description is not null %}{{linkedArticle.description}}{% else %}{{linkedArticle.article.description}}{% endif %}</textarea>
												</td>
												<td class="col-1 my-auto no-border hiddeOnForfaitaire">
													{% if linkedArticle.article.unite == 0 %}
														Forfaitaire
													{% else %}
														Unitaire
													{% endif %}
												</td>
												<td class="col-1 my-auto no-border hiddeOnForfaitaire">
													<div class="input-group">
														<input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder='0,00' value="{{ linkedArticle.overrideMontantUnit|round(2, 'ceil') }}">
														<div class="input-group-append">
															<span class="input-group-text">€</span>
														</div>
													</div>
												</td>
												<td class="col-1 my-auto no-border hiddeOnForfaitaire">
													<div class="input-group">
														<input class="calculLigne form-control text-right comma" min="0" type="text" step="0.01" value="{{ linkedArticle.quantite }}">
														<div class="input-group-append">
															<span class="input-group-text">&#8474;</span>
														</div>
													</div>
												</td>
												<td class="col-2 my-auto no-border hiddeOnForfaitaire">
													<div class="input-group">
														<input class="calculLigne form-control p-0 pr-1 text-right comma bg-light ml-3" type="text" placeholder='0,00' value="{{ linkedArticle.montantTotalHT|round(2, 'ceil') }}" readonly>
														<div class="input-group-append">
															<span class="input-group-text">€</span>
														</div>
													</div>
												</td>
											</tr>
										{% endif %}
									{% endfor %}
								</tbody>
							{% endfor %}
							{% else %}
								<tbody></tbody>
						{% endif %}
					</table>
					<button type="button" class="delete-row btn btn-light border-danger notToView"><i class="fas fa-trash-alt text-danger"></i>&nbsp;Supprimer les articles séléctionnés</button>
					<hr>
					<fieldset id="fieldToFreeze">
						<a role="button" id="createArticleShort" class="btn btn-light border-success" data-target="{{ path('sudalys_gestion_create_article') }}" href="#createArticle"><i class="fas fa-plus-circle text-success"></i>&nbsp;Créer un article</a>
						<button type="button" class="btn btn-light border-primary notToView" data-toggle="modal" data-target=".bd-modal-xl"><i class="fas fa-eye text-primary"></i>&nbsp;Liste des articles</button>
					</fieldset>
				</div>
				<br>
				<div class="row">
					<div class="col-6 offset-1" style="max-height: 240px !important; overflow-scrolling: auto">
						<strong>{{ form_label(form_devis.conditionsParticulieres) }}</strong>
						{{ form_widget(form_devis.conditionsParticulieres, {'attr' : { 'class' : 'shadow h-50'}}) }}
					</div>
					<div class="col-3 offset-2">
						<dl class="row">
							<dt class="col-6 my-auto"><label for="targetST">Sous-total</label></dt>
							<dd class="col-6">
								<div class="input-group">
									<input id="targetST" name="create_devis[targetST]" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
									<div class="input-group-append">
										<span class="input-group-text">€</span>
									</div>
								</div>
							</dd>
							<dt class="col-6 my-auto">{{ form_label(form_devis.remise) }}</dt>
							<dd class="col-6">{{ form_widget(form_devis.remise, {'attr' : {'class' : 'text-right' }}) }}</dd>
							<dt class="col-6 my-auto"><label for="targetRM">Total remise</label></dt>
							<dd class="col-6">
								<div class="input-group">
									<input id="targetRM" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
									<div class="input-group-append">
										<span class="input-group-text">€</span>
									</div>
								</div>
							</dd>
							<dt class="col-6 my-auto"><label for="targetHT">Total HT</label></dt>
							<dd class="col-6">
								<div class="input-group">
									<input id="targetHT" name="create_devis[totalHT]" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
									<div class="input-group-append">
										<span class="input-group-text">€</span>
									</div>
								</div>
							</dd>
							<dt class="col-6 display-tva my-auto">{{ form_label(form_devis.TVA) }}</dt>
							<dd class="col-6 display-tva">{{ form_widget(form_devis.TVA, {'attr' : {'class': 'text-right' }}) }}</dd>
							<dt class="col-6 display-tva my-auto"><label for="targetTTC">Total TTC</label></dt>
							<dd class="col-6 display-tva">
								<div class="input-group">
									<input id="targetTTC" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
									<div class="input-group-append">
										<span class="input-group-text">€</span>
									</div>
								</div>
							</dd>
						</dl>
					</div>
				</div>
				<hr>
				{% if affaireId is not null and not is_granted('ROLE_SUPER_SUDALYS') and display == 'no' %}
					<div class="askForValidation">
						<legend>Un doute sur votre devis ?</legend>
						<input type="checkbox" id="askValidate" name="demande-validation" value="1">
						<label for="askValidate">Demander la validation par le responsable.</label>
						<br>
					</div>
				{% endif %}
				{% if (affaireId is not null and display == 'no') or is_granted('ROLE_SUPER_SUDALYS') %}
					<p class="text-secondary font-weight-lighter mb-0 p-0 notToView">Enregistrer pour valider le devis</p>
				{% endif %}
				<div id="endDevis">
					<button type="submit" id="submit" class="btn btn-primary notToView">Enregistrer le Devis</button>
				</div>
            {{ form_end(form_devis) }}
		</div>
	</div>
	{#     Large modal de la liste des produits    #}
	<!-- Large modal -->
	<div class="modal fade bd-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h4 class="modal-title text-white font-weight-bolder">Liste des articles</h4>
					<dl class="row p-0 float-right w-75">
						<dt class="col-2 text-white">
							<label for="searchArticle" class="float-right">Recherche : </label>
						</dt>
						<dd class="col-10 my-auto">
							<div class="input-group float-left">
								<input class="form-control w-75" type="text" id="searchArticle" placeholder="Rechercher" >
								<div class="input-group-append no-border">
									<span class="input-group-text no-border reset-search" style="cursor: pointer"><i class="fas fa-times text-info"></i></span>
								</div>
							</div>
						</dd>
					</dl>
				</div>
				<div class="modal-body">
					<div id="article-list" class="card no-border" style="box-sizing:border-box">
						{% if listeArticles is not empty %}
							{% for theme in listedThemes %}
								<div class="card no-border search">
									<div class="card-body no-border">
										<div class="card-title"><strong>Thème :</strong> {{ theme|capitalize }}</div>
										<div class="card-body">
											<div class="card-header row bg-secondary text-white border text-center font-weight-bold" style="height: 3em">
												<div class="col-3 align-self-center text-center my-auto">
													Désignation
												</div>
												<div class="col-6 align-self-center text-center my-auto">
													Description
												</div>
												<div class="col-2 align-self-center text-center my-auto">
													Unité
												</div>
												<div class="col-1 align-self-center text-center my-auto">
													Action
												</div>
											</div>
											<div id="{{ theme|replace({' ': '', "'": ""}) }}">
												{% for article in listeArticles %}
													{% if article.theme is defined %}
														{% if article.theme == theme %}
															<div class="card-body border row search border-bottom text-center">
																<div class="col-3 align-self-center my-auto text-left">
																	{{article.nom|capitalize}}
																</div>
																<div class="col-6 align-self-center my-auto text-left">
																	{{article.description|capitalize}}
																</div>
																<div class="col-2 align-self-center text-center my-auto">
																	{% if article.unite == 0 %}
																		Forfaitaire
																	{% else %}
																		Unitaire
																	{% endif %}
																</div>
																<div class="col-1 align-self-center my-auto">
																	<button id="addRow{{ article.id }}" class="btn btn-default addRow reset-search" data-id="{{article.id}}"
																			data-theme="{{article.theme|capitalize}}"
																			data-nom="{{article.nom|capitalize}}"
																			data-description="{{article.description|capitalize}}"
																			data-unite="{{article.unite}}">
																		<i class="fas fa-arrow-circle-right fa-2x text-info"></i>
																	</button>
																</div>
															</div>
														{% endif %}
													{% elseif article.article.theme is defined %}
														{% if article.article.theme == theme %}
															<div class="card-body row search border-top">
																<div class="col-3 align-self-center my-auto text-left">
																	{{article.article.nom|capitalize}}
																</div>
																<div class="col-6 align-self-center my-auto text-left">
																	{{article.description|capitalize}}
																</div>
																<div class="col-2 align-self-center text-center my-auto">
																	{% if article.article.unite == 0 %}
																		Forfaitaire
																	{% else %}
																		Unitaire
																	{% endif %}
																</div>
																<div class="col-1 align-self-center my-auto">
																	<button id="addRow{{ article.article.id }}" class="btn btn-default addRow reset-search" data-id="{{article.article.id}}"
																			data-theme="{{article.article.theme|capitalize}}"
																			data-nom="{{article.article.nom|capitalize}}"
																			data-description="{{article.description|capitalize}}"
																			data-unite="{{article.article.unite}}">
																		<i class="fas fa-arrow-circle-right fa-2x text-info"></i>
																	</button>
																</div>
															</div>
														{% endif %}
													{% endif %}
												{% endfor %}
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						{% else %}
							<div id="no-article">
								<h2 class="text-center">Aucun article disponible pour ce devis</h2>
								<h4 class="text-center">Ajouter votre premier article</h4>
								<div class="text-center">
									<a role="button" class="btn btn-light reset-search" id="openArticleDialog" data-target="{{ path('sudalys_gestion_create_article') }}" href="#createArticle">
										<i class="fas fa-plus-circle fa-2x text-success"></i>
									</a>
								</div>
							</div>

						{% endif %}
					</div>
				</div>
				<div class="modal-footer bg-primary">
					{% if listeArticles is empty %}
						<a role="button" style="display: none" class="btn btn-light openIt" id="openArticleDialog" data-target="{{ path('sudalys_gestion_create_article') }}" href="#createArticle">
							<i class="fas fa-plus-circle text-success"></i>
							Créer un article
						</a>
					{% else %}
						<a role="button" class="btn btn-light" id="openArticleDialog" data-target="{{ path('sudalys_gestion_create_article') }}" href="#createArticle">
							<i class="fas fa-plus-circle text-success"></i>
							Créer un article
						</a>
					{% endif %}
					<button type="button" class="btn btn-default text-white font-weight-bolder reset-search" data-dismiss="modal"><i class="fas fa-times-circle text-white"></i>&nbsp;Fermer</button>
				</div>
			</div>
		</div>
	</div>
	{#  Modal ajout d'article #}
	<div class="modal fade article" id="createDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-primary text-white">
					<h4 class="modal-title" id="myModalLabel"></h4>
				</div>
				<div class="modal-body" id="modal-body">
				</div>
				<div class="modal-footer bg-primary">
					<button type="button" class="btn btn-default text-white font-weight-bold" onclick="$('.article').modal('hide')"><i class="fas fa-times-circle text-white"></i>&nbsp;Annuler</button>
					<button type="button" class="btn btn-light" id="sendOject">Enregistrer</button>
				</div>
			</div>
		</div>
	</div>
	{#  Modal ajout d'organisme  #}
	<div class="modal fade orga" id="createOrgaDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabelOrga" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-primary text-white">
					<h4 class="modal-title" id="myModalLabelOrga"></h4>
				</div>
				<div class="modal-body" id="modal-body-orga">
				</div>
				<div class="modal-footer bg-primary">
					<button type="button" class="btn btn-default text-white font-weight-bold" onclick="$('.orga').modal('hide')"><i class="fas fa-times-circle text-white"></i>&nbsp;Annuler</button>
					<button type="button" class="btn btn-light" id="sendOjectOrga" disabled>Ajouter</button>
				</div>
			</div>
		</div>
	</div>
	{#  Modal ajout contact  #}
	<div class="modal fade contact" id="createContactDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabelContact" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-primary text-white">
					<h4 class="modal-title" id="myModalLabelContact"></h4>
				</div>
				<div class="modal-body" id="modal-body-contact">
				</div>
				<div class="modal-footer bg-primary">
					<button type="button" class="btn btn-default text-white font-weight-bold" onclick="$('.contact').modal('hide')"><i class="fas fa-times-circle text-white"></i>&nbsp;Annuler</button>
					<button type="button" class="btn btn-light" id="sendOjectContact">Ajouter</button>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block javascripts %}
{#	<script src="{{ asset('js/periodsToComma.js') }}"></script>#}
	<script>
		//on initialise certaines variables qui nous seront utiles dans plusieurs fonctions
		var flagNoPrice = false;
		var flagDevisLoaded = false;
		var listeNoPrice = [];
		var totalHT;
		var totalTTC;
		var modalType = "";
		var isHere = {{ isHere }};
		var forfaitaire = false;
		var nomAffaire = '{{ nomAffaire }}';
		var listeArticleDevis = [];
		var flagStorage = false;
		// Fonction pour remplir le select avec les bon contact
		function displayContacts(input=null) {
			return new Promise( resolve => {
				var orgaId = $('#create_devis_client').val(); // Récupère l'i de l'organisme
				$('#create_devis_contact').find('.filter-option-inner-inner').html(''); // Reset le contenu d'affichage de la selection
				$('#create_devis_contact').children('option').each(function () {
					$(this).remove() // Supprime toutes les options déjà existantes
				});
				var url = '/contact/get/' + orgaId; // Set l'url avec l'id
				$.get(url, function (contactList) { // Récupère la liste des contacts
					$('#create_devis_contact').selectpicker('refresh');
					if (contactList.contacts) {
						var iter = isIterable(contactList.contacts);
						// Append la liste au select
						if (iter === true) {
							for (var [i, contact] of contactList.contacts.entries()) {
								if (i === 0) { // A la première boucle on selectionne le contact
									$('#create_devis_contact').append(`<option selected value="${contact.id}">${contact.prenom.charAt(0).toUpperCase() + contact.prenom.substring(1).toLowerCase()} ${contact.nom.toUpperCase()}</option>`)
								} else { // Pour les autre boucles on affaiche simplement dans le select
									$('#create_devis_contact').append(`<option value="${contact.id}">${contact.prenom.charAt(0).toUpperCase() + contact.prenom.substring(1).toLowerCase()} ${contact.nom.toUpperCase()}</option>`)
								}
							}
						} else {
							for (var contact in contactList.contacts) {
								if (i === 0) { // A la première boucle on selectionne le contact
									$('#create_devis_contact').append(`<option selected value="${contactList.contacts[contact].id}">${contactList.contacts[contact].prenom.charAt(0).toUpperCase() + contactList.contacts[contact].prenom.substring(1).toLowerCase()} ${contactList.contacts[contact].nom.toUpperCase()}</option>`)
								} else { // Pour les autre boucles on affaiche simplement dans le select
									$('#create_devis_contact').append(`<option value="${contactList.contacts[contact].id}">${contactList.contacts[contact].prenom.charAt(0).toUpperCase() + contactList.contacts[contact].prenom.substring(1).toLowerCase()} ${contactList.contacts[contact].nom.toUpperCase()}</option>`)
								}
							}
						}
					}
					$('#create_devis_contact').selectpicker('refresh'); // Mise à jour du select pour afficher les modifications
					if(input) {
						resolve({list: contactList, input: input})
					} else {
						resolve(contactList);
					}
				});
			})
		}
		// Fonction pour remplir le select avec les bon contact à l'édition d'un devis
		function displayContactsEdit() {
			var orgaId = $('#create_devis_client').val(); // Récupère l'i de l'organisme
			var contactId = $('#create_devis_contact').val();
			$('#create_devis_contact').find('.filter-option-inner-inner').html(''); // Reset le contenu d'affichage de la selection
			$('#create_devis_contact').children('option').each(function () {
				$(this).remove() // Supprime toutes les options déjà existantes
			});
			var url = '/contact/get/' + orgaId; // Set l'url avec l'id

			$.get(url, function (contactList) { // Récupère la liste des contacts
				$('#create_devis_contact').selectpicker('refresh');
				if (contactList.contacts) {
					var iter = isIterable(contactList.contacts);
					// Append la liste au select
					if (iter === true) {
						for (var [i, contact] of contactList.contacts.entries()) {
							$('#create_devis_contact').append(`<option value="${contact.id}">${contact.prenom.charAt(0).toUpperCase() + contact.prenom.substring(1).toLowerCase()} ${contact.nom.toUpperCase()}</option>`)
						}
					} else {
						for (var contact in contactList.contacts) {
							$('#create_devis_contact').append(`<option value="${contactList.contacts[contact].id}">${contactList.contacts[contact].prenom.charAt(0).toUpperCase() + contactList.contacts[contact].prenom.substring(1).toLowerCase()} ${contactList.contacts[contact].nom.toUpperCase()}</option>`)
						}
					}
					$('#create_devis_contact').find(`option`).each(function() {
						if ($(this).val() == contactId) {
							$(this).attr('selected', 'selected');
						}
					});
				}
				$('#create_devis_contact').selectpicker('refresh'); // Mise à jour du select pour afficher les modifications
			});
		}
		function devisToLocalStorage() {
			getDevis().then( devis => {
				localStorage.removeItem($('#create_devis_numeroDevis').val());
				localStorage.setItem($('#create_devis_numeroDevis').val(), JSON.stringify(devis));
				getAllDevisFromLocalStorage();
			});
		}
		function getDevis() {
			return new Promise( resolve => {
				var devis = $('#formDevis').serializeArray();
				devis[devis.length] = listeArticleDevis;
				resolve(devis)
			})
		}
		function getDevisLocalStorage(numDevis) {
			var devis = JSON.parse(localStorage.getItem(numDevis));
			flagStorage = true;
			var articles = devis[devis.length - 1];
			devis.pop();
			devis.pop();
			for (var input of devis) {
				var temp;
				if (input.name.includes('organisme')) {
					temp = $(document).find(`[name='${input.name}']`);
					temp.find('option').each(function () {
						if (this.value == input.value) {
							$(this).attr('selected', true);
						}
					});
				} else if (input.name.includes('Livraison')) {
					temp = $(document).find(`[name='${input.name}']`);
					temp.find('option').each(function () {
						if (this.value == input.value) {
							$(this).attr('selected', true);
						}
					});
				} else if (input.name.includes('Facturation')) {
					temp = $(document).find(`[name='${input.name}']`);
					temp.find('option').each(function () {
						if (this.value == input.value) {
							$(this).attr('selected', true);
						}
					});
				} else if (input.name.includes('client')) {
					temp = $(document).find(`[name='${input.name}']`);
					temp.find('option').each(function () {
						if (this.value == input.value) {
							$(this).attr('selected', true);
						}
					});
				} else if (input.name.includes('contact')) {
					displayContacts(input)
							.then((result) => {
								temp = $(document).find(`[name='${result.input.name}']`);
								temp.find('option').each(function () {
									if (this.value == result.input.value) {
										$(this).attr('selected', true);
										$('.selectpicker').selectpicker('refresh');
									}
								})
							})
				} else {
					$(document).find(`[name='${input.name}']`).val(input.value)
					toggleForfaitaire();
				}
			}
			$('.selectpicker').selectpicker('refresh');
			if (isIterable(articles)) {
				for (var article of articles) {
					{% if affaireId is null %}
						addArticleToModal(article);
					{% endif %}
					addRow(article);
				}
				$(document).trigger('change');
			}
		}
		function setAdresses() {
			// suppression de toutes les options avec une valeur (pour conserver l'option vide)
			$('#create_devis_adresseFacturation').find('option').each(function () {
				if ($(this).val() !== '') {
					$(this).remove();
				}
			});
			$('#create_devis_adresseLivraison').find('option').each(function () {
				if ($(this).val() !== '') {
					$(this).remove();
				}
			});
			var orgaId = $('#create_devis_client').val(); // Récupération de l'id de l'organisme
			var url = '/organisme/adresse/' + orgaId // Set url avec l'id
			if (orgaId) { // Si il y a une id
				$.get(url, function (data) { // Récupération du formulaire
					for (var adresse of data) {
						var comp = ""; // Initialise une variable de type string
						if (adresse.adresseComplementaire1 != null) { // Si il y a une adresse complémentaire 1
							comp = ', ' + adresse.adresseComplementaire1; // On concaténe
						}
						if (adresse.adresseComplementaire2 != null) { // Idem ici
							comp += ', ' + adresse.adresseComplementaire2;
						}
						// Création de l'option avec les valeurs reçus
						var option = `<option value="${adresse.id}">${adresse.nom} : ${adresse.adresse}${comp}, ${adresse.stal} ${adresse.ville}</option>`;
						// Append les options reçus aux 2 selectpicker
						$('#create_devis_adresseFacturation').append(option);
						$('#create_devis_adresseLivraison').append(option);
					}
					{% if devis.adresseLivraison %}
						var value = '{{ devis.adresseLivraison.id }}';
						$('#create_devis_adresseLivraison').find('option').each(function() {
							if ($(this).val() == value) {
								$(this).attr('selected', 'selected')
							}
						});
					{% endif %}
					{% if devis.adresseFacturation %}
						var value = '{{ devis.adresseFacturation.id }}';
						$('#create_devis_adresseFacturation').find('option').each(function() {
							if ($(this).val() == value) {
								$(this).attr('selected', 'selected')
							}
						});
					{% endif %}
					{% if numDevis != 'no' %}
						if (!flagDevisLoaded) {
							var numDevis = '{{ numDevis }}';
							getDevisLocalStorage(numDevis);
							if (numDevis != $('#create_devis_numeroDevis').val()) {
								removeDevisLocalStorage(numDevis);
								devisToLocalStorage();
							}
							flagDevisLoaded = true;
						}
					{% endif %}
					$('.selectpicker').selectpicker('refresh'); // Rafraichissement des sélectpicker pour afficher les informations reçus
				})
			}
		}
		// Fonction pour insérer la description dans les data
		function insertDescription(ligne) {
			var row = $('#' + ligne);
			var description = row.find('.auto-grow').val();
			row.attr('data-description', description);
		}
		// Fonction pour calculer le montant total d'un article
		async function calculTotalLigne(ligne) {
			if (forfaitaire) {
				return true;
			}
			var row = $('#' + ligne);
			var listeInput = [];
			await row.find('.calculLigne').each(function() {
				listeInput.push($(this));
			});
			listeInput[0] = listeInput[0].val().replace(' ', '').split(',').join('.');
			listeInput[1] = listeInput[1].val().replace(' ', '').split(',').join('.');
			var tot = (parseFloat(listeInput[0]) * parseFloat(listeInput[1])).toFixed(2);
			if (isNaN(tot)) {
				tot = 0;
			}
			if (!listeInput[1]) {
				quantity = "0"
			} else {
				quantity = listeInput[1]
			}
			$(listeInput[2]).val(tot);
			row.attr('data-overridemontantunit', parseFloat(listeInput[0].replace(' ', '')));
			row.attr('data-quantite', parseFloat(quantity.replace(' ', '')));
			row.attr('data-montantht', parseFloat(listeInput[2].val().replace(' ', '')));
		}
		function addRow(data) {
			console.log('test');
			//on hydrate nos variables avec les valeurs contenues dans le JSON
			var id = data.id;
			var nom = unescape(data.nom);
			var prixUnit = 0;
			var description = unescape(data.description);
			var theme = unescape(data.theme);
			var unite;
			data.unite == 0 ? unite = "Forfaitaire" : unite = "Unitaire";
			var tabTemp = [];
			$("#articleTable").find(".toscan").each(function() {
				tabTemp.push(parseInt($(this).data('montantht')))
			});
			var ligne = 'ligne' + (tabTemp.length + 1);
			//on créé la nouvelle ligne à insérer dans le tableau
			var markup;
			if (data.montantTotalHT) {
				markup = '<tr id="' + ligne + '" class="toscan row" data-description="' + description + '" data-articleid="' + id + '" onchange="calculTotalLigne(\'ligne' + (tabTemp.length + 1) + '\')" data-overridemontantunit="' + data.overrideMontantUnit + '" data-quantite="' + data.quantite + '" data-montantht="' + data.montantTotalHT + '" data-theme="' + theme + '" data-designation="' + nom + '" data-unite="' + data.unite + '">' +
						'<td class="col-2 my-auto no-border text-left pl-5"><span style="position: absolute; left: 1em"><input type="checkbox" name="record" class="custom-checkbox"></span>' + nom + '</td>' +
						'<td class="col-5 my-auto no-border">' +
						'<textarea  class="form-control auto-grow pt-0 pb-0 no-border w-100" rows="3" oninput="insertDescription(\'' + ligne + '\')" style="border: none; min-height: 0" rows="2">' + description + '</textarea>' +
						'</td>' +
						'<td class="col-1 my-auto no-border hiddeOnForfaitaire">' + unite + '</td>' +
						'<td class="col-1 my-auto no-border hiddeOnForfaitaire">' +
						'<div class="input-group">' +
						'<input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00" value="' + data.overrideMontantUnit + '">' +
						'<div class="input-group-append w-25">' +
						'<span class="input-group-text">€</span>' +
						'</div>' +
						'</div>' +
						'</td>' +
						'<td class="col-1 my-auto no-border hiddeOnForfaitaire">' +
						'<div class="input-group">' +
						'<input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00" value="' + data.quantite + '">' +
						'<div class="input-group-append w-25">' +
						'<span class="input-group-text">&#8474;</span>' +
						'</div>' +
						'</div>' +
						'</td>' +
						'<td class="col-2 my-auto no-border hiddeOnForfaitaire">' +
						'<div class="input-group">' +
						'<input class="calculLigne form-control p-0 pr-1 text-right comma bg-light ml-3" type="text" placeholder="0,00" readonly>' +
						'<div class="input-group-append w-25">' +
						'<span class="input-group-text">€</span>' +
						'</div>' +
						'</div>' +
						'</td>';
			} else {
				markup = '<tr id="' + ligne + '" class="toscan row" data-description="' + description + '" data-articleid="' + id + '" onchange="calculTotalLigne(\'ligne' + (tabTemp.length + 1) + '\')" data-overridemontantunit="0" data-quantite="0" data-montantht="0" data-theme="' + theme + '" data-designation="' + nom + '" data-unite="' + data.unite + '">' +
						'<td class="col-2 my-auto no-border text-left pl-5"><span style="position: absolute; left: 1em"><input type="checkbox" name="record" class="custom-checkbox"></span>' + nom + '</td>' +
						'<td class="col-5 my-auto no-border">' +
						'<textarea  class="form-control auto-grow pt-0 pb-0 no-border w-100" rows="3" oninput="insertDescription(\'' + ligne + '\')" style="border: none; min-height: 0" rows="2">' + description + '</textarea>' +
						'</td>' +
						'<td class="col-1 my-auto no-border hiddeOnForfaitaire">' + unite + '</td>' +
						'<td class="col-1 my-auto no-border hiddeOnForfaitaire">' +
						'<div class="input-group">' +
						'<input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00">' +
						'<div class="input-group-append w-25">' +
						'<span class="input-group-text">€</span>' +
						'</div>' +
						'</div>' +
						'</td>' +
						'<td class="col-1 my-auto no-border hiddeOnForfaitaire">' +
						'<div class="input-group">' +
						'<input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00">' +
						'<div class="input-group-append w-25">' +
						'<span class="input-group-text">&#8474;</span>' +
						'</div>' +
						'</div>' +
						'</td>' +
						'<td class="col-2 my-auto no-border hiddeOnForfaitaire">' +
						'<div class="input-group">' +
						'<input class="calculLigne form-control p-0 pr-1 text-right comma bg-light ml-3" type="text" placeholder="0,00" readonly>' +
						'<div class="input-group-append w-25">' +
						'<span class="input-group-text">€</span>' +
						'</div>' +
						'</div>' +
						'</td>';
			}
			// on append cette nouvelle ligne au tableau de notre page par thème
			var theme = data.theme.replace(/'/g,'').replace(/ /g,'');
			if ($('#theme' + theme).length === 1) {
				$('#theme' + theme).append(markup);
			} else {
				$('#articleTable').append(`
						<tbody id="theme${theme}">
							<tr class="row bg-transparent">
								<td class="col-6 my-auto no-border text-left font-weight-bold"><span class="font-weight-bold">${data.theme}</td>
								<td class="col-1 my-auto no-border"></td>
								<td class="col-1 my-auto no-border hiddeOnForfaitaire"></td>
								<td class="col-1 my-auto no-border hiddeOnForfaitaire"></td>
								<td class="col-1 my-auto no-border hiddeOnForfaitaire"></td>
								<td class="col-2 my-auto no-border hiddeOnForfaitaire"></td>
							</tr>
							${markup}
						</tbody>
					`);
			}
			$('.toscan').trigger('change');
			toggleForfaitaire();
			// $("table tbody").append(markup);
			$('#overrideMontantUnit').val(0);
			// Remet à zèro la valeur de l'input quantité
			$('#quantiteArticle').val(0);
			// une fois la ligne ajoutée au tableau, on réactualise les montants HT et TTC affichés sur la page
			initListeArticleDevis();
			if (!forfaitaire) {
				printMontant();
			}
			$('.auto-grow').trigger('click');
			if (!data.montantTotalHT) {
				devisToLocalStorage();
			}
		}
		//fonction qui permet de pusher dans un tableau
		function initListeArticleDevis() {
			flagNoPrice = false;
			listeArticleDevis = [];
			listeNoPrice = [];
			var listeElem = [];
			$('#articleTable').find('.toscan').each(function() {
				listeElem.push($(this));
				if ($(this).length == 1 && $(this).length != 0) {
					if (($(this).attr('data-overridemontantunit') == 0|| $(this).attr('data-quantite') == 0) && !forfaitaire) {
						flagNoPrice = true;
						listeNoPrice.push($(this));
					}
					for (elem in listeElem) {
						listeElem[elem].removeClass('warning')
					}
					if (!forfaitaire) {
						for (elem in listeNoPrice) {
							listeNoPrice[elem].addClass('warning');
						}
					}
					listeArticleDevis.push({
						"description": $(this).attr('data-description'),
						"articleId": $(this).attr('data-articleid'),
						"overrideMontantUnit": $(this).attr('data-overridemontantunit'),
						"quantite": $(this).attr('data-quantite'),
						"montantTotalHT": $(this).attr('data-montantht'),
						"theme": $(this).attr('data-theme'),
						"nom": $(this).attr('data-designation'),
						"unite": $(this).attr('data-unite'),
						"id": $(this).attr('data-articleid')
					})
				} else if ($(this).length > 1) {
					$(this).find('tr').each(function() {
						$(this).find('.calculLigne').each(function() {
							if ($(this).val() == 0) {
								flagNoPrice = true
							}
						})
					})
				}
			});
		}
		// fonction qui va nous permettre d'afficher les prix HT et TTC sur notre page en fonction de valeurs saisies dans le formulaire du devis
		function printMontant() {
			totalHT = 0;
			if (!forfaitaire) {
				// pour chaque entrée dans le tableau des articles ajoutés au devis on vient incrémenter la variable totalHT de cette valeur
				$("#articleTable").find(".toscan").each(function () {
					totalHT += parseFloat($(this).attr("data-montantht").replace(' ', ''));
				});
			} else {
				totalHT = parseFloat($('#targetST').val().replace(' ', '').replace(',', '.'));
			}
			if (totalHT == 0 && forfaitaire) {
				$('#targetST').addClass('warning');
			} else {
				$('#targetST').removeClass('warning');
			}
			//même procédure, on scan les champs du formulaire pour récupérer les valeurs de remise et de tva...
			var remise = $("#create_devis_remise").val()/100;
			var tva = ($("#create_devis_TVA").val())/100;
			// ...afin de les intégrer au calcul du total TTC
			var prixRemise = totalHT - (totalHT * remise);
			if (!forfaitaire) {
				// on vient ensuite intégrer la valeur finale sur notre page
				$('#targetST').val(totalHT.toFixed(2));
			}
			totalTTC = prixRemise + (prixRemise * tva);
			$('#targetRM').val((totalHT * remise).toFixed(2));
			$('#targetHT').val(prixRemise.toFixed(2));
			// que l'on vient intégrer à la page
			$('#targetTTC').val(totalTTC.toFixed(2));
			addCommaAll();
		}
		// Fonction qui change le text du boutton de validation du devis pour le super admin
		function changeButton() {
			{% if is_granted('ROLE_SUPER_SUDALYS') %}
			$('#submit').html('Enregistrer le Devis comme Accepté');
			{% endif %}
		}
		function toggleForfaitaire() {
			var value = $('#create_devis_forfaitaire').val();
			if (value == 1) {
				$('.hiddeOnForfaitaire').attr('hidden', true);
				forfaitaire = true
				$('#targetST').attr('readonly', false);
			} else {
				$('.hiddeOnForfaitaire').attr('hidden', false);
				forfaitaire = false
				$('#targetST').attr('readonly', true);
			}
			initListeArticleDevis();
		}
		// document.ready nous permet d'être sûr que notre Javascript ne s'éxécutera qu'à partir du moment où la vue sera complètement chargée
		$(document).ready(function() {
			$('.selectpicker').selectpicker('refresh');
			{% if devis.totalHT %}
				$('#targetHT').val({{ devis.totalHT }});
				$('#targetST').val({{ devis.totalHT / (1 + devis.remise) }}).promise().done(function() {
					$('#targetST').trigger('change');
				})
				$('#targetRM').val($('#targetHT').val() - $('#targetST').val());
			{% endif %}
			setAdresses();
			toggleForfaitaire();
			{% if aff != 0 and duplication == 0%}
				$('#create_devis_organisme').find('option').each(function() {
					if ($(this).val() == {{ aff }}) {
						$(this).attr('selected', 'selected')
						$('#create_devis_organisme').trigger('change');
					}
				});
			{% endif %}
			{% if devis.validation == 0 and devi == 1 and is_granted('ROLE_SUPER_SUDALYS') %}
				var url;
				{% if affaireId %}
					url = '{{ path('sudalys_gestion_valid_devis', {devisId: devisId, affaireId: affaireId}) }}';
				{% else %}
					url = '{{ path('sudalys_gestion_valid_orphan', {devisId: devisId}) }}';
				{% endif %}
				$('#endDevis').append(`<a role="button" class="btn btn-danger" href="${url}">Refuser le devis</a>`);
			{% endif %}
			$(document).change(function() {
				devisToLocalStorage();
			})
			addCommaAll();
			$('#create_devis_forfaitaire').change(function() {
				toggleForfaitaire();
			});
			/**
			 * Fonction pour supprimer tous les boutons, liens et autres éléments à supprimer ainis que désactiver tous les input et selects
			 * pour le visionnement d'un devis
			 */
			if ('{{ display }}' == 'yes') {
				$('input').attr('disabled', true).addClass('bg-light', 'text-black')
				$('textarea').attr('readonly', true).addClass('bg-light', 'text-black')
				$('select').attr('disabled', true).addClass('bg-light', 'text-black')
				$('.notToView').remove();
				$('.jumbotron').find('a').remove();
				$('.askForValidation').remove();
				$('.custom-checkbox').remove();
				$('.display-6').html('Visionnement du devis')
			}
			// Foncions pour changer le placoholder du selectpicker lorsqu'il est vide
			// Pour contact
			$('.selectpicker.contact').selectpicker({
				noneSelectedText: 'Aucun contact',
				noneResultsText: 'Aucun contact trouvé'
			});
			// Pour affaire
			$('.selectpicker.affaire').selectpicker({
				noneSelectedText: 'Aucune affaire',
				noneResultsText: 'Aucune affaire trouvé'
			});
			$('#choixAjoutContact').click(function() {
				$('.choix-ajout').modal('hide');
				$('#openContactDialog').trigger('click')
			});
			// Fonction pour ouvrir la mdoale de création d'un article directement sans passer par la liste des articles

			// sur le clic du lien
			$(document).on( 'click', '#createArticleShort', function(){
				$('#openArticleDialog').trigger('click');
			});
			if (flagStorage === false) {
				// vérifie si le devis existe déjà
				{% if devisId == 0 and duplication != 1 and numDevis == 'no' %} // Si c'est un nouveau devis on charge la  liste des contacts liés à l'organisme
					displayContacts();
				{% else %}
					displayContactsEdit();
				{% endif %}
			}

			// Lors de la sélection d'un nouvel organisme on charge la liste  contact correspondant
			$('#create_devis_client').change(function() {
				setAdresses();
				displayContacts();
			});
			printMontant();
			initListeArticleDevis()
			// Recherche dans le tabeau listant les articles
			$("#searchArticle").on("keyup", function() {
				var value = $(this).val().toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
				$("#article-list .search").filter(function() {
					$(this).toggle($(this).text().toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "").indexOf(value) > -1);
				});
			});
			// Activation ou désactivation de la TVA
			// Au chargement de la page
			var activeTVA = $('#create_devis_activeTVA').val();
			if (activeTVA == 1) {
				$('.display-tva').show();
			} else {
				$('.display-tva').hide();
			}
			// AU changement de l'input
			$('#create_devis_activeTVA').change(function() {
				var value = $(this).val();
				if (value == 1) {
					$('.display-tva').show();
				} else {
					$('.display-tva').hide();
				}
			});
			// Calcul du montant lors d'un changement sur un input group
			$('.input-group').change(function () {printMontant()});
			// Mise en page du textarea
			$(document).on('input', '.auto-grow', function() {
				this.style.height = "5px";
				this.style.height = (this.scrollHeight)+"px";
			});
			$(document).on('click', '.auto-grow', function() {
				this.style.height = "5px";
				this.style.height = (this.scrollHeight)+"px";
			});
			$(document).on('click', '.reset-search', function() {
				$('#searchArticle').val('').trigger('keyup');
			});
			$('.auto-grow').trigger('click');
			// Calcul du montant lors d'un changement d'un input dans la table
			$(document).on('change', '.toscan', function() {
				printMontant();
			});
			// Création de la liste d'article lors du changement d'une valeur dans la table
			$(document).on('change', '.calculLigne', function() {
				initListeArticleDevis()
			});
			// sur le clic du lien pour ajouter un organisme
			$(document).on('click', '#openOrgaDialog', function(){
				modalType = "orga";
				// on vient charger la modale
				$('#createOrgaDialog').modal();
				// on définit le titre de la fenetre
				$('#myModalLabelOrga').html("Nouvel Organisme");
				var url = $(this).attr('data-target');
				// on requete en AJAX afin de récupérer l'html envoyé par le controleur à l'url passée en attribut du lein cliqué
				$.get(url, function(data){
					// on charge le formulaire dans le body de la modale
					$('#modal-body-orga').html(data);
					// puis on ouvre la modale
					$('#createOrgaDialog').modal('show');
					checkFormValidity(this);
					changeLabels();
				});
			});
			// sur le clic du lien pour ajouter un client
			$(document).on('click', '#openClientDialog', function(){
				modalType = "client";
				// on vient charger la modale
				$('#createOrgaDialog').modal();
				// on définit le titre de la fenetre
				$('#myModalLabelOrga').html("Nouveau Client");
				var url = $(this).attr('data-target');
				// on requete en AJAX afin de récupérer l'html envoyé par le controleur à l'url passée en attribut du lein cliqué
				$.get(url, function(data){
					// on charge le formulaire dans le body de la modale
					$('#modal-body-orga').html(data);
					$('#sendOjectOrga').attr('data-type', 'client');
					$('#sendOjectOrga').attr('data-path', url);
					// puis on ouvre la modale
					$('#createOrgaDialog').modal('show');
					checkFormValidity(this);
					changeLabels();
				});
			});
			// sur le clic du lien pour ajouter un contact
			$(document).on('click', '#openContactDialog', function(){
				modalType = "contact";
				// Initialise les variables nécessaires
				var orgaId = $('#create_devis_client').val();
				console.log(orgaId);
				// on vient charger la modale
				$('#createContactDialog').modal();
				// on définit le titre de la fenetre
				$('#myModalLabelContact').html("Nouveau contact");
				var url = '/contact/creer/organisme/' + orgaId;
				// on requete en AJAX afin de récupérer l'html envoyé par le controleur à l'url passée en attribut du lein cliqué
				$.get(url, function(data){
					// on charge le formulaire dans le body de la modale
					$('#modal-body-contact').html(data);
					// puis on ouvre la modale
					$('#createContactDialog').modal('show');
					checkFormValidity(this);
					changeLabels();
				});
			});
			// sur le clic du lien
			$(document).on( 'click', '#openArticleDialog', function(){
				modalType = "article";
				var themeId = $('#sendOject').attr('data-themeId');
				// on vient charger la modale
				$('#createDialog').modal();
				// on définit le titre de la fenetre
				$('#myModalLabel').html("Nouvel Article");
				url = $(this).attr('data-target');
				// on requete en AJAX afin de récupérer l'html envoyé par le controleur à l'url passée en attribut du lein cliqué
				$.get(url, function(data){
					// on charge le formulaire dans le body de la modale
					$('#modal-body').html(data);
					// puis on ouvre la modale
					$('#createDialog').modal('show');
					$('#create_article_theme').find('option').each(function() {
						if ($(this).val() == themeId) {
							$(this).attr('selected', 'selected')
						}
					});
					checkFormValidity(this);
					changeLabels();
				});
			});
			// au changement de la valeur du taux de tva saisi par l'utilisateur(dernier input du formulaire), on update l'affichage des prix HT et TTC
			$('#create_devis_TVA').change(function() {
				printMontant();
			});
			$('#create_devis_remise').change(function() {
				printMontant();
			});
			// au clic du bouton d'ajout d'article
			$(document).on('click', '.addRow', function() {
				$('.bd-modal-xl').modal('hide');
				var data = $(this).data();
				addRow(data);
			});
			// au clic du bouton supprimer un article
        	$(".delete-row").click(function(){
				// on vient scanner toutes les lignes du tableau afin de déterminer celles qui ont été cochées
            	$("table tbody").find('input[name="record"]').each(function(){
                	if($(this).is(":checked")){
						// les lignes cochées sont supprimées
						$(this).parents("tr").remove();
						// on réactualise les prix affichés en fonction de la liste d'articles mise à jour
						printMontant();
						initListeArticleDevis();
					}
            	});
			});
			$('#formDevis').on('keypress', function(e) {
				if(e.which === 13) {
					e.preventDefault();
					return false;
				}
			});
			// au submit du formulaire de création du devis
			$('#formDevis').submit(function(e) {
				// on empêche le button de s'éxécuter normalement, cad de submit la data puis de recharger la page
				e.preventDefault();
				initListeArticleDevis();
				if(listeArticleDevis.length == 0) {
					showAlertFlash('Attention, vous ne pouvez pas créer un devis vide, veuillez sélectionner des articles à ajouter.');
					return;
				} else if (flagNoPrice && !forfaitaire) {
					showAlertFlash('Attention, vous ne pouvez pas créer un devis avec un article sans prix ou quantité.');
					return;
				} else if (forfaitaire) {
					var targetST = $('#targetST');
					if (parseInt(targetST.val()) == 0) {
						$('.warning').removeClass('warning');
						showAlertFlash('Attention, vous ne pouvez pas créer un devis forfaitaire sans montant total.');
						targetST.addClass('warning');
						return;
					} else {
						targetST.removeClass('warning');
					}
				} else if ($('.warning').length > 0) {
					showAlertFlash('Attention, vous ne pouvez pas créer un devis avec un article sans prix ou quantité.');
					return;
				}
				$.preloader.start();
				// on récupère toutes les valeurs des input du formulaire et on les serialize en tant que tableau
				var form = $('#formDevis').serializeArray();
				// on récupère la checkbox de demande de validation
				var validate = $('#askValidate:checked').val();
				// on récupère le numéro de l'affaire injecter dans la page par le controller à la création de celle-ci
				var affaire = '{{ affaireId }}';
				var devis = '{{ devisId }}';
				var data = {devis: form, articles: listeArticleDevis, duplicate: false, validate};
				if ({{ duplication }} === 1 && affaire) {
					href = '/affaire/devis/devisId/duplicate';
					href = href.replace('devisId', devis);
					data.duplicate = true;
				} else if ({{ duplication }} === 1) {
					href = '/affaire/devis/devisId/duplicate';
					href = href.replace('devisId', devis);
					data.duplicate = true;
				} else if(devis != 0 && affaire) {
					href = '/affaire/affaireId/devis/gestion/devisId';
					href = href.replace('affaireId', affaire);
					href = href.replace('devisId', devis);
				} else if(devis != 0) {
					href = '/affaire/devis/gestion/devisId';
					href = href.replace('devisId', devis);
				} else if(affaire) {
					// on créé une variable href qui va sera l'adresse à laquelle on envoie la requete AJAX
					var href = '/affaire/affaireId/devis/gestion';
					href = href.replace('affaireId', affaire);
				} else {
					var href = '/affaire/devis/gestion';
				}
				var duplicate;
				// on créé une requete ajax
				$.ajax({
					// de type post
					type: 'POST',
					// envoyée sur l'adresse que nous créée dans notre variable
					url: href,
					processData: true,
					// la data à envoyer est notre tableau serializé
					data: data,
					// si la requete est réussie,  on redirige l'utilisateur sur la page de detail de l'affaire
					success: function (response) {
						if (response.status === 'success') {
							removeDevisLocalStorage();
							successToLocalStorage(response.message);
							if (isHere === 0) {
								if (affaire) {
									url = '/affaire/affaireId#devis';
									url = url.replace('affaireId', affaire);
								} else if ('{{ app.user.roles[0] }}' == 'ROLE_SUDALYS') {
									url = '/gestion/dashboard/chefProjet#devis';
								} else {
									url = '/#devis'
								}
							} else if (isHere === 2 && affaire) {
								url = '/affaire/affaireId#devis';
								url = url.replace('affaireId', affaire);
							} else if (isHere === 1 && affaire) {
								url = '/affaire/affaireId#devis';
								url = url.replace('affaireId', affaire);
							} else if ('{{ app.user.roles[0] }}' == 'ROLE_SUDALYS') {
								url = '/gestion/dashboard/chefProjet';
							} else {
								url = '/gestion/dashboard/chefProjet#devis';
							}
							$.preloader.stop();
							location.href = url;
						} else {
							$.preloader.stop();
							showAlertFlash(response.message);
						}
					},
					error: function(xhr, textStatus, thrownError) {
						$.preloader.stop();
						showWarningFlash('Quelque chose c\'est mal passé, merci de réessayer...');
					}
				});
			});
			// Event pour ouvrir la modal de création d'un produit
			$('#createProduct').click(function() {
				modalType = "article";
				// on vient charger la modale
				$('#createDialog').modal();
				// on définit le titre de la fenetre
				$('#myModalLabel').html("Nouvel Article");
				url = $(this).attr('data-target');
				// on requete en AJAX afin de récupérer l'html envoyé par le controleur à l'url passée en attribut du lein cliqué
				$.get(url, function(data){
					// on charge le formulaire dans le body de la modale
					$('#modal-body').html(data);
					// puis on ouvre la modale
					$('#createDialog').modal('show');
					changeLabels();
				});
			});
			// Event pour l'ajout d'un article déja existant
			$('#sendAddProduct').click(function() {
				$.preloader.start();
				var data = $('#articleList').val();
				// on recupère le json contenu dans la valeur de l'option sélectionnée
				var objectArticle = JSON.parse(data);
				for (article in objectArticle) {
					objectArticle[article] = unescape(objectArticle[article]);
				}
				//on hydrate nos variables avec les valeurs contenues dans le JSON
				var id = objectArticle.id;
				$.ajax({
					url: '{{ path('sudalys_gestion_addarticle_affaire', {affaireId: aff}) }}',
					method: 'POST',
					data: id,
					success: function(data) {
						if (data.st === 1) {
							addArticleToModal(data);
							$('#sendAddProduct').modal('hide');
							$.preloader.stop();
						} else {
							$.preloader.stop();
							showAlertFlash(data.message);
						}
					},
					error: function(xhr, textStatus, thrownError) {
						$.preloader.stop();
						showWarningFlash('Une erreur c\'est produite lors de la création de l\'article, veuillez ressayer...')
					}
				})
			});
			// ne pouvant utiliser un bouton submit pour valider le form de la modale (sinon il ferme la modale avant d'envoyer les données)
			// on utilise donc un bouton classique avec une action sur le clic
			// Pour les organismes
			$('#sendOjectOrga').click(function() {
				$.preloader.start();
				var urlOrga;
				var type = $('#sendOjectOrga').data('type');
				if (type === 'client') {
					urlOrga = $('#sendOjectOrga').data('path');
				} else {
					urlOrga = '/organisme/create/ajax';
				}
				// on récupère toutes les valeurs saisies dans le form de la modale
				var formOrga = $('#formOrga').serialize();
				//on créé notre requete ajax de type post vers le controller des organismes
				$.ajax({
					type: 'POST',
					url: urlOrga,
					processData: true,
					data: formOrga,
					success: function (data) {
						if (data.status === 'success') {
							$('#createOrgaDialog').modal('hide');
							if (type === 'client') {
								$('#create_devis_client').append(`<option value="${data.data.id}" selected>${data.data.nom}</option>`);
							} else {
								$('#create_devis_organisme').append(`<option value="${data.data.id}" selected>${data.data.nom}</option>`);
							}
							$(".selectpicker").selectpicker('refresh');
							displayContacts();
							setAdresses();
							showSuccessFlash(data.message);
						} else {
							showAlertFlash(exceptionHandler(data.message, 'organisme'))
						}
						$.preloader.stop();
					},
					error: function (xhr, textStatus, thrownError) {
						$.preloader.stop();
						showAlertFlash('Une erreur c\'est produite, merci de réessayer...');
					}
				});
			});
			// Pour les contacts
			$('#sendOjectContact').click(function() {
				$.preloader.start();
				var orgaId = $('#create_devis_client').val();
				var url = '/contact/creer/organisme/' + orgaId;
				// on récupère toutes les valeurs saisies dans le form de la modale
				var formContact = $('#formContact').serialize();
				//on créé notre requete ajax de type post vers le controller des organismes
				$.ajax({
					type: 'POST',
					url: url,
					processData: true,
					data: formContact,
					success: function (response) {
						if (response.status === 'success') {
							$('#createContactDialog').modal('hide');
							$('#create_devis_contact').append(`<option value="${response.data.id}" selected>${response.data.prenom} ${response.data.nom}</option>`);
							$(".selectpicker").selectpicker('refresh');
							showSuccessFlash(response.message);
						} else {
							showAlertFlash(exceptionHandler(response.message, 'contact'));
						}
						$.preloader.stop();
					},
					error: function (xhr, textStatus, thrownError) {
						$.preloader.stop();
						showAlertFlash('Une erreur c\'est produite, merci de réessayer...');
					}
				});
			});
			// Pour les articles
			$('#sendOject').click(function() {
				$.preloader.start();
				var urlArticle = '/article/create';
				if ({{ aff }} !== 0) {
					urlArticle += '/' + {{ aff }};
				}
				$('#sendOject').attr('data-themeId', $('#create_article_theme').val());
				// on récupère toutes les valeurs saisies dans le form de la modale
				var formArticle = $('#formArticle').serialize();
				//on créé notre requete ajax de type post vers le controller des articles
				$.ajax({
					type: 'POST',
					url: urlArticle,
					processData: true,
					data: formArticle,
					// si réponse positive du controller, on ferme la modale et on injecte le nouvel organisme dans la liste des options de notre page
					success: function (data) {
						addArticleToModal(data, true);
						$('.modal.fade.bd-modal-xl').modal('hide');
						$.preloader.stop();
						showSuccessFlash('L\'article a bien était ajouter.');
					},
					error: function(xhr, textStatus, thrownError) {
						$.preloader.stop();
						showAlertFlash('Quelque chose c\'est mal passé, merci de réessayer...');
						modalType = "";
					}
				});
			});
			// Fonction qui charge la liste des articles lors de la dsélection d'une affaire
			$('#create_devis_affaire').change(function () {
				var affaireId = $(this).val();
				var url = '/affaire/get/articles/' + affaireId;
				$('#article-list').children('div').remove();
				$.get(url, function (data) {
					for (var article of data) {
						addArticleToModal(article);
					}
					showSuccessFlash('La liste des articles de l\'affaire a été chargé');
				});
			});
		});
		// Fonction pour ajouter l'article créé à la modale de choix d'article
		function addArticleToModal(data, click = null) {
			$('#createDialog').modal('hide');
			var theme = data.theme.replace(/'/g,'').replace(/ /g,'');
			console.log(theme);
			theme = $('#' + theme);
			var unite;
			data.unite == 0 ? unite = 'Forfaitaire': unite = 'Unitaire';
			$('#no-article').remove();
			if (theme.length) {
				theme.append(`<div class="card-body border row search">
						<div class="col-3 align-self-center my-auto text-left">
							${data.nom}
						</div>
						<div class="col-6 align-self-center my-auto text-left">
							${data.description}
						</div>
						<div class="col-2 align-self-center text-center my-auto">
							${unite}
						</div>
						<div class="col-1 align-self-center text-center my-auto">
							<button id="addRow${data.id}" class="btn btn-default addRow reset-search" data-id="${data.id}"
								data-theme="${data.theme}"
								data-nom="${data.nom}"
								data-description="${data.description}"
								data-unite="${data.unite}">
									<i class="fas fa-arrow-circle-right fa-2x text-info"></i>
							</button>
						</div>
					</div>`);
			} else {
				$('#article-list').append(`
				<div class="card no-border search">
					<div class="card-body no-border">
						<div class="card-title"><strong>Thème :</strong> ${data.theme}</div>
						<div class="card-body">
							<div class="card-header row bg-secondary text-white border text-center font-weight-bold" style="height: 3em">
								<div class="col-3 align-self-center text-center my-auto">
									Désignation
								</div>
								<div class="col-6 align-self-center text-center my-auto">
									Description
								</div>
								<div class="col-2 align-self-center text-center my-auto">
									Unité
								</div>
								<div class="col-1 align-self-center text-center my-auto">
									Action
								</div>
							</div>
							<div id="${data.theme.replace(/'/g,'').replace(/ /g,'')}">
								<div class="card-body border row search border-bottom">
									<div class="col-3 align-self-center my-auto text-left">
										${data.nom}
									</div>
									<div class="col-6 align-self-center my-auto text-left">
										${data.description}
									</div>
									<div class="col-2 align-self-center text-center my-auto">
										${unite}
									</div>
									<div class="col-1 align-self-center my-auto">
										<button id="addRow${data.id}" class="btn btn-default addRow reset-search" data-id="${data.id}"
										data-theme="${data.theme}"
										data-nom="${data.nom}"
										data-description="${data.description}"
										data-unite="${data.unite}">
										<i class="fas fa-arrow-circle-right fa-2x text-info"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>`);
			}
			if (click) {
				$('.openIt').show();
				$('#addRow' + data.id).trigger('click');
			}
		}
	</script>
{% endblock %}
