{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron"><!-- Nav tabs -->
            <ul class="nav nav-tabs row no-border">
                <li class="nav-item col-auto col-lg">
                    <button id="showActif" class="btn-outline-primary border-primary font-weight-bold nav-link w-100" data-toggle="tab" href="#actif">Organismes actifs</button>
                </li>
                <li class="nav-item col-auto col-lg">
                    <button id="showInactif" class="btn-outline-info border-info font-weight-bold nav-link w-100" data-toggle="tab" href="#inactif">Organismes inactifs</button>
                </li>
            </ul>
            <hr>
            <div class="tab-content w-100">
				<div class="tab-pane" id="actif">
                    <ul class="nav nav-tabs row no-border">
                        <li class="nav-item col-auto col-lg">
                            <button id="showClientActif" class="btn-outline-success border-success font-weight-bold nav-link w-100" data-toggle="tab" href="#clientActif">Clients actifs</button>
                        </li>
                        <li class="nav-item col-auto col-lg">
                            <button id="showFournActif" class="btn-outline-warning border-warning font-weight-bold nav-link w-100" data-toggle="tab" href="#fournisseurActif">Fournisseurs actifs</button>
                        </li>
                        <li class="nav-item col-auto col-lg">
                            <button id="showPrestaActif" class="btn-outline-secondary border-secondary font-weight-bold nav-link w-100" data-toggle="tab" href="#prestataireActif">Prestataires actifs</button>
                        </li>
                    </ul>
                    <div class="tab-content w-100">
                        <div class="tab-pane" id="clientActif">
                            <button class="btn btn-light float-right border-success openOrgaDialog" data-type="client" data-target="{{ path('sudalys_gestion_create_client_ajax') }}" href="#createOrga" onclick="$('#createOrga').modal({'backdrop': 'static'});">
                                <i class="fas fa-plus-circle text-success my-auto"></i>&nbsp;Ajouter un client
                            </button>
                            <dl class="float-right mb-2 mr-2 row">
                                <dt class="col-4 my-auto">
                                    <label for="searchClientActif">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchClientActif">
                                </dd>
                            </dl>
                            <h1 class="display-6 m-4">Liste des clients actifs</h1>
                            <hr class="my-4">
                            <table class="table table-striped">
                                <thead class="text-white">
                                    <tr class="row bg-primary">
                                        <th class="col-2 my-auto">Client de rattachement</th>
                                        <th class="col-2 my-auto">Nom</th>
                                        <th class="col-2 my-auto">Adresse</th>
                                        <th class="col-2 my-auto text-center">Numéro Tél</th>
                                        <th class="col-2 my-auto text-center">Email service comptable</th>
                                        <th class="col-2 my-auto text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody id="listClient">
                                    {% for client in clients %}
                                        {% if client.actif == true %}
                                            <tr id="clientList{{ client.id }}" class="row my-auto searchTableClientActif">
                                                <td class="col-2 my-auto no-border">
                                                    {% if client.parent is not null %}
                                                        {{ client.parent.nom }}
                                                    {% endif %}
                                                </td>
                                                <td class="col-2 my-auto no-border">{{ client.nom }}</td>
                                                <td class="col-2 my-auto no-border">
                                                    <p class="my-auto">{{ client.adresse }}</p>
                                                    {% if client.adresseComplementaire1 is not empty %}
                                                        <p class="my-auto">{{ client.adresseComplementaire1 }}</p>
                                                    {% endif %}
                                                    {% if client.adresseComplementaire2 is not empty %}
                                                        <p class="my-auto">{{ client.adresseComplementaire2 }}</p>
                                                    {% endif %}
                                                    <p class="my-auto">{{ client.stal ~ ' ' ~ client.ville }}</p>
                                                </td>
                                                <td class="col-2 text-center my-auto no-border">
                                                    {% if client.telephone is not empty %}
                                                        <p class="my-auto">{{ client.telephone }}</p>
                                                    {% endif %}
                                                </td>
                                                <td class="col-2 my-auto no-border text-center">{{ client.email }}</td>
                                                <td class="col-2 my-auto no-border text-primary text-center">
                                                    <a role="button" class="btn btn-default" href="{{ path('sudalys_gestion_show_orga', {orgaId: client.id}) }}"><i class="fas fa-eye" title="Détails de l'organisme"></i></a>
                                                    <button class="btn btn-default" id="delete-orga{{ client.id }}" onclick="showDeleteOrgaModal('delete-orga{{ client.id }}', {{ client.id }})" data-path="{{ path('sudalys_gestion_delete_orga', {orgaId: client.id}) }}">
                                                        <i class="fas fa-times text-danger" title="Supprimer l'organisme"></i>
                                                    </button>
                                                    <button class="btn btn-default desactivate" id="activ-orga{{ client.id }}" data-orgaId="{{ client.id }}" data-type="client" data-path="{{ path('sudalys_gestion_etat_organisme', {orgaId: client.id}) }}">
                                                        <i class="fas fa-eye-slash text-secondary" title="Désactiver l'organisme"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="fournisseurActif">
                            <button class="btn btn-light float-right border-success openOrgaDialog" data-type="fournisseur" data-target="{{ path('sudalys_gestion_create_fournisseur_ajax') }}" href="#createOrga" onclick="$('#createOrga').modal({'backdrop': 'static'});">
                                <i class="fas fa-plus-circle text-success my-auto"></i>&nbsp;Demande référencement fournisseur
                            </button>
                            <dl class="float-right mb-2 mr-2 row">
                                <dt class="col-4 my-auto">
                                    <label for="searchFournActif">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchFournActif">
                                </dd>
                            </dl>
                            <h1 class="display-6 m-4">Liste des fournisseurs actifs</h1>
                            <hr class="my-4">
                            <table class="table table-striped">
                                <thead class="text-white">
                                <tr class="row bg-primary">
                                    <th class="col-2 my-auto">Fournisseur de rattachement</th>
                                    <th class="col-2 my-auto">Nom</th>
                                    <th class="col-2 my-auto">Adresse</th>
                                    <th class="col-2 my-auto text-center">Numéro Tél</th>
                                    <th class="col-2 my-auto text-center">Email service comptable</th>
                                    <th class="col-2 my-auto text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody id="listFournisseur">
                                {% for fournisseur in fournisseurs %}
                                    {% if fournisseur.actif == true %}
                                        {% if fournisseur.fournisseurValide == false %}
                                            <tr id="fournisseurList{{ fournisseur.id }}" class="row my-auto bg-warning-light searchTableFournActif">
                                        {% else %}
                                            <tr id="fournisseurList{{ fournisseur.id }}" class="row my-auto searchTableFournActif">
                                        {% endif %}
                                            <td class="col-2 my-auto no-border">
                                                {% if fournisseur.parent is not null %}
                                                    {{ fournisseur.parent.nom }}
                                                {% endif %}
                                            </td>
                                            <td class="col-2 my-auto no-border">{{ fournisseur.nom }}</td>
                                            <td class="col-2 my-auto no-border">
                                                <p class="my-auto">{{ fournisseur.adresse }}</p>
                                                {% if fournisseur.adresseComplementaire1 is not empty %}
                                                    <p class="my-auto">{{ fournisseur.adresseComplementaire1 }}</p>
                                                {% endif %}
                                                {% if fournisseur.adresseComplementaire2 is not empty %}
                                                    <p class="my-auto">{{ fournisseur.adresseComplementaire2 }}</p>
                                                {% endif %}
                                                <p class="my-auto">{{ fournisseur.stal ~ ' ' ~ fournisseur.ville }}</p>
                                            </td>
                                            <td class="col-2 text-center my-auto no-border">
                                                {% if fournisseur.telephone is not empty %}
                                                    <p class="my-auto">{{ fournisseur.telephone }}</p>
                                                {% endif %}
                                            </td>
                                            <td class="col-2 my-auto no-border text-center">{{ fournisseur.email }}</td>
                                            <td class="col-2 my-auto no-border text-primary text-center">
                                                <a role="button" class="btn btn-default" href="{{ path('sudalys_gestion_show_orga', {orgaId: fournisseur.id}) }}"><i class="fas fa-eye" title="Détails de l'organisme"></i></a>
                                                <button class="btn btn-default" id="delete-orga{{ fournisseur.id }}" onclick="showDeleteOrgaModal('delete-orga{{ fournisseur.id }}', {{ fournisseur.id }})" data-path="{{ path('sudalys_gestion_delete_orga', {orgaId: fournisseur.id}) }}">
                                                    <i class="fas fa-times text-danger" title="Supprimer l'organisme"></i>
                                                </button>
                                                <button class="btn btn-default desactivate" id="activ-orga{{ fournisseur.id }}" data-orgaId="{{ fournisseur.id }}" data-type="fournisseur" data-path="{{ path('sudalys_gestion_etat_organisme', {orgaId: fournisseur.id}) }}">
                                                    <i class="fas fa-eye-slash text-secondary" title="Désactiver l'organisme"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="prestataireActif">
                            <button class="btn btn-light float-right border-success openOrgaDialog" data-type="prestataire" data-target="{{ path('sudalys_gestion_create_prestataire_ajax') }}" href="#createOrga" onclick="$('#createOrga').modal({'backdrop': 'static'});">
                                <i class="fas fa-plus-circle text-success my-auto"></i>&nbsp;Demande référencement prestataire
                            </button>
                            <dl class="float-right mb-2 mr-2 row">
                                <dt class="col-4 my-auto">
                                    <label for="searchPrestaActif">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchPrestaActif">
                                </dd>
                            </dl>
                            <h1 class="display-6 m-4">Liste des prestataires actifs</h1>
                            <hr class="my-4">
                            <table class="table table-striped">
                                <thead class="text-white">
                                <tr class="row bg-primary">
                                    <th class="col-2 my-auto">Prestataire de rattachement</th>
                                    <th class="col-2 my-auto">Nom</th>
                                    <th class="col-2 my-auto">Adresse</th>
                                    <th class="col-2 my-auto text-center">Numéro Tél</th>
                                    <th class="col-2 my-auto text-center">Email service comptable</th>
                                    <th class="col-2 my-auto text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody id="listPrestataire">
                                {% for prestataire in prestataires %}
                                    {% if prestataire.actif == true %}
                                        {% if prestataire.prestataireValide == false %}
                                            <tr id="prestataireList{{ prestataire.id }}" class="row my-auto bg-warning-light searchTablePrestaActif">
                                        {% else %}
                                            <tr id="prestataireList{{ prestataire.id }}" class="row my-auto searchTablePrestaActif">
                                        {% endif %}
                                            <td class="col-2 my-auto no-border">
                                                {% if prestataire.parent is not null %}
                                                    {{ prestataire.parent.nom }}
                                                {% endif %}
                                            </td>
                                            <td class="col-2 my-auto no-border">{{ prestataire.nom }}</td>
                                            <td class="col-2 my-auto no-border">
                                                <p class="my-auto">{{ prestataire.adresse }}</p>
                                                {% if prestataire.adresseComplementaire1 is not empty %}
                                                    <p class="my-auto">{{ prestataire.adresseComplementaire1 }}</p>
                                                {% endif %}
                                                {% if prestataire.adresseComplementaire2 is not empty %}
                                                    <p class="my-auto">{{ prestataire.adresseComplementaire2 }}</p>
                                                {% endif %}
                                                <p class="my-auto">{{ prestataire.stal ~ ' ' ~ prestataire.ville }}</p>
                                            </td>
                                            <td class="col-2 text-center my-auto no-border">
                                                {% if prestataire.telephone is not empty %}
                                                    <p class="my-auto">{{ prestataire.telephone }}</p>
                                                {% endif %}
                                            </td>
                                            <td class="col-2 my-auto no-border text-center">{{ prestataire.email }}</td>
                                            <td class="col-2 my-auto no-border text-primary text-center">
                                                <a role="button" class="btn btn-default" href="{{ path('sudalys_gestion_show_orga', {orgaId: prestataire.id}) }}"><i class="fas fa-eye" title="Détails de l'organisme"></i></a>
                                                <button class="btn btn-default" id="delete-orga{{ prestataire.id }}" onclick="showDeleteOrgaModal('delete-orga{{ prestataire.id }}', {{ prestataire.id }})" data-path="{{ path('sudalys_gestion_delete_orga', {orgaId: prestataire.id}) }}">
                                                    <i class="fas fa-times text-danger" title="Supprimer l'organisme"></i>
                                                </button>
                                                <button class="btn btn-default desactivate" id="activ-orga{{ prestataire.id }}" data-orgaId="{{ prestataire.id }}" data-type="prestataire" data-path="{{ path('sudalys_gestion_etat_organisme', {orgaId: prestataire.id}) }}">
                                                    <i class="fas fa-eye-slash text-secondary" title="Désactiver l'organisme"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><div class="tab-pane" id="inactif">
                    <ul class="nav nav-tabs row no-border">
                        <li class="nav-item col-auto col-lg">
                            <button id="showClientInactif" class="btn-outline-success border-success font-weight-bold nav-link w-100" data-toggle="tab" href="#clientInactif">Clients inactifs</button>
                        </li>
                        <li class="nav-item col-auto col-lg">
                            <button id="showFournInactif" class="btn-outline-warning border-warning font-weight-bold nav-link w-100" data-toggle="tab" href="#fournisseurInactif">Fournisseurs inactifs</button>
                        </li>
                        <li class="nav-item col-auto col-lg">
                            <button id="showPrestaInactif" class="btn-outline-secondary border-secondary font-weight-bold nav-link w-100" data-toggle="tab" href="#prestataireInactif">Prestataires inactifs</button>
                        </li>
                    </ul>
                    <div class="tab-content w-100">
                        <div class="tab-pane" id="clientInactif">
                            <dl class="float-right mb-2 row">
                                <dt class="col-4 my-auto">
                                    <label for="searchClientInactif">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchClientInactif">
                                </dd>
                            </dl>
                            <h1 class="display-6 m-4">Liste des clients inactifs</h1>
                            <hr class="my-4">
                            <table class="table table-striped">
                                <thead class="text-white">
                                <tr class="row bg-primary">
                                    <th class="col-2 my-auto">Client de rattachement</th>
                                    <th class="col-2 my-auto">Nom</th>
                                    <th class="col-2 my-auto">Adresse</th>
                                    <th class="col-2 my-auto text-center">Numéro Tél</th>
                                    <th class="col-2 my-auto text-center">Email service comptable</th>
                                    <th class="col-2 my-auto text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody id="listClientInactif">
                                {% for client in clients %}
                                    {% if client.actif == false %}
                                        <tr id="clientList{{ client.id }}" class="row my-auto searchTableClientInactif">
                                            <td class="col-2 my-auto no-border">
                                                {% if client.parent is not null %}
                                                    {{ client.parent.nom }}
                                                {% endif %}
                                            </td>
                                            <td class="col-2 my-auto no-border">{{ client.nom }}</td>
                                            <td class="col-2 my-auto no-border">
                                                <p class="my-auto">{{ client.adresse }}</p>
                                                {% if client.adresseComplementaire1 is not empty %}
                                                    <p class="my-auto">{{ client.adresseComplementaire1 }}</p>
                                                {% endif %}
                                                {% if client.adresseComplementaire2 is not empty %}
                                                    <p class="my-auto">{{ client.adresseComplementaire2 }}</p>
                                                {% endif %}
                                                <p class="my-auto">{{ client.stal ~ ' ' ~ client.ville }}</p>
                                            </td>
                                            <td class="col-2 text-center my-auto no-border">
                                                {% if client.telephone is not empty %}
                                                    <p class="my-auto">{{ client.telephone }}</p>
                                                {% endif %}
                                            </td>
                                            <td class="col-2 my-auto no-border text-center">{{ client.email }}</td>
                                            <td class="col-2 my-auto no-border text-primary text-center">
                                                <a role="button" class="btn btn-default" href="{{ path('sudalys_gestion_show_orga', {orgaId: client.id}) }}"><i class="fas fa-eye" title="Détails de l'organisme"></i></a>
                                                <button class="btn btn-default" id="delete-orga{{ client.id }}" onclick="showDeleteOrgaModal('delete-orga{{ client.id }}', {{ client.id }})" data-path="{{ path('sudalys_gestion_delete_orga', {orgaId: client.id}) }}">
                                                    <i class="fas fa-times text-danger" title="Supprimer l'organisme"></i>
                                                </button>
                                                <button class="btn btn-default desactivate" id="inactiv-orga{{ client.id }}" data-orgaId="{{ client.id }}" data-type="client" data-path="{{ path('sudalys_gestion_etat_organisme', {orgaId: client.id}) }}">
                                                    <i class="fas fa-smile-beam text-primary" title="Désactiver l'organisme"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="fournisseurInactif">
                            <dl class="float-right mb-2 row">
                                <dt class="col-4 my-auto">
                                    <label for="searchFournInactif">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchFournInactif">
                                </dd>
                            </dl>
                            <h1 class="display-6 m-4">Liste des fournisseurs inactifs</h1>
                            <hr class="my-4">
                            <table class="table table-striped">
                                <thead class="text-white">
                                <tr class="row bg-primary">
                                    <th class="col-2 my-auto">Fournisseur de rattachement</th>
                                    <th class="col-2 my-auto">Nom</th>
                                    <th class="col-2 my-auto">Adresse</th>
                                    <th class="col-2 my-auto text-center">Numéro Tél</th>
                                    <th class="col-2 my-auto text-center">Email service comptable</th>
                                    <th class="col-2 my-auto text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody id="listFournisseurInactif">
                                {% for fournisseur in fournisseurs %}
                                    {% if fournisseur.actif == false %}
                                        <tr id="fournisseurList{{ fournisseur.id }}" class="row my-auto searchTableFournInactif">
                                            <td class="col-2 my-auto no-border">
                                                {% if fournisseur.parent is not null %}
                                                    {{ fournisseur.parent.nom }}
                                                {% endif %}
                                            </td>
                                            <td class="col-2 my-auto no-border">{{ fournisseur.nom }}</td>
                                            <td class="col-2 my-auto no-border">
                                                <p class="my-auto">{{ fournisseur.adresse }}</p>
                                                {% if fournisseur.adresseComplementaire1 is not empty %}
                                                    <p class="my-auto">{{ fournisseur.adresseComplementaire1 }}</p>
                                                {% endif %}
                                                {% if fournisseur.adresseComplementaire2 is not empty %}
                                                    <p class="my-auto">{{ fournisseur.adresseComplementaire2 }}</p>
                                                {% endif %}
                                                <p class="my-auto">{{ fournisseur.stal ~ ' ' ~ fournisseur.ville }}</p>
                                            </td>
                                            <td class="col-2 text-center my-auto no-border">
                                                {% if fournisseur.telephone is not empty %}
                                                    <p class="my-auto">{{ fournisseur.telephone }}</p>
                                                {% endif %}
                                            </td>
                                            <td class="col-2 my-auto no-border text-center">{{ fournisseur.email }}</td>
                                            <td class="col-2 my-auto no-border text-primary text-center">
                                                <a role="button" class="btn btn-default" href="{{ path('sudalys_gestion_show_orga', {orgaId: fournisseur.id}) }}"><i class="fas fa-eye" title="Détails de l'organisme"></i></a>
                                                <button class="btn btn-default" id="delete-orga{{ fournisseur.id }}" onclick="showDeleteOrgaModal('delete-orga{{ fournisseur.id }}', {{ fournisseur.id }})" data-path="{{ path('sudalys_gestion_delete_orga', {orgaId: fournisseur.id}) }}">
                                                    <i class="fas fa-times text-danger" title="Supprimer l'organisme"></i>
                                                </button>
                                                <button class="btn btn-default desactivate" id="inactiv-orga{{ fournisseur.id }}" data-orgaId="{{ fournisseur.id }}" data-type="fournisseur" data-path="{{ path('sudalys_gestion_etat_organisme', {orgaId: fournisseur.id}) }}">
                                                    <i class="fas fa-smile-beam text-primary" title="Désactiver l'organisme"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div><div class="tab-pane" id="prestataireInactif">
                            <dl class="float-right mb-2 row">
                                <dt class="col-4 my-auto">
                                    <label for="searchPrestaInactif">Rechercher</label>
                                </dt>
                                <dd class="col">
                                    <input class="form-control" type="search" id="searchPrestaInactif">
                                </dd>
                            </dl>
                            <h1 class="display-6 m-4">Liste des prestataires inactifs</h1>
                            <hr class="my-4">
                            <table class="table table-striped">
                                <thead class="text-white">
                                <tr class="row bg-primary">
                                    <th class="col-2 my-auto">Prestataire de rattachement</th>
                                    <th class="col-2 my-auto">Nom</th>
                                    <th class="col-2 my-auto">Adresse</th>
                                    <th class="col-2 my-auto text-center">Numéro Tél</th>
                                    <th class="col-2 my-auto text-center">Email service comptable</th>
                                    <th class="col-2 my-auto text-center">Actions</th>
                                </tr>
                                </thead>
                                <tbody id="listPrestataireInactif">
                                {% for prestataire in prestataires %}
                                    {% if prestataire.actif == false %}
                                        <tr id="prestataireList{{ prestataire.id }}" class="row my-auto searchTablePrestaInactif">
                                            <td class="col-2 my-auto no-border">
                                                {% if prestataire.parent is not null %}
                                                    {{ prestataire.parent.nom }}
                                                {% endif %}
                                            </td>
                                            <td class="col-2 my-auto no-border">{{ prestataire.nom }}</td>
                                            <td class="col-2 my-auto no-border">
                                                <p class="my-auto">{{ prestataire.adresse }}</p>
                                                {% if prestataire.adresseComplementaire1 is not empty %}
                                                    <p class="my-auto">{{ prestataire.adresseComplementaire1 }}</p>
                                                {% endif %}
                                                {% if prestataire.adresseComplementaire2 is not empty %}
                                                    <p class="my-auto">{{ prestataire.adresseComplementaire2 }}</p>
                                                {% endif %}
                                                <p class="my-auto">{{ prestataire.stal ~ ' ' ~ prestataire.ville }}</p>
                                            </td>
                                            <td class="col-2 text-center my-auto no-border">
                                                {% if prestataire.telephone is not empty %}
                                                    <p class="my-auto">{{ prestataire.telephone }}</p>
                                                {% endif %}
                                            </td>
                                            <td class="col-2 my-auto no-border text-center">{{ prestataire.email }}</td>
                                            <td class="col-2 my-auto no-border text-primary text-center">
                                                <a role="button" class="btn btn-default" href="{{ path('sudalys_gestion_show_orga', {orgaId: prestataire.id}) }}"><i class="fas fa-eye" title="Détails de l'organisme"></i></a>
                                                <button class="btn btn-default" id="delete-orga{{ prestataire.id }}" onclick="showDeleteOrgaModal('delete-orga{{ prestataire.id }}', {{ prestataire.id }})" data-path="{{ path('sudalys_gestion_delete_orga', {orgaId: prestataire.id}) }}">
                                                    <i class="fas fa-times text-danger" title="Supprimer l'organisme"></i>
                                                </button>
                                                <button class="btn btn-default desactivate" id="inactiv-orga{{ prestataire.id }}" data-orgaId="{{ prestataire.id }}" data-type="prestataire" data-path="{{ path('sudalys_gestion_etat_organisme', {orgaId: prestataire.id}) }}">
                                                    <i class="fas fa-smile-beam text-primary" title="Désactiver l'organisme"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#  Modal ajout d'organisme  #}
    <div style="display: none;" class="modal fade organisme" id="createDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer bg-primary">
                    <button type="button" class="btn btn-default text-white font-weight-bold" onclick="$('.organisme').modal('hide')"><i class="fas fa-times-circle text-white"></i>&nbsp;Annuler</button>
                    <button type="button" class="btn btn-light" id="sendOject">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    {# Modal suppression de l'organise #}
    <div class="modal fade delete-orga" style="display: none" id="deleteCont" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteOrga">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white font-weight-bold" id="myModalDeleteOrga">Suppression de l'organisme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-danger" id="modal-body-delete">

                </div>
                <div class="modal-footer bg-warning" id="modal-footer">
                    <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    {# Modal de désactivation de l'organise #}
    <div class="modal fade activ-orga" style="display: none" id="activOrga" tabindex="-1" role="dialog" aria-labelledby="myModalActivOrga">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white font-weight-bold" id="myModalActivOrga"><span id="toggle"></span> de l'organisme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h4>Vous allez <span class="toggle"></span> un organisme!</h4>
                    <p>Etes-vous sur de vouloir <span class="toggle"></span> l'organisme ?</p>
                </div>
                <div class="modal-footer bg-warning">
                    <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
                    <button type="button" id="desactivate" class="btn btn-danger"></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        // Fonction pour afficher la modal de suppression d'organisme'
        function showDeleteOrgaModal(id, argId) {
            $('#modal-footer').find('#sendDeleteOrga').remove();
            url = $('#' + id).attr('data-path');
            var elem = '<button id="sendDeleteOrga" class="btn btn-danger">Supprimer</button>';
            $.get(url, function(data){
                if (data.status === 'success') {
                    $('#modal-footer').append(elem)
                }
                var para = `<p class="text-center">${data.message}</p>`;
                // on charge le formulaire dans le body de la modale
                $('#modal-body-delete').html(para);
                $('#modal-body-delete').attr('data-path', url);
                $('#modal-body-delete').attr('data-idElement', argId);
                $('.modal.fade.delete-orga').modal();
            });
        }
        $(document).ready(function() {
            // Fonction pour afficher la modale de désactivation
            $(document).on('click', '.desactivate', function() {
                $('#desactivate').html('Désactiver');
                $('#toggle').html('Désactivation');
                $('.toggle').html('désactiver');
                $('.modal.fade.activ-orga').modal('show');
                $('#desactivate').attr('data-path', $(this).attr('data-path'));
                $('#desactivate').attr('data-orgaId', $(this).attr('data-orgaId'));
                $('#desactivate').attr('data-type', $(this).attr('data-type'));
            });
            $(document).on('click', '.activate', function() {
                $('#desactivate').html('Activer');
                $('#toggle').html('Activation');
                $('.toggle').html('activer');
                $('.modal.fade.activ-orga').modal('show');
                $('#desactivate').attr('data-path', $(this).attr('data-path'));
                $('#desactivate').attr('data-orgaId', $(this).attr('data-orgaId'));
                $('#desactivate').attr('data-type', $(this).attr('data-type'));
            });
            // Fonction pour désactiver l'organisme
            $(document).on('click', '#desactivate', function(e) {
                e.preventDefault();
                $.preloader.start();
                var url = $('#desactivate').attr('data-path');
                var orgaId = $('#desactivate').attr('data-orgaId');
                $.get(url, function(data) {
                    if (data.status == 'success') {
                        var type = $('#desactivate').attr('data-type');
                        var clone = $('#' + type + 'List' + orgaId).clone();
                        if (data.active == 1) {
                            clone.find('.activate').removeClass('activate').addClass('desactivate');
                            var id = clone.find('.desactivate').attr('id');
                            clone.find('.desactivate').attr('id', id.replace('in', ''));
                            clone.find('.fa-smile-beam').removeClass('fa-smile-beam').addClass('fa-eye-slash').removeClass('text-primary').addClass('text-secondary');
                        } else {
                            clone.find('.desactivate').removeClass('desactivate').addClass('.activate');
                            var id = clone.find('.activate').attr('id');
                            clone.find('.activate').attr('id', 'in' + id);
                            clone.find('.fa-eye-slash').removeClass('fa-eye-slash').addClass('fa-smile-beam').removeClass('text-secondary').addClass('text-primary');
                        }
                        $('#' + type + 'List' + orgaId).remove();

                        if (data.active == 1) {
                            if (type === 'client') {
                                $('#listClient').append(clone)
                            } else {
                                $('#listFournisseur').append(clone)
                            }
                        } else {
                            if (type === 'client') {
                                $('#listClientInactif').append(clone)
                            } else {
                                $('#listFournisseurInactif').append(clone)
                            }
                        }
                        $('.modal').modal('hide');
                        $.preloader.stop();
                        showSuccessFlash(data.message)
                    } else {
                        $('.modal').modal('hide');
                        $.preloader.stop();
                        showAlertFlash(data.message)
                    }
                });
            });
            // Fonction pour supprimer un contact
            $(document).on('click', '#sendDeleteOrga', function (e) {
                e.preventDefault();
                $.preloader.start();
                var url = $('#modal-body-delete').attr('data-path');
                var elemId = $('#modal-body-delete').attr('data-idElement');
                $.ajax({
                    method: 'DELETE',
                    url: url,
                    processData: true,
                    success: function (data) {
                        if (data.status === 'success') {
                            successToLocalStorage(data.message);
                            location.reload();
                        } else {
                            $.preloader.stop();
                            showAlertFlash(data.message)
                        }
                    },
                    error: function () {
                        $.preloader.stop();
                        showAlertFlash('Uune erreur c\'est produits, veuillez réessayer...')
                    }
                });
                $('.modal').modal('hide')
            });
            // sur le clic du lien
            $('.openOrgaDialog').click(function () {
                // on vient charger la modale
                $('#createDialog').modal();
                // Récupère le type d'organisme à créer
                var type = $(this).attr('data-type');
                // on définit le titre de la fenetre
                if (type === 'fournisseur') {
                    $('#myModalLabel').html("Nouveau Fournisseur");
                } else if (type === 'prestataire') {
                    $('#myModalLabel').html("Nouveau Prestataire");
                } else {
                    $('#myModalLabel').html("Nouveau Client");
                }
                var url = $(this).attr('data-target');
                $('#sendOject').attr('data-target', url);
                $('#sendOject').attr('data-type', type);
                // on requete en AJAX afin de récupérer l'html envoyé par le controleur à l'url passée en attribut du lein cliqué
                $.get(url, function (data) {
                    // on charge le formulaire dans le body de la modale
                    $('#modal-body').html(data);
                    // puis on ouvre la modale
                    $('#createDialog').modal('show');
                    changeLabels();
                });
            });

            $('#sendOject').click(function (e) {
                e.preventDefault();
                $.preloader.start();
                var url = $(this).attr('data-target');
                var type = $('#sendOject').attr('data-type');
                var formOrga;
                if (type === 'reference') {
                    formOrga = $('#formContact').serialize();
                } else {
                    // on récupère toutes les valeurs saisies dans le form de la modale
                    formOrga = $('#formOrga').serialize();
                }
                //on créé notre requete ajax de type post vers le controller des organismes
                $.ajax({
                    type: 'POST',
                    url: url,
                    processData: true,
                    data: formOrga,
                    // si réponse positive du controller, on ferme la modale et on injecte le nouvel organisme dans la liste des options de notre page
                    success: function (data) {
                        if (data.status === 'success') {
                            var type = $('#sendOject').attr('data-type');
                            if (type === 'reference') {
                                successToLocalStorage(data.message)
                                location.reload()
                            }
                            $('#createDialog').modal('hide');
                            var adresseComplementaire2, stal, telephone, adresse;
                            var adresseComplementaire1 = adresseComplementaire2 = stal = telephone = adresse = "";
                            // Conditions d'affichage
                            if (data.data.adresse) {
                                adresse = `<p class="my-auto">${data.data.adresse}</p>`;
                            }
                            if (data.data.telephone) {
                                telephone = `<p class="my-auto">${data.data.telephone}</p>`
                            }
                            if (data.data.adresseComplementaire1) {
                                adresseComplementaire1 = `<p class="my-auto">${data.data.adresseComplementaire1}</p>`;
                            }
                            if (data.data.adresseComplementaire2) {
                                adresseComplementaire2 = `<p class="my-auto">${data.data.adresseComplementaire2}</p>`;
                            }
                            if (data.data.stal && data.data.ville) {
                                stal = `<p class="my-auto">${data.data.stal}, ${data.data.ville}</p>`;
                            } else if (data.data.stal) {
                                stal = `<p class="my-auto">${data.data.stal}</p>`;
                            } else if (data.data.ville) {
                                stal = `<p class="my-auto">${data.data.ville}</p>`;
                            }
                            if (data.data.email) {
                                email = data.data.email;
                            } else {
                                email = '';
                            }
                            var urlDetail = '/organisme/details/' + data.data.id;
                            var urlDelete = '/organisme/supprimer/' + data.data.id;
                            var urlDesactivate = '/organisme/etat/' + data.data.id;
                            var idList;
                            if (type === 'client') {
                                type = `clientList${data.data.id}`;
                                idList = '#listClient';
                            } else if (type === 'prestataire') {
                                type = `prestataireList${data.data.id}`;
                                idList = '#listPrestataire';
                                url = '/contact/creer/referencement/' + data.data.id
                                $.get(url, function(response) {
                                    $('#myModalLabel').html("Contact pour le référencement");
                                    $('#sendOject').attr('data-target', url);
                                    $('#sendOject').attr('data-type', 'reference');
                                    // on charge le formulaire dans le body de la modale
                                    $('#modal-body').html(response);
                                    // puis on ouvre la modale
                                    $('#createDialog').modal('show');
                                    changeLabels();
                                })
                            } else {
                                type = `fournisseurList${data.data.id}`;
                                idList = '#listFournisseur';
                                url = '/contact/creer/referencement/' + data.data.id
                                $.get(url, function(response) {
                                    $('#myModalLabel').html("Contact pour le référencement");
                                    $('#sendOject').attr('data-target', url);
                                    $('#sendOject').attr('data-type', 'reference');
                                    // on charge le formulaire dans le body de la modale
                                    $('#modal-body').html(response);
                                    // puis on ouvre la modale
                                    $('#createDialog').modal('show');
                                    changeLabels();
                                });
                            }
                            $(idList).append(`<tr id="${type}" class="row">
                                <td class="col-2 my-auto no-border">${data.data.nom}</td>
                                <td class="col-3 my-auto no-border">
                                    ${adresse}
                                    ${adresseComplementaire1}
                                    ${adresseComplementaire2}
                                    ${stal}
                                </td>
                                <td class="col-2 my-auto no-border text-center">
                                    ${telephone}
                                </td>
                                <td class="col-3 my-auto no-border text-center">${email}</td>
                                <td class="col-2 my-auto no-border text-primary text-center">
                                    <a role="button" class="btn btn-default" href="${urlDetail}"><i class="fas fa-eye" title="Détails de l'organisme"></i></a>
                                    <button class="btn btn-default" id="delete-orga${data.data.id}" onclick="showDeleteOrgaModal('delete-orga${data.data.id}', ${data.data.id})" data-path="${urlDelete}">
                                        <i class="fas fa-times text-danger" title="Supprimer l'organisme"></i>
                                    </button>
                                    <button class="btn btn-default desactivate" id="inactiv-orga${data.data.id}" data-orgaId="${data.data.id}" data-path="${urlDesactivate}">
                                        <i class="fas fa-eye-slash text-secondary" title="Désactiver l'organisme"></i>
                                    </button>
                                </td>
                            </tr>`);
                            showSuccessFlash(data.message);
                        } else {
                            showAlertFlash(exceptionHandler(data.message, 'organisme'))
                        }
                        $.preloader.stop();
                    },
                    error: function (xhr, textStatus, thrownError) {
                        $.preloader.stop();
                        showAlertFlash('Une erreur c\'est produite, merci de réessayer...');
                    }
                });
            });
        });
    </script>
{% endblock %}