{% extends "base.html.twig" %}

{% block verticalNav %}
    <a href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) }}" class="list-group-item list-group-item-action bg-primary text-light">
        <i class="fas fa-briefcase"></i>&nbsp;{{ affaire.numeroAffaire }}
    </a>
    <div class="bg-light">
        <a role="button" href="{{ path('sudalys_gestion_affaire', {affaireId: affaire.id}) }}" class="list-group-item list-group-item-action bg-light text-primary">Gestion affaire</a>
        <a role="button" href="{{ path('sudalys_gestion_article_affaire', {affaireId: affaire.id}) }}" class="list-group-item list-group-item-action bg-light text-primary">Gestion articles</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#devis' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste devis</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#CMDR' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste CMD Reçus</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#situation' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste situations</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#factures' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste factures</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#avoirs' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste avoirs</a>
        <a role="button" href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#CMDE' }}" class="list-group-item list-group-item-action bg-light text-primary">Liste CMD émises</a>
    </div>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <a role="button" class="btn btn-light border-success float-right" id="openArticleDialog" data-target="{{ path('sudalys_gestion_create_article_affaire', {affaireId: affaire.id}) }}" href="#createDialogArticle">
                <i class="fas fa-plus-circle text-success"></i>
                Créer un article
            </a>
            <h1 class="display-6 font-weight-bold">Liste des articles par thème pour l'affaire n°{{ affaire.numeroAffaire }} : <span class="text-primary" >{{ affaire.designationAffaire }}</span></h1>
            <hr class="my-4">
            <div id="themeList">
                {% for theme in themes %}
                    <div class="mt-2 themes" id="theme{{ theme.id }}">
                        <h5 class="display-6 font-weight-bold p-2">Thème : <span class="text-primary">{{ theme.nom }}</span></h5>
                        <div class="card-body" id="bodyTheme{{ theme.id }}">
                            <div class="card-header row bg-primary">
                                <div class="col-4 text-white font-weight-bold p-2">Désignation</div>
                                <div class="col-6 text-white font-weight-bold p-2">Description (elle peut différer selon les devis)</div>
                                <div class="col-1 text-white text-center font-weight-bold p-2">Dans un devis</div>
                                <div class="col-1 text-center text-white font-weight-bold p-2">Actions</div>
                            </div>
                            {% for articleAffaire in articlesAffaire %}
                                {% if articleAffaire.article.theme.id == theme.id %}
                                    <div id="article{{ articleAffaire.id }}" class="card-body row bg-light border-bottom articles">
                                        <div class="col-4 p-2">{{ articleAffaire.article.nom }}</div>
                                        <div class="col-6 p-2">{{ articleAffaire.article.description }}</div>
                                        <div class="col-1 text-center font-weight-bold p-2">
                                            {{ usedList[articleAffaire.article.id]['devis'] }}
                                        </div>
                                        <div class="col-1 text-center p-2">
                                            <a role="button" class="btn btn-default" href="{{ path('sudalys_gestion_show_article', {affaireId: affaire.id, articleAffaireId: articleAffaire.id}) }}"><i class="fas fa-eye text-primary"></i></a>
                                            {% if usedList[articleAffaire.article.id]['devis'] == 'Non' %}
                                                <button class="btn btn-default deleteArticle" data-path="{{ path('sudalys_gestion_delete_article_affaire', {articleAffaireId: articleAffaire.id}) }}"><i class="fas fa-trash-alt text-danger"></i></button>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
    </div>
    {#  Modal pour actions article #}
    <div class="modal fade article" id="createDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-warning">
                    <h4 class="modal-title" id="modal-title"></h4>
                </div>
                <div class="modal-body text-center text-danger" id="modal-body">
                </div>
                <div class="modal-footer bg-warning" id="modal-footer">
                    <button type="button" class="btn btn-default font-weight-bold" onclick="$('.article').modal('hide')"><i class="fas fa-times-circle"></i>&nbsp;Annuler</button>
                </div>
            </div>
        </div>
    </div>
    {#  Modal ajout d'article #}
    <div class="modal fade article" id="createDialogArticle" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" id="modal-body-create">
                </div>
                <div class="modal-footer bg-primary">
                    <button type="button" class="btn btn-default text-white font-weight-bold" onclick="$('.article').modal('hide')"><i class="fas fa-times-circle text-white"></i>&nbsp;Annuler</button>
                    <button type="button" class="btn btn-light" id="sendOject">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        // Ouvrir la modal pour le suppression d'un article
        $(document).on('click', '.deleteArticle', function() {
            // Unset le valeur précédemment set
            $('#modal-footer').attr('data-path', '');
            $('#sendDeleteArticle').remove();
            $('#modal-body').children().remove();
            $('#modal-title').html('');
            // Récupère l'url cible
            var url = $(this).attr('data-path');
            // Créé le bouton de suppression à ajouter si succès
            var elem = '<button type="button" class="btn btn-danger" id="sendDeleteArticle">Supprimer</button>';
            $('#createDialog').modal(); // Prépare la modale
            $.get(url, function(data) { // Récupère le contenu à mettre dans la modal
                $('#modal-footer').attr('data-path', url);
                $('#modal-body').append(data.message);
                $('#modal-title').html('Suppression d\'un article');
                if (data.status === 'success') {
                    $('#modal-footer').append(elem);
                }
                $('#createDialog').modal('show'); // Affiche la modale
            })
        });
        // Fonction pour envoyer la suppression de l'article
        $(document).on('click', '#sendDeleteArticle', function() {
            $.preloader.start(); // Lance le loader
            var url = $('#modal-footer').attr('data-path'); // Récupère l'adresse cible
            $.ajax({ // Requête ajax
                method: 'DELETE', // Methode DELETE
                url: url, // Set l'url
                success: function(data) { // En cas de succès de la requête
                    if (data.status === 'success') { // Succès du script PHP
                    $('#article' + data.id).remove();  // Supprime la ligne de l'article
                        removeThemeElem(); // Supprime le thème si il est vide
                        $.preloader.stop(); // Stop le loader
                        $('.modal').modal('hide'); // Ferme la modal
                        showSuccessFlash(data.message); // Affiche le message de succès
                    } else {
                        $.preloader.stop();
                        $('.modal').modal('hide');
                        showAlertFlash(data.message) // Affiche le message d'erreur
                    }
                    $('#modal-footer').attr('data-path', ''); // Reset l'url
                },
                error: function () {
                    $.preloader.stop();
                    $('.modal').modal('hide');
                    showAlertFlash('Une erreur s\'est produite, veuillez réessayer...');
                    $('#modal-footer').attr('data-path', '');
                }
            })
        });
        // Fonction qui vérifie que tous les thèmes on des articles
        function removeThemeElem() {
            $('.themes').each(function() { // Pour chaque thème
                var childs = $(this).find('.articles'); // Cherche les class articles
                if (childs.length === 0) { // Si il n'y a pas d'articles
                    $(this).remove(); // Supprime l'élément
                }
            });
        }
        // sur le clic du lien
        $(document).on( 'click', '#openArticleDialog', function(){
            // on vient charger la modale
            $('#createDialogArticle').modal();
            // on définit le titre de la fenetre
            $('#myModalLabel').html("Nouvel Article");
            url = $(this).attr('data-target');
            // on requete en AJAX afin de récupérer l'html envoyé par le controleur à l'url passée en attribut du lein cliqué
            $.get(url, function(data){
                // on charge le formulaire dans le body de la modale
                $('#modal-body-create').html(data);
                // puis on ouvre la modale
                $('#createDialogArticle').modal('show');
                changeLabels();
            });
        });
        // Pour l'ajout d'un article
        $('#sendOject').click(function() {
            $.preloader.start();
            var urlArticle = '/article/create/' + {{ affaire.id }};
            $('#sendOject').attr('data-themeId', $('#create_article_theme').val());
            // on récupère toutes les valeurs saisies dans le form de la modale
            var formArticle = $('#formArticle').serialize();
            //on créé notre requete ajax de type post vers le controller des articles
            $.ajax({
                type: 'POST',
                url: urlArticle,
                processData: true,
                data: formArticle,
                // si réponse positive du controller, on ferme la modale et on injecte le nouvel organisme dans la liste des options de notre page
                success: function (data) {
                    addArticleToPage(data);
                    $('.modal').modal('hide');
                    $.preloader.stop();
                    showSuccessFlash('L\'article a bien était créé.');
                },
                error: function(xhr, textStatus, thrownError) {
                    $.preloader.stop();
                    showAlertFlash('Une erreur s\'est produite, merci de réessayer...');
                }
            });
        });

        function addArticleToPage(data) {
            var bodyTheme = $('#bodyTheme' + data.themeId);
            var urlDelete = '/affaire/article/' + data.articleAffaireId;
            if (bodyTheme.length === 0 ) {
                $('#themeList').append(`
                <div class="mt-2 themes" id="theme${data.themeId}">
                    <h5 class="display-6 font-weight-bold p-2">Thème : <span class="text-primary">${data.theme}</span></h5>
                    <div class="card-body" id="bodyTheme${data.themeId}">
                        <div class="card-header row bg-primary">
                            <div class="col-4 text-white font-weight-bold p-2">Désignation</div>
                            <div class="col-6 text-white font-weight-bold p-2">Description (elle peut différer selon les devis)</div>
                            <div class="col-1 text-white text-center font-weight-bold p-2">Dans un devis</div>
                            <div class="col-1 text-center text-white font-weight-bold p-2">Actions</div>
                        </div>
                        <div id="article${data.articleAffaireId}" class="card-body row bg-light border-bottom articles">
                            <div class="col-4 p-2">${data.nom}</div>
                            <div class="col-6 p-2">${data.description}</div>
                            <div class="col-1 text-center font-weight-bold p-2">
                                Non
                            </div>
                            <div class="col-1 text-center p-2">
                                <button class="btn btn-default deleteArticle" data-path="${urlDelete}"><i class="fas fa-trash-alt text-danger"></i></button>
                            </div>
                        </div>
                    </div>
                </div>`);
            } else {
                bodyTheme.append(`
                    <div id="article${data.articleAffaireId}" class="card-body row bg-light border-bottom articles">
                        <div class="col-4 p-2">${data.nom}</div>
                        <div class="col-6 p-2">${data.description}</div>
                        <div class="col-1 text-center font-weight-bold p-2">
                            Non
                        </div>
                        <div class="col-1 text-center p-2">
                            <button class="btn btn-default deleteArticle" data-path="${urlDelete}"><i class="fas fa-trash-alt text-danger"></i></button>
                        </div>
                    </div>`);
            }
        }
    </script>
{% endblock %}