{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="display-6 font-weight-bold">Informations référencement prestataire</h1>
			<hr class="my-4">
			<div class="card w-50 mx-auto">
				<div class="card-header">
					<ul class="nav nav-tabs card-header-tabs">
						<li class="nav-item">
							<a class="nav-link active" href="#obligatoireNoValid" data-toggle="tab">Obligatoire sans validité</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#obligatoireValid" data-toggle="tab">Obligatoire validité</a>
						</li>
						{% if infoPrestataire.isEtrangere == false %}
							<li class="nav-item">
								<a class="nav-link" href="#facultatif" data-toggle="tab">Facultatifs</a>
							</li>
						{% endif %}
					</ul>
				</div>
				<div class="card-body">
					{{ form_start(form) }}
						<div class="tab-content">
							<div class="tab-pane active" id="obligatoireNoValid">
								{% if infoPrestataire.isEtrangere == false %}
									<div>
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.isCommercantArtisant) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.isCommercantArtisant) }}
										</div>
									</div>
									<hr  class="nonCommerce">
									<h5 class="nonCommerce">Les prestataires non-commerçants et non-artisants douvent fournir ce document:</h5>
									<div class="nonCommerce">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.recepisseDepotDeclaration) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.recepisseDepotDeclaration) }}
										</div>
									</div>
									<div class="row my-2 nonCommerce">
										<div class="col-6 my-auto">{{ form_label(form.recepisseDepotDeclarationDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_recepisseDepotDeclarationDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un récépissé</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.recepisseDepotDeclarationDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesRecepisseDepotDeclaration" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.recepisseDepotDeclarationDocument is not null %}
													{% for doc in infoPrestataire.recepisseDepotDeclarationDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									<hr  class="nonCommerce">
									<h5 class="nonCommerce">Les prestataires non-commerçants et non-artisants douvent fournir un des documents suivant:</h5>
									<div class="nonCommerce">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.devis) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.devis) }}
										</div>
									</div>
									<div class="nonCommerce">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.documentPublicitaire) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.documentPublicitaire) }}
										</div>
									</div>
									<div class="nonCommerce">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.correspondanceProfessionnelle) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.correspondanceProfessionnelle) }}
										</div>
									</div>
									<div class="row my-2 nonCommerce">
										<div class="col-6 my-auto">{{ form_label(form.autreDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_autreDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un document</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.autreDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesAutre" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.autreDocument is not null %}
													{% for doc in infoPrestataire.autreDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									<hr class="nonCommerce">
									<div>
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.RIB) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.RIB) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.RIBDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_RIBDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un RIB</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.RIBDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesRIB" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.RIBDocument is not null %}
													{% for doc in infoPrestataire.RIBDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									<div>
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.qualificationsProfessionnelles) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.qualificationsProfessionnelles) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.qualificationsProfessionnellesDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_qualificationsProfessionnellesDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un récépissé</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.qualificationsProfessionnellesDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesQualificationsProfessionnelles" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.qualificationsProfessionnellesDocument is not null %}
													{% for doc in infoPrestataire.qualificationsProfessionnellesDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									<div>
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.listeSalarieEtranger) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.listeSalarieEtranger) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.listeSalarieEtrangerDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_listeSalarieEtrangerDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir la liste des salariés étrangés</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.listeSalarieEtrangerDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesListeSalarieEtranger" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.listeSalarieEtrangerDocument is not null %}
													{% for doc in infoPrestataire.listeSalarieEtrangerDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
								{% else %}
									<div>
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.devis) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.devis) }}
										</div>
									</div>
									<div>
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.documentPublicitaire) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.documentPublicitaire) }}
										</div>
									</div>
									<div>
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.correspondanceProfessionnelle) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.correspondanceProfessionnelle) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.autreDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_autreDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un document</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.autreDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesAutreDocument" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.autreDocument is not null %}
													{% for doc in infoPrestataire.autreDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									<div>
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.RIB) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.RIB) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.RIBDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_RIBDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un RIB</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.RIBDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesRIB" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.RIBDocument is not null %}
													{% for doc in infoPrestataire.RIBDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									<div>
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.fiscalEtranger) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.fiscalEtranger) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.fiscalEtrangerDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_socialEtrangerDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un document fiscale étranger</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.fiscalEtrangerDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesFiscalEtranger" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.fiscalEtrangerDocument is not null %}
													{% for doc in infoPrestataire.fiscalEtrangerDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
								{% endif %}
							</div>
							<div class="tab-pane" id="obligatoireValid">
								{% if infoPrestataire.isEtrangere == false %}
									{% if infoPrestataire.isValidKbis == false %}
										{% set bg = 'bg-danger-light p-1' %}
									{% else %}
										{% set bg = '' %}
									{% endif %}
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.kbis) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.kbis) }}
										</div>
									</div>
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.dateKbis) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.dateKbis) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.kbisDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_kbisDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un KBIS</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.kbisDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesKbis" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.kbisDocument is not null %}
													{% for doc in infoPrestataire.kbisDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
																{% if infoPrestataire.isValidKbis == false %}
																	<span class="text-danger m-0">Ce document n'est plus valide</span>
																{% endif %}
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									{% if infoPrestataire.isValidResponsabiliteProfessionnel == false %}
										{% set bg = 'bg-danger-light p-1' %}
									{% else %}
										{% set bg = '' %}
									{% endif %}
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.responsabiliteProfessionnel) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.responsabiliteProfessionnel) }}
										</div>
									</div>
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.renouvellementDecembreResponsabiliteProfessionnel) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.renouvellementDecembreResponsabiliteProfessionnel) }}
										</div>
									</div>
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.dateResponsabiliteProfessionnel) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.dateResponsabiliteProfessionnel) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.responsabiliteProfessionnelDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_responsabiliteProfessionnelDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir une responsabilité professionnel</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.responsabiliteProfessionnelDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesResponsabiliteProfessionnel" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.responsabiliteProfessionnelDocument is not null %}
													{% for doc in infoPrestataire.responsabiliteProfessionnelDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
																{% if infoPrestataire.isValidResponsabiliteProfessionnel == false %}
																	<span class="text-danger">Ce document n'est plus valide</span>
																{% endif %}
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									{% if infoPrestataire.isValidAttestationFiscale == false %}
										{% set bg = 'bg-danger-light p-1' %}
									{% else %}
										{% set bg = '' %}
									{% endif %}
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.attestationFiscale) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.attestationFiscale) }}
										</div>
									</div>
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.dateAttestationFiscale) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.dateAttestationFiscale) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.attestationFiscaleDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_attestationFiscaleDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir une attestation fiscale</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.attestationFiscaleDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesAttestationFiscale" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.attestationFiscaleDocument is not null %}
													{% for doc in infoPrestataire.attestationFiscaleDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
																{% if infoPrestataire.isValidAttestationFiscale == false %}
																	<span class="text-danger">Ce document n'est plus valide</span>
																{% endif %}
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									{% if infoPrestataire.isValidAttestationURSSAF == false %}
										{% set bg = 'bg-danger-light p-1' %}
									{% else %}
										{% set bg = '' %}
									{% endif %}
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.attestationURSSAF) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.attestationURSSAF) }}
										</div>
									</div>
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.dateAttestationURSSAF) }}
										</div>
										<div class="custom-control-inline">
										<div class="custom-control-inline">
											{{ form_widget(form.dateAttestationURSSAF) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.attestationURSSAFDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_attestationURSSAFDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir une attestation URSSAF</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.attestationURSSAFDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesAttestationURSSAF" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.attestationURSSAFDocument is not null %}
													{% for doc in infoPrestataire.attestationURSSAFDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
																{% if infoPrestataire.isValidAttestationURSSAF == false %}
																	<span class="text-danger">Ce document n'est plus valide</span>
																{% endif %}
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
								{% else %}
									{% if infoPrestataire.isValidSocialEtranger == false %}
										{% set bg = 'bg-danger-light p-1' %}
									{% else %}
										{% set bg = '' %}
									{% endif %}
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.socialEtranger) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.socialEtranger) }}
										</div>
									</div>
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.dateSocialEtranger) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.dateSocialEtranger) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.socialEtrangerDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_socialEtrangerDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un document social étrangé</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.socialEtrangerDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesSocialEtranger" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.socialEtrangerDocument is not null %}
													{% for doc in infoPrestataire.socialEtrangerDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
																{% if infoPrestataire.isValidSocialEtranger == false %}
																	<span class="text-danger">Ce document n'est plus valide</span>
																{% endif %}
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									{% if infoPrestataire.isValidAttestationImmatriculation == false %}
										{% set bg = 'bg-danger-light p-1' %}
									{% else %}
										{% set bg = '' %}
									{% endif %}
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.attestationImmatriculation) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.attestationImmatriculation) }}
										</div>
									</div>
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.dateAttestationImmatriculation) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.dateAttestationImmatriculation) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.attestationImmatriculationDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_attestationImmatriculationDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir une attestation d'immatriculation</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.attestationImmatriculationDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesAttestationImmatriculation" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.attestationImmatriculationDocument is not null %}
													{% for doc in infoPrestataire.attestationImmatriculationDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
																{% if infoPrestataire.isValidAttestationImmatriculation == false %}
																	<span class="text-danger">Ce document n'est plus valide</span>
																{% endif %}
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									{% if infoPrestataire.isValidRegistreProfessionelCertifInscription == false %}
										{% set bg = 'bg-danger-light p-1' %}
									{% else %}
										{% set bg = '' %}
									{% endif %}
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.registreProfessionelCertifInscription) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.registreProfessionelCertifInscription) }}
										</div>
									</div>
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.dateRegistreProfessionelCertifInscription) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.dateRegistreProfessionelCertifInscription) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.registreProfessionelCertifInscriptionDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_registreProfessionelCertifInscriptionDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un registre/certificat</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.registreProfessionelCertifInscriptionDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesRegistreProfessionelCertifInscription" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.registreProfessionelCertifInscriptionDocument is not null %}
													{% for doc in infoPrestataire.registreProfessionelCertifInscriptionDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
																{% if infoPrestataire.isValidRegistreProfessionelCertifInscription == false %}
																	<span class="text-danger">Ce document n'est plus valide</span>
																{% endif %}
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
								{% endif %}
								</div>
							</div>
							<div class="tab-pane" id="facultatif">
								{% if infoPrestataire.isEtrangere == false %}
									<div>
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.certificatCDAPH) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.certificatCDAPH) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.certificatCDAPHDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_certificatCDAPHDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un certificat CDAPH</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.certificatCDAPHDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesCertificatCDAPH" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.certificatCDAPHDocument is not null %}
													{% for doc in infoPrestataire.certificatCDAPHDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									{% if infoPrestataire.isValidRegistreProfessionelCertifInscription == false %}
										{% set bg = 'bg-danger-light p-1' %}
									{% else %}
										{% set bg = '' %}
									{% endif %}
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.registreProfessionelCertifInscription) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.registreProfessionelCertifInscription) }}
										</div>
									</div>
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.dateRegistreProfessionelCertifInscription) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.dateRegistreProfessionelCertifInscription) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.registreProfessionelCertifInscriptionDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_registreProfessionelCertifInscriptionDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un registre/certificat</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.registreProfessionelCertifInscriptionDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesRegistreProfessionelCertifInscription" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.registreProfessionelCertifInscriptionDocument is not null %}
													{% for doc in infoPrestataire.registreProfessionelCertifInscriptionDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
																{% if infoPrestataire.isValidRegistreProfessionelCertifInscription == false %}
																	<span class="text-danger">Ce document n'est plus valide</span>
																{% endif %}
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
									{% if infoPrestataire.isValidAttestationImmatriculation == false %}
										{% set bg = 'bg-danger-light p-1' %}
									{% else %}
										{% set bg = '' %}
									{% endif %}
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.attestationImmatriculation) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.attestationImmatriculation) }}
										</div>
									</div>
									<div class="{{ bg }}">
										<div class="w-50 my-2 custom-control-inline">
											{{ form_label(form.dateAttestationImmatriculation) }}
										</div>
										<div class="custom-control-inline">
											{{ form_widget(form.dateAttestationImmatriculation) }}
										</div>
									</div>
									<div class="row my-2">
										<div class="col-6 my-auto">{{ form_label(form.attestationImmatriculationDocument) }}</div>
										<div class="col-10 m-auto">
{#											<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infoprestataire_attestationImmatriculationDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir une attestation d'immatriculation</button>#}
											<div class="form-group files w-100">
												{{ form_widget(form.attestationImmatriculationDocument) }}
											</div>
										</div>
										<div class="col-12 my-auto">
											<div id="showFilesAttestationImmatriculation" data-infoFounrId="{{ infoPrestataire.id }}">
												{% if infoPrestataire.attestationImmatriculationDocument is not null %}
													{% for doc in infoPrestataire.attestationImmatriculationDocument %}
														{% if loop.index == loop.last %}
															<p data-ref="{{ doc }}">
																<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/prestataire/{{ doc }}">
																	<i class="fas fa-eye text-primary"></i>
																</a>&nbsp;
																<span class="names">{{ doc|capitalize }}</span>
																{% if infoPrestataire.isValidAttestationImmatriculation == false %}
																	<span class="text-danger">Ce document n'est plus valide</span>
																{% endif %}
															<p>
														{% endif %}
													{% endfor %}
												{% endif %}
											</div>
										</div>
									</div>
								{% else %}
								{% endif %}
								<div hidden>
									{{ form_rest(form) }}
								</div>
							</div>
							</div>
						</div>
						<div class="my-2">
							<button type="submit" class="btn btn-outline-success"><i class="fas fa-sync"></i>&nbsp;Mettre à jour</button>
						</div>
					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>
	{# -------	Modal d'affaichage des fichiers avant upload -------  #}
	<div class="modal fade show-pdf bg-transparent pdf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg bg-transparent no-border">
			<div class="modal-content bg-transparent no-border">
				<div class="modal-header p-0 bg-transparent no-border">
					<button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<iframe id="embed" class="w-100" height="600px" src=""></iframe>
			</div>
		</div>
	</div>
	{# Modal suppression des documents #}
	<div class="modal fade delete-doc" style="display: none" id="deleteDoc" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteDoc">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title text-white font-weight-bold" id="myModalDeleteDoc">Suppression du document</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-danger" id="modal-body-delete">
					<p>Vous êtes sur le point de supprimer le document <span id="whichDoc"></span>.</p>
					<p>Etes-vous sure de vouloir le supprimer ?</p>
				</div>
				<div class="modal-footer bg-warning" id="modal-footer">
					<button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
					<button id="delPdf" class="btn btn-danger">Supprimer</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		// Fonction pour créer une FileList
		function FileListItem(a) {
			a = [].slice.call(Array.isArray(a) ? a : arguments);
			for (var c, b = c = a.length, d = !0; b-- && d;) d = a[b] instanceof File;
			if (!d) throw new TypeError("L\'argument doit être un objet File ou un array d'objets File");
			for (b = (new ClipboardEvent("")).clipboardData || new DataTransfer; c--;) b.items.add(a[c]);
			return b.files
		}
		// Fonction pour ouvrir la modal de visionnement d'un document avant upload
		function openModal(elem) {
			var url = $(elem).data('path');
			$('.modal.fade.show-pdf.bg-transparent.pdf').modal();
			$('#embed').attr('src', url);
			$('.modal.fade.show-pdf.bg-transparent.pdf').modal('show');
		}
		// Fonction pour afficher la modal de suppression d'un document
		$('.showDelModal').click(function () {
			var name = $(this).attr('data-name')
			var type = $(this).attr('data-type')
			$('#delPdf').attr('data-name', name)
			$('#delPdf').attr('data-type', type)
			$('#whichDoc').html(name);
			$('.modal.fade.delete-doc').modal();
		});
		$(document).ready(function () {
			// au chargement de la page on initialise le datepicker avec ses options
			$('.js-datepicker').datepicker({
				format: 'dd/mm/yyyy',
				language: 'fr'
			});
			var test = $('#gestionbundle_infoprestataire_isCommercantArtisant').val();
			if (test == 1) {
				$('.recepisseDepotDeclaration').fadeOut('fast')
				$('.recepisseDepotDeclarationDocument').fadeOut('fast')
				$('.nonCommerce').fadeOut('fast')
			} else {
				$('.recepisseDepotDeclaration').fadeIn('fast')
				$('.recepisseDepotDeclarationDocument').fadeIn('fast')
				$('.nonCommerce').fadeIn('fast')
			}
			$('#gestionbundle_infoprestataire_isCommercantArtisant').change(function () {
				var check = $(this).val()
				if (check == 1) {
					$('.recepisseDepotDeclaration').fadeOut('fast')
					$('.recepisseDepotDeclarationDocument').fadeOut('fast')
					$('.nonCommerce').fadeOut('fast')
				} else {
					$('.recepisseDepotDeclaration').fadeIn('fast')
					$('.recepisseDepotDeclarationDocument').fadeIn('fast')
					$('.nonCommerce').fadeIn('fast')
				}
			});

			$('form').on('keypress', function(e) {
				if(e.which === 13) {
					e.preventDefault();
					return false;
				}
			});
			$(document).find('input[type="file"]').each(function () {
				var id = this.id.split('_')
				id = id[2].charAt(0).toUpperCase() + id[2].substring(1);
				id = id.replace('Document', '')
				$(this).change(function (e) {
					$('#showFiles' + id).find('p').each(function () {
						$(this).remove();
					});
					var input = e.target;
					var i = 0;
					var listOfNames = [];
					for (var file of input.files) {
						listOfNames[file.size] = [file.name, i];
						var reader = new FileReader();
						reader.readAsDataURL(input.files[i]);
						reader.file = listOfNames;
						reader.onload = function (e) {
							$('#showFiles' + id).append(`
							<p>
								<button type="button" class="btn btn-default deletePdf" data-target="${id}" data-type="rib" data-index="${reader.file[e.total][1]}">
									<i class="fas fa-times text-danger" title="Suppression du document dans la liste"></i>
								</button>
								<a role="button" class="btn btn-light border-primary" onclick="openModal(this)" data-path="${e.target.result}">
									<i class="fas fa-eye text-primary"></i></a>&nbsp;<span class="names"></span>${reader.file[e.total][0]}
							<p>`)
						};
						i++
					}
				});
			});
			// Suppression du pdf dans l'input file
			$(document).on('click', '.deletePdf', function() {
				var files;
				var target = $(this).attr('data-target');
				var targetId;
				if (!target.includes('RIB')) {
					targetId = 'gestionbundle_infoprestataire_' + target.charAt(0).toLowerCase() + target.substring(1) + 'Document';
				} else {
					targetId = 'gestionbundle_infoprestataire_' + target + 'Document';
				}
				target = document.getElementById(targetId);
				var index = $(this).attr('data-index');
				files = target.files;
				var newFiles = [];
				for (file in files) {
					if (file != index && Number.isInteger(parseInt(file))) {
						newFiles.push(new File([files[file]], files[file].name));
					}
				}
				target.files = FileListItem(newFiles);
				$('#' + targetId).trigger('change');
			});
		})
	</script>
{% endblock %}