{% extends "base.html.twig" %}

{% block body %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1 class="display-6">Liste des Thèmes</h1>
            <hr class="my-4">
            {% if themes is not empty %}
                <table class="table table-hover bg-light">
                    <thead>
                        <tr class="bg-primary text-white">
                            <th class="align-middle text-center" scope="col">Nom</th>
                            <th class="align-middle text-center" scope="col">Quantité d'articles</th>
                            <th class="align-middle text-center" scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody id="theme">
                        {% for theme in themes %}
                            <tr id="themeList{{ theme.id }}">
                                <td class="align-middle">{{ theme.nom }}</td>
                                <td class="align-middle text-center">{{ theme.articles|length }}</td>
                                <td class="align-middle row">
                                    <a role="button" class="btn btn-link col-6 col-lg-6 my-auto" href="{{ path('sudalys_gestion_detail_theme', {themeId: theme.id}) }}"><i class="fas fa-eye" title="Détails du theme"></i></a>
                                    <button class="btn btn-link col-6 col-lg-6 my-auto" id="delete-theme{{ theme.id }}" onclick="showDeleteThemeModal('delete-theme{{ theme.id }}', {{ theme.id }})" data-path="{{ path('sudalys_gestion_delete_theme', {themeId: theme.id}) }}">
                                        <i class="fas fa-times text-danger" title="Supprimer le theme"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <table style="display: none" class="table table-striped">
                            <thead class="text-white">
                            <tr class="bg-primary">
                                <th class="my-auto">Nom</th>
                                <th class="my-auto">Quantité d'articles</th>
                                <th class="my-auto text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody id="theme">
                        <div id="no-theme" class="text-center bg-light">
                            <h3>Il n'y a aucun thème</h3>
                            <p>Ajoutez votre premier thème</p>
                            <button id="first-theme" class="btn btn-default"><i class="fas fa-plus-circle fa-2x text-success my-auto"></i></button>
                        </div>
                    {% endif %}
                </tbody>
            </table>
            <div class="card-footer no-border" style="background-color: rgba(0, 0, 0, 0.00) !important; position: fixed; top: 4em; right: 2em">
                <button class="btn btn-light float-right border-success" id="openThemeDialogue" href="#createTheme" onclick="$('#createDialog').modal({'backdrop': 'static'});">
                    <i class="fas fa-plus-circle text-success my-auto"></i>&nbsp;Ajouter un thème
                </button>
            </div>
        </div>
    </div>
    {#  Modal ajout du theme  #}
    <div style="display: none;" class="modal fade theme" id="createDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" id="modal-body">
                    <label for="themeInput">Nom du thème</label>
                    <input id="themeInput" type="text" class="form-control" placeholder="Nom du thème">
                </div>
                <div class="modal-footer bg-primary">
                    <button type="button" class="btn btn-default text-white font-weight-bold" onclick="$('.theme').modal('hide')"><i class="fas fa-times-circle text-white"></i>&nbsp;Annuler</button>
                    <button type="button" class="btn btn-light" id="sendOject">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
    {# Modal suppression de l'theme #}
    <div class="modal fade delete-theme" style="display: none" id="deleteThem" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteTheme">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 class="modal-title text-white font-weight-bold" id="myModalDeleteTheme">Suppression du thème</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-danger" id="modal-body-delete">

                </div>
                <div class="modal-footer bg-warning" id="modal-footer-delete">
                    <button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Fermer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        // Fonction pour afficher la modal de suppression d'theme'
        function showDeleteThemeModal(id, argId) {
            $('#modal-footer-delete').find('#sendDeleteTheme').remove();
            var url = $('#' + id).attr('data-path');
            var elem = '<button id="sendDeleteTheme" class="btn btn-danger">Supprimer</button>';
            $.get(url, function(data){
                if (data.status === 'success') {
                    $('#modal-footer-delete').append(elem)
                }
                var para = `<p class="text-center">${data.message}</p>`;
                // on charge le formulaire dans le body de la modale
                $('#modal-body-delete').html(para);
                $('#modal-body-delete').attr('data-path', url);
                $('#modal-body-delete').attr('data-idElement', argId);
                $('.modal.fade.delete-theme').modal();
            });
        }
        $(document).ready(function() {
            $('#first-theme').click(function () {
                $('#openThemeDialogue').trigger('click')
            });
            // Fonction pour supprimer un contact
            $(document).on('click', '#sendDeleteTheme', function (e) {
                e.preventDefault();
                $.preloader.start();
                var url = $('#modal-body-delete').attr('data-path');
                var elemId = $('#modal-body-delete').attr('data-idElement');
                $.ajax({
                    type: 'DELETE',
                    url: url,
                    processData: true,
                    success: function (data) {
                        if (data.status === 'success') {
                            $('#themeList' + elemId).remove();
                            $.preloader.stop();
                            showSuccessFlash(data.message)
                        } else {
                            $.preloader.stop();
                            showAlertFlash(data.message)
                        }
                    },
                    error: function () {
                        $.preloader.stop();
                        showAlertFlash('Uune erreur c\'est produits, veuillez réessayer...')
                    }
                });
                $('.modal').modal('hide')
            });
            // sur le clic du lien
            $('#openThemeDialogue').click(function () {
                // on vient charger la modale
                $('#createDialog').modal();
                // on définit le titre de la fenetre
                $('#myModalLabel').html("Nouveau theme");
                $('#createDialog').modal('show');
            });

            $('#sendOject').click(function (e) {
                e.preventDefault();
                $.preloader.start();
                var url = '{{ path('sudalys_gestion_create_theme') }}';
                // on récupère toutes les valeurs saisies dans le form de la modale
                var theme = $('#themeInput').val();
                //on créé notre requete ajax de type post vers le controller des themes
                $.ajax({
                    type: 'POST',
                    url: url,
                    processData: true,
                    data: theme,
                    // si réponse positive du controller, on ferme la modale et on injecte le nouvel theme dans la liste des options de notre page
                    success: function (data) {
                        if (data.status == 'success') {
                            $('#no-theme').remove();
                            $('table').show();
                            $('#createDialog').modal('hide');
                            var urlDetail = '/theme/details/' + data.data.id;
                            var urlDelete = '/theme/supprimer/' + data.data.id;
                            $('#theme').append(`<tr id="themeList${data.data.id}">
                                <td class="align-middle">${data.data.nom}</td>
                                <td class="align-middle text-center">0</td>
                                <td class="align-middle row">
                                    <a role="button" class="btn btn-link col-6 col-lg-6 my-auto" href="${urlDetail}"><i class="fas fa-eye" title="Détails de l'theme"></i></a>
                                    <button class="btn btn-link col-6 col-lg-6 my-auto" id="delete-theme${data.data.id}" onclick="showDeleteThemeModal('delete-theme${data.data.id}', ${data.data.id})" data-path="${urlDelete}">
                                        <i class="fas fa-times text-danger" title="Supprimer le theme"></i>
                                    </button>
                                </td>
                            </tr>`);
                            $.preloader.stop();
                            showSuccessFlash(data.message);
                        } else {
                            $.preloader.stop();
                            showAlertFlash(exceptionHandler(data.message, 'thème'));
                        }
                    },
                    error: function (xhr, textStatus, thrownError) {
                        $.preloader.stop();
                        showAlertFlash('Une erreur s\'est produite, merci de réessayer...');
                    }
                });
            });
        });
    </script>
{% endblock %}