{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="display-6 font-weight-bold">Référencement fournisseur</h1>
			<hr class="my-4">
			<div class="card w-50 mx-auto">
				<div class="card-header bg-primary text-white font-weight-bold">
					Saisie et téléchargement des documents nécessaire au référencement d'un fournisseur
				</div>
				<div class="card-body">
					{{ form_start(form, {'attr': {'id': 'formInfoFournisseur'}}) }}
						{{ form_errors(form) }}
						<div>
							{{ form_label(form.RIB) }}
							<div class="offset-1 w-25">
								{{ form_widget(form.RIB) }}
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-12 my-auto">{{ form_label(form.RIBDocument) }}</div>
							<div class="col-9 mx-auto my-auto">
{#								<button type="button" class="btn btn-outline-secondary" onclick="$('#gestionbundle_infofournisseur_RIBDocument').trigger('click')"><i class="fas fa-file-pdf"></i>&nbsp;Choisir un RIB</button>#}
								<div class="form-group files w-100">
									{{ form_widget(form.RIBDocument) }}
								</div>
							</div>
							<div class="col-7 my-auto">
								<div id="showFilesRIB" data-infoFounrId="{{ infoRounisseur.id }}">
									{% if infoRounisseur.RIBDocument is not null %}
										{% for doc in infoRounisseur.RIBDocument %}
											{% if loop.index == loop.last %}
												<p data-ref="{{ doc }}">
													<button type="button" data-type="rib" class="btn btn-default showDelModal" data-name="{{ doc }}">
														<i class="fas fa-times text-danger" title="Suppression du document dans la liste"></i>
													</button>
													<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/RIB/{{ doc }}">
														<i class="fas fa-eye text-primary"></i>
													</a>&nbsp;
													<span class="names">{{ doc|capitalize }}</span>
												<p>
											{% endif %}
										{% endfor %}
									{% endif %}
								</div>
							</div>
						</div>
					<div class="mt-3">
						<button type="submit" class="btn btn-outline-success"><i class="fas fa-sync"></i>&nbsp;Mettre à jour</button>
					</div>

					{{ form_end(form) }}
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade show-pdf bg-transparent pdf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg bg-transparent no-border">
			<div class="modal-content bg-transparent no-border">
				<div class="modal-header p-0 bg-transparent no-border">
					<button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<iframe id="embed" class="w-100" height="600px" src=""></iframe>
			</div>
		</div>
	</div>
	{# Modal suppression des documents #}
	<div class="modal fade delete-doc" style="display: none" id="deleteDoc" tabindex="-1" role="dialog" aria-labelledby="myModalDeleteDoc">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h5 class="modal-title text-white font-weight-bold" id="myModalDeleteDoc">Suppression du document</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body text-danger" id="modal-body-delete">
					<p>Vous êtes sur le point de supprimer le document <span id="whichDoc"></span>.</p>
					<p>Etes-vous sure de vouloir le supprimer ?</p>
				</div>
				<div class="modal-footer bg-warning" id="modal-footer">
					<button type="button" class="btn btn-default font-weight-bold text-white" data-dismiss="modal">Annuler</button>
					<button id="delPdf" class="btn btn-danger">Supprimer</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		// Fonction pour créer une FileList
		function FileListItem(a) {
			a = [].slice.call(Array.isArray(a) ? a : arguments);
			for (var c, b = c = a.length, d = !0; b-- && d;) d = a[b] instanceof File;
			if (!d) throw new TypeError("L\'argument doit être un objet File ou un array d'objets File");
			for (b = (new ClipboardEvent("")).clipboardData || new DataTransfer; c--;) b.items.add(a[c]);
			return b.files
		}
		// Fonction pour ouvrir la modal de visionnement d'un document avant upload
		function openModal(elem) {
			var url = $(elem).data('path');
			$('.modal.fade.show-pdf.bg-transparent.pdf').modal();
			$('#embed').attr('src', url);
			$('.modal.fade.show-pdf.bg-transparent.pdf').modal('show');
		}
		// Fonction pour afficher la modal de suppression d'un document
		$('.showDelModal').click(function () {
			var name = $(this).attr('data-name')
			var type = $(this).attr('data-type')
			$('#delPdf').attr('data-name', name)
			$('#delPdf').attr('data-type', type)
			$('#whichDoc').html(name);
			$('.modal.fade.delete-doc').modal();
		});

		$(document).ready(function() {
			$('#formInfoFournisseur').on('keypress', function(e) {
				if(e.which === 13) {
					e.preventDefault();
					return false;
				}
			});
			$('#formInfoFournisseur').on('submit', function(e) {
				var countRIBDoc = $('#showFilesRIB').find('p a').length;
				var valueRIB = $('#gestionbundle_infofournisseur_RIB').val()
				if (valueRIB == 1 && countRIBDoc == 0) {
					e.preventDefault();
					showAlertFlash('Vous avez oublié de télécharger le RIB du fournisseur');
					return false;
				} else if (valueRIB == 0 && countRIBDoc == 1) {
					e.preventDefault();
					showAlertFlash('Vous avez téléchargé un RIB mais le status du RIB est tourjour non reçus.');
					return false;
				}
			});
			// Affichage des de l'input du RIB file
			$('#gestionbundle_infofournisseur_RIBDocument').change(function(e) {
				$('#showFilesRIB').find('p').each(function() {
					$(this).remove();
				});
				var input = e.target;
				var i = 0;
				var listOfNames = [];
				for (var file of input.files) {
					listOfNames[file.size] = [file.name, i];
					var reader = new FileReader();
					reader.readAsDataURL(input.files[i]);
					reader.file = listOfNames;
					reader.onload = function(e) {
						$('#showFilesRIB').append(`
							<p>
								<button class="btn btn-default deletePdf" data-type="rib" data-index="${reader.file[e.total][1]}">
									<i class="fas fa-times text-danger" title="Suppression du document dans la liste"></i>
								</button>
								<a role="button" class="btn btn-light border-primary" onclick="openModal(this)" data-path="${e.target.result}">
									<i class="fas fa-eye text-primary"></i></a>&nbsp;<span class="names"></span>${reader.file[e.total][0]}
							<p>`)
					};
					i++
				}

			});
			// Suppression du pdf dans l'input file
			$(document).on('click', '.deletePdf', function() {
				var files;
				var index = $(this).attr('data-index');
				files = document.getElementById('gestionbundle_infofournisseur_RIBDocument').files;
				var newFiles = [];
				for (file in files) {
					if (file != index && Number.isInteger(parseInt(file))) {
						newFiles.push(new File([files[file]], files[file].name));
					}
				}
				document.getElementById('gestionbundle_infofournisseur_RIBDocument').files = FileListItem(newFiles);
				$('#gestionbundle_infofournisseur_RIBDocument').trigger('change');
			});
			// Fonction pour supprimer un PDF de la commande en mode de visionnage
			$(document).on('click', '#delPdf', function() {
				$('.modal').modal('hide');
				var type = $(this).attr('data-type');
				var nameList = [];
				var toRemove = $(this).attr('data-name')
				var elem;
				if (type === 'rib') {
					elem = $('#showFilesRIB');
				} else if (type === 'kbis') {
					elem = $('#showFilesKbis');
				}
				var clone = elem.find(`p[data-ref='${toRemove}']`).clone()
				elem.find(`p[data-ref='${toRemove}']`).remove();
				$.preloader.start();
				$('.names').each(function() {
					nameList.push($(this).html())
				});
				var formData = {nameList: nameList, toRemove: toRemove, type: type}
				$.ajax({
					url: '{{ path('sudalys_gestion_remove_pdf_infoFournisseur', {infoFournId: infoRounisseur.id}) }}',
					processData: true,
					data: formData,
					method: 'POST',
					success: function (data) {
						if (data.status === 'success') {
							showSuccessFlash(data.message)
						} else {
							elem.append(clone);
							showAlertFlash(data.message)
						}
						$.preloader.stop();
					},
					error: function(data) {
						var message = data.responseJSON.message;
						$.preloader.stop();
						showAlertFlash(message);
					},
					complete: function () {
						$('#whichDoc').html('');
						$('#delPdf').attr('data-name', '')
						$('#delPdf').attr('data-type', '')
					}
				})
			});
		});
	</script>
{% endblock %}
