{% extends "base.html.twig" %}
{% form_theme form_facture 'bootstrap_4_layout.html.twig' %}
{% if facture.activeTVA == 1 %}
	{% set activeTVA = 1 %}
{% else %}
	{% set activeTVA = 0 %}
{% endif %}
{% if facture.interetApplique == false %}
	{% set interetApplique = 2 %}
{% else %}
	{% set interetApplique = 1 %}
{% endif %}

{% block verticalNav %}
	{% if affaire is not null %}
		{{ include('GestionBundle:Default:veticaleAffaireNav.html.twig') }}
	{% endif %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="jumbotron">
			<h1 class="display-6">Facturation
				{% if facture.commande is not null %}
					d'une Commande :
				{% else %}
					d'une Situation :
				{% endif %}
			</h1>
			<hr class="my-4">
			<div id="showFiles">
				<h4>
					{% if facture.commande is not null %}
						{% if facture.commande.numeroCommandeClient is not null %}
							Numéro de commande client : <span  class="text-primary" >{{ facture.commande.numeroCommandeClient }}</span>
						{% else %}
							Numéro du devis signé : <span  class="text-primary" >{{ facture.commande.devis.numeroDevis }}</span>
						{% endif %}
					{% else %}
						{% if facture.attachement.commande.numeroCommandeClient is not null %}
							Numéro de commande client : <span  class="text-primary" >{{ facture.attachement.commande.numeroCommandeClient }}</span>
						{% else %}
							Numéro du devis signé : <span  class="text-primary" >{{ facture.attachement.commande.devis.numeroDevis }}</span>
						{% endif %}
					{% endif %}
				</h4>
				<h6>Liste des documents rattaché à la commande</h6>
				{% if facture.commande is not null %}
				{% for doc in facture.commande.documents %}
				<p data-ref="{{ doc }}">
					<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/CMDDocs/{{ doc }}">
						<i class="fas fa-eye text-primary"></i>
					</a>&nbsp;
					<span class="names">{{ doc|capitalize }}</span>
				<p>
					{% endfor %}
					{% else %}
					{% for doc in facture.attachement.commande.documents %}
				<p data-ref="{{ doc }}">
					<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/CMDDocs/{{ doc }}">
						<i class="fas fa-eye text-primary"></i>
					</a>&nbsp;
					<span class="names">{{ doc|capitalize }}</span>
				<p>
					{% endfor %}
					{% endif %}
			</div>
			<h4>Documents rattaché à la facture</h4>
			<div id="showUpload" data-fatureId="{{ facture.id }}">
				{% if facture.attachementDoc is not null %}
					{% for doc in facture.attachementDoc %}
						<p data-ref="{{ doc }}">
							<a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/FactureDocs/{{ doc }}">
								<i class="fas fa-eye text-primary"></i>
							</a>&nbsp;
							<span class="names">{{ doc|capitalize }}</span>
						<p>
					{% endfor %}
				{% else %}
					<p>Aucune situation signé n'a était uploadé.</p>
				{% endif %}
			</div>
			<hr class="my-4">
            <div class="row my-auto">
				<div class="col-3 my-auto">
					<div class="col-12 my-auto">
						<p><i class="fas fa-user-circle offset-1"></i>&nbsp;{{ facture.user.prenom|capitalize ~ ' ' ~ facture.user.nom|upper }}</p>
						<p><i class="fas fa-phone-square offset-1"></i>&nbsp;{{ facture.user.telephone }}</p>
						<p><i class="fas fa-mobile-alt offset-1"></i>&nbsp;{{ facture.user.mobile }}</p>
						<p><i class="fas fa-at offset-1"></i>&nbsp;{{ facture.user.email }}</p>
						<p><strong>{{ "émise le :"|capitalize }}</strong>&nbsp;{{facture.dateFacture|date('d/m/Y')}}</p>
					</div>
				</div>
				<div class="col-7 offset-2 my-auto">
					{{ form_start(form_facture, {'attr':{'id': 'formFacture'}}) }}
					{{ form_errors(form_facture) }}
					<dl class="row my-auto">
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form_facture.affaire) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_facture.affaire, {'attr':{'class': 'no-border'}}) }}
						</dd>
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form_facture.mentions) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_facture.mentions, {'attr':{'class': 'auto-grow no-border'}}) }}
						</dd>
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form_facture.numeroFacture) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_facture.numeroFacture) }}
						</dd>
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form_facture.numeroFactureBis) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_facture.numeroFactureBis) }}
						</dd>
					</dl>
				</div>
				<div class="col-3 my-auto">
					<dl class="row my-auto">
						<dt class="col-4 offset-1 my-auto">
							{{ form_label(form_facture.activeTVA) }}
						</dt>
						<dd class="col-5">
							{{ form_widget(form_facture.activeTVA, {'attr':{'class': 'no-border'}}) }}
						</dd>
						<dt class="col-4 offset-1 my-auto">
							{{ form_label(form_facture.forfaitaire) }}
						</dt>
						<dd class="col-5">
							{{ form_widget(form_facture.forfaitaire, {'attr':{'class': 'no-border'}}) }}
						</dd>
						<dt class="col-4 offset-1 my-auto">
							{{ form_label(form_facture.echeance) }}
						</dt>
						<dd class="col-5">
							{{ form_widget(form_facture.echeance) }}
						</dd>
						<dt class="col-4 offset-1 my-auto">
							{{ form_label(form_facture.dateEcheance) }}
						</dt>
						<dd class="col-5">
							{{ form_widget(form_facture.dateEcheance, {'attr':{'class': 'js-datepicker no-border'}}) }}
						</dd>
					</dl>
				</div>
				<div class="col-7 offset-2 my-auto">
					<dl class="row my-auto">
						<dt class="col-2 offset-2">
							{{ form_label(form_facture.client) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_facture.client, {'attr':{'class': 'no-border', 'readonly': true}}) }}
						</dd>
						<dt class="col-2 offset-2">
							{{ form_label(form_facture.contact) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_facture.contact, {'attr':{'class': 'no-border', 'readonly': true}}) }}
						</dd>
						<dt class="col-3 offset-1 my-auto">
							{{ form_label(form_facture.adresseFacturation) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_facture.adresseFacturation, {'attr':{'class': 'no-border selectpicker'}}) }}
						</dd>
						<dt class="col-3 offset-1 my-auto">
							{{ form_label(form_facture.adresseLivraison) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form_facture.adresseLivraison, {'attr':{'class': 'no-border selectpicker'}}) }}
						</dd>
					</dl>
				</div>
			</div>
			<br>
			<table class="table table-hover" style="text-align: center" id="articleTable">
				<thead>
					<tr class="row my-auto bg-primary text-white">
						<th scope="col" class="col-2 my-auto">Désignation</th>
						<th scope="col" class="col-4 my-auto">Description</th>
						<th scope="col" class="col-1 my-auto">Unité</th>
						<th scope="col" class="col-2 my-auto">Prix unitaire</th>
						<th scope="col" class="col-1 my-auto">Quantité</th>
						<th scope="col" class="col-2 my-auto">Montant Total HT</th>
					</tr>
				</thead>
				{# dans le cas d'une modification, on recupère les articles de la facture #}
				{% if linkedArticleFacture %}
					<tbody>
					{# on boucle dedans afin de les afficher dans le tableau #}
						{% for linkedArticle in linkedArticleFacture %}
							<tr class="toscan row my-auto border-top" data-articleid = "{{linkedArticle.articleDevis.id}}" data-overridemontantunit = "{{linkedArticle.overrideMontantUnit|round(2, 'ceil')}}" data-quantite = "{{linkedArticle.quantite}}" data-montantht = "{{linkedArticle.montantTotalHT|round(2, 'ceil')}}">
								<td class="col-2 no-border my-auto">{{linkedArticle.articleDevis.article.nom}}</td>
								<td class="col-4 no-border my-auto text-left">{{linkedArticle.articleDevis.description}}</td>
								<td class="col-1 no-border my-auto hiddeOnForfaitaire">
									{% if linkedArticle.articleDevis.article.unite == 0 %}
										Forfaitaire
									{% else %}
										Unitaire
									{% endif %}
								</td>
								{# si il y a un prix overridé on l'affiche sinon on affichera le montant unitaire de l'article #}
								<td class="col-2 no-border my-auto hiddeOnForfaitaire">
									<div class="input-group">
										<input type="text" class="form-control text-right comma" value="{{linkedArticle.overrideMontantUnit|round(2, 'ceil')}}" readonly>
										<div class="input-group-append">
											<span class="input-group-text">€</span>
										</div>
									</div>
								</td>
								<td class="col-1 no-border my-auto hiddeOnForfaitaire">
									{% if linkedArticle.quantitePourcentage == true %}
										<div class="input-group">
											<input type="text" class="form-control text-right comma" value="{{linkedArticle.quantite}}" readonly>
											<div class="input-group-append">
												<span class="input-group-text">%</span>
											</div>
										</div>
									{% else %}
										<div class="input-group">
											<input type="text" class="form-control text-right comma" value="{{linkedArticle.quantite}}" step="any" readonly>
											<div class="input-group-append">
												<span class="input-group-text">&#8474;</span>
											</div>
										</div>
									{% endif %}
								</td>
								<td class="col-2 no-border my-auto hiddeOnForfaitaire">
									<div class="input-group">
										<input type="text" class="form-control text-right comma" value="{{linkedArticle.montantTotalHT|round(2, 'ceil')}}" readonly>
										<div class="input-group-append">
											<span class="input-group-text">€</span>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					{% else %}
						<tbody></tbody>
				{% endif %}
			</table>
			<br>
			<div class="offset-9">
				<dl class="row">
					<dt class="col-6 my-auto"><label for="targetST">Sous-total :</label></dt>
					<dd class="col-6">
						<div class="input-group">
							<input id="targetST" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
							<div class="input-group-append">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</dd>
					<dt class="col-6 my-auto hideRemise">{{ form_label(form_facture.remise) }}</dt>
					<dd class="col-6 hideRemise">
						{{ form_widget(form_facture.remise, {'attr': {'class': 'text-right'}}) }}
					</dd>
					<dt class="col-6 my-auto hideRemise"><label for="targetRM">Total remise :</label></dt>
					<dd class="col-6 hideRemise">
						<div class="input-group">
							<input id="targetRM" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
							<div class="input-group-append">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</dd>
					<dt class="col-6 my-auto">{{ form_label(form_facture.tauxInteret) }}</dt>
					<dd class="col-6">
						{{ form_widget(form_facture.tauxInteret, {'attr': {'class': 'text-right'}}) }}
					</dd>
					<dt class="col-6 my-auto">{{ form_label(form_facture.indemniteForfait) }}</dt>
					<dd class="col-6">
						{{ form_widget(form_facture.indemniteForfait, {'attr': {'class': 'text-right'}}) }}
					</dd>
					<dt class="col-6 my-auto">{{ form_label(form_facture.indiceRevision) }}</dt>
					<dd class="col-6">
						<div class="input-group">
							{{ form_widget(form_facture.indiceRevision, {'attr': {'class': 'text-right comma'}}) }}
							<div class="input-group-append">
								<span class="input-group-text">&nbsp;&#8758;</span>
							</div>
						</div>
					</dd>
					<dt class="col-6 my-auto"><label for="targetHT">Total HT :</label></dt>
					<dd class="col-6">
						<div class="input-group">
							<input id="targetHT" name="create_facture[totalHT]" type="text" class="form-control text-right comma" value="0,00" readonly>
							<div class="input-group-append">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</dd>
					<dt class="col-6 display-tva my-auto">{{ form_label(form_facture.TVA) }}</dt>
					<dd class="col-6 display-tva">
						{{ form_widget(form_facture.TVA, {'attr': {'class': 'text-right'}}) }}
					</dd>
					<dt class="col-6 display-tva my-auto"><label for="targetTTC">Total TTC</label></dt>
					<dd class="col-6 display-tva">
						<div class="input-group">
							<input id="targetTTC" name="create_facture[totalTTC]" type=text" class="form-control text-right comma" placeholder="0,00" readonly>
							<div class="input-group-append">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</dd>
				</dl>
				<br>
			</div>
			<hr>
			<button type="submit" id="submit" class="btn btn-primary">Enregistrer la Facture</button>
		{{ form_end(form_facture) }}
		</div>
	</div>
	<div class="modal fade show-pdf bg-transparent pdf" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-lg bg-transparent no-border">
			<div class="modal-content bg-transparent no-border">
				<div class="modal-header p-0 bg-transparent no-border">
					<button type="button" class="close text-white font-weight-bold" style="opacity: 100" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<iframe id="embed" class="w-100" height="600px" src=""></iframe>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{#	<script src="{{ asset('js/periodsToComma.js') }}"></script>#}
    <script>
		var forfaitaire = false;
		toggleForfaitaire();
		function toggleForfaitaire() {
			var value = $('#create_facture_forfaitaire').val();
			if (value == 1) {
				$('.hiddeOnForfaitaire').attr('hidden', true);
				forfaitaire = true
				$('#ifForfaitaire').fadeIn();
				console.log('{{ facture.attachement.totalHT }}');
				$('#targetHT').attr('value', '{{ facture.attachement.totalHT }}')
			}
		}
		function setAdresses() {
			// suppression de toutes les options avec une valeur (pour conserver l'option vide)
			$('#create_facture_adresseFacturation').find('option').each(function () {
				if ($(this).val() !== '') {
					$(this).remove();
				}
			});
			$('#create_facture_adresseLivraison').find('option').each(function () {
				if ($(this).val() !== '') {
					$(this).remove();
				}
			});
			var orgaId = $('#create_facture_client').val(); // Récupération de l'id de l'organisme
			var url = '/organisme/adresse/' + orgaId // Set url avec l'id
			if (orgaId) { // Si il y a une id
				$.get(url, function (data) { // Récupération du formulaire
					for (var adresse of data) {
						var comp = ""; // Initialise une variable de type string
						if (adresse.adresseComplementaire1 != null) { // Si il y a une adresse complémentaire 1
							comp = ', ' + adresse.adresseComplementaire1; // On concaténe
						}
						if (adresse.adresseComplementaire2 != null) { // Idem ici
							comp += ', ' + adresse.adresseComplementaire2;
						}
						// Création de l'option avec les valeurs reçus
						var option = `<option value="${adresse.id}">${adresse.nom} : ${adresse.adresse}${comp}, ${adresse.stal} ${adresse.ville}</option>`;
						// Append les options reçus aux 2 selectpicker
						$('#create_facture_adresseFacturation').append(option);
						$('#create_facture_adresseLivraison').append(option);
					}
					{% if facture.adresseLivraison %}
					var value = '{{ facture.adresseLivraison.id }}';
					$('#create_facture_adresseLivraison').find('option').each(function() {
						if ($(this).val() == value) {
							$(this).attr('selected', 'selected')
						}
					});
					{% endif %}
					{% if facture.adresseFacturation %}
					var value = '{{ facture.adresseFacturation.id }}';
					$('#create_facture_adresseFacturation').find('option').each(function() {
						if ($(this).val() == value) {
							$(this).attr('selected', 'selected')
						}
					});
					{% endif %}
					$('.selectpicker').selectpicker('refresh'); // Rafraichissement des sélectpicker pour afficher les informations reçus
				})
			}
		}
		// Ouverture de la modal d'affichage des pdf
		function openModal(elem) {
			var url = $(elem).data('path'); // Récupère l'url
			$('.modal.fade.show-pdf.bg-transparent.pdf').modal(); // Prépare la modal
			$('#embed').attr('src', url); //Fourni l'url à l'iframe
			$('.modal.fade.show-pdf.bg-transparent.pdf').modal('show'); // Affichage de la modal
		}
		// Ajout d'un nombre de jours passé en argument à une date
		function addDays(date, days) {
			const copy = new Date(Number(date)) // Crée une nouvelle date avec la date donnée
			copy.setDate(date.getDate() + days) // Incrémente le nombre de jours
			return copy // retourn la nouvelle date incrémenté
		}
		// Récupération de la date de payment selon le nombre de jour sélectionné
		function getPaymentDate() {
			return new Promise( resolve => { // Création d'une promesse
				var choice = $('#create_facture_echeance').val(); // Récupération de la valeur du choix
				var date = new Date(); // Date aujoud'hui
				if (choice == 1) { // Si choix 1
					resolve(addDays(date, 30)); // Retourne la date incrémenté dans la promesse
				} else if (choice == 2) {
					resolve(addDays(date, 45));
				} else if (choice == 3) {
					resolve(addDays(date, 0))
				}
			})
		}
		// Récupération, affichage et mise en valeur de la date de payement
		function setPaymentDate() {
			getPaymentDate() // Appele de la fonstion pour récupérer la date de paiement
			.then(date => {
				var toString = prependZero(date.getDate()) + '-' + prependZero(date.getMonth() + 1) + '-' + date.getFullYear(); // Concaténation de la date au format d/m/Y
				$('#create_facture_dateEcheance').val(toString); // Set la valeur de l'input ciblé
			})
		}
		// Fonction qui ajoute un zéro devant une unité
		function prependZero(number) {
			return number < 10 ? '0' + number :  number;
		}
		// Toggle l'affichage de la TVA
		function toggleDisplayTVA(activeTVA){
			if (activeTVA == 1) { // Si la TVA est active
				$('.display-tva').show(); // On affiche
			} else {
				$('.display-tva').hide();
			}
		}
		// Lorsque le documment est prêt
        $(document).ready(function() {
			setAdresses();
        	$(document).on('change', '#create_facture_echeance', function() { // Lors du changement du délais de paiement recalcul de la date
				setPaymentDate();
			})
			// Conditions de suppression, affichage ou masquage d'élement lors de la vue
			if ('{{ display }}' == 'true') {
				$('input').attr('disabled', true).addClass('bg-light');
				$('textarea').attr('disabled', true).addClass('bg-light');
				$('select').attr('disabled', true).addClass('bg-light');
				$('button[type=submit]').hide();
				if ($('#create_facture_remise').val() == 0) {
					$('.hideRemise').hide();
				}
			}
			// initialisation des variables globales
			var listeArticleFacture = [];
			var totalHT;
			var totalTTC;
			var nomAffaire = '{{ nomAffaire }}';
			// Appel des fonctions nécessaires au chargement
			setPaymentDate(); // Appel de la fonction pour set la date de paiement
			initListeArticleFacture(); // Appel de la fonction pour créer la liste des articles
			printMontant(); // Appel de la fonction pour calculer et afficher les montant totaux

			if ({{ activeTVA }} == 0) { // Si la TVA est désactivé on sélectionne l'option qui à la valeur zéro
				$('#create_facture_activeTVA').find('option[value="0"]').attr("selected", true);
			}
			// au chargement de la page on initialise le datepicker avec ses options
			$('.js-datepicker').datepicker({
				format: 'dd/mm/yyyy',
				language: 'fr'
			});

			toggleDisplayTVA($('#create_facture_activeTVA').val()); // Appel de la fonction d'affichage de la TVA

			$('#create_facture_activeTVA').change(function() { // Appel de la fonction d'affichage de la TVA lorsque l'input
				var value = $(this).val(); // Récupère la valeur de l'input
				toggleDisplayTVA(value) // Appel de la fonction d'affichage de la TVA
			});

			$('.input-group').change(function () {printMontant()}); // Lors du changement des input-group recalcul du montant total


			// fonction qui permet de créer le tableau des articles à envoyer au controller pour les lier à la facture
			function initListeArticleFacture() {
				listeArticleFacture = []; // Initialisation d'un array vide
				$('#articleTable').find('.toscan').each(function() { // Pour chaque tr comportant la class toscan on ajout les valeurs dans les attributs data
					listeArticleFacture.push({"articleId": $(this).data('articleid'), "overrideMontantUnit": $(this).data('overridemontantunit'), "quantite": $(this).data('quantite'), "montantTotalHT": $(this).data('montantht')})
				});
			}

			// fonction qui va nous permettre d'afficher les prix HT et TTC sur notre page en fonction de valeurs saisies dans le formulaire du devis
			function printMontant() {
				totalHT = 0;
				var prixRemise;
				var appliqueInteret = '{{ interetApplique }}';
				//même procédure, on scan les champs du formulaire pour récupérer les valeurs de remise et de tva...
				var remise = ($("#create_facture_remise").val())/100;
				var tva = ($("#create_facture_TVA").val())/100;
				var indiceRevision = $('#create_facture_indiceRevision').val();
				var interet = parseFloat($('#create_facture_tauxInteret').val()) / 100;
				if (!forfaitaire) {
					// pour chaque entrée dans le tableau des articles ajoutés au devis on vient incrémenter la variable totalHT de cette valeur
					$("#articleTable").find(".toscan").each(function () {
						totalHT += parseFloat($(this).attr("data-montantht"));
					});
				} else {
					totalHT = parseFloat('{{ facture.attachement.totalHT }}')
				}
				if (!forfaitaire) {
					// ...afin de les intégrer au calcul du total TTC
					if (appliqueInteret == 2) {
						prixRemise = totalHT - (totalHT * remise);
					} else {
						prixRemise = (totalHT - (totalHT * remise)) * (1 + interet);
					}
					if (indiceRevision == "") {
						indiceRevision = 1;
					} else {
						indiceRevision = parseFloat(indiceRevision.replace(' ', '').replace(',', ''));
					}
					// on vient ensuite intégrer la valeur finale sur notre page
					$('#targetST').val(totalHT.toFixed(2));
					totalTTC = (prixRemise + (prixRemise * tva)) * indiceRevision;
					$('#targetRM').val((totalHT * remise).toFixed(2));
					$('#targetHT').val((prixRemise * indiceRevision).toFixed(2));
				} else {
					var totalST = totalHT / (1 - remise);
					$('#targetST').val(totalST.toFixed(2));
					$('#targetHT').val((totalST * indiceRevision).toFixed(2));
					var montantRemise = totalST * remise;
					$('#targetRM').val(montantRemise.toFixed(2));
					totalTTC = totalHT * (1 + tva);
				}
				// que l'on vient intégrer à la page
				$('#targetTTC').val(totalTTC.toFixed(2));
				addCommaAll();
				$('.input-group-append').addClass('w-25');
			}

			$(`#create_facture_affaire option:contains(${nomAffaire})`).prop('selected', true);
			// Lors du changment de l'input TVA on calcul le montant total
			$('#create_facture_TVA').change(function() {
				printMontant();
			});
			// Lors du changment de l'input remise on calcul le montant total
			$('#create_facture_remise').change(function() {
				printMontant();
			});
			// Au click sur la button delete-row on supprime les tr sélectionné puis on recré la liste des articles et recalcul le montatn total
			$(".delete-row").click(function(){
            	$("table tbody").find('input[name="record"]').each(function(){
                	if($(this).is(":checked")){
						$(this).parents("tr").remove();
						initListeArticleFacture();
						printMontant();
					}
				});
			});
			$('#formFacture').on('keypress', function(e) {
				if(e.which === 13) {
					e.preventDefault();
					return false;
				}
			});
			// A la soumission de la facture
			$('#formFacture').submit(function(e) {
				e.preventDefault(); // On supprime l'événement de rechargement de la page
				if ($('#create_facture_adresseFacturation').val() == "") {
					showWarningFlash('Facturation impossible sans la sélection d\'une adresse de facturation.');
					return false;
				} else if ($('#create_facture_adresseLivraison').val() == "") {
					showWarningFlash('Facturation impossible sans la sélection d\'une adresse de livraison.');
					return false;
				}
				// On récupère les id nécessaire
				var affaire = '{{ affaireId }}';
				var facture = '{{ factureId }}';
				if(facture && affaire) { // Si les ID sont bien présentes on set l'url de la requête ajax
					href = '/affaire/affaireId/facture/gestion/factureId';
					href = href.replace('affaireId', affaire);
					href = href.replace('factureId', facture);
				}
				var form = $(this).serializeArray(); // On récupère les valeurs des inputs du formulaire
				// Requête ajax
				$.ajax({
					type: 'POST',
					url: href,
					processData: true,
					data: {facture: form, articles: listeArticleFacture},
					success: function (data) {
						if (data.status === 'success') {
							successToLocalStorage("facture enregistrée avec succès");
							var url = '{{ path('sudalys_gestion_dashboard_administratif_vente') }}#envoiFacture';
							location.href = url;
						} else {
							showWarningFlash(data.message);
						}
					},
					error: function(xhr, textStatus, thrownError) {
						showWarningFlash('Quelque chose c\'est mal passé, merci de réessayer...');
					}
				});
			});
			// Affichage des de l'input file
			$('#inputFile').change(function(e) {
				$('#showUpload').find('p').each(function() {
					$(this).remove();
				});
				var input = e.target;
				var i = 0;
				var listOfNames = [];
				for (var file of input.files) {
					listOfNames[file.size] = [file.name, i];
					var reader = new FileReader();
					reader.readAsDataURL(input.files[i]);
					reader.file = listOfNames;
					reader.onload = function(e) {
						$('#showUpload').append(`
							<p>
								<button class="btn btn-default deletePdf" data-index="${reader.file[e.total][1]}">
									<i class="fas fa-times text-danger" title="Suppression du document dans la liste"></i>
								</button>
								<a role="button" class="btn btn-light border-primary" onclick="openModal(this)" data-path="${e.target.result}">
									<i class="fas fa-eye text-primary"></i></a>&nbsp;<span class="names"></span>${reader.file[e.total][0]}
							<p>`)
					};
					i++
				}

			});
			// Suppression du pdf dans l'input file
			$(document).on('click', '.deletePdf', function() {
				var index = $(this).attr('data-index');
				var files = document.getElementById('inputFile').files;
				var newFiles = [];
				for (file in files) {
					if (file != index && Number.isInteger(parseInt(file))) {
						newFiles.push(new File([files[file]], files[file].name));
					}
				}
				document.getElementById('inputFile').files = FileListItem(newFiles);
				$('#inputFile').trigger('change');
			});
			// Fonction pour créer une FileList
			function FileListItem(a) {
				a = [].slice.call(Array.isArray(a) ? a : arguments);
				for (var c, b = c = a.length, d = !0; b-- && d;) d = a[b] instanceof File;
				if (!d) throw new TypeError("L\'argument doit être un objet File ou un array d'objets File");
				for (b = (new ClipboardEvent("")).clipboardData || new DataTransfer; c--;) b.items.add(a[c]);
				return b.files
			}
			// Fonction pour uploader les fichiers
			$('#uploader').click(function() {
				$.preloader.start();
				let errorList;
				const file = document.getElementById('inputFile').files[0]
				upload(file)
					.then(file => {
						$('#create_commande_documents').val(file.fileName);
						showSuccessFlash('La situation signé bien été uploadé.')
						$('.deletePdf').each(function() {
							$(this).remove();
						});
						$.preloader.stop();
					})
					.catch(error => {
						console.log(error)
						showWarningFlash('Une erreur s\'est produite, aucun fichier n\'a était enregistré. Veuillez réessayer...')
						$.preloader.stop();
					})
			});
			// Fonction pour générer une formData et uploader
			function upload(file, more=false) {
				return new Promise((resolve, reject) => {
					var reader = new FileReader();
					var url = '{{ path('sudalys_gestion_facture_uploads', {factureId: facture.id}) }}';
					if (more) {
						var factureId = $('#showUpload').attr('data-commandeId')
						url = `/facture/${factureId}/pdf/upload`;
					}
					reader.onload= () => {
						const formData = new FormData();
						const pdfBlob = new Blob([reader.result], {
							type: file.type
						});
						formData.append('file', pdfBlob, file.name);
						$.ajax({
							method: 'POST',
							url: url,
							data: formData,
							contentType: false,
							processData: false,
							success: function(data) {
								console.log(data);
								resolve(data);
							},
							error: function (xhr, textStatus, thrownError) {
								reject(thrownError)
							}
						})
					};
					reader.readAsArrayBuffer(file);
				});
			}
        });
    </script>  
{% endblock %}