{% extends "base.html.twig" %}
{% form_theme form_attachement 'bootstrap_4_layout.html.twig' %}

{# on définit un flag afin de savoir si on est en création ou modification #}
{% if linkedArticleAttachement is null %}
	{% set isHere = 'no' %}
	{% else %}
		{% set isHere = 'yes' %}
{% endif %}
{% if commande.remise is null %}
	{% set remise = 0 %}
{% else %}
	{% set remise = commande.remise %}
{% endif %}

{% block verticalNav %}
	{% if affaire is not null %}
		{{ include('GestionBundle:Default:veticaleAffaireNav.html.twig') }}
	{% endif %}
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<div class="jumbotron">
			{% if display != 'no' %}
				<h1 class="display-6">Visionnement de la situation n° {{  numSituation }} de la commande n° <span class="text-primary" >{{commande.numeroCommande}}</span></h1>
			{% else %}
				<h1 class="display-6">Gestion de la situation n° {{  numSituation }} de la commande n° <span class="text-primary" >{{commande.numeroCommande}}</span></h1>
			{% endif %}
			<hr class="my-4">
			{% if notFirstAttachement == true %}
				{# si il existe déjà des attachements, on les liste ici #}
				{% if existingAttachements is iterable %}
					<p class="lead font-weight-bold">Situations déjà créés pour cette commande :</p>
					<br>
					{% for attachement in existingAttachements %}
						{% if attachementId != attachement.id %}
							{% if attachement.isValid <= 1 or attachement.isValid == 3 %}
								<div class="card bg-light mb-3">
									<div class="card-header">{{attachement.mentions}}, édité pour {{attachement.client.nom}}</div>
									<div class="card-body">
										<table class="existingAttachementTable table table-hover" style="text-align: center">
											<thead>
												<tr class="bg-primary text-white">
													<th scope="col">Validation</th>
													<th scope="col">Article</th>
													<th scope="col">Unite</th>
													<th scope="col">Prix unitaire</th>
													<th scope="col">Quantité Commandée</th>
													<th scope="col">Montant HT Commandé</th>
													<th scope="col">Type d'avancement</th>
													<th scope="col">Avancement</th>
													<th scope="col">Montant HT situation</th>
												</tr>
											</thead>
											<tbody>
												{% for linkedArticle in attachement.articleAttachements %}
													<tr class="toScanAvancement">
														<td>
															{% if attachement.isValid == 1 %}
																<span class="badge badge-pill badge-success">Validé</span>
															{% elseif attachement.isValid == 3 %}
																<span class="badge badge-pill badge-primary">Prêt pour envoi</span>
															{% else %}
																<span class="badge badge-pill badge-info">En attente accord client</span>
															{% endif %}
														</td>
														<td>{{linkedArticle.articleCommande.articleDevis.article.nom}}</td>
														<td>
															{% if linkedArticle.articleCommande.articleDevis.article.unite == 0 %}
																Forfait
															{% else %}
																Unité
															{% endif %}
														</td>
														<td>{{linkedArticle.articleCommande.overrideMontantUnit|number_format(2, ',', ' ')}} €</td>
														<td>{{linkedArticle.articleCommande.quantite}}</td>
														<td>{{linkedArticle.articleCommande.montantTotalHT|number_format(2, ',', ' ')}} €</td>
														{% if linkedArticle.typeAvancement == 1 %}
															<td>Unité</td>
														{% else %}
															<td>Pourcent</td>
														{% endif %}
														<td class="checkAvancementAttache" data-avancementattache="{{linkedArticle.avancement}}" data-articlecommandeid="{{linkedArticle.articleCommande.id}}" data-typeavancement="{{linkedArticle.typeAvancement}}">{{linkedArticle.avancement|number_format(2, ',', '')}}</td>
														<td>{{linkedArticle.montantHtAv|number_format(2, ',', '')}} €</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
				<br>
				<hr>
			{% endif %}
			{# formulaire du nouvel attachement #}
			<div class="row my-auto">
				<div class="col-3 my-auto">
					<div class="col-12">
						{% if attachementId %}
							<p><i class="fas fa-user-circle offset-1"></i>&nbsp;{{ attachement.user.prenom|capitalize ~ ' ' ~ attachement.user.nom|upper }}</p>
							<p><i class="fas fa-phone-square offset-1"></i>&nbsp;{{ attachement.user.telephone }}</p>
							<p><i class="fas fa-mobile-alt offset-1"></i>&nbsp;{{attachement.user.mobile }}</p>
							<p><i class="fas fa-at offset-1"></i>&nbsp;{{ attachement.user.email }}</p>
							<p class="font-weight-bold">Situation n° : {{ numSituation }}</p>
							<p class="offset-1"><strong>{{ 'émise le : '|capitalize }}</strong>{{attachement.dateAttachement|date('d/m/Y')}}</p>
						{% else %}
							<p><i class="fas fa-user-circle offset-1"></i>&nbsp;{{ user.prenom|capitalize ~ ' ' ~ user.nom|upper }}</p>
							<p><i class="fas fa-phone-square offset-1"></i>&nbsp;{{ user.telephone }}</p>
							<p><i class="fas fa-mobile-alt offset-1"></i>&nbsp;{{user.mobile }}</p>
							<p><i class="fas fa-at offset-1"></i>&nbsp;{{ user.email }}</p>
							<p class="font-weight-bold">Situation n° : {{ numSituation }}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-5 offset-4">
					{{ form_start(form_attachement, {'attr':{'id': 'formAttachement'}}) }}
						{{ form_errors(form_attachement) }}
						<dl class="row my-auto">
							<dt class="col-2 offset-1 my-auto">
								{{ form_label(form_attachement.mentions) }}
							</dt>
							<dd class="col-8">
								{{ form_widget(form_attachement.mentions, {'attr':{'class': 'no-border auto-grow'}}) }}
							</dd>
							<dt class="col-2 offset-1 my-auto">
								{{ form_label(form_attachement.numeroAttachement) }}
							</dt>
							<dd class="col-8">
								{{ form_widget(form_attachement.numeroAttachement) }}
							</dd>
							<dt class="col-2 offset-1 my-auto">
								{{ form_label(form_attachement.numeroAttachementBis) }}
							</dt>
							<dd class="col-8">
								{{ form_widget(form_attachement.numeroAttachementBis) }}
							</dd>
							<dt class="col-2 offset-1 my-auto">
								{{ form_label(form_attachement.client) }}
							</dt>
							<dd class="col-8">
								{{ form_widget(form_attachement.client, {'attr':{'class': 'no-border', 'readonly': true}}) }}
							</dd>
							<dt class="col-2 offset-1 my-auto">
								{{ form_label(form_attachement.contact) }}
							</dt>
							<dd class="col-8">
								{{ form_widget(form_attachement.contact, {'attr':{'class': 'no-border', 'readonly': true}}) }}
							</dd>
							<dd class="col-12">
								<button class="float-right btn btn-default bg-light" type="button" data-toggle="collapse" data-target="#collapseAdresse" aria-expanded="false" aria-controls="collapseAdresse">
									Sélectionner adresses
									<i class="fas fa-chevron-down text-success"></i>
								</button>
							</dd>
							<div class="collapse row" id="collapseAdresse">
								<dt class="col-2 offset-1 my-auto">
									{{ form_label(form_attachement.adresseFacturation) }}
								</dt>
								<dd class="col-8">
									{{ form_widget(form_attachement.adresseFacturation, {'attr':{'class': 'no-border'}}) }}
								</dd>
								<dt class="col-2 offset-1 my-auto">
									{{ form_label(form_attachement.adresseLivraison) }}
								</dt>
								<dd class="col-8">
									{{ form_widget(form_attachement.adresseLivraison, {'attr':{'class': 'no-border'}}) }}
								</dd>
							</div>
						</dl>
				</div>
				<div class="col-6 my-auto">
					<dl class="row my-auto">
						<dt class="col-2 offset-1">
							{{ form_label(form_attachement.activeTVA) }}
						</dt>
						<dd class="col-2">
							{{ form_widget(form_attachement.activeTVA, {'attr':{'class': 'no-border'}}) }}
						</dd>
					</dl>
					<dl class="row my-auto">
						<dt class="col-2 offset-1">
							{{ form_label(form_attachement.forfaitaire) }}
						</dt>
						<dd class="col-2">
							{{ form_widget(form_attachement.forfaitaire, {'attr':{'class': 'no-border', 'readonly': true}}) }}
						</dd>
					</dl>
				</div>
			</div>
			<hr>
			<table class="table table-hover" style="text-align: center" id="articleTable">
				<thead>
					<tr class="row bg-primary text-white">
						<th scope="col" class="col-2">Désignation</th>
						<th scope="col" class="col-3">Description</th>
						<th scope="col" class="col-1">Unité</th>
						<th scope="col" class="col-1">Prix unitaire</th>
						<th scope="col" class="col-1">Qté CMD</th>
						<th scope="col" class="col-1">Avancement</th>
						<th scope="col" class="col-1">Qté</th>
						<th scope="col" class="col-2">Total HT</th>
					</tr>
				</thead>
				{# si on est en modification on liste ici les différents articles attachés #}
				{% if linkedArticleAttachement %}
					<tbody>
						{% for linkedArticle in linkedArticleAttachement %}
							<tr id="ligne{{ loop.index }}" class="toscan row border-bottom"
								onchange="calculTotalLigne('ligne{{ loop.index }}')"
								data-articlecommandeid="{{linkedArticle.articleCommande.id}}"
								data-typeavancement="{{linkedArticle.typeAvancement}}"
								data-avancement="{{linkedArticle.avancement}}"
								data-montanthtav="{{linkedArticle.montantHtAv|round(2, 'ceil')}}">
								<td class="col-2 my-auto no-border"><span style="position: absolute; left: 1em"><input type="checkbox" name="record" class="custom-checkbox"></span>{{linkedArticle.articleCommande.articleDevis.article.nom}}</td>
								<td class="col-3 text-left my-auto no-border">{{ linkedArticle.articleCommande.articleDevis.description }}</td>
								<td class="col-1 my-auto no-border hiddeOnForfaitaire">
									{% if linkedArticle.articleCommande.articleDevis.article.unite == 1 %}
										Unité
									{% else %}
										Forfait
									{% endif %}
								</td>
								<td class="col-1 my-auto no-border hiddeOnForfaitaire">
									<div class="input-group">
										<input class="calculLigne form-control bg-light text-right comma" type="text"  value="{{ linkedArticle.articleCommande.overrideMontantUnit|number_format(2, ',', ' ') }}" readonly>
										<div class="input-group-append">
											<span class="input-group-text">€</span>
										</div>
									</div>
								</td>
								<td class="col-1 my-auto no-border hiddeOnForfaitaire"><input type="text" class="calculLigne bg-light text-right form-control qtCMD comma" value="{{ linkedArticle.articleCommande.quantite }}" readonly></td>
								<td class="col-1 my-auto no-border hiddeOnForfaitaire">
									{% if linkedArticle.typeAvancement == 1 or linkedArticle.typeAvancement == 2 %}
										<select class="typeAvancement bg-light form-control calculLigne" readonly="true">
									{% else %}
											<select class="typeAvancement form-control calculLigne">
									{% endif %}
										{% if linkedArticle.typeAvancement == 1 %}
											<option value="1" selected>Unité</option>
										{% elseif linkedArticle.typeAvancement == 2 %}
											<option value="2" selected>Pourcent</option>
										{% else %}
											<option value="1">Unité</option>
											<option value="2">Pourcent</option>
										{% endif %}
									</select>
								</td>
								<td class="col-1 my-auto no-border hiddeOnForfaitaire">
									{% if linkedArticle.typeAvancement == 2 %}
										<div class="input-group">
											<input class="calculLigne form-control qtAv text-right" type="text" data-min="0" data-max="{{ linkedArticle.avancement }}" value="{{ linkedArticle.avancement }}">
											<div class="input-group-append">
												<span class="input-group-text">%</span>
											</div>
										</div>
									{% else %}
										<div class="input-group">
											<input class="calculLigne form-control qtAv text-right comma" type="text" data-min="0" data-max="{{ linkedArticle.avancement|number_format(2, ',', ' ') }}" value="{{ linkedArticle.avancement|number_format(2, ',', ' ') }}">
											<div class="input-group-append">
												<span class="input-group-text">&#8474;</span>
											</div>
										</div>
									{% endif %}
								</td>
								<td class="col-2 my-auto no-border hiddeOnForfaitaire">
									<div class="input-group">
										{% if linkedArticle.typeAvancement == 2 %}
											<input readonly type="text" class="calculLigne form-control bg-light text-right comma" value="{{linkedArticle.montantHTAv|number_format(2, ',', ' ') }}">
										{% else %}
											<input readonly type="text" class="calculLigne form-control bg-light text-right comma" value="{{ (linkedArticle.articleCommande.overrideMontantUnit * linkedArticle.avancement)|number_format(2, ',', ' ') }}">
										{% endif %}
										<div class="input-group-append">
											<span class="input-group-text">€</span>
										</div>
									</div>

								</td>
							</tr>
						{% endfor %}
					</tbody>
				{% else %}
					<tbody>
						{% for linkedArticle in remainingArticle %}
							<tr class="toscan row border-top" id="ligne{{ loop.index }}" onchange="calculTotalLigne('ligne{{ loop.index }}')" data-articlecommandeid="{{ linkedArticle.articleCommandeId }}" data-articleid="{{ linkedArticle.id }}" data-typeavancement="{{ linkedArticle.typeAvancement }}" data-avancement="{{linkedArticle.avancement}}" data-montanthtav="
								{% if linkedArticle.typeAvancement == 2 %}
									{{ (linkedArticle.montantUnite * ( linkedArticle.avancement / 100))|round(2, 'ceil') }}
								{% else %}
									{{ (linkedArticle.montantUnite * linkedArticle.avancement)|round(2, 'ceil') }}
								{% endif %}
							">
								<td class="col-2 my-auto no-border"><span style="position: absolute; left: 1em"><input type="checkbox" name="record" class="custom-checkbox"></span>{{linkedArticle.nom}}</td>
								<td class="col-3 my-auto no-border text-left">{{ linkedArticle.description }}</td>
								<td class="col-1 my-auto no-border hiddeOnForfaitaire">
									{% if linkedArticle.unite == 0 %}
										Forfait
									{% else %}
										Unité
									{% endif %}
								</td>
								<td class="calculLigne col-1 my-auto no-border hiddeOnForfaitaire" value="{{ linkedArticle.montantUnite|number_format(2, ',', ' ') }}">{{ linkedArticle.montantUnite|number_format(2, ',', ' ') }}<span>&nbsp;€</span></td>
								<td class="calculLigne col-1 my-auto no-border qtCMD hiddeOnForfaitaire" value="{{ linkedArticle.quantite }}">{{ linkedArticle.quantite|number_format(2, ',', ' ') }}</td>
								<td class="col-1 my-auto no-border hiddeOnForfaitaire">
									<select class="typeAvancement form-control calculLigne">
										{% if linkedArticle.typeAvancement == 1 %}
											<option value="1" selected>Unité</option>
										{% elseif linkedArticle.typeAvancement == 2 %}
											<option value="2" selected>Pourcent</option>
										{% else %}
											<option value="1">Unité</option>
											<option value="2">Pourcent</option>
										{% endif %}
									</select>
								</td>
								<td class="col-1 my-auto no-border hiddeOnForfaitaire">
									{% if linkedArticle.typeAvancement == 2 %}
										<div class="input-group">
											<input class="calculLigne form-control qtAv comma" type="text" max="{{ linkedArticle.avancement }}" value="{{ linkedArticle.avancement|number_format(2, ',', ' ') }}">
											<div class="input-group-append">
												<span class="input-group-text">%</span>
											</div>
										</div>
									{% else %}
										<div class="input-group">
											<input class="calculLigne form-control qtAv comma" type="text" min="0.00" max="{{linkedArticle.avancement|round(2, 'ceil')}}" value="{{linkedArticle.avancement|number_format(2, ',', ' ')}}">
											<div class="input-group-append">
												<span class="input-group-text">&#8474;</span>
											</div>
										</div>
									{% endif %}
								</td>
								<td class="col-2 my-auto no-border hiddeOnForfaitaire">
									<div class="input-group">
										{% if linkedArticle.typeAvancement == 2 %}
										<input class="calculLigne no-border form-control p-0 pr-1 text-right comma" type="text" value="{{(linkedArticle.montantUnite * ( linkedArticle.avancement / 100))|number_format(2, ',', ' ') }}" readonly>
										{% else %}
											<input class="calculLigne no-border form-control p-0 pr-1 text-right comma" type="text" value="{{ (linkedArticle.montantUnite * linkedArticle.avancement)|number_format(2, ',', ' ') }}" readonly>
										{% endif %}
										<div class="input-group-append no-border">
											<span class="input-group-text no-border">€</span>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				{% endif %}
			</table>
			<button type="button" class="delete-row btn btn-light border-danger">Supprimer les articles séléctionnés</button>
			<br>
			<hr>
			<div class="offset-9">
				<div class="row" id="ifForfaitaire" style="display: none">
					<dt class="col-6" id="targetForfaitaireLabel"><label for="targetFR">Avancement :</label></dt>
					<dd class="col-6" id="targetForfaitaire">
						<div class="input-group">
							<input id="targetFR" name="create_attachement[tauxForfaitaire]" type="text" class="form-control text-right" value="100" placeholder="0">
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</dd>
				</div>
				<dl class="row">
					<dt class="col-6"><label for="targetST">Sous-total :</label></dt>
					<dd class="col-6">
						<div class="input-group">
							<input id="targetST" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
							<div class="input-group-append">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</dd>
					<dt class="col-6">Remise accordée</dt>
					<dd class="col-6">
						<div class="input-group">
							<input id="targetTRM" type="text" name="create_attachemen[remise]" class="form-control text-right" value="{{ attachement.remise * 100}}" readonly>
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</dd>
					<dt class="col-6"><label for="targetRM">Total remise :</label></dt>
					<dd class="col-6">
						<div class="input-group">
							<input id="targetRM" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
							<div class="input-group-append">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</dd>
					<dt class="col-6"><label for="targetHT">Total HT :</label></dt>
					<dd class="col-6">
						<div class="input-group">
							<input id="targetHT" type="text" name="create_attachement[totalHT]" class="form-control text-right comma" placeholder="0,00" value="0" readonly>
							<div class="input-group-append">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</dd>
					<dt class="col-6 display-tva">Taux de TVA appliqué :</dt>
					<dd class="col-6 display-tva">
						<div class="input-group">
							<input id="targetTVA" type="text" name="create_attachemen[TVA]" class="form-control text-right" value="{{ attachement.TVA * 100 }}" readonly>
							<div class="input-group-append">
								<span class="input-group-text">%</span>
							</div>
						</div>
					</dd>
					<dt class="col-6 display-tva"><label for="targetTTC">Total TTC</label></dt>
					<dd class="col-6 display-tva">
						<div class="input-group">
							<input id="targetTTC" name="create_attachemen[totalTTC]" type="text" class="form-control text-right comma" placeholder="0,00" readonly>
							<div class="input-group-append">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</dd>
				</dl>
			</div>
				<button type="submit" id="submit" class="btn btn-primary">Enregistrer la situation</button>
            {{ form_end(form_attachement) }}          
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{#	<script src="{{ asset('js/periodsToComma.js') }}"></script>#}
	<script>
		var forfaitaire = false;
		function setAdresses() {
			// suppression de toutes les options avec une valeur (pour conserver l'option vide)
			$('#create_attachement_adresseFacturation').find('option').each(function () {
				if ($(this).val() !== '') {
					$(this).remove();
				}
			});
			$('#create_attachement_adresseLivraison').find('option').each(function () {
				if ($(this).val() !== '') {
					$(this).remove();
				}
			});
			var orgaId = $('#create_attachement_client').val(); // Récupération de l'id de l'organisme
			var url = '/organisme/adresse/' + orgaId // Set url avec l'id
			if (orgaId) { // Si il y a une id
				$.get(url, function (data) { // Récupération du formulaire
					for (var adresse of data) {
						var comp = ""; // Initialise une variable de type string
						if (adresse.adresseComplementaire1 != null) { // Si il y a une adresse complémentaire 1
							comp = ', ' + adresse.adresseComplementaire1; // On concaténe
						}
						if (adresse.adresseComplementaire2 != null) { // Idem ici
							comp += ', ' + adresse.adresseComplementaire2;
						}
						// Création de l'option avec les valeurs reçus
						var option = `<option value="${adresse.id}">${adresse.nom} : ${adresse.adresse}${comp}, ${adresse.stal} ${adresse.ville}</option>`;
						// Append les options reçus aux 2 selectpicker
						$('#create_attachement_adresseFacturation').append(option);
						$('#create_attachement_adresseLivraison').append(option);
					}
					{% if attachement.adresseLivraison %}
						var value = '{{ attachement.adresseLivraison.id }}';
						$('#create_attachement_adresseLivraison').find('option').each(function() {
							if ($(this).val() == value) {
								$(this).attr('selected', 'selected')
							}
						});
					{% endif %}
					{% if attachement.adresseFacturation %}
						var value = '{{ attachement.adresseFacturation.id }}';
						$('#create_attachement_adresseFacturation').find('option').each(function() {
							if ($(this).val() == value) {
								$(this).attr('selected', 'selected')
							}
						});
					{% endif %}
					$('.selectpicker').selectpicker('refresh'); // Rafraichissement des sélectpicker pour afficher les informations reçus
				})
			}
		}
		// on initialise la liste des articles à attacher
		// puis on scan le tableau des articles ajoutés afin de les inclure au tableau
		// tableau qui sera envoyé via Ajax au controller qui gère les attachements
		function initListeArticleAttachement() {
			var listeArticleAttachement = [];
			$('#articleTable').find('.toscan').each(function() {
				if ($(this).attr('data-avancement') == 0 ) {
					$(this).attr('data-avancement', "0,00")
				}
				listeArticleAttachement.push({"articleCommandeId": $(this).attr('data-articlecommandeid'), "typeAvancement": $(this).attr('data-typeavancement'), "avancement": $(this).attr('data-avancement'), "montantHtAv": $(this).attr('data-montanthtav')});
			});
			return listeArticleAttachement;
		}
		// Récupère les avancements précédents
		function getAvancementsQuantity() {
			var articlesAlreadyAttached = [];
			$('.toScanAvancement').each(function() {
				if (articlesAlreadyAttached[$(this).find('.checkAvancementAttache').data('articlecommandeid')]) {
					articlesAlreadyAttached[$(this).find('.checkAvancementAttache').data('articlecommandeid')]['quantity'] += $(this).find('.checkAvancementAttache').data('avancementattache');
				} else {
					articlesAlreadyAttached[$(this).find('.checkAvancementAttache').data('articlecommandeid')] = [];
					articlesAlreadyAttached[$(this).find('.checkAvancementAttache').data('articlecommandeid')]['quantity'] = $(this).find('.checkAvancementAttache').data('avancementattache');
				}
				articlesAlreadyAttached[$(this).find('.checkAvancementAttache').data('articlecommandeid')]['typeAvencement'] = $(this).find('.checkAvancementAttache').data('typeavancement');
			});
			return articlesAlreadyAttached; // Liste des article déja attaché
		}
		function setMaxAttachementQuantity() {
			var articlesAlreadyAttached = getAvancementsQuantity();
			// var listIds = getAvancementsQuantity();
			$('.toscan').each(function () {
				var typeAvancement = $(this).find('.typeAvancement').val();
				if (typeAvancement == 2) {
					if (typeof articlesAlreadyAttached[$(this).data('articlecommandeid')] !== "undefined") {
						$(this).find('.qtAv').attr('max', ( 100 - parseFloat(articlesAlreadyAttached[$(this).data('articlecommandeid')]['quantity'] ) ) )
						$(this).find('.qtAv').attr(( 100 - parseFloat(articlesAlreadyAttached[$(this).data('articlecommandeid')]['quantity'] ) ) )
						$(this).find('.qtAv').removeClass('comma');
						$(this).find('.qtAv').parent('div').find('.input-group-text').html('%');
					} else {
						$(this).find('.qtAv').attr('max', 100 );
						{% if isHere == 'yes' %}
						{% else %}
							$(this).find('.qtAv').val(100);
						{% endif %}
						$(this).find('.qtAv').removeClass('comma');
						$(this).find('.qtAv').parent('div').find('.input-group-text').html('%');
					}
				} else if (typeAvancement == 1){
					if (typeof articlesAlreadyAttached[$(this).data('articlecommandeid')] !== "undefined") {
						$(this).find('.qtAv').attr('max', parseFloat( parseFloat( $(this).find('.qtCMD').attr('value') ) - parseFloat( articlesAlreadyAttached[$(this).data('articlecommandeid')]['quantity'] ) ) )
						$(this).find('.qtAv').val(parseFloat( parseFloat( $(this).find('.qtCMD').attr('value') ) - parseFloat( articlesAlreadyAttached[$(this).data('articlecommandeid')]['quantity'] ) ) )
						$(this).find('.qtAv').parent('div').find('.input-group-text').html(`&#8474;`);
						$(this).find('.qtAv').addClass('comma');
						addCommaThis(this);
					} else {
						$(this).find('.qtAv').attr('max', parseFloat( parseFloat( $(this).find('.qtCMD').attr('value') )) )
						{% if isHere == 'yes' %}
						{% else %}
							$(this).find('.qtAv').val(parseFloat( parseFloat( $(this).find('.qtCMD').attr('value') )) )
						{% endif %}
						$(this).find('.qtAv').parent('div').find('.input-group-text').html(`&#8474;`);
						$(this).find('.qtAv').addClass('comma');
						addCommaThis(this);
					}
				}
			});
		}
		// fonction pour calculer le montant total HT de chaque ligne
		async function calculTotalLigne(ligne) {
			// setMaxAttachementQuantity()
			var row = $('#' + ligne);
			// initialise un array vide
			var elemTab = [];
			// Trouve toutes les élements nécessaire au calcul
			await row.find('.calculLigne').each(function() {
				elemTab.push($(this));
			});
			// Vérifie si la valeur de l'attachement n'est pas supérieur au maximum (double vérification)
			if (parseFloat(elemTab[3].val().replace(' ', '').replace(',', '.')) > parseFloat(elemTab[3].attr('max'))) {
				showAlertFlash('La quantité de l\'attachement est supèrieur à la quantité restante à facturer');
				elemTab[3].val(elemTab[3].attr('max'));
				return;
			}
			// vérifie si pourcentage ou quantité
			if (parseInt(elemTab[2].val().replace(' ', '')) == 1) {
				$(elemTab[4]).attr('value', (parseFloat(elemTab[0].attr('value').replace(' ', '').replace(',', '.')) * parseFloat(elemTab[3].val().replace(' ', '').replace(',', '.'))).toFixed(2));
			} else {
				$(elemTab[4]).attr('value', (parseFloat(elemTab[1].attr('value').replace(' ', '').replace(',', '.')) * (parseInt(elemTab[0].attr('value').replace(' ', '').replace(',', '.'))) * (parseFloat(elemTab[3].val()) / 100)).toFixed(2));
			}
			$(elemTab[4]).val($(elemTab[4]).attr('value'));
			row.attr('data-typeavancement', parseFloat(elemTab[2].val().replace(' ', '')));
			row.attr('data-avancement', elemTab[3].val().replace(' ', ''));
			await row.attr('data-montanthtav', parseFloat($(elemTab[4]).attr('value').replace(' ', '')).toFixed(2));
			initListeArticleAttachement();
		}
		function toggleForfaitaire() {
			var value = $('#create_attachement_forfaitaire').val();
			if (value == 1) {
				$('.hiddeOnForfaitaire').attr('hidden', true);
				forfaitaire = true
				$('#ifForfaitaire').fadeIn();
				$('#targetHT').attr('value', '{{ attachement.commande.totalHT }}')
				initListeArticleAttachement();
			}
		}
		// document.ready nous permet d'être sûr que notre Javascript ne s'éxécutera qu'à partir du moment où la vue sera complètement chargée
		$(document).ready(function() {
			toggleForfaitaire();
			setAdresses();
			$('.auto-grow').trigger('click');
			// Gestion de l'affichage des élément lors du visionnement de l'a situation
			if ('{{ display }}' == 'true') {
				$('input').attr('disabled', true).addClass('bg-light');
				$('textarea').attr('disabled', true).addClass('bg-light');
				$('select').attr('disabled', true).addClass('bg-light');
				$('button').remove();
			}
			//on initialise certaines variables qui nous seront utiles dans plusieurs fonctions
			var listeArticleAttachement = [];
			var notFirstAttachement = '{{ notFirstAttachement }}'; // Indique qu'il y a déjà des attachements
			var isHere = '{{ isHere }}';
			initListeArticleAttachement(); // Génére la liste des articles de l'attachement
			{% if linkedArticleAttachement is null %}
				printMontant();
			{% else %}
				$('#targetFR').val('{{ linkedArticleAttachement[0].avancement }}')
				printMontant(true)
			{% endif %}
			{% if remainingArticle[0] is defined and notFirstAttachement == true %}
				$('#targetFR').val('{{ remainingArticle[0].avancement }}')
				printMontant(true)
			{% endif %}
			// changeButton();
			var activeTVA = $('#create_attachement_activeTVA').val();
			if (activeTVA == 1) {
				$('.display-tva').show();
			} else {
				$('.display-tva').hide();
			}
			$('#create_attachement_activeTVA').change(function() {
				var value = $(this).val();
				if (value == 1) {
					$('.display-tva').show();
				} else {
					$('.display-tva').hide();
				}
			});
			{% if isHere == 'yes' %}
				setMaxAttachementQuantity();
			{% endif %}
			$('.typeAvancement').change(function() {
				setMaxAttachementQuantity();
			})
			if (!forfaitaire) {
				$('.toscan').change(function () {
					initListeArticleAttachement();
					printMontant();
				});
			}
			// au clic du bouton supprimer un article
			$(".delete-row").click(function(){
				// on vient scanner toutes les lignes du tableau afin de déterminer celles qui ont été cochées
				$("table tbody").find('input[name="record"]').each(function(){
					if($(this).is(":checked")){
						// les lignes cochées sont supprimées
						$(this).parents("tr").remove();
						// on réactualise les prix affichés en fonction de la liste d'articles mise à jour
						if (!forfaitaire) {
							printMontant();
						}
						initListeArticleAttachement();
					}
				});
			});

			// fonction qui va nous permettre d'afficher les prix HT et TTC sur notre page en fonction de valeurs saisies dans le formulaire du devis
			function printMontant(force=null) {
				var totalHT = 0;
				var avancement = parseInt($('#targetFR').val()) / 100;
				//même procédure, on scan les champs du formulaire pour récupérer les valeurs de remise et de tva...
				var remise = parseInt($("#targetTRM").val()) / 100;
				var tva = parseInt($("#targetTVA").val()) / 100;
				if (!forfaitaire) {
					// pour chaque entrée dans le tableau des articles ajoutés au devis on vient incrémenter la variable totalHT de cette valeur
					$("#articleTable").find(".toscan").each(function () {
						totalHT += parseFloat($(this).attr("data-montanthtav"));
					});
					// ...afin de les intégrer au calcul du total TTC
					var prixRemise = totalHT - (totalHT * remise);
					// on vient ensuite intégrer la valeur finale sur notre page
					$('#targetST').val(totalHT.toFixed(2));
					totalTTC = (prixRemise * (1 + tva)).toFixed(2);
					$('#targetRM').val((totalHT * remise).toFixed(2));
					$('#targetHT').val(prixRemise);
				} else {
					totalHT = parseFloat({{ attachement.commande.totalHT }});
					if (force) {
						totalHT *= avancement;
					}
					totalHT = totalHT.toFixed(2);
					$('#targetHT').val(totalHT)
					var remise = parseFloat({{ attachement.commande.remise }});
					var remiseMontant = (totalHT * remise).toFixed(2);
					$('#targetRM').val(remiseMontant);
					totalTTC = totalHT * (1 + tva);
					var subTotal = totalHT - remiseMontant;
					$('#targetST').val((subTotal).toFixed(2))
				}
				if (typeof totalTTC == 'string') {
					totalTTC = parseFloat(totalTTC)
				}
				// que l'on vient intégrer à la page
				$('#targetTTC').val(totalTTC.toFixed(2))
				addCommaAll();
				// $('.input-group-prepend').addClass('w-25');
			}

			$('#targetFR').change(function() {
				printMontant(true);
			})

			$('#formAttachement').on('keypress', function(e) {
				if(e.which === 13) {
					e.preventDefault();
					return false;
				}
			});
			$('#formAttachement').on('keypress', function(e) {
				if(e.which === 13) {
					e.preventDefault();
					return false;
				}
			});
			// au clic du submit, on lance la fonction qui va nous permettre d'envoyer les données de l'attachement au controller
			$('#formAttachement').submit(function(e) {
				e.preventDefault();
				$.preloader.start();
				listeArticleAttachement = initListeArticleAttachement();
				// on vérifie d'abord que l'attachement ne soit pas vide, pour éviter de créer une entité vide
				if(listeArticleAttachement.length == 0) {
					showAlertFlash('Attention, vous ne pouvez pas créer un attachement vide, veuillez sélectionner des articles à ajouter');
					$.preloader.stop();
					return;
				} else {
					var etat = $("#create_attachement_etat").val();
					// on récupère certaines variables contenues dans Twig
					var affaire = '{{ affaireId }}';
					var commande = '{{ commandeId }}';
					var attachement = '{{ attachementId }}';
					// afin notamment de construire les URL sur lesquelles on va effectuer la requete
					if(commande && attachement) {
						href = '/affaire/affaireId/commande/commandeId/attachement/gestion/attachementId';
						href = href.replace('affaireId', affaire);
						href = href.replace('commandeId', commande);
                        href = href.replace('attachementId', attachement);
					} else {
						// on créé une variable href qui va sera l'adresse à laquelle on envoie la requete AJAX
						var href = '/affaire/affaireId/commande/commandeId/attachement/gestion';
						href = href.replace('affaireId', affaire);
                        href = href.replace('commandeId', commande);
					}

					// on récupère toutes les valeurs des input du formulaire et on les serialize en tant que tableau
					var form = $(this).serializeArray();
					// on créé une requete ajax
					$.ajax({
						// de type post
						type: 'POST',
						// envoyée sur l'adresse que nous créée dans notre variable
						url: href,
						processData: true,
						// la data à envoyer est notre tableau serializé
						data: {attachement: form, articles: listeArticleAttachement},
						// si la requete est réussie,  on redirige l'utilisateur sur la page de detail de l'affaire
						success: function (data) {
							if (data.status === 'success') {
								successToLocalStorage(data.message);
								url = '/affaire/affaireId#situation';
								url = url.replace('affaireId', affaire);
								$.preloader.stop();
								location.href = url;
							} else {
								showAlertFlash(data.message);
								$.preloader.stop();
							}
						},
						error: function(xhr, textStatus, thrownError) {
							showWarningFlash('Quelque chose c\'est mal passé, merci de réessayer...');
						}
					});
				}
			});
		});
	</script>
{% endblock %}