{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block verticalNav %}
	{% if affaire is not null %}
		{{ include('GestionBundle:Default:veticaleAffaireNav.html.twig') }}
	{% endif %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
		<div class="jumbotron">
			<h1 class="display-6">Création d'une commande prestataire</h1>
			<hr class="my-4">
			<div class="row my-auto">
				<div class="col-3 my-auto">
					<div class="col-12">
						{% if commandePrestataire.user is null %}
							<p><i class="fas fa-user-circle offset-1"></i>&nbsp;{{ user.prenom|capitalize ~ ' ' ~ user.nom|upper }}</p>
							<p><i class="fas fa-phone-square offset-1"></i>&nbsp;{{ user.telephone }}</p>
							<p><i class="fas fa-mobile-alt offset-1"></i>&nbsp;{{ user.mobile }}</p>
							<p><i class="fas fa-at offset-1"></i>&nbsp;{{ user.email }}</p>
							<p><i class="fas fa-calendar-alt offset-1"></i>&nbsp;{{"now"|date('d/m/Y')}}</p>
						{% else %}
							<p><i class="fas fa-user-circle offset-1"></i>&nbsp;{{ commandePrestataire.user.prenom|capitalize ~ ' ' ~ user.nom|upper }}</p>
							<p><i class="fas fa-phone-square offset-1"></i>&nbsp;{{ commandePrestataire.user.telephone }}</p>
							<p><i class="fas fa-mobile-alt offset-1"></i>&nbsp;{{ commandePrestataire.user.mobile }}</p>
							<p><i class="fas fa-at offset-1"></i>&nbsp;{{ commandePrestataire.user.email }}</p>
							<br>
							<p><strong>{{ 'émis le : '|capitalize }}</strong>{{commandePrestataire.dateCommandePresta|date('d/m/Y')}}</p>
						{% endif %}
					</div>
				</div>
				<div class="col-6 offset-3 my-auto">
					{{ form_start(form, {'attr':{'id': 'formCMD'}}) }}
						{{ form_errors(form) }}
					<dl class="row my-auto">
						{% if commandePrestataire.affaire or show is defined %}
							<dt class="col-2 offset-2 my-auto">
								{{ form_label(form.affaire) }}
							</dt>
							<dd class="col-8">
								{{ form_widget(form.affaire, {'attr':{'class': 'no-border selectpicker affaire'}}) }}
							</dd>
						{% else %}
							<dt class="col-2 offset-2 my-auto" hidden>
								{{ form_label(form.affaire) }}
							</dt>
							<dd class="col-8" hidden>
								{{ form_widget(form.affaire, {'attr':{'class': 'no-border selectpicker affaire'}}) }}
							</dd>
						{% endif %}
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form.mentions) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form.mentions, {'attr':{'class': 'auto-grow no-border'}}) }}
						</dd>
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form.numeroCommandePresta) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form.numeroCommandePresta)}}
						</dd>
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form.prestataire) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form.prestataire, {'attr':{'class': 'no-border selectpicker fournisseur'}}) }}
						</dd>
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form.contact) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form.contact, {'attr':{'class': 'no-border selectpicker contact'}}) }}
						</dd>
						<dd class="col-8 offset-4">
							<a id="openContactDialog" href="#createContact" onclick="$('#createContact').modal({'backdrop': 'static'});">
								Vous n'avez pas trouvé votre contact ? Ajoutez-le !
							</a>
						</dd>
{#						<dt class="col-2 offset-2 my-auto">#}
{#							{{ form_label(form.adresseLivraison) }}#}
{#						</dt>#}
{#						<dd class="col-8">#}
{#							{{ form_widget(form.adresseLivraison, {'attr':{'class': 'no-border selectpicker adresseLivraison'}}) }}#}
{#						</dd>#}
						<dt class="col-2 offset-2 my-auto">
							{{ form_label(form.adresseFacturation) }}
						</dt>
						<dd class="col-8">
							{{ form_widget(form.adresseFacturation) }}
						</dd>
					</dl>
				</div>
			</div>
			<div class="card-body">
				<table class="table table-hover" style="text-align: center" id="productTable">
					<thead>
						<tr class="row bg-primary text-white">
							<th scope="col" class="col-2 my-auto">Désignation</th>
							<th scope="col" class="col-5 my-auto">Description</th>
							<th scope="col" class="col-2 my-auto">Prix unitaire</th>
							<th scope="col" class="col-1 my-auto">Quantité</th>
							<th scope="col" class="col-2 my-auto">Total HT</th>
						</tr>
					</thead>
					<tbody id="listProduitCommande">
						{% for product in commandePrestataire.serviceCommandePrestataire %}
							<tr id="ligne{{ loop.index }}" class="toscan row" data-description="{{ product.description }}" data-productid="{{ product.servicePrestataire.id }}" data-id="{{ product.id }}" onchange="calculTotalLigne('{{ 'ligne' ~ loop.index }}')" data-montantunit="{{ product.montantunit }}" data-quantite="{{ product.quantite }}" data-montantht="{{ product.totalht }}" data-designation="{{ product.designation }}">
								<td class="col-2 my-auto no-border text-left pl-5"><span style="position: absolute; left: 1em"><input type="checkbox" name="record" class="custom-checkbox"></span>{{ product.designation }}</td>
								<td class="col-5 my-auto no-border">
									<textarea  class="form-control auto-grow pt-0 pb-0 no-border w-100" rows="3" oninput="insertDescription('{{ 'ligne' ~ loop.index }}')" style="border: none; min-height: 0" rows="2">{{ product.description }}</textarea>
								</td>
								<td class="col-2 my-auto no-border">
									<div class="input-group">
										<input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00" value="{{ product.montantunit }}">
										<div class="input-group-append w-25">
											<span class="input-group-text">€</span>
										</div>
									</div>
								</td>
								<td class="col-1 my-auto no-border">
									<div class="input-group">
										<input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00" value="{{ product.quantite }}">
										<div class="input-group-append w-25">
											<span class="input-group-text">&#8474;</span>
										</div>
									</div>
								</td>
								<td class="col-2 my-auto no-border">
									<div class="input-group">
										<input class="calculLigne form-control p-0 pr-1 text-right comma bg-light ml-3" type="text" placeholder="0,00" readonly value="{{ product.totalht }}">
										<div class="input-group-append w-25">
											<span class="input-group-text">€</span>
										</div>
									</div>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<button type="button" class="delete-row btn btn-light border-danger notToView"><i class="fas fa-trash-alt text-danger"></i>&nbsp;Supprimer les services séléctionnés</button>
			<hr>
			<fieldset id="fieldToFreeze">
				<button type="button" id="createProductShort" class="btn btn-light border-success"><i class="fas fa-plus-circle text-success"></i>&nbsp;Créer un Service</button>
				<button id="showProductFournisseurList" type="button" class="btn btn-light border-primary notToView" data-toggle="modal" data-target=".bd-modal-xl"><i class="fas fa-eye text-primary"></i>&nbsp;Choisir un service</button>
			</fieldset>
		</div>
		<br>
		<div class="row">
			<div class="col-6 offset-1" style="max-height: 240px !important; overflow-scrolling: auto">
				<strong>{{ form_label(form.detailCommandePresta) }}</strong>
				{{ form_widget(form.detailCommandePresta, {'attr' : { 'class' : 'shadow h-50'}}) }}
			</div>
			<div class="col-3 offset-2">
				<dl class="row">
					<dt class="col-6 my-auto">{{ form_label(form.totalHT) }}</dt>
					<dd class="col-6">
						<div class="input-group">
							{{ form_widget(form.totalHT, {'attr' : {'class': 'text-right comma', 'readonly': 'readonly' }}) }}
							<div class="input-group-append w-25">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</dd>
					<dt class="col-6 display-tva my-auto">{{ form_label(form.TVA) }}</dt>
					<dd class="col-6 display-tva">{{ form_widget(form.TVA, {'attr' : {'class': 'text-right' }}) }}</dd>
					<dt class="col-6 display-tva my-auto">{{ form_label(form.montantTotalTTC) }}</dt>
					<dd class="col-6 display-tva">
						<div class="input-group">
							{{ form_widget(form.montantTotalTTC, {'attr' : {'class': 'text-right bg-light comma', 'readonly': 'readonly' }}) }}
							<div class="input-group-append w-25">
								<span class="input-group-text">€</span>
							</div>
						</div>
					</dd>
				</dl>
			</div>
		</div>
		<hr>
		<div id="endCMD">
			{{ form_widget(form.Enregistrer) }}
		</div>
		<input type="text" id="gestionbundle_commandeprestataire_listProducts" name="gestionbundle_commandeprestataire[listProducts]" class="form-control" hidden>
		{{ form_end(form) }}
	</div>
	{#  Modal ajout contact  #}
	<div class="modal fade contact" id="createContactDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabelContact" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
			<div class="modal-content">
				<div class="modal-header bg-primary text-white">
					<h4 class="modal-title" id="myModalLabelContact"></h4>
				</div>
				<div class="modal-body" id="modal-body-contact">
				</div>
				<div class="modal-footer bg-primary">
					<button type="button" class="btn btn-default text-white font-weight-bold" onclick="$('.contact').modal('hide')"><i class="fas fa-times-circle text-white"></i>&nbsp;Annuler</button>
					<button type="button" class="btn btn-light" id="sendOjectContact">Ajouter</button>
				</div>
			</div>
		</div>
	</div>
	{#  Modal ajout d'article #}
	<div class="modal fade produit" id="createDialog" tabindex="-1" role="dialog" aria-labelledby="produitLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header bg-primary text-white">
					<h4 class="modal-title" id="produitLabel"></h4>
				</div>
				<div class="modal-body" id="modal-body-product">
				</div>
				<div class="modal-footer bg-primary">
					<button type="button" class="btn btn-default text-white font-weight-bold" onclick="$('.produit').modal('hide')"><i class="fas fa-times-circle text-white"></i>&nbsp;Annuler</button>
					<button type="button" class="btn btn-light" id="sendOjectProduct">Ajouter</button>
				</div>
			</div>
		</div>
	</div>
	{#     Large modal de la liste des produits    #}
	<!-- Large modal -->
	<div class="modal fade bd-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
			<div class="modal-content">
				<div class="modal-header bg-primary">
					<h4 class="modal-title text-white font-weight-bolder">Liste des services du prestataire</h4>
					<dl class="row p-0 float-right w-75">
						<dt class="col-2 text-white">
							<label for="searchArticle" class="float-right">Recherche : </label>
						</dt>
						<dd class="col-10 my-auto">
							<div class="input-group float-left">
								<input class="form-control w-75" type="text" id="searchArticle" placeholder="Rechercher" >
								<div class="input-group-append no-border">
									<span class="input-group-text no-border reset-search" style="cursor: pointer"><i class="fas fa-times text-info"></i></span>
								</div>
							</div>
						</dd>
					</dl>
				</div>
				<div class="modal-body">
					<div id="product-list" class="card no-border" style="box-sizing:border-box">
					</div>
				</div>
				<div class="modal-footer bg-primary">
					<button type="button" class="btn btn-default text-white font-weight-bolder reset-search" data-dismiss="modal"><i class="fas fa-times-circle text-white"></i>&nbsp;Fermer</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
{#	<script src="{{ asset('js/periodsToComma.js') }}"></script>#}
    <script>
		var listeService = [];
		var flagNoPrice = false;
		function commandeToLocalStorage() {
			getCommande().then( commande => {
				localStorage.removeItem($('#gestionbundle_commandeprestataire_numeroCommandePresta').val());
				localStorage.setItem($('#gestionbundle_commandeprestataire_numeroCommandePresta').val(), JSON.stringify(commande));
				getAllDevisFromLocalStorage();
			});
		}
		function getCommande() {
			return new Promise( resolve => {
				var commande = $('#formCMD').serializeArray();
				commande[commande.length] = listeService;
				resolve(commande)
			})
		}
		function getCommandeLocalStorage(numCommande) {
			var commande = JSON.parse(localStorage.getItem(numCommande));
			flagStorage = true;
			var products = commande[commande.length - 1];
			commande.pop();
			commande.pop();
			for (var input of commande) {
				var temp;
				if (input.name.includes('prestataire')) {
					temp = $(document).find(`[name='${input.name}']`);
					temp.find('option').each(function () {
						if (this.value == input.value) {
							$(this).attr('selected', true);
						}
					})
				} else if (input.name.includes('contact')) {
					displayContacts(input)
							.then((result) => {
								temp = $(document).find(`[name='${result.input.name}']`);
								temp.find('option').each(function () {
									if (this.value == result.input.value) {
										$(this).attr('selected', true);
										$('.selectpicker').selectpicker('refresh');
									}
								})
							})
				} else {
					$(document).find(`[name='${input.name}']`).val(input.value)
				}
			}
			$('.selectpicker').selectpicker('refresh');
			if (isIterable(products)) {
				for (var product of products) {
					addRow(product);
				}
			}
		}
		// Fonction pour insérer la description dans les data
		function insertDescription(ligne) {
			var row = $('#' + ligne);
			var description = row.find('.auto-grow').val();
			row.attr('data-description', description);
		}
		// Fonction pour remplir le select avec les bon contact
		function displayContacts(input=null) {
			return new Promise( resolve => {
				var url;
				var orgaId = $('#gestionbundle_commandeprestataire_prestataire').val(); // Récupère l'id de l'organisme
				$('#gestionbundle_commandeprestataire_contact').find('.filter-option-inner-inner').html(''); // Reset le contenu d'affichage de la selection
				$('#gestionbundle_commandeprestataire_contact').children('option').remove();
				$('#gestionbundle_commandeprestataire_contact').selectpicker('refresh'); // Mise à jour du select pour afficher les modifications
				if (orgaId) {
					url = '/contact/get/' + orgaId; // Set l'url avec l'id
					$.get(url, function (contactList) { // Récupère la liste des contacts
						$('#gestionbundle_commandeprestataire_contact').selectpicker('refresh');
						if (contactList.contacts) {
							var iter = isIterable(contactList.contacts);
							// Append la liste au select
							if (iter === true) {
								for (var [i, contact] of contactList.contacts.entries()) {
									if (i === 0) { // A la première boucle on selectionne le contact
										$('#gestionbundle_commandeprestataire_contact').append(`<option selected value="${contact.id}">${contact.prenom.charAt(0).toUpperCase() + contact.prenom.substring(1).toLowerCase()} ${contact.nom.toUpperCase()}</option>`)
									} else { // Pour les autre boucles on affaiche simplement dans le select
										$('#gestionbundle_commandeprestataire_contact').append(`<option value="${contact.id}">${contact.prenom.charAt(0).toUpperCase() + contact.prenom.substring(1).toLowerCase()} ${contact.nom.toUpperCase()}</option>`)
									}
								}
							} else {
								for (var contact in contactList.contacts) {
									if (i === 0) { // A la première boucle on selectionne le contact
										$('#gestionbundle_commandeprestataire_contact').append(`<option selected value="${contactList.contacts[contact].id}">${contactList.contacts[contact].prenom.charAt(0).toUpperCase() + contactList.contacts[contact].prenom.substring(1).toLowerCase()} ${contactList.contacts[contact].nom.toUpperCase()}</option>`)
									} else { // Pour les autre boucles on affaiche simplement dans le select
										$('#gestionbundle_commandeprestataire_contact').append(`<option value="${contactList.contacts[contact].id}">${contactList.contacts[contact].prenom.charAt(0).toUpperCase() + contactList.contacts[contact].prenom.substring(1).toLowerCase()} ${contactList.contacts[contact].nom.toUpperCase()}</option>`)
									}
								}
							}
						}
						$('#gestionbundle_commandeprestataire_contact').selectpicker('refresh'); // Mise à jour du select pour afficher les modifications
						if(input) {
							resolve({list: contactList, input: input})
						} else {
							resolve(contactList);
						}
					});
				}
			})
		}
		// Création d'un tr de class toscan append dans le tbody listProduitCommande
		function addRow(data) {
			//on hydrate nos variables avec les valeurs contenues dans le JSON
			var id = data.id;
			var nom = unescape(data.designation);
			var description = unescape(data.description);
			var tabTemp = [];
			$("#productTable").find(".toscan").each(function() {
				tabTemp.push(parseInt($(this).data('montantht')))
			});
			var ligne = 'ligne' + (tabTemp.length + 1);
			if (data.montantUnit) {
				data.montantunit = data.montantUnit;
			}
			//on créé la nouvelle ligne à insérer dans le tableau
			var markup;
			if (data.montantunit) {
				markup = '<tr id="' + ligne + '" class="toscan row" data-description="' + description + '" data-productid="' + id + '" onchange="calculTotalLigne(\'ligne' + (tabTemp.length + 1) + '\')" data-overridemontantunit="' + data.montantunit + '" data-quantite="' + data.quantite + '" data-montantht="" data-designation="' + nom + '">' +
							'<td class="col-2 my-auto no-border text-left pl-5"><span style="position: absolute; left: 1em"><input type="checkbox" name="record" class="custom-checkbox"></span>' + nom + '</td>' +
							'<td class="col-5 my-auto no-border">' +
								'<textarea  class="form-control auto-grow pt-0 pb-0 no-border w-100" rows="3" oninput="insertDescription(\'' + ligne + '\')" style="border: none; min-height: 0" rows="2">' + description + '</textarea>' +
							'</td>' +
							'<td class="col-2 my-auto no-border">' +
								'<div class="input-group">' +
									'<input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00" value="' + data.montantunit + '">' +
									'<div class="input-group-append w-25">' +
										'<span class="input-group-text">€</span>' +
									'</div>' +
								'</div>' +
							'</td>' +
							'<td class="col-1 my-auto no-border">' +
								'<div class="input-group">' +
									'<input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00" value="' + data.quantite + '">' +
									'<div class="input-group-append w-25">' +
										'<span class="input-group-text">&#8474;</span>' +
									'</div>' +
								'</div>' +
							'</td>' +
							'<td class="col-2 my-auto no-border">' +
								'<div class="input-group">' +
									'<input class="calculLigne form-control p-0 pr-1 text-right comma bg-light ml-3" type="text" placeholder="' + data.totalHT + '" readonly>' +
									'<div class="input-group-append w-25">' +
										'<span class="input-group-text">€</span>' +
									'</div>' +
								'</div>' +
							'</td>' +
						'</tr>';
			} else {
				markup = '<tr id="' + ligne + '" class="toscan row" data-description="' + description + '" data-productid="' + id + '" onchange="calculTotalLigne(\'ligne' + (tabTemp.length + 1) + '\')" data-montantunit="0" data-quantite="0" data-montantht="0" data-designation="' + nom + '">' +
							'<td class="col-2 my-auto no-border text-left pl-5"><span style="position: absolute; left: 1em"><input type="checkbox" name="record" class="custom-checkbox"></span>' + nom + '</td>' +
							'<td class="col-5 my-auto no-border">' +
								'<textarea  class="form-control auto-grow pt-0 pb-0 no-border w-100" rows="3" oninput="insertDescription(\'' + ligne + '\')" style="border: none; min-height: 0" rows="2">' + description + '</textarea>' +
							'</td>' +
							'<td class="col-2 my-auto no-border">' +
								'<div class="input-group">' +
									'<input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00">' +
									'<div class="input-group-append w-25">' +
										'<span class="input-group-text">€</span>' +
									'</div>' +
								'</div>' +
							'</td>' +
							'<td class="col-1 my-auto no-border">' +
								'<div class="input-group">' +
									'<input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00">' +
									'<div class="input-group-append w-25">' +
										'<span class="input-group-text">&#8474;</span>' +
									'</div>' +
								'</div>' +
							'</td>' +
							'<td class="col-2 my-auto no-border">' +
								'<div class="input-group">' +
									'<input class="calculLigne form-control p-0 pr-1 text-right comma bg-light ml-3" type="text" placeholder="0,00" readonly>' +
									'<div class="input-group-append w-25">' +
										'<span class="input-group-text">€</span>' +
									'</div>' +
								'</div>' +
							'</td>' +
						'</tr>';
			}
			$('#listProduitCommande').append(markup).promise().done(function() {
				$('.toscan').trigger('change');
				$('.auto-grow').trigger('click');
			});
			initListService();
			printMontant();
		}
		// Récupération de la liste des services d'un prestataire
		function getServicePrestataireList(id) {
			var url = '/gestion/liste/service/prestataire/organisme/' + id;
			$.ajax({
				url: url,
				processData: true,
				method: 'GET',
				success: function (response) {
					if (response.status === 'products') {
						showSuccessFlash(response.message)
						addProductToModal(response.data)
					} else if (response.status === 'noproducts') {
						showSuccessFlash(response.message)
					} else {
						showAlertFlash(response.message)
					}
				}
			})
		}
		// Fonction pour calculer le montant total d'un article
		async function calculTotalLigne(ligne) {
			var quantity;
			var row = $('#' + ligne);
			var listeInput = [];
			await row.find('.calculLigne').each(function() {
				listeInput.push($(this));
			});
			listeInput[0] = listeInput[0].val().replace(' ', '').split(',').join('.');
			listeInput[1] = listeInput[1].val().replace(' ', '').split(',').join('.');
			var tot = (parseFloat(listeInput[0]) * parseFloat(listeInput[1])).toFixed(2);
			if (isNaN(tot)) {
				tot = 0;
			}
			if (!listeInput[1]) {
				quantity = "0"
			} else {
				quantity = listeInput[1]
			}
			$(listeInput[2]).val(tot);
			row.attr('data-montantunit', parseFloat(listeInput[0].replace(' ', '')));
			row.attr('data-quantite', parseFloat(quantity.replace(' ', '')));
			row.attr('data-montantht', parseFloat(listeInput[2].val().replace(' ', '')));
			initListService();
			printMontant();
		}
		//fonction qui permet de pusher dans un tableau
		function initListService() {
			flagNoPrice = false;
			listeService = [];
			listeNoPrice = [];
			var listeElem = [];
			$('#productTable').find('.toscan').each(function() {
				listeElem.push($(this));
				if ($(this).length == 1 && $(this).length != 0) {
					if ($(this).attr('data-montantunit') == 0 || $(this).attr('data-quantite') == 0) {
						flagNoPrice = true;
						listeNoPrice.push($(this));
					}
					for (elem in listeElem) {
						listeElem[elem].removeClass('warning')
					}
					for (elem in listeNoPrice) {
						listeNoPrice[elem].addClass('warning');
					}
					listeService.push({
						"description": $(this).attr('data-description'),
						"montantUnit": $(this).attr('data-montantunit'),
						"quantite": $(this).attr('data-quantite'),
						"totalHT": $(this).attr('data-montantht'),
						"designation": $(this).attr('data-designation'),
						"id": $(this).attr('data-productid')
					})
				} else if ($(this).length > 1) {
					$(this).find('tr').each(function() {
						$(this).find('.calculLigne').each(function() {
							if ($(this).val() == 0) {
								flagNoPrice = true
							}
						})
					})
				}
				$('#gestionbundle_commandeprestataire_listProducts').val(JSON.stringify(listeService));
			});
			addCommaAll();
			printMontant()
		}
		// fonction qui va nous permettre d'afficher les prix HT et TTC sur notre page en fonction de valeurs saisies dans le formulaire du devis
		function printMontant() {
			totalHT = 0;
			// pour chaque entrée dans le tableau des articles ajoutés au devis on vient incrémenter la variable totalHT de cette valeur
			$("#productTable").find(".toscan").each(function(){
				totalHT += parseFloat($(this).attr("data-montantht").replace(' ', ''));
			});
			//même procédure, on scan les champs du formulaire pour récupérer les valeurs de remise et de tva...
			var tva = ($("#gestionbundle_commandeprestataire_TVA").val())/100;
			// on vient ensuite intégrer la valeur finale sur notre page
			totalTTC = totalHT + (totalHT * tva);
			$('#gestionbundle_commandeprestataire_totalHT').val(totalHT.toFixed(2));
			// que l'on vient intégrer à la page
			$('#gestionbundle_commandeprestataire_montantTotalTTC').val(totalTTC.toFixed(2));
			addCommaAll();
		}
		// Fonction pour ajouter l'article créé à la modale de choix d'article
		function addProductToModal(data, add=null) {
			$('#createDialog').modal('hide');
			$('#no-article').remove();
			if (!add) {
				if (data.montantUnit == null) {
					data.montantUnit = 0;
				}
				var divAndCard = `<div class="card no-border search">
							<div class="card-body no-border">
								<div class="card-body">
									<div class="card-header row bg-secondary text-white border text-center font-weight-bold" style="height: 3em">
										<div class="col-3 align-self-center text-center my-auto">
											Désignation
										</div>
										<div class="col-6 align-self-center text-center my-auto">
											Description
										</div>
										<div class="col-2 align-self-center text-center my-auto">
											Montant Unitaire
										</div>
										<div class="col-1 align-self-center text-center my-auto">
											Action
										</div>
									</div>
									<div id="card-body-list" class="card-body border col-12 search border-bottom">`;
				for (var product of data) {
					product.montantUnit == null ? product.montantUnit = 0:false;
					divAndCard += `<div class="row search"> <div class="col-3 align-self-center my-auto text-left">
									${product.designation}
								</div>
								<div class="col-6 align-self-center my-auto text-left">
									${product.description}
								</div>
								<div class="col-2 align-self-center my-auto text-right">
									<div class="input-group">
										<input class="calculLigne form-control p-0 pr-1 text-right comma bg-light no-border" type="text" value="${product.montantUnit}" placeholder="0,00" readonly>
										<div class="input-group-append w-25 no-border">
											<span class="input-group-text no-border">€</span>
										</div>
									</div>
								</div>
								<div class="col-1 align-self-center my-auto">
									<button id="addRow${product.id}" class="btn btn-default addRow reset-search" data-id="${product.id}"
										data-designation="${product.designation}"
										data-description="${product.description}"
										data-montantUnit="${product.montantUnit}">
										<i class="fas fa-arrow-circle-right fa-2x text-info"></i>
									</button>
								</div></div>`;
				}
				divAndCard += `</div></div></div></div>`;
				$('#product-list').append(divAndCard);
			} else {
				var newElements = `<div class="row search"> <div class="col-3 align-self-center my-auto text-left">
											${data.designation}
										</div>
										<div class="col-6 align-self-center my-auto text-left">
											${data.description}
										</div>
										<div class="col-2 align-self-center my-auto text-right">
											<div class="input-group">
												<input class="calculLigne form-control p-0 pr-1 text-right comma bg-light no-border" type="text" value="${data.montantUnit}" placeholder="0,00" readonly>
												<div class="input-group-append w-25 no-border">
													<span class="input-group-text no-border">€</span>
												</div>
											</div>
										</div>
										<div class="col-1 align-self-center my-auto">
											<button id="addRow${data.id}" class="btn btn-default addRow reset-search" data-id="${data.id}"
												data-designation="${data.designation}"
												data-description="${data.description}"
												data-montantUnit="${data.montantUnit}">
												<i class="fas fa-arrow-circle-right fa-2x text-info"></i>
											</button>
										</div></div>`;
				$('#card-body-list').append(newElements);
			}
			addCommaAll();
		}

		function toggleButtonShowList() {
			var orgaId = $('#gestionbundle_commandeprestataire_prestataire').val();
			if (orgaId) {
				$('#showProductFournisseurList').attr('disabled', false)
			} else {
				$('#showProductFournisseurList').attr('disabled', true)
			}
		}
        $(document).ready(function() {
        	initListService();
			// Recherche dans le tabeau listant les articles
			$("#searchArticle").on("keyup", function() {
				var value = $(this).val().toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "");
				$(".search").filter(function() {
					console.log($(this));
					$(this).toggle($(this).text().toLowerCase().normalize("NFD").replace(/[\u0300-\u036f]/g, "").indexOf(value) > -1);
				});
			});
			$(document).on('click', '.reset-search', function() {
				$('#searchArticle').val('').trigger('keyup');
			});
        	var numCommande = '{{ numCommande }}';
        	if (numCommande != 'no') {
        		getCommandeLocalStorage(numCommande);
			}
			$(document).change(function() {
				commandeToLocalStorage();
			})
			// Mise en page du textarea
			$(document).on('input', '.auto-grow', function() {
				this.style.height = "5px";
				this.style.height = (this.scrollHeight)+"px";
			});
			$(document).on('click', '.auto-grow', function() {
				this.style.height = "5px";
				this.style.height = (this.scrollHeight)+"px";
			});
			toggleButtonShowList();
			$('.selectpicker.contact').selectpicker({
				noneSelectedText: 'Aucun contact',
				noneResultsText: 'Aucun contact trouvé'
			});
			// Pour affaire
			$('.selectpicker.affaire').selectpicker({
				noneSelectedText: 'Aucune affaire',
				noneResultsText: 'Aucune affaire trouvé'
			});
            checkFormValidity($('#formCMD'));
			displayContacts();
			$('#gestionbundle_commandeprestataire_prestataire').change(function() {
				displayContacts();
				if ($(this).val()) {
					getServicePrestataireList($(this).val());
					toggleButtonShowList();
				} else {
					$('#product-list').children().remove()
					toggleButtonShowList();
				}
			});
			{% if view == 'yes' %}
				$('input').each(function() {
					$(this).attr('readonly', true).addClass('bg-light');
				})
				$('textarea').attr('readonly', true).addClass('bg-light');
				$('.selectpicker').attr('readonly', true).addClass('bg-light');
				$('.jumbotron').find('button').attr('disabled', true);
				$('#showProductFournisseurList').attr('disabled', true);
				$('#gestionbundle_commandeprestataire_Enregistrer').remove();
				$('.custom-checkbox').remove();
			{% endif %}
            // sur le clic du lien pour ajouter un contact
			$(document).on('click', '#openContactDialog', function(){
				// Initialise les variables nécessaires
				var url;
				var orgaId = $('#gestionbundle_commandeprestataire_prestataire').val();
				// on vient charger la modale
				$('#createContactDialog').modal();
				// on définit le titre de la fenetre
				$('#myModalLabelContact').html("Nouveau contact");
				url = '/contact/creer/organisme/' + orgaId;
				// on requete en AJAX afin de récupérer l'html envoyé par le controleur à l'url passée en attribut du lein cliqué
				$.get(url, function(data){
					// on charge le formulaire dans le body de la modale
					$('#modal-body-contact').html(data);
					// puis on ouvre la modale
					$('#createContactDialog').modal('show');
					checkFormValidity(this);
					changeLabels();
				});
			});
			// Pour les contacts
			$('#sendOjectContact').click(function() {
				$.preloader.start();
				var url;
				var orgaId = $('#gestionbundle_commandeprestataire_prestataire').val();
				url = '/contact/creer/organisme/' + orgaId;
				// on récupère toutes les valeurs saisies dans le form de la modale
				var formContact = $('#formContact').serialize();
				//on créé notre requete ajax de type post vers le controller des organismes
				$.ajax({
					type: 'POST',
					url: url,
					processData: true,
					data: formContact,
					success: function (response) {
						if (response.status === 'success') {
							$('#createContactDialog').modal('hide');
							$('#gestionbundle_commandeprestataire_contact').append(`<option value="${response.data.id}" selected>${response.data.prenom} ${response.data.nom}</option>`);
							$(".selectpicker").selectpicker('refresh');
							showSuccessFlash(response.message);
						} else {
							showAlertFlash(exceptionHandler(response.message, 'contact'));
						}
						$.preloader.stop();
					},
					error: function (xhr, textStatus, thrownError) {
						$.preloader.stop();
						showAlertFlash('Une erreur c\'est produite, merci de réessayer...');
					}
				});
			});
			// au clic du bouton supprimer un article
			$(".delete-row").click(function(){
				// on vient scanner toutes les lignes du tableau afin de déterminer celles qui ont été cochées
				$("table tbody").find('input[name="record"]').each(function(){
					if($(this).is(":checked")){
						// les lignes cochées sont supprimées
						$(this).parents("tr").remove();
						// on réactualise les prix affichés en fonction de la liste d'articles mise à jour
						printMontant();
						initListService();
					}
				});
			});
			// Ouverture de la modale de création d'un articleFournisseur
			$(document).on( 'click', '#createProductShort', function(){
				var orgaId = $('#gestionbundle_commandeprestataire_prestataire').val();
				if (orgaId == 0) {
					showAlertFlash('Merci de sélectionner un prestataire avant d\'ajouter un service');
					return;
				} else {
					$('#modal-body-product').children().remove();
					// on vient charger la modale
					$('#createDialog').modal();
					// on définit le titre de la fenetre
					$('#produitLabel').html("Nouveau Service");
					var url = '/gestion/creer/service/prestataire/organisme/' + orgaId;
					// on requete en AJAX afin de récupérer l'html envoyé par le controleur à l'url passée en attribut du lein cliqué
					$.get(url, function (data) {
						// on charge le formulaire dans le body de la modale
						$('#modal-body-product').append(data);
						// puis on ouvre la modale
						$('#createDialog').modal('show');
						checkFormValidity(this);
						changeLabels();
					});
				}
			});
			$('#sendOjectProduct').click(function() {
				var url = '/gestion/creer/service/prestataire/organisme/' + $('#gestionbundle_commandeprestataire_prestataire').val();
				var formData = $('#formServicePrestataire').serializeArray();
				$.ajax({
					method: 'POST',
					processData: true,
					data: formData,
					url: url,
					success: function (response) {
						if (response.status === 'success') {
							showSuccessFlash(response.message)
							$('#produitLabel').html('');
							$('#modal-body-product').children().remove();
							$('.modal').modal('hide')
							addProductToModal(response.data, true);
							addRow(response.data);
						} else {
							showAlertFlash(exceptionHandler(response.message))
						}
					},
					error: function (xhr) {
						showAlertFlash('Une erreur de communication avec le serveur s\'est produite');
					}
				})
			})
			// au clic du bouton d'ajout d'article
			$(document).on('click', '.addRow', function() {
				$('.bd-modal-xl').modal('hide');
				var data = $(this).data();
				addRow(data);
			});
			$('.auto-grow').trigger('click');
        });
    </script>
{% endblock %}