{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-6">Paramétrage : Adresse de livraison Sudalys</h1>
        <hr class="my-4">
        <div class="row">
            <div class="col-6">
                <table class="table table-hover bg-light">
                    <thead>
                    <tr class="bg-primary text-white text-center">
                        <th scope="col">Nom</th>
                        <th scope="col">Adresse</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for adresse in adresses %}
                            <tr class="affaireRow searchTableTypeContact text-center">
                                <td>{{ adresse.nom }}</td>
                                <td>
                                    {{ adresse.adresse }}
                                    {% if adresse.adresseComplementaire1 %}
                                        , {{ adresse.adresseComplementaire1 }}
                                    {% endif %}
                                    {% if adresse.adresseComplementaire2 %}
                                        , {{ adresse.adresseComplementaire2 }}
                                    {% endif %}
                                    {{ adresse.stal }} {{ adresse.ville }}</td>
                                <td>
                                    <button class="btn btn-default editAdresse" data-path="{{ path('sudalys_gestion_parameters_adresse_edit', { adresseId: adresse.id } ) }}" title="Editer">
                                        <i class="fas fa-edit text-primary"></i>
                                    </button>
                                    <button class="btn btn-default deleteAdresse" data-path="{{ path('sudalys_gestion_parameters_adresse_delete', { adresseId: adresse.id } ) }}" title="Supprimer">
                                        <i class="fas fa-trash-alt text-danger"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header bg-primary text-light font-weight-bold">
                        Créer une nouvelle adresse de livraison Sudalys
                    </div>
                </div>
                <div class="card-body bg-light">
                    {{ include('GestionBundle:Default:createAdresse.html.twig') }}
                </div>
            </div>
        </div>
    </div>
{# ------- Modal d'édition d'une adresse de livraison ------- #}
    <div class="modal fade edit" id="createDialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body" id="modal-body">
                </div>
                <div class="modal-footer bg-primary">
                    <button type="button" class="btn btn-default text-white font-weight-bold" onclick="$('.edit').modal('hide')"><i class="fas fa-times-circle text-white"></i>&nbsp;Annuler</button>
                    <button type="button" class="btn btn-light" id="sendObject"></button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function() {
            checkFormValidity($('#formAdresse'));
            changeLabels();
            $('.editAdresse').click(function() {
                var url = $(this).data('path');
                $.get(url, function(response) {
                    $('#myModalLabel').html('Editer l\'adresse de livraison');
                    $('#modal-body').html(response);
                    $('#sendObject').attr('data-path', url);
                    $('#sendObject').html('Enregistrer');
                    $('#createDialog').modal('show');
                })
            });
            $('.deleteAdresse').click(function() {
                $('#modal-body').html('');
                var url = $(this).data('path');
                $.get(url, function(response) {
                    $('#myModalLabel').html('Supprimer l\'adresse de livraison');
                    $('#modal-body').html(response);
                    $('#sendObject').attr('data-path', url)
                    $('#sendObject').html('Supprimer');
                    $('#createDialog').modal('show');
                })
            });

            $('#sendObject').click(function() {
                var url = $('#sendObject').data('path');
                var formData = $('#formAdresseAjax').serialize();
                console.log(formData)
                $.ajax({
                    url: url,
                    method: 'POST',
                    processData: true,
                    data: formData,
                    success: function(data) {
                        if (data.status === 'success') {
                            successToLocalStorage(data.message);
                            location.reload();
                        } else {
                            showAlertFlash(data.message);
                            $('.modal').modal('hide');
                        }
                    },
                    error: function() {
                        showWarningFlash('Une erreur s\'est produite lors de la connection avec le serveur, veuillez réessayer. Ou recharger la page.')
                    }
                })
            });
        });
    </script>
{% endblock %}