<button class="list-group-item list-group-item-action bg-primary text-light collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    <i class="fas fa-briefcase"></i>&nbsp;{{ affaire.numeroAffaire }}
</button>
<div id="collapseFour" class="collapse bg-light" aria-labelledby="headingFour" data-parent="#accordionVerticalNav">
    <div class="list-group list-group-flush">
        <a href="{{ path('sudalys_gestion_affaire', {affaireId: affaire.id}) }}">
            <button class="list-group-item list-group-item-action text-primary">
                Gestion affaire
            </button>
        </a>
    </div>
    <div class="list-group list-group-flush">
        <a href="{{ path('sudalys_gestion_article_affaire', {affaireId: affaire.id}) }}">
            <button class="list-group-item list-group-item-action text-primary">
                Gestion articles
            </button>
        </a>
    </div>
    <div class="accordion" id="accordionAffaire">
        <div class="list-group list-group-flush">
            <button class="list-group-item list-group-item-action bg-primary-light-less text-white text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseAffaireVente" aria-expanded="false" aria-controls="collapseAffaireVente">
                Ventes
            </button>
            <div id="collapseAffaireVente" class="collapse bg-light" aria-labelledby="headingAffaireVente" data-parent="#accordionAffaire">
                <div class="list-group list-group-flush">
                    <div class="list-group list-group-flush">
                        <a href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#devis' }}">
                            <button class="list-group-item list-group-item-action text-primary">
                                Devis
                            </button>
                        </a>
                        <a href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#CMDR' }}">
                            <button class="list-group-item list-group-item-action text-primary">
                                Cmd reçus
                            </button>
                        </a>
                        <a href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#situation' }}">
                            <button class="list-group-item list-group-item-action text-primary">
                                Situations
                            </button>
                        </a>
                        <a href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#facture' }}">
                            <button class="list-group-item list-group-item-action text-primary">
                                Factures
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <button class="list-group-item list-group-item-action bg-info-light-less text-white text-center collapsed" type="button" data-toggle="collapse" data-target="#collapseAffaireAchat" aria-expanded="false" aria-controls="collapseAffaireAchat">
                Achats
            </button>
            <div id="collapseAffaireAchat" class="collapse bg-light" aria-labelledby="headingAffaireAchat" data-parent="#accordionAffaire">
                <div class="list-group list-group-flush">
                    <a href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#commandeMateriel' }}">
                        <button class="list-group-item list-group-item-action text-primary">
                            Cmd Matériels
                        </button>
                    </a>
                    <a href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#commandePrestation' }}">
                        <button class="list-group-item list-group-item-action text-primary">
                            Cmd Prestations
                        </button>
                    </a>
                    <a href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#factureMateriel' }}">
                        <button class="list-group-item list-group-item-action text-primary">
                            Factu Matériels
                        </button>
                    </a>
                    <a href="{{ path('sudalys_gestion_detail_affaire', {affaireId: affaire.id}) ~ '#facturePrestation' }}">
                        <button class="list-group-item list-group-item-action text-primary">
                            Factu Prestations
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>