{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block verticalNav %}
    {% if factureFournisseur.affaire %}
        {% set affaire = factureFournisseur.affaire %}
        {{ include('GestionBundle:Default:veticaleAffaireNav.html.twig') }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-6">Visionnement d'une facture de matériels</h1>
        <hr class="my-4">
        <div class="card w-75 mx-auto">
            <div class="card-header bg-primary text-white font-weight-bold">
                Facture émise par {{ factureFournisseur.fournisseur.nom }}
            </div>
            <div class="card-body">
                {% if factureFournisseur.validation == 0 %}
                    <p class="card-text">
                        Le {{ factureFournisseur.dateFacture|date('d/m/Y') }}, une facture a été émise par {{ factureFournisseur.fournisseur.nom }} pour un montant hors taxe de {{ factureFournisseur.totalHT|number_format(2, ',', ' ') }} €. Pour une commande de matériel d'un montant de {{ factureFournisseur.commandeFournisseur.totalHT|number_format(2, ',', ' ') }} €.
                        Veuillez vérifié que le montant correspond bien aux produits que vous avez reçus. Puis validez ou refusez la commande.
                    </p>
                {% else %}
                    <div class="row">
                        <div class="col-4"></div>
                        <dl class="row col-4">
                            <dt class="col-3 my-auto">Etat :</dt>
                            <dd class="col-9 my-auto">
                                {% if factureFournisseur.etat == 0 %}
                                    <span class="badge badge-pill badge-info">En traitement administratif</span>
                                {% elseif factureFournisseur.etat == 1 %}
                                    <span class="badge badge-pill badge-primary">Réglé</span>
                                {% else %}
                                    <span class="badge badge-pill badge-success">Débité</span>
                                {% endif %}
                            </dd>
                        </dl>
                        <dl class="row col-6">
                            <dt class="col-3 my-auto">Libellé :</dt>
                            <dd class="col-9 my-auto">{{ factureFournisseur.mentions }}</dd>
                            <dt class="col-3 my-auto">Montant HT :</dt>
                            <dd class="col-9 my-auto">{{ factureFournisseur.totalHT|number_format(2, ',', ' ') }} €</dd>
                            <dt class="col-3 my-auto">TVA :</dt>
                            <dd class="col-9 my-auto">{{ factureFournisseur.tva * 100 }}</dd>
                            <dt class="col-3 my-auto">Montant TTC:</dt>
                            <dd class="col-9 my-auto">{{ factureFournisseur.totalTTC|number_format(2, ',', ' ') }} €</dd>
                        </dl>
                        <dl class="row col-6">
                            <dt class="col-3 my-auto">{{ "émise le :"|capitalize }}</dt>
                            <dd class="col-9 my-auto">{{ factureFournisseur.dateFacture|date('d/m/Y') }}</dd>
                            <dt class="col-3 my-auto">{{ "saisie le :"|capitalize }}</dt>
                            <dd class="col-9 my-auto">{{ factureFournisseur.dateSaisie|date('d/m/Y')  }}</dd>
                            <dt class="col-3 my-auto">
                                {% if factureFournisseur.validation == 1 %}
                                    {{ "validé le :"|capitalize }}
                                {% else %}
                                    {{ "refusé le :"|capitalize }}
                                {% endif %}
                            </dt>
                            <dd class="col-9 my-auto">{{ factureFournisseur.dateValidation|date('d/m/Y')  }}</dd>
                            <dt class="col-3 my-auto">{{ "réglé le :"|capitalize }}</dt>
                            <dd class="col-9 my-auto">
                                {% if factureFournisseur.dateReglement %}
                                    {{ factureFournisseur.dateReglement|date('d/m/Y')  }}
                                {% endif %}
                            </dd>
                            <dt class="col-3 my-auto">{{ "débité le :"|capitalize }}</dt>
                            <dd class="col-9 my-auto">
                                {% if factureFournisseur.dateDebit %}
                                    {{ factureFournisseur.dateDebit|date('d/m/Y')  }}
                                {% endif %}
                            </dd>
                        </dl>
                    </div>
                {% endif %}
                <div id="showFiles">
                    <dl class="row">
                        <dt class="col-2 my-auto">Facture fournisseur :</dt>
                        <dd class="col-10 my-auto">
                            <p data-ref="{{ factureFournisseur.documentAttache }}">
                                <a role="button" class="btn btn-light border-primary" target="_blank" href="/uploads/FactureDocs/{{ factureFournisseur.documentAttache }}">
                                    <i class="fas fa-eye text-primary"></i>
                                </a>&nbsp;
                                <span class="names">{{ factureFournisseur.documentAttache|capitalize }}</span>
                            </p>
                        </dd>
                    </dl>
                </div>
                {% if factureFournisseur.validation == 0 %}
                    <button type="button" class="btn btn-danger float-right m-1 text-white refuseFacture" data-path="{{ path('sudalys_gestion_refuse_factureFournisseur', {factureId: factureFournisseur.id}) }}">Refuser</button>
                    <a role="button" href="{{ path('sudalys_gestion_valide_factureFournisseur', {factureId: factureFournisseur.id}) }}" class="btn btn-success float-right m-1 text-white">Valider</a>
                {% endif %}
            </div>
        </div>
        <hr class="my-4">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="headingAce">
                    <h5 class="mb-0 w-100">
                        <button class="btn btn-link w-100 font-weight-bold" id="notDisabled" data-toggle="collapse" data-target="#collapseAce" aria-expanded="true" aria-controls="collapseAce">
                            Commande : {{ commandeFournisseur.numeroCommandeFourn }} - {{ commandeFournisseur.mentions }} du {{ commandeFournisseur.dateCommandeFourn|date('d/m/Y') }}
                        </button>
                    </h5>
                </div>

                <div id="collapseAce" class="collapse" aria-labelledby="headingAce" data-parent="#accordion">
                    <div class="card-body"><div class="row my-auto">
                            <div class="col-3 my-auto">
                                <div class="col-12">
                                    <p><i class="fas fa-user-circle offset-1"></i>&nbsp;{{ commandeFournisseur.user.prenom|capitalize ~ ' ' ~ user.nom|upper }}</p>
                                    <p><i class="fas fa-phone-square offset-1"></i>&nbsp;{{ commandeFournisseur.user.telephone }}</p>
                                    <p><i class="fas fa-mobile-alt offset-1"></i>&nbsp;{{ commandeFournisseur.user.mobile }}</p>
                                    <p><i class="fas fa-at offset-1"></i>&nbsp;{{ commandeFournisseur.user.email }}</p>
                                    <br>
                                    <p><strong>{{ 'émis le : '|capitalize }}</strong>{{commandeFournisseur.dateCommandeFourn|date('d/m/Y')}}</p>
                                </div>
                            </div>
                            <div class="col-6 offset-3 my-auto">
                                {{ form_start(form, {'attr':{'id': 'formCMD'}}) }}
                                {{ form_errors(form) }}
                                <dl class="row my-auto">
                                    <dt class="col-2 offset-2 my-auto">
                                        {{ form_label(form.affaire) }}
                                    </dt>
                                    <dd class="col-8">
                                        {{ form_widget(form.affaire, {'attr':{'class': 'no-border selectpicker affaire'}}) }}
                                    </dd>
                                    <dt class="col-2 offset-2 my-auto">
                                        {{ form_label(form.mentions) }}
                                    </dt>
                                    <dd class="col-8">
                                        {{ form_widget(form.mentions, {'attr':{'class': 'auto-grow no-border'}}) }}
                                    </dd>
                                    <dt class="col-2 offset-2 my-auto">
                                        {{ form_label(form.numeroCommandeFourn) }}
                                    </dt>
                                    <dd class="col-8">
                                        {{ form_widget(form.numeroCommandeFourn)}}
                                    </dd>
                                    <dt class="col-2 offset-2 my-auto">
                                        {{ form_label(form.fournisseur) }}
                                    </dt>
                                    <dd class="col-8">
                                        {{ form_widget(form.fournisseur, {'attr':{'class': 'no-border selectpicker fournisseur'}}) }}
                                    </dd>
                                    <dt class="col-2 offset-2 my-auto">
                                        {{ form_label(form.contact) }}
                                    </dt>
                                    <dd class="col-8">
                                        {{ form_widget(form.contact, {'attr':{'class': 'no-border selectpicker contact'}}) }}
                                    </dd>
                                    <dt class="col-2 offset-2 my-auto">
                                        {{ form_label(form.adresseLivraison) }}
                                    </dt>
                                    <dd class="col-8">
                                        {{ form_widget(form.adresseLivraison, {'attr':{'class': 'no-border selectpicker adresseLivraison'}}) }}
                                    </dd>
                                    <dt class="col-2 offset-2 my-auto">
                                        {{ form_label(form.adresseFacturation) }}
                                    </dt>
                                    <dd class="col-8">
                                        {{ form_widget(form.adresseFacturation) }}
                                    </dd>
                                </dl>
                            </div>
                        </div>
                        {{ form_start(form) }}
                            <table class="table table-hover" style="text-align: center" id="productTable">
                                <thead>
                                <tr class="row bg-primary text-white">
                                    <th scope="col" class="col-2 my-auto">Désignation</th>
                                    <th scope="col" class="col-5 my-auto">Description</th>
                                    <th scope="col" class="col-2 my-auto">Prix unitaire</th>
                                    <th scope="col" class="col-1 my-auto">Quantité</th>
                                    <th scope="col" class="col-2 my-auto">Total HT</th>
                                </tr>
                                </thead>
                                <tbody id="listProduitCommande">
                                {% for product in commandeFournisseur.produitCommandeFournisseur %}
                                    <tr id="ligne{{ loop.index }}" class="toscan row" data-description="{{ product.description }}" data-productid="{{ product.produitFournisseur.id }}" data-id="{{ product.id }}" onchange="calculTotalLigne('{{ 'ligne' ~ loop.index }}')" data-montantunit="{{ product.montantunit }}" data-quantite="{{ product.quantite }}" data-montantht="{{ product.totalht }}" data-designation="{{ product.designation }}">
                                        <td class="col-2 my-auto no-border text-left pl-5"><span style="position: absolute; left: 1em"><input type="checkbox" name="record" class="custom-checkbox"></span>{{ product.designation }}</td>
                                        <td class="col-5 my-auto no-border">
                                            <textarea  class="form-control auto-grow pt-0 pb-0 no-border w-100" rows="3" style="border: none; min-height: 0" rows="2">{{ product.description }}</textarea>
                                        </td>
                                        <td class="col-2 my-auto no-border">
                                            <div class="input-group">
                                                <input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00" value="{{ product.montantunit }}">
                                                <div class="input-group-append w-25">
                                                    <span class="input-group-text">€</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-1 my-auto no-border">
                                            <div class="input-group">
                                                <input class="calculLigne form-control p-0 pr-1 text-right comma" type="text" placeholder="0,00" value="{{ product.quantite }}">
                                                <div class="input-group-append w-25">
                                                    <span class="input-group-text">&#8474;</span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="col-2 my-auto no-border">
                                            <div class="input-group">
                                                <input class="calculLigne form-control p-0 pr-1 text-right comma bg-light ml-3" type="text" placeholder="0,00" readonly value="{{ product.totalht }}">
                                                <div class="input-group-append w-25">
                                                    <span class="input-group-text">€</span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        <hr>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-6 offset-1" style="max-height: 240px !important; overflow-scrolling: auto">
                            <strong>{{ form_label(form.detailCommandeFourn) }}</strong>
                            {{ form_widget(form.detailCommandeFourn, {'attr' : { 'class' : 'shadow h-50'}}) }}
                        </div>
                        <div class="col-3 offset-2">
                            <dl class="row">
                                <dt class="col-6 my-auto">{{ form_label(form.totalHT) }}</dt>
                                <dd class="col-6">
                                    <div class="input-group">
                                        {{ form_widget(form.totalHT, {'attr' : {'class': 'text-right comma', 'readonly': 'readonly' }}) }}
                                        <div class="input-group-append w-25">
                                            <span class="input-group-text">€</span>
                                        </div>
                                    </div>
                                </dd>
                                <dt class="col-6 display-tva my-auto">{{ form_label(form.TVA) }}</dt>
                                <dd class="col-6 display-tva">{{ form_widget(form.TVA, {'attr' : {'class': 'text-right' }}) }}</dd>
                                <dt class="col-6 display-tva my-auto">{{ form_label(form.montantTotalTTC) }}</dt>
                                <dd class="col-6 display-tva">
                                    <div class="input-group">
                                        {{ form_widget(form.montantTotalTTC, {'attr' : {'class': 'text-right bg-light comma', 'readonly': 'readonly' }}) }}
                                        <div class="input-group-append w-25">
                                            <span class="input-group-text">€</span>
                                        </div>
                                    </div>
                                </dd>
                            </dl>
                        </div>
                    </div>
                    <input type="text" id="gestionbundle_commandefournisseur_listProducts" name="gestionbundle_commandefournisseur[listProducts]" class="form-control" hidden>
                    <div hidden>{{ form_row(form) }}</div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{#    <script src="{{ asset('js/periodsToComma.js') }}"></script>#}
    <script>
        var listeProduct = [];
        var flagNoPrice = false;

        // Fonction pour calculer le montant total d'un article
        async function calculTotalLigne(ligne) {
            var row = $('#' + ligne);
            var listeInput = [];
            await row.find('.calculLigne').each(function() {
                listeInput.push($(this));
            });
            listeInput[0] = listeInput[0].val().replace(' ', '').split(',').join('.');
            listeInput[1] = listeInput[1].val().replace(' ', '').split(',').join('.');
            var tot = (parseFloat(listeInput[0]) * parseFloat(listeInput[1])).toFixed(2);
            if (isNaN(tot)) {
                tot = 0;
            }
            if (!listeInput[1]) {
                quantity = "0"
            } else {
                quantity = listeInput[1]
            }
            $(listeInput[2]).val(tot);
            row.attr('data-montantunit', parseFloat(listeInput[0].replace(' ', '')));
            row.attr('data-quantite', parseFloat(quantity.replace(' ', '')));
            row.attr('data-montantht', parseFloat(listeInput[2].val().replace(' ', '')));
            initListProduct();
            printMontant();
        }
        //fonction qui permet de pusher dans un tableau
        function initListProduct() {
            flagNoPrice = false;
            listeProduct = [];
            listeNoPrice = [];
            var listeElem = [];
            $('#productTable').find('.toscan').each(function() {
                listeElem.push($(this));
                if ($(this).length == 1 && $(this).length != 0) {
                    if ($(this).attr('data-montantunit') == 0 || $(this).attr('data-quantite') == 0) {
                        flagNoPrice = true;
                        listeNoPrice.push($(this));
                    }
                    for (elem in listeElem) {
                        listeElem[elem].removeClass('warning')
                    }
                    for (elem in listeNoPrice) {
                        listeNoPrice[elem].addClass('warning');
                    }
                    listeProduct.push({
                        "description": $(this).attr('data-description'),
                        "montantunit": $(this).attr('data-montantunit'),
                        "quantite": $(this).attr('data-quantite'),
                        "totalHT": $(this).attr('data-montantht'),
                        "designation": $(this).attr('data-designation'),
                        "id": $(this).attr('data-productid'),
                        "prodId": $(this).attr('data-id')
                    });
                } else if ($(this).length > 1) {
                    $(this).find('tr').each(function() {
                        $(this).find('.calculLigne').each(function() {
                            if ($(this).val() == 0) {
                                flagNoPrice = true
                            }
                        })
                    })
                }
                $('#gestionbundle_commandefournisseur_listProducts').val(JSON.stringify(listeProduct));
            });
            addCommaAll();
            printMontant()
        }
        // fonction qui va nous permettre d'afficher les prix HT et TTC sur notre page en fonction de valeurs saisies dans le formulaire du devis
        function printMontant() {
            totalHT = 0;
            // pour chaque entrée dans le tableau des articles ajoutés au devis on vient incrémenter la variable totalHT de cette valeur
            $("#productTable").find(".toscan").each(function(){
                totalHT += parseFloat($(this).attr("data-montantht").replace(' ', ''));
            });
            //même procédure, on scan les champs du formulaire pour récupérer les valeurs de remise et de tva...
            var tva = ($("#gestionbundle_commandefournisseur_TVA").val())/100;
            // on vient ensuite intégrer la valeur finale sur notre page
            totalTTC = totalHT + (totalHT * tva);
            $('#gestionbundle_commandefournisseur_totalHT').val(totalHT.toFixed(2));
            // que l'on vient intégrer à la page
            $('#gestionbundle_commandefournisseur_montantTotalTTC').val(totalTTC.toFixed(2));
            addCommaAll();
        }

        function toggleButtonShowList() {
            var orgaId = $('#gestionbundle_commandefournisseur_fournisseur').val();
            if (orgaId) {
                $('#showProductFournisseurList').attr('disabled', false)
            } else {
                $('#showProductFournisseurList').attr('disabled', true)
            }
        }
        $(document).ready(function() {
            // Mise en page du textarea
            $(document).on('click', '.auto-grow', function() {
                this.style.height = "5px";
                this.style.height = (this.scrollHeight)+"px";
                console.log('clicked')
            });
            $('.selectpicker').selectpicker('refresh');
            $('.selectpicker').css('text-color', 'black');
            {% if view == 'yes' %}
                $('input').each(function() {
                    $(this).attr('readonly', true).addClass('bg-light');
                })
                $('textarea').attr('readonly', true).addClass('bg-light');
                $('.selectpicker').attr('readonly', true).addClass('bg-light');
                $('.jumbotron').find('button').attr('disabled', true);
                $('#showProductFournisseurList').attr('disabled', true);
                $('#gestionbundle_commandefournisseur_Enregistrer').remove();
                $('.custom-checkbox').remove();
                $('#notDisabled').attr('disabled', false);
                $('.refuseFacture').attr('disabled', false);
            {% endif %}
            $("form").bind("keypress", function (e) {
                if (e.keyCode == 13) {
                    return false;
                }
            });
            initListProduct();
            $('#notDisabled').click(function () {
                setTimeout(() => {$('.auto-grow').trigger('click')
            }, 50)
            })
            addCommaAll();
            $('.selectpicker.contact').selectpicker({
                noneSelectedText: 'Aucun contact',
                noneResultsText: 'Aucun contact trouvé'
            });
            $('.selectpicker.commande').selectpicker({
                noneSelectedText: 'Aucune commande',
                noneResultsText: 'Aucune commande trouvé'
            });
            // Pour affaire
            $('.selectpicker.affaire').selectpicker({
                noneSelectedText: 'Aucune affaire',
                noneResultsText: 'Aucune affaire trouvé'
            });
            $('.refuseFacture').click(function () {
                var test = confirm("Vous êtes sur le point de refuser une facture de matèriel. Etes vous sur de vouloir la refuser ?")
                test ? location.href = $(this).data('href'):null;
            })
        });
    </script>
{% endblock %}