<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Gest'it{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css"/>
</head>
<body class="hold-transition login-page" style="display:flex; height:100vh; background-color: white;">

    <div class="login-box" style="margin:auto; width: 320px;">
    {% if error %}
        <div class="alert alert-error">Mauvais Email ou mot de passe !</div>
    {% endif %}
    {% for message in app.session.flashbag.get('info') %}
        <div class="alert alert-error">Message : {{ message }}</div>
    {% endfor %}
        <div class="login-logo">
            <img src="{{ asset('img/logo.png') }}" style="max-width: 100%;" >
        </div>
        <div class="login-box-body">
            <form action="{{ path('login_check') }}" method="post">
                <div class="form-group has-feedback">
                    <input class="form-control" type="email" id="username" name="_username" value="{{ last_username }}" placeholder="Email">
                    <span class="fa fa-envelope form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control" type="password" id="password" name="_password" placeholder="Mot de passe">
                    <span class="fa fa-lock form-control-feedback"></span>
                </div>
                <div class="row justify-content-center">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="col-5">
                        <input class="btn btn-primary btn-block btn-flat" type="submit" value="Connexion">
                    </div>
                </div>
            </form>
            <br>
            <div style="text-align: center;">
            <a href="{{ path('lostpass') }}">Mot de passe oublié </a>
            </div>
        </div>
    </div>
    {% block javascripts %}
        
    {% endblock %}
</body>
</html>